<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../../partials/head %>
</head>

<body>
   <header>
      <% include ../../partials/header %>
   </header>
   <div class="pageTitle" style="height:0px">
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-sm-6">
               <h1 class="page-heading"> SDC Registration</h1>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="breadCrumb"><a href="/">Home</a> / <span> Skill Development Center Registration</span></div>
            </div>
         </div>
      </div>
   </div>
   <div class="listpgWraper">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="userccount">
                  <div class="socialLogin">
                     <h5> Skill Development Center Registration</h5>
                  </div>
                  <div class="tab-content formpanel">
                    <div class="row">
                       <div class="col-md-6">
                           <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                       Establishment/SDC Name&nbsp<span class="asterisk_input label-icon"></span>
                                   </label>
                          <div class="formrow">
                             <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                                placeholder="Establishment/SDC Name">
                              </div>
                          </div>
                       </div>
                       <div class="col-md-6">
                           <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                       SDC &nbsp<span class="asterisk_input label-icon"></span>
                                   </label>
                        <div class="formrow">
                           <select class="form-control" id="gender" name="gender" style="height:46px;">
                              <option value="0">Select SDC</option>
                              <option value="">State</option>
                              <option value="">National</option>
                              <option value="">Local</option>
                              <option value="">Private</option>
                           </select>
                        </div>
                        </div>
                     </div>
                    </div>
                    <div class="row">
            
                        <div class="col-md-6">
                         <div class="formrow">
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                          Sector &nbsp<span class="asterisk_input label-icon"></span>
                                      </label>
                            <select class="form-control" id="gender" name="gender" style="height:46px;">
                               <option value="0">Select Sector</option>
                               <option value="">Retail</option>
                               <option value="">Manufacturing</option>
                               <option value="">IT</option>
                               <option value="">ITES</option>
                               <option value="">Banking</option>
                            </select>
                           </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                           <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                       PAN Number &nbsp<span class="asterisk_input label-icon"></span>
                                   </label>
                        <div class="formrow">
                           <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                              placeholder="PAN Number of Company">
                           </div>
                        </div>
                     </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                          TIN Number &nbsp<span class="asterisk_input label-icon"></span>
                                      </label>
                            <div class="formrow">
                               <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                                  placeholder="TIN Number of Company">
                                 </div>
                            </div>
                         </div>
                      
                      <div class="col-md-6">
                           <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                       GST Number &nbsp<span class="asterisk_input label-icon"></span>
                                   </label>
                        <div class="formrow">
                           <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                              placeholder="GST Number">
                           </div>
                        </div>
                     </div>
                     </div>
                     <div class="socialLogin">
                        <h5> Contact Details   </h5>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                 <div class="formrow">
                                       <label for="example-email-input" class="col-2 col-form-label">
                                             Contact Person &nbsp<span class="asterisk_input label-icon"></span>
                                         </label>
                                <div class="formrow">
                                   <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                                      placeholder="Name of Contact Person">
                                    </div>
                                </div>
                             </div>
                          
                          <div class="col-md-6">
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                          Designation &nbsp<span class="asterisk_input label-icon"></span>
                                      </label>
                            <div class="formrow">
                               <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                                  placeholder="Designation">
                                 </div>
                            </div>
                         </div>
                         </div>
                    <div class="row">
                            <div class="col-md-6">
                                 <div class="formrow">
                                       <label for="example-email-input" class="col-2 col-form-label">
                                             State &nbsp<span class="asterisk_input label-icon"></span>
                                         </label>
                                    <div class="formrow">
                                       <select class="form-control" id="district" name="District" style="height:46px;">
                                            <option value="0">Select State</option>
                                    </select>
                                    </div>
                                 </div>
                                 </div>
                    <div class="col-md-6">
                        <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                    District &nbsp<span class="asterisk_input label-icon"></span>
                                </label>
                        <div class="formrow">
                           <select class="form-control" id="district" name="District" style="height:46px;">
                                <option value="0">Select District</option>
                        </select>
                     </div>
                        </div>
                     </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                 <div class="formrow">
                                       <label for="example-email-input" class="col-2 col-form-label">
                                             District &nbsp<span class="asterisk_input label-icon"></span>
                                         </label>
                                    <div class="formrow">
                                       <select class="form-control" id="district" name="District" style="height:46px;">
                                            <option value="0">Select City</option>
                                    </select>
                                    </div>
                                 </div>
                                 </div>
                                 <div class="col-md-6">
                                       <div class="formrow">
                                             <label for="example-email-input" class="col-2 col-form-label">
                                                   District &nbsp<span class="asterisk_input label-icon"></span>
                                               </label>
                                        <div class="formrow">
                                           <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                                              placeholder="Registered Address">
                                             </div>
                                        </div>
                                     </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                 <div class="formrow">
                                       <label for="example-email-input" class="col-2 col-form-label">
                                             Pin Code &nbsp<span class="asterisk_input label-icon"></span>
                                         </label>
                                <div class="formrow">
                                   <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                                      placeholder="Pin Code">
                                    </div>
                                </div>
                             </div>
                          <div class="col-md-6">
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                          Fax  &nbsp<span class="asterisk_input label-icon"></span>
                                      </label>
                            <div class="formrow">
                               <input type="text" name="name" id="jobseekerfirstname" class="form-control"
                                  placeholder="Fax">
                                 </div>
                            </div>
                         </div>
                         </div>
                         <div class="row">
                                <div class="col-md-6">
                                    <div class="formrow">
                                          <label for="example-email-input" class="col-2 col-form-label">
                                                Contact Number Mobile  &nbsp<span class="asterisk_input label-icon"></span>
                                            </label>
                                        <div class="formrow">
                                                <input type="text" name="number" id="Phone"
                                                   onkeypress="if(this.value.length>=10) { return false;}" class="form-control"
                                                   placeholder="Contact Number Mobile">
                                             </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                    <div class="formrow">
                                          <label for="example-email-input" class="col-2 col-form-label">
                                                Contact Number Landline  &nbsp<span class="asterisk_input label-icon"></span>
                                            </label>
                                    <div class="formrow">
                                            <input type="text" name="number" id="Phone"
                                               onkeypress="if(this.value.length>=13) { return false;}" class="form-control"
                                               placeholder="Contact Number Landline">
                                         </div>
                                       </div>
                             </div>
                             </div>
                    <div class="row">
                        <div class="col-md-6">
                           
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                          Email I’D  &nbsp<span class="asterisk_input label-icon"></span>
                                      </label>
                            <div class="formrow">
                               <input type="email" name="email" onfocusout="checkemail()" id="Email" class="form-control"
                                  placeholder="Official Email I’D">
                            </div>
                         </div>
                        </div>
                       <div class="col-md-6">
                           <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                       Website &nbsp<span class="asterisk_input label-icon"></span>
                                   </label>
                          <div class="formrow">
                             <input type="text" name="name" id="fathersname" class="form-control"
                                placeholder="Website">
                          </div>
                        </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                          User Name &nbsp<span class="asterisk_input label-icon"></span>
                                      </label>
                            <div class="formrow">
                               <input type="text"  id="Email" class="form-control"
                                  placeholder="Create User Name">
                            </div>
                           </div>
                           </div>
                         <div class="col-md-6">
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                          Password&nbsp<span class="asterisk_input label-icon"></span>
                                      </label>
                            <div class="formrow">
                               <input id="passwordfield" type="password" class="form-control" name="password" value=""
                                  placeholder="Password">
                               <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                                  data-placement="right"
                                  title="<br><h6> Password must contain the following: </h6>  <ul class='categories'><li> Atleast 1 number (0 – 9) </li><li>Atleast 1  & non-alphanumeric symbol (e.g. ! @ # $ % ^ & * ? _ ~) </li><li> Lenght must be min. 8 and max 15</li></ul>"
                                  data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                               <span toggle="#passwordfield" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                         </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                           <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                       Re-Enter    Password&nbsp<span class="asterisk_input label-icon"></span>
                                   </label>
                          <div class="formrow">
                             <input type="password" id="Repassword" name="Re-EnterPassword" class="form-control"
                                placeholder="Re-Enter Password">
                              </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="formrow" id="passwordvalidate" style="display: none;">
                             <tr>
                                <td align="left">
                                   <strong><span style="font-size: 15px; color: #cc0033">Password should have atleast
                                         one alphabet, one number, one special character and atleast 8 characters in
                                         it.
                                      </span></strong>
                                </td>
                             </tr>
                          </div>
                       </div>
                    </div>
                    <div class="formrow">
                       <tr>
                          <td align="left">
                             <strong><span style="font-size: 15px;    margin-left: 29%; color: #cc0033">Please enter
                                   the Text Below in
                                   Text Box</span></strong>
                          </td>
                       </tr>
                    </div>
                    <div class="row" style="    margin-left: 32%;">
                       <div class="col-md-4">
                          <div class="formrow">
                             <div id="captcha">
                             </div>
                          </div>
                       </div>
                       <div class="col-md-2">
                          <div class="formrow">
                             <a onclick="createCaptcha()" >
                                <i class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i>
                             </a>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="formrow" style="display:block">
                             <input type="text" style="    margin-left: 70%;" placeholder="Captcha"
                                id="cpatchaTextBox" />
                          </div>

                       </div>
                       <div class="formrow" style="display:block">
                          <input type="button" class="btn" value="Register">
                       </div>
                    </div>
                    <div class="formrow">
                       <div class="newuser" style="font-size:13px; ">
                          <i class="fa fa-user" aria-hidden="true">
                          </i> Already a Member? <a href="/SDCLogin">Login Here</a>
                       </div>
                    </div>



                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <footer>
      <% include ../../partials/footer %>
   </footer>
     
   <script src="../customjs/JobSeekerRegistration.js"></script>
   <script type="text/javascript">

      $(document).ready(function () {
         // $("#passwordvalidate").hide();
         $('#account').prop("disabled", true);
         createCaptcha();
      FillState();
        
});
</script>

      });
</script>
</body>

</html>