<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>

  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Skill Development Centers</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>Skill Development Centers </span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->






  <div class="section">
      <div class="container">
      
        <div class="col-md-12">

          <div class="col-md-3 col-sm-6" style="margin-left: 25%">

              <div class="sidebar" style="border: aliceblue;">
                  <div class="formpanel" style="margin-top: 0px !important">
                      <p style="color: black; margin-left: 20%;font-size: large;    font-weight: 600;">For Job seekers</p>
                      
                      <a class="btn" href="http://www.mpskills.gov.in/Public/PMKVY/RegisterJobRoleWise.aspx" target="_blank" value="RegisterNow">Register</a>
                      <p style="color: black; margin-left: 40%;font-size: large;    font-weight: 600;margin-top: 10%;">With</p>
                      <p style="color: black; margin-left: 3%;font-size: larger;    font-weight: 600;">Skill Development Center</p>
                      
                      <br>
                      <br>
                      </div>
              </div>


          </div>
          <div class="col-md-3 col-sm-6" style=" margin-left: 3%;">

              <div class="sidebar" style="border: aliceblue;">
                  <div class="formpanel" style="margin-top: 0px !important">
                      <p style="color: black; margin-left: 31%;font-size: large;    font-weight: 600;">For SDC</p>
                      <a class="btn" href="/SDCLogin" value="SDCLogin">LogIn</a>
                      <a href="/SDCRegistration" style="margin-left: 13%;    margin-top: 21px; font-size: large;color: cadetblue" value="RegisterNow"> Register On Portal</a>
                      <a href="/SkillDevelopmentCenters" style="margin-left: 13%;    margin-top: 21px; font-size: large;color: cadetblue" value="RegisterNow">Services</a>
                      
                      <br>
                      <br>
                  </div>

              </div>
          </div>

      </div>
             
              </div>
              </div>


    <div class="container">
    <div class="row">

          <div class="col-md-6 col-sm-12">
              <h4>Skill Development Centers</h4>
              <table class="table">
                  <tr class="profilesubheading">
                      <th>Pick the courses based on your area of Interest and preferred mode of learning.</th>
                  </tr>
                  <div class="clearfix"></div>
                  <tbody>
                <tr> <td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/deen-dayal-upadhyaya-grameen-kaushalya-yojana-ddu-gky-skill-development-for-inclusive-growth"  target="blank"> Deen Dayal Upadhyaya Grameen Kaushalya Yojana  </a></td></tr>
                <tr> <td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/pradhan-mantri-kaushal-vikas-yojana"  target="blank"> Pradhan Mantri Kaushal Vikas Yojana   </a></td></tr>
                 <tr> <td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/financial-assistance-for-skill-training-of-persons-with-disabilities"  target="blank"> Financial Assistance for Skill Training of Persons with Disabilities   </a></td></tr>
                 <tr> <td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/national-apprenticeship-promotion-scheme"  target="blank"> National Apprenticeship Promotion Scheme   </a></td></tr>
                 <tr><td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/craftsmen-training-scheme"  target="blank"> Craftsmen Training Scheme   </a></td></tr>
                  <tr> <td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/apprenticeship-training"  target="blank"> Apprenticeship training   </a></td></tr>
                   <tr> <td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/pradhan-mantri-kaushal-kendra"  target="blank"> Pradhan Mantri Kaushal Kendra   </a></td></tr>
                   <tr> <td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/skill-development-for-minorities"  target="blank"> Skill development for minorities   </a></td></tr>
                   <tr> <td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/green-skill-development-programme"  target="blank"> Green Skill Development Programme   </a></td></tr>
                   <tr> <td><a href="http://vikaspedia.in/social-welfare/skill-development/schemes-for-skill-development/scheme-for-higher-education-youth-in-apprenticeship-and-skills"  target="blank"> Scheme for Higher Education Youth in Apprenticeship and Skills   </a></td></tr>
                  
                </tbody>
              </table>
          </div>
      
     <div class="col-md-6 col-sm-12">
              <h4>Skill Development Centers</h4>
              <table class="table">
                  <tr class="profilesubheading">
                      <th>Complete your course/certification & Get a course completion/exam certificate.</th>
                  </tr>
                  <div class="clearfix"></div>
                  <tbody> 
                 <tr><td><a> <span style="color: red;"> MPDSD </span>    Directorate of Skill Development</a></td></tr>
                 <tr><td><a> <span style="color: red;"> MPSSDE </span>  Madhya Pradesh State Skill Development and Employment Generation Board </a></td></tr>
                 <tr><td><a><span style="color: red;"> MPSSDEGB </span>  Madhya Pradesh State Skill Development and Employment Generation Board.</a></td></tr>
                 <tr><td><a><span style="color: red;"> IToT Bhopal </span>  Institute for Training of Trainers</a></td></tr>
                 <tr><td><a><span style="color: red;"> GSP </span>  Bhopal  Global Skills Park</a></td></tr>
                 <tr><td><a href="http://www.mpskills.gov.in/mpskill/Public/iti.aspx" target="blank">शिल्पकार प्रशिक्षण योजना</a></td></tr>
                 <tr><td><a href="http://www.mpskills.gov.in/mpskill/Public/mmksy.aspx" target="blank"> मुख्यमंत्री कौशल संवर्धन योजना </a></td></tr>
                 <tr><td><a href="http://www.mpskills.gov.in/mpskill/Public/mmky.aspx" target="blank"> मुख्यमंत्री कौशल्या योजना </a></td></tr>
                 <tr><td><a href="http://www.mpskills.gov.in/Apprenticeship/Default.aspx" target="blank"> शिक्षुता प्रशिक्षण योजना  </a></td></tr>
                 <tr><td><a href="http://www.mpskills.gov.in/PMKVY/Default.aspx" target="blank"> प्रधानमंत्री कौशल विकास योजना  </a></td></tr>
               
                </tbody>
              </table>
          </div>

         

  </div>
</div>



  <footer>
    <% include ../../partials/footer %>
  </footer>
    
<script>
$(document).ready(function () {
       
        FillState();
        
});
</script>
</body>

</html>