<svg id="hindiContent" data-name="Layer 1" viewBox="0 0 1676.82 1483.54">
    <defs>
    <style> .cls-1 { fill: none; stroke: blue; stroke-miterlimit: 10; stroke-width: 3px; } .cls-2 { fill: blue; } .cls-3 { fill: #fff; } .cls-4 { font-size: 28px; font-family: AdobeDevanagari-Regular, Adobe Devanagari; } </style>
    </defs>
    <g>
    <line class="cls-1" x1="838.64" y1="71.86" x2="838.64" y2="119.75"/>
    <path class="cls-2" d="M881.32,210c-3.16-8.52-8.56-19.09-14.27-25.64l14.27,5.16,14.26-5.16C889.87,190.91,884.48,201.48,881.32,210Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="838.64" y1="210.86" x2="838.64" y2="258.75"/>
    <path class="cls-2" d="M881.32,349c-3.16-8.52-8.56-19.09-14.27-25.64l14.27,5.16,14.26-5.16C889.87,329.91,884.48,340.48,881.32,349Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="838.64" y1="349.86" x2="838.64" y2="397.75"/>
    <path class="cls-2" d="M881.32,488c-3.16-8.52-8.56-19.09-14.27-25.64l14.27,5.16,14.26-5.16C889.87,468.91,884.48,479.48,881.32,488Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="837.64" y1="488.86" x2="839.06" y2="533.76"/>
    <path class="cls-2" d="M882.32,624c-3.43-8.41-9.16-18.81-15.08-25.18l14.43,4.71,14.09-5.61C890.26,604.65,885.2,615.38,882.32,624Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="110.82" y1="726.36" x2="110.82" y2="746.25"/>
    <path class="cls-2" d="M153.5,836.5c-3.16-8.52-8.55-19.09-14.27-25.64L153.5,816l14.26-5.16C162.05,817.41,156.66,828,153.5,836.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="1569.82" y1="726.36" x2="1569.82" y2="752.25"/>
    <path class="cls-2" d="M1612.5,842.5c-3.16-8.52-8.55-19.09-14.27-25.64L1612.5,822l14.26-5.16C1621.05,823.41,1615.66,834,1612.5,842.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <line class="cls-1" x1="110.82" y1="726.36" x2="1569.82" y2="727.36"/>
    <g>
    <line class="cls-1" x1="403.82" y1="729.36" x2="403.82" y2="752.25"/>
    <path class="cls-2" d="M446.5,842.5c-3.16-8.52-8.55-19.09-14.27-25.64L446.5,822l14.26-5.16C455.05,823.41,449.66,834,446.5,842.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="838.64" y1="726.36" x2="838.64" y2="752.25"/>
    <path class="cls-2" d="M881.32,842.5c-3.16-8.52-8.56-19.09-14.27-25.64L881.32,822l14.26-5.16C889.87,823.41,884.48,834,881.32,842.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="1278.82" y1="726.36" x2="1278.82" y2="746.25"/>
    <path class="cls-2" d="M1321.5,836.5c-3.16-8.52-8.55-19.09-14.27-25.64L1321.5,816l14.26-5.16C1330.05,817.41,1324.66,828,1321.5,836.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <line class="cls-1" x1="839.82" y1="243.36" x2="1261.82" y2="243.36"/>
    <line class="cls-1" x1="420.32" y1="243.36" x2="842.32" y2="243.36"/>
    <g>
    <line class="cls-1" x1="1261.82" y1="243.36" x2="1261.82" y2="708.25"/>
    <path class="cls-2" d="M1304.5,798.5c-3.16-8.52-8.55-19.09-14.27-25.64L1304.5,778l14.26-5.16C1313.05,779.41,1307.66,790,1304.5,798.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="419.82" y1="243.86" x2="419.82" y2="708.75"/>
    <path class="cls-2" d="M462.5,799c-3.16-8.52-8.55-19.09-14.27-25.64l14.27,5.16,14.26-5.16C471.05,779.91,465.66,790.48,462.5,799Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="110" y1="1095.36" x2="110" y2="1159.25"/>
    <path class="cls-2" d="M152.68,1249.5c-3.16-8.52-8.55-19.09-14.27-25.64l14.27,5.16,14.27-5.16C161.23,1230.41,155.84,1241,152.68,1249.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="1277.01" y1="1096.36" x2="1277.01" y2="1159.75"/>
    <path class="cls-2" d="M1319.69,1250c-3.16-8.52-8.55-19.09-14.26-25.64l14.26,5.16,14.27-5.16C1328.24,1230.91,1322.85,1241.48,1319.69,1250Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="110" y1="1294.36" x2="110" y2="1378.25"/>
    <path class="cls-2" d="M152.68,1468.5c-3.16-8.52-8.55-19.09-14.27-25.64l14.27,5.16,14.27-5.16C161.23,1449.41,155.84,1460,152.68,1468.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="404" y1="1095.36" x2="404" y2="1379.25"/>
    <path class="cls-2" d="M446.68,1469.5c-3.16-8.52-8.55-19.09-14.26-25.64l14.26,5.16,14.27-5.16C455.24,1450.41,449.84,1461,446.68,1469.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="838.64" y1="1095.36" x2="838.64" y2="1379.25"/>
    <path class="cls-2" d="M881.32,1469.5c-3.16-8.52-8.56-19.09-14.27-25.64l14.27,5.16,14.26-5.16C889.87,1450.41,884.48,1461,881.32,1469.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="1566.82" y1="1096.36" x2="1566.82" y2="1379.25"/>
    <path class="cls-2" d="M1609.5,1469.5c-3.16-8.52-8.55-19.09-14.27-25.64l14.27,5.16,14.26-5.16C1618.05,1450.41,1612.66,1461,1609.5,1469.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <line class="cls-1" x1="1277.01" y1="1294.36" x2="1277.01" y2="1378.25"/>
    <path class="cls-2" d="M1319.69,1468.5c-3.16-8.52-8.55-19.09-14.26-25.64l14.26,5.16,14.27-5.16C1328.24,1449.41,1322.85,1460,1319.69,1468.5Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="573.14" y="1" width="531" height="71" rx="32.77"/>
    <path class="cls-2" d="M1114.05,74.14a31.8,31.8,0,0,1,31.77,31.77v5.46a31.8,31.8,0,0,1-31.77,31.77H648.59a31.8,31.8,0,0,1-31.77-31.77v-5.46a31.8,31.8,0,0,1,31.77-31.77h465.46m0-2H648.59a33.77,33.77,0,0,0-33.77,33.77v5.46a33.77,33.77,0,0,0,33.77,33.77h465.46a33.77,33.77,0,0,0,33.77-33.77v-5.46a33.77,33.77,0,0,0-33.77-33.77Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(745.14 46.36)">रोजगार आयुक्त</text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="573.14" y="139.51" width="531" height="71" rx="32.77"/>
    <path class="cls-2" d="M1114.05,212.65a31.8,31.8,0,0,1,31.77,31.77v5.46a31.8,31.8,0,0,1-31.77,31.77H648.59a31.8,31.8,0,0,1-31.77-31.77v-5.46a31.8,31.8,0,0,1,31.77-31.77h465.46m0-2H648.59a33.77,33.77,0,0,0-33.77,33.77v5.46a33.77,33.77,0,0,0,33.77,33.77h465.46a33.77,33.77,0,0,0,33.77-33.77v-5.46a33.77,33.77,0,0,0-33.77-33.77Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(708.44 183.56)">अपर संचालक रोजगार</text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="573.14" y="278.18" width="531" height="71" rx="32.77"/>
    <path class="cls-2" d="M1114.05,351.32a31.8,31.8,0,0,1,31.77,31.77v5.46a31.8,31.8,0,0,1-31.77,31.77H648.59a31.8,31.8,0,0,1-31.77-31.77v-5.46a31.8,31.8,0,0,1,31.77-31.77h465.46m0-2H648.59a33.77,33.77,0,0,0-33.77,33.77v5.46a33.77,33.77,0,0,0,33.77,33.77h465.46a33.77,33.77,0,0,0,33.77-33.77v-5.46a33.77,33.77,0,0,0-33.77-33.77Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(699.15 322.47)">संयुंक्त संचालक रोजगार</text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="573.14" y="416.5" width="531" height="71" rx="32.77"/>
    <path class="cls-2" d="M1114.05,489.64a31.8,31.8,0,0,1,31.77,31.77v5.46a31.8,31.8,0,0,1-31.77,31.77H648.59a31.8,31.8,0,0,1-31.77-31.77v-5.46a31.8,31.8,0,0,1,31.77-31.77h465.46m0-2H648.59a33.77,33.77,0,0,0-33.77,33.77v5.46a33.77,33.77,0,0,0,33.77,33.77h465.46a33.77,33.77,0,0,0,33.77-33.77v-5.46a33.77,33.77,0,0,0-33.77-33.77Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(633.42 460.43)">उप संचालक / वरिष्ठ शोध अधिकारी</text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="573.44" y="551.28" width="530.4" height="120.4" rx="42.54"/>
    <path class="cls-2" d="M1104,624.72A41.28,41.28,0,0,1,1145.22,666v35.34A41.28,41.28,0,0,1,1104,742.52H658.65a41.28,41.28,0,0,1-41.24-41.23V666a41.28,41.28,0,0,1,41.24-41.23H1104m0-2.6H658.65A43.83,43.83,0,0,0,614.82,666v35.34a43.83,43.83,0,0,0,43.83,43.83H1104a43.84,43.84,0,0,0,43.84-43.83V666A43.84,43.84,0,0,0,1104,622.12Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(681.93 597.51)">
    सहायक संचालक / रोजगार
    <tspan x="42.46" y="50.4">अधिकारी / प्रोग्रामर</tspan>
    </text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="1.38" y="765.11" width="217.24" height="333.24" rx="45.17"/>
    <path class="cls-2" d="M216.14,838.63a43.84,43.84,0,0,1,43.78,43.79v242.91a43.83,43.83,0,0,1-43.78,43.79H89.23a43.83,43.83,0,0,1-43.79-43.79V882.42a43.84,43.84,0,0,1,43.79-43.79H216.14m0-2.75H89.23a46.55,46.55,0,0,0-46.55,46.54v242.91a46.55,46.55,0,0,0,46.55,46.55H216.14a46.55,46.55,0,0,0,46.54-46.55V882.42a46.54,46.54,0,0,0-46.54-46.54Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(39.11 813.32)">
    उप संचालक
    <tspan x="31.52" y="50.4">/ राज्य </tspan>
    <tspan x="26.89" y="100.8">रोजगार </tspan>
    <tspan x="15.83" y="151.2">अधिकारी </tspan>
    <tspan x="-2.46" y="201.6">विस्तार पटल </tspan>
    <tspan x="22.38" y="252">जबलपुर</tspan>
    </text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="285.69" y="765.17" width="236.62" height="333.12" rx="47.13"/>
    <path class="cls-2" d="M517.87,838.75a45.75,45.75,0,0,1,45.69,45.69v238.87A45.75,45.75,0,0,1,517.87,1169H375.5a45.75,45.75,0,0,1-45.69-45.69V884.44a45.75,45.75,0,0,1,45.69-45.69H517.87m0-2.87H375.5a48.57,48.57,0,0,0-48.57,48.56v238.87a48.58,48.58,0,0,0,48.57,48.57H517.87a48.57,48.57,0,0,0,48.56-48.57V884.44a48.56,48.56,0,0,0-48.56-48.56Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(306 813.32)">
    संभागीय रोजगार
    <tspan x="42.95" y="50.4">अधिकारी </tspan>
    <tspan x="18.72" y="100.8">दिव्यांग्जनों के </tspan>
    <tspan x="35.63" y="151.2">लिए विशेष </tspan>
    <tspan x="-0.64" y="201.6">रोजगार कार्यालय </tspan>
    <tspan x="49.51" y="252">जबलपुर</tspan>
    </text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="0.7" y="1397.25" width="218.6" height="85.6" rx="22.98"/>
    <path class="cls-2" d="M239,1470.09a22.31,22.31,0,0,1,22.28,22.28V1532A22.31,22.31,0,0,1,239,1554.29H66.37A22.32,22.32,0,0,1,44.08,1532v-39.63a22.31,22.31,0,0,1,22.29-22.28H239m0-1.4H66.37a23.68,23.68,0,0,0-23.69,23.68V1532a23.69,23.69,0,0,0,23.69,23.69H239A23.69,23.69,0,0,0,262.68,1532v-39.63A23.68,23.68,0,0,0,239,1468.69Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(46.41 1452.64)">कार्यालयीन</text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="296.2" y="1397.24" width="215.61" height="85.61" rx="22.83"/>
    <path class="cls-2" d="M531.66,1470.08a22.16,22.16,0,0,1,22.13,22.13v40a22.15,22.15,0,0,1-22.13,22.12H361.71a22.14,22.14,0,0,1-22.13-22.12v-40a22.15,22.15,0,0,1,22.13-22.13h170m0-1.39H361.71a23.53,23.53,0,0,0-23.53,23.52v40a23.53,23.53,0,0,0,23.53,23.52h170a23.52,23.52,0,0,0,23.52-23.52v-40a23.52,23.52,0,0,0-23.52-23.52Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(340.81 1453.06)">कार्यालयीन</text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="573.23" y="1397.64" width="530.82" height="84.82" rx="35.77"/>
    <path class="cls-2" d="M1111,1470.87a34.72,34.72,0,0,1,34.69,34.68v13.27A34.72,34.72,0,0,1,1111,1553.5H651.68A34.72,34.72,0,0,1,617,1518.82v-13.27a34.72,34.72,0,0,1,34.68-34.68H1111m0-2.18H651.68a36.86,36.86,0,0,0-36.86,36.86v13.27a36.86,36.86,0,0,0,36.86,36.87H1111a36.87,36.87,0,0,0,36.87-36.87v-13.27a36.86,36.86,0,0,0-36.87-36.86Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(771.66 1453.06)">कार्यालयीन</text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="1167.71" y="1397.25" width="218.6" height="85.6" rx="22.98"/>
    <path class="cls-2" d="M1406,1470.09a22.31,22.31,0,0,1,22.28,22.28V1532a22.31,22.31,0,0,1-22.28,22.29H1233.38A22.31,22.31,0,0,1,1211.1,1532v-39.63a22.31,22.31,0,0,1,22.28-22.28H1406m0-1.4H1233.38a23.69,23.69,0,0,0-23.69,23.68V1532a23.69,23.69,0,0,0,23.69,23.69H1406a23.69,23.69,0,0,0,23.68-23.69v-39.63a23.68,23.68,0,0,0-23.68-23.68Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(1213.28 1453.06)">कार्यालयीन</text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="1457.52" y="1397.25" width="218.6" height="85.6" rx="22.98"/>
    <path class="cls-2" d="M1695.82,1470.09a22.31,22.31,0,0,1,22.28,22.28V1532a22.31,22.31,0,0,1-22.28,22.29H1523.18A22.31,22.31,0,0,1,1500.9,1532v-39.63a22.31,22.31,0,0,1,22.28-22.28h172.64m0-1.4H1523.18a23.68,23.68,0,0,0-23.68,23.68V1532a23.69,23.69,0,0,0,23.68,23.69h172.64A23.69,23.69,0,0,0,1719.5,1532v-39.63a23.68,23.68,0,0,0-23.68-23.68Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(1508.37 1453.06)">कार्यालयीन</text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="574.28" y="765.88" width="528.71" height="331.71" rx="70.3"/>
    <path class="cls-2" d="M1075.37,840.17a68.24,68.24,0,0,1,68.16,68.16v191.1a68.24,68.24,0,0,1-68.16,68.16H687.27a68.24,68.24,0,0,1-68.16-68.16V908.33a68.23,68.23,0,0,1,68.16-68.16h388.1m0-4.29H687.27a72.44,72.44,0,0,0-72.45,72.45v191.1a72.45,72.45,0,0,0,72.45,72.45h388.1a72.45,72.45,0,0,0,72.45-72.45V908.33a72.45,72.45,0,0,0-72.45-72.45Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(620.31 886.33)">
    संभागीय रोजगार अधिकारी अनुसूचित
    <tspan x="12.98" y="50.4" xml:space="preserve">जाती / अनुसूचित जनजाति के लिए </tspan>
    <tspan x="34.23" y="100.8">कोचिंग कम गाइडेंस सेंटर उज्जैन</tspan>
    </text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="1153.48" y="765.2" width="247.06" height="333.06" rx="48.15"/>
    <path class="cls-2" d="M1395.08,838.82a46.73,46.73,0,0,1,46.67,46.67v236.77a46.73,46.73,0,0,1-46.67,46.68H1244.31a46.73,46.73,0,0,1-46.68-46.68V885.49a46.73,46.73,0,0,1,46.68-46.67h150.77m0-2.94H1244.31a49.62,49.62,0,0,0-49.62,49.61v236.77a49.63,49.63,0,0,0,49.62,49.62h150.77a49.62,49.62,0,0,0,49.61-49.62V885.49a49.61,49.61,0,0,0-49.61-49.61Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(1206.13 815.83)">
    उप संचालक
    <tspan x="-18.1" y="50.4">(भोपाल, इंदौर, </tspan>
    <tspan x="-2.54" y="100.8">उज्जैन, रीवा, </tspan>
    <tspan x="-46.47" y="151.2">ग्वालियर, सागर, एवं </tspan>
    <tspan x="-20.14" y="201.6">जबलपुर) जिला </tspan>
    <tspan x="-41.49" y="252">रोजगार कार्यालय ७</tspan>
    </text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="1458.2" y="765.11" width="217.24" height="333.24" rx="45.17"/>
    <path class="cls-2" d="M1673,838.63a43.84,43.84,0,0,1,43.79,43.79v242.91a43.83,43.83,0,0,1-43.79,43.79h-126.9a43.83,43.83,0,0,1-43.79-43.79V882.42a43.84,43.84,0,0,1,43.79-43.79H1673m0-2.75h-126.9a46.55,46.55,0,0,0-46.55,46.54v242.91a46.55,46.55,0,0,0,46.55,46.55H1673a46.55,46.55,0,0,0,46.55-46.55V882.42A46.55,46.55,0,0,0,1673,835.88Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(1487.21 857.83)">
    जिला रोजगार
    <tspan x="20.05" y="50.4">अधिकारी, </tspan>
    <tspan x="0" y="100.8">जिला रोजगार </tspan>
    <tspan x="6.02" y="151.2">कार्यालय ४४</tspan>
    </text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="0.82" y="1180.97" width="218.37" height="116.37" rx="26.77"/>
    <path class="cls-2" d="M235.1,1253.93a26,26,0,0,1,26,26v62.84a26,26,0,0,1-26,26H70.26a26,26,0,0,1-25.95-26v-62.84a26,26,0,0,1,26-26H235.1m0-1.63H70.26a27.58,27.58,0,0,0-27.58,27.58v62.84a27.58,27.58,0,0,0,27.58,27.58H235.1a27.58,27.58,0,0,0,27.58-27.58v-62.84a27.58,27.58,0,0,0-27.58-27.58Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(66 1227.75)">
    रोजगार
    <tspan x="-11.05" y="50.4">अधिकारी</tspan>
    </text>
    </g>
    <g>
    <g>
    <rect class="cls-3" x="1167.83" y="1180.97" width="218.37" height="116.37" rx="26.77"/>
    <path class="cls-2" d="M1402.11,1253.93a26,26,0,0,1,26,26v62.84a26,26,0,0,1-26,26H1237.28a26,26,0,0,1-26-26v-62.84a26,26,0,0,1,26-26h164.83m0-1.63H1237.28a27.58,27.58,0,0,0-27.59,27.58v62.84a27.58,27.58,0,0,0,27.59,27.58h164.83a27.58,27.58,0,0,0,27.58-27.58v-62.84a27.58,27.58,0,0,0-27.58-27.58Z" transform="translate(-42.68 -72.14)"/>
    </g>
    <text class="cls-4" transform="translate(1233.01 1227.75)">
    रोजगार
    <tspan x="-11.05" y="50.4">अधिकारी</tspan>
    </text>
    </g>
    </svg>