<div class="footerWrap">
  <div class="container">
    <div class="row">
      <!--About Us-->
      <h5 style="font-size: 20px;"><span lang="en">SiteMap</span></h5>
     <div class="col-md-3 col-sm-12"> 
       <h5><span lang="en">Information</span></h5> 
         <ul class="quicklinks">
          <li><a href="/"><span lang="en">Home</span></a></li>
          <li><a href="/about"><span lang="en"> About us</span></a></li>
          <li><a href="/Contactus"><span lang="en">Contact us</span></a></li>
          <li><a href="/PrivacyPolicy"><span lang="en">Privacy Policy</span></a></li> 
        
          <li><a href="/FeedBackForm"><span lang="en">Feedback</a></li>
          
         </ul> 
         <h5 style="margin-top: 8px;display:none"><span lang="en">Jobs By Industry</span></h5>
      
        <ul class="quicklinks" style="display:none">
          <li><a href="#."><span lang="en">Information Technology Jobs</span></a></li>
          <li><a href="#."><span lang="en">Recruitment/Employment Firms Jobs</span></a></li>
          <li><a href="#."><span lang="en">Education/Training Jobs</span></a></li>

          <li><a href="#."><span lang="en">Call Center Jobs</span></a></li>

          <li><a href="#."><span lang="en">BPO Jobs</span></a></li>

        </ul> 
       </div> 
      <!--About us End-->

      <!--Quick Links-->
      <div class="col-md-3 col-sm-6">
        <h5><span lang="en">Job Seekers Section</span></h5>
        <!--Quick Links menu Start-->
        <ul class="quicklinks">
          <li><a href="/JobSeekerRegistration"><span lang="en">Register</span></a></li>
          <li><a href="/Login"><span lang="en">Login</span></a></li>
          <!-- <li><a href="#."><span lang="en">Advanced Search</span></a></li>
          <li><a href="/JobAlerts"><span lang="en">Create Job Alert</span></a></li> -->
          <!-- <li><a href="#."><span lang="en">Jobseekers FAQs</span></a></li> -->
        </ul>
        <div class="clear"></div>
     
        <div class="clear"></div>
        <br>
        <h5><span lang="en">Employer Section</span></h5>
        <!--Quick Links menu Start-->
        <ul class="quicklinks">
          <li><a href="#" onclick="employerurlreg()"><span lang="en">Register</span></a></li>
          <li><a href="#" onclick="employerurl()"><span lang="en">Login</span></a></li>
          <!-- <li><a href="#."><span lang="en">Advanced Search</span></a></li>
          <li><a href="/JobAlerts"><span lang="en">Create Job Alert</span></a></li> -->
          <!-- <li><a href="#."><span lang="en">Jobseekers FAQs</span></a></li> -->
        </ul>
      </div>
      <!--Quick Links menu end-->

      <!--Jobs By Industry-->
      <div class="col-md-3 col-sm-6">
        <h5><span lang="en">Career Literature</span></h5>
        <ul class="quicklinks">
          <li style="display: none;"><a target="_blank" href="https://www.ncs.gov.in/content-repository/hi-in/Pages/Main.aspx"> <span lang="en">Company Secretary</span></a></li>
          <li><a target="_blank" href="https://www.ncs.gov.in/content-repository/pages/BrowseBySectors.aspx"><span lang="en">Career Information</span></a></li>
          <li style="display: none;"><a target="_blank" href="https://www.ncs.gov.in/content-repository/hi-in/Pages/Main.aspx"><span lang="en"> Carrer Guideline </span></a></li>
        </ul>
        <h5 style="margin-top: 8px;"><span lang="en">Career Counselling</span></h5>
        <ul class="quicklinks">
          <li><a href="/pdf/Career Counselling Scheme.pdf" target="_blank"><span lang="en">Career Counselling Scheme</span></a></li>
          <li><a href="/CouncellerAccess"><span lang="en">Career Counselling QA</span></a></li>
          <li style="display: none;"><a href="#" onclick="employerurlreg()"><span lang="en">Employer Registration</span></a></li>
        </ul>

        <div class="clear"></div>

        <!--Industry menu End-->
        <div class="clear"></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5><span lang="en">Useful Web Links</span></h5>
        <ul class="quicklinks">
          <li><a href="https://www.mpinfo.org/MPinfoStatic/Hindi/eRojgar/e-rojgar.asp" target="_blank"><span lang="en">Rojgar Aur Nirman</span></a></li>
          <li><a href="http://employmentnews.gov.in/" target="_blank"><span lang="en">Employment News</span></a></li>
          <li><a href="http://www.mppsc.nic.in/Examination_plan.html" target="_blank"><span lang="en">MP Public Service Commission</span></a></li>
          <li><a href="http://peb.mp.gov.in/" target="_blank"><span lang="en">MP Professional Examination Board</span></a></li>
          <li><a href="https://www.upsc.gov.in/examinations/exam-calendar" target="_blank"><span lang="en">Union Public Service Commission</span></a></li>
          <li><a href="http://www.joinindianarmy.nic.in/Authentication.aspx" target="_blank"><span lang="en">Indian Army</span></a>
          </li>
          
          
         
          
           <!-- <li><a href="/FeedBackForm"><span lang="en">Feedback</a></li>  -->
          <li style="display: none;"><a href="http://www.mpindustry.gov.in/" target="_blank"><span lang="en">Industry Wing</span></a></li>
          <li style="display: none;"><a href="http://employmentnews.gov.in/" target="_blank"><span lang="en">Employment News.</span></a></li>
         
        <div class="clear"></div>


      </div>

      <!--Latest Articles-->

    </div>

    
  </div>
  <div class="col-md-2">

</div>
</div>

<!--Footer end-->

<!--Copyright-->

  <div class="copyright">
    <div class="container">
      <div class="row">
   
            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin-top: 29px;">
              <img src="https://www.cutercounter.com/hits.php?id=geqxpad&amp;nd=6&amp;style=72" style="border:0;display: block;margin: auto;padding-bottom: 10px;margin-top: -5%;" alt="visitor counter">                 
            </div>
          </div>
              <div class="row">
      <span lang="en" style="font-size: 15px;">All Rights Reserved to DOE MP, Operated by <a>Yashaswi Academy For Talent Management</a></span><br>
      </a>
      <span lang="en" style="font-size: 15px;">© 2020 Directorate of Employment, Madhya Pradesh</span>
      
      </div>
      <!-- <div class="col-md-2">
          <img src="https://www.cutercounter.com/hits.php?id=geqxpad&amp;nd=6&amp;style=72" style="border:0;margin-right: -241%;margin-top: 57px;margin-left: 667px" alt="visitor counter">
      <div class="col-md-2">
          <img src="https://www.cutercounter.com/hits.php?id=geqxpad&amp;nd=6&amp;style=72" style="border:0;margin-top: -4%;" alt="visitor counter">
                         

           border:0;margin-right: -241%;margin-top: -4%;margin-left: 667px;margin-top: 57px 
    </div> -->
    </div>
  </div>