<!-- views/partials/header.ejs -->

<div class="header">
        <div>
          <div>
      
            <img src="images/header_name.gif" class="headerimage" alt="" style="    height: 86px !important;width: 100%;max-width: 100%;"> 
          </div>
          <div class="row">
            <div class="col-sm-9 col-xs-7">
              <!-- Nav start -->
              <div class="navbar navbar-default" role="navigation" style="float: left;position: relative;left:5%;top:-25%">        
                <button class="navbar-toggler" id='navbar-toggle' type="button" data-toggle="collapse" data-target="#nav-main"
        aria-controls="nav-main" aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="navbar-collapse collapse" id="nav-main">
                  <ul class="nav navbar-nav" style="width: 110%;">
                
                    <li class="pad"><a id="lblh" href="#" onclick="myFunction(this)">Hindi</a></li>
                    <li class="pad"><a href="/Login" onclick=SessionClear() lang="en">Logout</a></li>
                  </ul>
      
      
                  <!-- Nav collapes end -->
                </div>
                <div class="clearfix"></div>
              </div>
              <!-- Nav end -->
            </div>
         
          
          </div>
          <!-- row end -->
        </div>
        <!-- Header container end -->
      </div>
  
      <!-- Header end -->