<!-- views/partials/header.ejs -->
<br/>
<div class="header">
    <img src="images/header_name.gif" class="headerimage" alt="" style="height: 110px !important;width: 100%;max-width: 100%;"> 
  
    <div class="row" style="
    height: 35px;
    margin-top: 0px;
">
   

      <div class="col-sm-8 col-xs-7">
        <!-- Nav start -->
        <div class="navbar navbar-default" role="navigation" style="float: left;position: relative;left:5%;top:-25%">        
          <button class="navbar-toggler" id='navbar-toggle' type="button" data-toggle="collapse" data-target="#nav-main"
  aria-controls="nav-main" aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="navbar-collapse collapse" id="nav-main">
            <ul class="nav navbar-nav" style="width: 110%;">
          
              <li class="pad"><a href="/"><span lang="en">Home</span></a></li> 
              <li class="pad dropdown"><a><span lang="en">About us</span></a>
                <ul class="dropdown-menu">
                  <!-- <li><a href="/Dashboard"><span lang="en">Dashboard</span></a></li> -->

                  <li><a href="/About_New"><span lang="en">About the Portal</span></a></li>
                  
                  <li><a href="/about"><span lang="en">About Department</span></a></li>
                  <li><a href="/PublicPrivatePartnership"><span lang="en">Public Private Partnership(PPP)</span></a></li>
                  <li style="display: none;"><a href="/RoleoftheDepartment" ><span lang="en">Role of the Department</span></a></li>
                  <li><a href="/OrganizationalSetup"><span lang="en">Organizational Setup</span></a></li>
                  <li><a href="/EmploymentOffices"><span lang="en">Employment Offices</span></a></li>
                  <li style="display: none;"><a href="/MIS"><span lang="en">MIS</span></a></li>
                  <li><a href="/Statistics"><span lang="en">Statistics</span></a></li>
                  <li><a href="/RighttoInformation"> <span lang="en"> Right to Information</span></a></li>
                  <li><a target="blank" href="http://os.mp.nic.in/aprms/publicview1.php"><span lang="en"> Property Declaration</span></a></li>
                  <li><a href="/AdministrativeReports"><span lang="en"> Administrative Reports</span></a></li>
                  <li><a href="/CircularOROrders"> <span lang="en">Circulars/Orders </span> </a></li>
                  <li><a href="/InformationofDifferentlyabledPerson"> <span lang="en">Information of Differently abled Person</span> </a></li>
                
                                  <li><a target="blank" href="/pdf/ConversionTable.pdf"> <span lang="en">NCO Code Information</span>
                    </a></li>
                    <li><a href="/ActandRules"> <span lang="en">Act and Rules</span> </a></li>
                  <li><a href="/Gallery"> <span lang="en"> Photo Gallery</span> </a></li>
                  <li><a href="/forms"> <span lang="en">Forms</span>
                  </a></li>
                <li style="display: none;"><a href="/formsandfont"> <span lang="en">Download Forms/Fonts</span> </a></li>
                <li><a href="/pdf/UM.pdf" target="blank"> <span lang="en">User Manual</span> </a></li>
                </ul>
              </li>
              <li class="pad dropdown"><a><span lang="en">Help &amp; Support</span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" style="display:none"><span lang="en">Chat Support</span></a></li>
                  <li><a href="" data-toggle="modal" data-target="#myModallmailsupport"><span lang="en">Email Support</span></a></li>
                  <li><a data-toggle="modal" data-target="#myModallaudiosupport" href="#"><span lang="en">Audio Support</span></a></li> 
                  <li style="display: none;"><a href="/GrievenceForm"><span lang="en">Grievance and Resolution Desk</span></a></li>
                  <li><a href="/FeedBackForm"><span lang="en">Feedback</span></a></li>
                  <li><a href="/JsFAQ#"><span lang="en">FAQ</span> </a></li>
                
                  <li style="display: none;"><a href="" data-toggle="modal" data-target="#myModalrenewforolduser"><span  lang="en">Renew Registration</span></a></li>
                  
                </ul>
              </li>
             <!-- <li class="pad"><a href="" data-toggle="modal" data-target="#myModalrenewforolduser"><span  lang="en">Renew Registration</span></a></li>
             -->

              <li class="pad"><a href="/Contactus"><span lang="en"> Contact us</span></a></li>
              <!-- <li><a href="/FAQs">FAQ</a></li> -->
              <li class="pad dropdown"><a><span lang="en"> Job Fairs</span></a>
                <ul class="dropdown-menu">
                  <li><a href="/JobFairScheme"><span lang="en">Job Fair Scheme</span></a></li>
                  <li><a href="#" data-toggle="modal" data-target="#jobfaircreation"><span lang="en">Job Fair Creation</span></a></li>
               
                </ul>
              </li>
              <li class="pad"><a href="/Dashboard"><span lang="en">Dashboard</span></a></li>
            
              <li class="pad dropdown"><a href="#"><span lang="en"> Login</span></a>
                <ul class="dropdown-menu">
                  <li><a data-toggle="modal" data-target="#myModallogin" href="#"><span lang="en">Jobseeker Login</span></a></li>
                  <li><a href="#" onclick="employerurl()"><span lang="en">Employer Login</span></a></li>
                  <!-- <li><a href="#"><span lang="en">Recruiter Login</span></a></li>
                  <li><a href="/SDCLogin"><span lang="en">SDC Login</span></a></li> -->
                  <li><a href="#" onclick="adminurl()"><span lang="en">OLEX Login</span></a></li>
              <li><a href="#" onclick="adminurl()"><span lang="en">Yashaswi Login</span></a></li>
            
                </ul>
              </li>
              <li class="pad"><a id="lblh" href="#" onclick="myFunction(this)">Hindi</a></li>
              <li style="padding: 12px 0 !important; " class='font-controller' onclick="textdecrease()"><img style="border: 1px solid black; border-right: 0; max-width: 100% !important;" src="images/text_decrease.png" alt="Text Decrease"></li>
              <li style="padding: 12px 0 !important;" class='font-controller' onclick="textnormal()"><img style="border: 1px solid black; border-right: 0; max-width: 100% !important;" src="images/text_normal.png" alt="Text Normal"></li>
              <li style="padding: 12px 0 !important;" class='font-controller' onclick="textincrease()"><img style="border: 1px solid black; max-width: 100% !important;" src="images/text_increase1.png" alt="Text Increase"></li>


            </ul>


            <!-- Nav collapes end -->
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Nav end -->
      </div>
      <div class="col-sm-4 col-xs-5">
          <div class="navbar navbar-default" role="navigation">
            <li class="nav navbar-nav pad header-contact" style="margin-top:13px; font-size: small;    color: black;  font-weight: 500;">
              <!--  <li><a href="/">Home</a></li> -->
              <span lang="en">TOLL FREE NO:</span> -1800-5727-751 / 0755-6615100
              <!-- <span lang="en">E-mail:</span>helpdesk[dot]mprojgar[at]mp[dot]gov[dot]in -->
            </li>
  <!-- <li id='whatsappnumberhelp'
   class="nav navbar-nav pad header-contact" style="margin-top:3px; font-size: small;   color: black;  font-weight: 500;">

              <span lang="en">WhatsApp Only:</span> - +917620603312

            </li> -->

            <li class="nav navbar-nav header-contact" style="margin-top:3px;font-size: small;color: black;font-weight: 500;position: relative;left: 11px;">
              <span lang="en">E-mail: </span>helpdesk.mprojgar@mp.gov.in
            </li>
          </div>
      <!-- row end -->
      </div>
    </div>
<!-- Header container end -->
</div>

<!-- Modal -->

<div class="modal fade" id="myModallmailsupport" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
<div class="modal-dialog" role="document">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-body">
      <div class="userccount">
        <div>

            <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>



          <h5 style="font-size:16px;"><span lang="en">E-mail Support </span></h5>
          <!-- login form -->
          <div class="formpanel">
              <div class="row">
                  <div class="col-md-6">
                     <div class="formrow" style="display: none;">
                        
                           
                             
                           
                        
                     </div>
                  </div>
               </div>
               <div class="tab-content formpanel">
                <div class="row">
                        <div class="col-md-12">
                            <div class="formrow">
                                  <label for="example-email-input" class="col-2 col-form-label" lang="en">
                              Name 
                                  </label>
                                  <input class="form-control" id="Name" lang="en" name="Comments" placeholder="Name">

                                 </div>
                          </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                          <div class="formrow">
                                <label for="example-email-input" class="col-2 col-form-label" lang="en">
                         Your Email
                                </label>
                                <input class="form-control" id="From" onfocusout="mailcheck()" name="Comments" lang="en" placeholder="Your Email">

                               </div>
                        </div>
                  </div>

                 


                <div class="m-form__group form-group row">
                  <label class="col-lg-3 col-form-label" lang="en">
                    Subject-Body 
                </label>
                <div class="col-lg-12">
                        <select type="text" id="SubjectBody" class="form-control m-input" lang="en" placeholder="">
                            <option lang="en">Register</option>
                            <option lang="en">Renewal</option>
                            <option lang="en">Transfer</option>
                            <option lang="en">ID Related</option>
                            <option lang="en">Job Related</option>
                            <option lang="en">Career Opportunities</option>
                            <option lang="en">Career Counselling</option>
                            <option lang="en">Other</option>
                           
                            
                        </select>
                        
</div>
                          </div>
                          

            <div class="row">
              <div class="col-md-12">
                  <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label" style="padding: 6px;" lang="en">
                 To 
                        </label>
                        <input type="email" class="form-control"  id="To" name="Comments" value="helpdesk.mprojgar@mp.gov.in" lang="en"  readonly="">

                       </div>
                </div>
          </div>


          <div class="row">
            <div class="col-md-12">
                <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label" lang="en">
               Mobile 
                      </label>
                      <input type="number" maxlength="10" onkeypress="if (this.value.length >= 10) { return false; };" class="form-control" id="Mobile" name="Comments" lang="en" placeholder="Mobile">


                    


                </div>
              </div>
        </div>


            <div class="row">
               
                    <div class="col-md-12">
                            <div class="formrow">
                                  <label for="example-email-input" class="col-2 col-form-label" lang="en">
                               Problem Description
                                  </label>
                                  <textarea class="form-control" id="Comments" name="Comments" lang="en" placeholder="Comments"></textarea>
                            </div>
                          </div>
               
              </div>
         
              <div class="row">
                  
                     <div class="col-md-10" style="margin-left: 8%;">
                    <input type="submit"  onclick="CheckMail(); " class="btn" value="Submit">
               </div>
                </div>
                <div class="row">
                  </div> 
       </div>
           
           
        
           
            
            
          </div>
        </div>
        

       

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>



<script type="text/javascript">
  var lang = new Lang();
  lang.dynamic('th', '/js/langpack/th.json');
  lang.init({
    defaultLang: 'en'
  });
  
</script>

<script>
  $(function(){
  $('.rojdatepicker').datepicker({ 
    format: "dd/mm/yyyy",
    clearBtn: true,
    daysOfWeekHighlighted: "0",
    autoclose: true,
    todayHighlight: true,
    container: '#myModal1'
  });
  })
  
  </script>

<script>
 function fetchNotification() {
          jQuery.ajax({
              type: "GET",
              contentType: "application/json; charset=utf-8",
              url: serverpath + "jobseekerreg/'"+sessionStorage.getItem("CandidateId")+"'",
              cache: false,
              dataType: "json",
              success: function (data) {
                  if ( data.jobalert_email  == "1") {
                                    $("#emailswitch").prop("checked", true);
                                 } else {
                                  $("#emailswitch").prop("checked", false);
                                      }
                              
               
              },
              error: function (xhr) {
                  toastr.success(xhr.d, "", "error")
                  return true;
              }
          });
      }
</script>

        



    



<script>


function CheckMail() {
if (jQuery('#Name').val() == "") {
toastr.warning("Please Enter Your Name", "", "info");
}
// else if (jQuery('#To').val() == "") {
// toastr.warning("Please Enter Your To", "", "info");
// }

else if (jQuery('#From').val() == "") {
toastr.warning("Please Enter Your Email", "", "info");
}

else if (jQuery('#SubjectBody').val() == "") {
toastr.warning("Please Enter Your SubjectBody", "", "info");
}

else if (jQuery('#Mobile').val() == "") {
toastr.warning("Please Enter Your Phone No", "", "info");
}
else if (jQuery('#Comments').val() == "") {
toastr.warning("Please Enter Comments", "", "info");
}


else {
sendemail();
}


};


function sendemail(){
 var sub = "Mp Rojgar";
var body = `<div style='font-size:14px;color:darkgreen'>
              Dear, 
              </div>
              </br>
              <div style='font-size:13px;'>
              To : ${$("#To").val()} 
             
              </div>
             
              <div style='font-size:13px;'> 
              From : ${$("#From").val()} 
              
              </div>
            
              <div style='font-size:13px;'>
              Mobile :  ${$("#Mobile").val()}
              </div>
              
              <div style='font-size:13px;'> Subject-Body : ${$("#SubjectBody").val()}
               <br>
               </div>
               <br>
               <div style='font-size:13px;'>
               Problem : ${$("#Comments").val()}
                <br>
                </div>`;

sentmailglobal(""+$("#To").val()+","+$("#From").val()+"",body,sub) ;
toastr.success("Submit Successful", "", "success")
jQuery("#Name").val("");
$("#From").val("");
$("#Mobile").val("");
$("#SubjectBody").val("Register");
jQuery("#Comments").val("")

return true;
}



//  function resetMode(){
// 	jQuery("#Name").val("");
// 	jQuery("#E-Mail").val("");
// 	$("#Mobile").val("");
// 	jQuery("#Comments").val("")


// }

function mailcheck(){

var Mail;
Mail = jQuery('#E-Mail').val();

var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

if (reg.test(Mail) == false) {
$(window).scrollTop(0);
toastr.warning("Please Enter Correct E-MailId", "", "info");
jQuery('#E-Mail').css('border-color', 'red');
return true;
}
else {
jQuery('#E-Mail').css('border-color', '');

}

}
   $(document).ready(function () {
   
    });
   </script> 

<div class="modal fade" id="myModallaudiosupport" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <div class="userccount">
              <div>
                <h5 style="font-size:16px;"><span lang="en">  Audio Support </span></h5>
                <!-- login form -->
                <div class="formpanel">
                    <div class="row">
                        <div class="col-md-6">
                           <div class="formrow" style="display: none;">
                              
                                 
                                   
                                 
                              
                           </div>
                        </div>
                     </div>
                 
                 
                 <h4><span lang="en">TOLL FREE NO:</span>-1800-5727-751</h4>
              
                 
                  
                  
                </div>
              </div>
             
    
             
    
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
    


<script type="text/javascript">
  var lang = new Lang();
  lang.dynamic('th', '/js/langpack/th.json');
  lang.init({
    defaultLang: 'en'
  });
  
</script>

<script>
  $(function(){
  $('.rojdatepicker').datepicker({ 
    format: "dd/mm/yyyy",
    clearBtn: true,
    daysOfWeekHighlighted: "0",
    autoclose: true,
    todayHighlight: true,
    container: '#myModal1'
  });
  })
  
  </script>

<script>
 function fetchNotification() {
          jQuery.ajax({
              type: "GET",
              contentType: "application/json; charset=utf-8",
              url: serverpath + "jobseekerreg/'"+sessionStorage.getItem("CandidateId")+"'",
              cache: false,
              dataType: "json",
              success: function (data) {
                  if ( data.jobalert_email  == "1") {
                                    $("#emailswitch").prop("checked", true);
                                 } else {
                                  $("#emailswitch").prop("checked", false);
                                      }
                              
               
              },
              error: function (xhr) {
                  toastr.success(xhr.d, "", "error")
                  return true;
              }
          });
      }
</script>

        



    


    
<div class="modal fade" id="myModallogin" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="userccount">
          <div>
            <h5 style="font-size:16px;display: flex;justify-content: center;"><span lang="en">  Job Seeker Login </span></h5>
            <!-- login form -->
            <div class="formpanel">
              <div class="row">
                <div style="float:left"><span><a href="/forgot" style="font-size:13px;color: #FC9928;"><span lang="en">Forgot Password?</span></a></span></div>
                <div style="float:right"><i class="fa fa-user" aria-hidden="true"></i> <span style="font-size:14px;"><span lang="en">New User?</span></span> <a href="/JobSeekerRegistration" style="font-size:13px;color: #FC9928;"><span lang="en">Register Here</span></a></div>
              </div>
            <br>
            <br>
                <div class="row">
                    <div class="col-md-6">
                       <div class="formrow" id="invalidCheck" style="display: none;">
                          
                             
                                <strong><span style="font-size: 11px; color: #cc0033">Invalid User Id or Password
                                   </span></strong>
                             
                          
                       </div>
                    </div>
                 </div>
              <div class="formrow" style="    min-height: 49px;">
                <input type="text" id="txtlogin" onfocusout="getvalidated('txtlogin','text','User Name')" onkeypress="jQuery('#invalidCheck').hide();" class="form-control" placeholder="User Name">
                <span id="validtxtlogin" style="font-size: 11px; color: #cc0033; "></span>
               
               </div>
              
              <div class="formrow">
                <input type="password" id="txtpassword" onfocusout="getvalidated('txtpassword','text','Password')" onkeypress="jQuery('#invalidCheck').hide();" class="form-control" placeholder="Password">
                <span id="validtxtpassword" style="font-size: 11px; color: #cc0033; "></span>
                <!-- <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge" data-placement="right" title="" data-html="true" data-original-title="<br><h6> <span lang='en'>Password must contain the following:</span> </h6>  <ul class='categories'><li><span lang='en'>Atleast one letter</span></li><li><span lang='en'>Atleast one number</span></li><li><span lang='en'>Length must be min. 8</span></li></ul>"><i class="fa fa-info-circle" aria-hidden="true"></i></span> -->
                <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                data-placement="bottom"
                title="<br><h6> <span lang='en'> Password must contain<br> the following:</span> </h6>  <ul class='categories'><li><span lang='en'> Atleast one letter</span> </li><li><span lang='en'> Atleast one number</span> </li><li> <span lang='en'> Not to use special character</span> </li><li> <span lang='en'>Length must be min. 8</span> </li></ul>"
                data-html="true" style="margin-right: 12px;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                <span toggle="#txtpassword"  class="fa fa-fw fa-eye field-icon toggle-password" style="margin-right: 35px;"></span> 
               
              </div>
             
              <!-- START CAPTCHA -->
              <div class="row">
                <tr>
                  <td style="text-align: left">
                    <strong><span style="font-size: 15px;color: #cc0033;text-align: center;display: block;" lang="en">Please Enter The Text Below In Text Box</span></strong></td>
                </tr>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="formrow" style="display: flex;align-self: center;justify-content: center;">
                    <div id="captchaheader" style='display: inline-block;'><canvas id="captchaheader" width="100" height="50"></canvas></div>
                    <a onclick="createcaptchaheader()" style="position: relative; top: 8px" ><i class="fa fa-refresh" style="font-size:24px;"></i></a>
                  </div>
                </div>
              </div>
              <div class="row" style="display:block">
                <div class="col-12">
                  <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchaTextBoxheader','text','Captcha')" id="cpatchaTextBoxheader" style='display:block;margin:auto'/>
                </div>
               </div>
               <div class='row'>
                <div class="col-12">
                  <span id="validcpatchaTextBoxheader" style="display:block;font-size: 11px; color: #cc0033; margin:auto; position:relative;top:8px;width:50%;text-align: center;"></span>
                </div>
               </div>
              <div class="formrow" style="display:block; margin-top: 10px;">

                <input type="button" onclick="CheckValidationHome()" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="" title="valid password" id="homelogin" class="btn" value="Login">

              </div>
            </div>
          </div>
      
  
  
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  
  </div>
  </div>

  <div class="modal fade" id="myModalrenewforolduser" style="overflow: auto !important;" role="dialog" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog"  role="document">

    <!-- Modal content-->
    <div class="modal-content">


      <div class="userccount">

        <h5 style="font-size:16px;" lang="en">Renew Registration </h5>
        <div class="modal-body" id="modalbody">
          <div class="job-header">
            <div class="jobdetail">
           
              <div class="formpanel">
                <div class='row'>
                  <div class='col-md-6 col-xs-6' lang="en">Registration Number</div>
                  </div>
               
            <br>
        
              <div class='row'>
                <div class='col-md-6 col-xs-6' ><span style="font-size:11px;color:#cc0033" id="messagerenew"></div>
                </div>
      
            <div class="formrow" style="    min-height: 49px;">
              <input type="text" id="userregnumber"   class="form-control" placeholder="Registration Number">
              <span id="validuserregnumber" style="font-size: 11px; color: #cc0033; " ></span>
             
             </div>
                <br>
                <div class="formrow" style="display:block; margin-top: 10px;">

                  <span id="nextrenwDate" style="font-size: 16px;color: blue"></span>
                </div>
                <br>
              <div class="formrow" style="display:block; margin-top: 10px;">

                <input type="button" onclick="renewRegistration()"  class="btn" id="olduserrenewbtn" value="Renew Registration">

              </div>
              
            </div>

            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closerenewModal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalprintforolduser" style="overflow: auto !important;" role="dialog" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog"  role="document">

    <!-- Modal content-->
    <div class="modal-content">


      <div class="userccount">

        <h5 style="font-size:16px;" lang="en">Print Registration </h5>
        <div class="modal-body" >
          <div class="job-header">
            <div class="jobdetail">
           
              <div class="formpanel">
                <div class='row'>
                  <div class='col-md-6 col-xs-6' lang="en">Registration Number</div>
                  </div>
               
            <br>
        
              <div class='row'>
                <div class='col-md-6 col-xs-6' ><span style="font-size:11px;color:#cc0033" id="messageprint"></div>
                </div>
      
            <div class="formrow" style="    min-height: 49px;">
              <input type="text" id="userregnumberprint"   class="form-control" placeholder="Registration Number">
              <span id="validuserregnumberprint" style="font-size: 11px; color: #cc0033; " ></span>
             
             </div>
                <br>
             
              
           
              <div class="formrow" style="display:block; margin-top: 10px;">

                <input type="button" onclick="PrintUserRegCard()" id="printuserregbtn" class="btn" value="Print Registration">

              </div>
            </div>

            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closerenewModal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="jobfaircreation" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="userccount">
          <div>
            <h5 style="font-size:16px;"><span lang="en">Job Fair Creation</span></h5>
            <!-- login form -->
            <div class="formpanel">
            
              <div class="formrow" >
               <a style="cursor: pointer;" onclick="adminurl()">Collectorate</a>
               </div>
              
              <div class="formrow">
                <a style="cursor: pointer;" onclick="adminurl()">Employment Exchange</a>
                </div>
                <div class="formrow" >
                  <a style="cursor: pointer;" onclick="adminurl()">ITI</a>
                  </div>
                 
                 <div class="formrow">
                   <a style="cursor: pointer;" onclick="adminurl()">Yashaswi</a>
                   </div>
                   <div class="formrow">
                    <a style="cursor: pointer;" onclick="employerurl()">Employer</a>
                    </div>
              
         

              
            </div>
          </div>
            <br><br>

           
        </div>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




<div class="modal fade bd-example-modal-lg" id="myModalLatestUpdates" style="overflow: auto !important;" role="dialog" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-lg"  role="document" style="width: 745px;">
  
    <div class="modal-content">

      <div class="userccount">
        <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>

        <h5 style="font-size:16px;" lang="en">LATEST NOTIFICATION </h5>
        <div class="modal-body" style="margin-bottom: -50px;">
          <div class="job-header">
           <div id="1" style="display :none;">
            <!-- <a href="#"> <img id="1" style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/NoticeFinal-2(1).jpg"></a> -->
           <a target="blank" href="http://mprojgar.gov.in/images/NoticeFinal-2(1).jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/NoticeFinal-2(1).jpg" ></a>
           </div>
           
           <div id="2" style="display :none;"> 
           <a target="blank" href="http://mprojgar.gov.in/images/JD_page-0001.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/JD_page-0001.jpg" ></a>
           <a target="blank" href="http://mprojgar.gov.in/images/JD_page-0002.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/JD_page-0002.jpg" ></a>
           <a target="blank" href="http://mprojgar.gov.in/images/JD_page-0003.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/JD_page-0003.jpg" ></a>
          </div>
		  
		  <div id="3" style="display :none;"> 
           <a target="blank" href="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0001.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0001.jpg" ></a>
           <a target="blank" href="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0002.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0002.jpg" ></a>
           <a target="blank" href="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0003.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0003.jpg" ></a>
		   <a target="blank" href="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0004.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0004.jpg" ></a>
		   <a target="blank" href="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0005.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0005.jpg" ></a>
		   <a target="blank" href="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0006.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0006.jpg" ></a>
		   <a target="blank" href="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0007.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0007.jpg" ></a>
		   <a target="blank" href="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0008.jpg"> <img  style="max-width: 100%;width: 650px;height: 600px;" src="http://mprojgar.gov.in/images/Notification-SBI-Apprentice-Posts_page-0008.jpg" ></a>
          </div>
		  
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closerenewModal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var lang = new Lang();
  lang.dynamic('th', '/js/langpack/th.json');
  lang.init({
    defaultLang: 'en'
  });
  
</script>

<script>
  $(function(){
  $('.rojdatepicker').datepicker({ 
    format: "dd/mm/yyyy",
    clearBtn: true,
    daysOfWeekHighlighted: "0",
    autoclose: true,
    todayHighlight: true,
    container: '#myModal1'
  });
  })
  
  </script>

<script>
      $('[data-toggle="tooltip"]').tooltip(); 

    function PrintRegCard(){
      window.location = "/PrintRegistrationcard";
    }
  function renewRegistration() {
if($('#userregnumber').val()==""){
  toastr.warning("Please enter Registration Number", "", "info")
    return false;
}
else{
$('#olduserrenewbtn').attr('disabled',true)
var MasterData = {
    

    "p_RegistrationId": $('#userregnumber').val()
};
MasterData = JSON.stringify(MasterData)
var path = serverpath + "registration_renewforolduser";
ajaxpost(path, 'parsrdatarenewRegistration', 'comment', MasterData, 'control');
}
}
function parsrdatarenewRegistration(data) {
data = JSON.parse(data)
$.unblockUI();
$('#olduserrenewbtn').attr('disabled',false);
if(data.errno) {
    toastr.warning("Something went wrong Please try again later ", "", "info")
    return false;
}
else if(data[0][0].ReturnValue=='1'){
  if(data[0][0].renewal_date){
    $('#nextrenwDate').text('Your next renew date is ' + data[0][0].renewal_date);
    $('#messagerenew').text("Renew Registration is not available");
    sessionStorage.CandidateId=data[0][0].CandidateId;
  }
  else{
    $('#nextrenwDate').text("");
$('#messagerenew').text("You are not registered");
  }

}
else{
  $('#messagerenew').text("");
  $('#nextrenwDate').text('Your next renew date is ' + data[0][0].renewal_date_new);
    toastr.success("Renew Registration Successfully", "", "success");
}



}
  
 function fetchNotification() {
          jQuery.ajax({
              type: "GET",
              contentType: "application/json; charset=utf-8",
              url: serverpath + "jobseekerreg/'"+sessionStorage.getItem("CandidateId")+"'",
              cache: false,
              dataType: "json",
              success: function (data) {
                  if ( data.jobalert_email  == "1") {
                                    $("#emailswitch").prop("checked", true);
                                 } else {
                                  $("#emailswitch").prop("checked", false);
                                      }
                              
               
              },
              error: function (xhr) {
                  toastr.success(xhr.d, "", "error")
                  return true;
              }
          });
      }
</script>

        



    


<script src="../customjs/JobSeekerLogin.js"></script>
<script type="text/javascript">
 $(document).keypress(function(event){
  var keycode = (event.keyCode ? event.keyCode : event.which);
  if(keycode == '13'){
    if(!$('#homelogin').prop('disabled')){
      CheckValidationHome();
       }
  
  }
 
});
</script>

<div class="modal fade" id="Modalworkarea" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="userccount">
          <div>
            <h5 style="font-size:16px;"><span lang="en">  Help Line Number : 0755-2767927 </span></h5>
            <!-- login form -->
            <div class="formpanel">
            
              <div class="formrow">
               <input type="radio" id="admin" value="1" name="OLEX"> Admin
               </div>
              
              <div class="formrow">
               <input type="radio" id="olex" value="2" checked="" name="OLEX"> OLEX
                </div>
             
              
         
                <div class="formrow">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
              <div class="formrow" style="display:block;width: 30%;position: absolute;">
                <a target="_blank" onclick="adminurl()"><button type="button" id="okhome" class="btn" value="GO" style="margin-top: -22px;width: 81px;height: 39px;">GO</button></a>
              </div>
            </div>
            </div>
              
            </div>
          </div>
         

           
        </div>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Header end -->


  </div>
<br/>
<!-- Modal -->


<% include ../pages/AudioSupport %>

<% include ../pages/workArea %>
  
<!-- Header end -->

