<!-- views/partials/header.ejs -->

<div class="header">
  <img src="images/header_name.gif" class="headerimage" alt="" style="height: 86px !important;width: 100%;max-width: 100%;"> 
  
    <div class="row" style="
        height: 49px;
    margin-top: 0px;
">
   

      <div class="col-sm-9 col-xs-7">
        <!-- Nav start -->
        <div class="navbar navbar-default" role="navigation" style="float: left;position: relative;left:5%;top:-25%">        
          <button class="navbar-toggler" id='navbar-toggle' type="button" data-toggle="collapse" data-target="#nav-main"
  aria-controls="nav-main" aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="navbar-collapse collapse" id="nav-main">
            <ul class="nav navbar-nav" style="width: 110%;">
          
              <li class="pad"><a href="/Home"><span lang="en">Home</span></a></li> 
             
              <li class="pad dropdown"><a><span lang="en">Help &amp; Support</span></a>
                <ul class="dropdown-menu">
                 <li><a href="/GrievenceForm"><span lang="en">Grievance and Resolution Desk</span></a></li>
           
                </ul>
              </li>
              <li style="display: none;"><a href="#">Learning</a>
                <ul class="dropdown-menu">
                  <li><a href="#">IT &amp; Telecom</a></li>
                  <li><a href="#">Banking &amp; Finance</a></li>
                  <li><a href="#"> Data Science &amp; Analytics</a></li>
                  <li><a href="#">Digital Marketing</a></li>
                  <li><a href="#">HR &amp; Admin</a></li>
                  <li><a href="#">Leadership &amp; Strategy</a></li>
                  <li><a href="#">Executive MBA &amp; GeneralManagement</a></li>
                </ul>
              </li>
              <li class="pad dropdown"><a href="#"><span lang="en">Browse All Jobs</span></a>
                <ul class="dropdown-menu">
                  <!-- <li><a href="#">Premium Jobs</a></li>
                  <li><a href="#">Premium Engineering Jobs</a></li> -->
                  <!-- <li><a href="#">Govt. Jobs</a></li> -->
                  <!-- <li><a href="#">International Jobs</a></li> -->
                  <li style="display: none;"><a href="/JobsbyCompany"><span lang="en">Job by Company</span></a></li>
                  <!-- <li><a href="/Jobbycategory" target="_blank"> Job by Category</a></li> -->
                  <li><a href="/jobsbydesignations"><span lang="en">Job by Designation</span></a></li>
                  <li><a href="/jobbylocation"><span lang="en"> Job by Location</span></a></li>
                  <!-- <li><a href="/Jobbyskills" target="_blank"> Job by Skill</a></li> -->


                </ul>
              </li>
              <li><a href="#"><span lang="en">More</span></a>
                <ul class="dropdown-menu">

                  <!-- <li><a href="/Profile_new">For Updation in Qualification</a></li> -->

                  <li><a href="#" data-toggle="modal" data-target="#myModalrenew" onclick="RegDetail()"><span lang="en">Renew Registration</span></a></li>
                  <li><a href="/transfer" style="display: none;"><span lang="en">Transfer Registration</span></a></li>
                  <li><a href="/PrintRegistrationcard"><span lang="en">Print Registration Card</span></a></li>
                  <li><a href="#" data-toggle="modal" data-target="#myModalPreference"><span lang="en">Set  Preference</span></a></li>
                  <li><a href="/JobPreference"><span lang="en">Job Preference</span></a></li>
                  <!-- <li><a href="/pdf/UserManual.pdf" target="_blank">User Manual For Jobseeker </a></li> -->
                  <li><a data-toggle="modal" data-target="#Notification" href="#"><i class="aria-hidden=&quot;true&quot;"></i><span lang="en">Notification Setting </span></a></li>



                </ul>
              </li>
           
              <li class="pad"><a data-toggle="modal" data-target="#modalChangepassword" href="#"><span lang="en"> Change Password</span></a></li>
              <li class="pad"><a href="/Login" onclick="SessionClear()">
                <span lang="en">  Logout</span></a></li>
                <li class="pad"><a id="lblh" href="#" onclick="myFunction(this)">Hindi</a></li>
             
              <li class="dropdown userbtn" style="display: none;"><a href="#"><img src="Pics/neeraj9888893.jpg" id="homeimage" alt="" class="userimg"></a>
                <ul class="dropdown-menu">
                  <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i><span lang="en"> Home</span></a></li>
                  <li><a href="/Profile_new"><i class="fa fa-pencil" aria-hidden="true"></i><span lang="en"> My Profile</span></a></li>
                  <!-- <li><a href="/Jobs"><i class="fa fa-briefcase" aria-hidden="true"></i> My Jobs</a></li> -->
                  <li role="separator" class="divider"></li>
                 
               
                </ul>
              </li>
            </ul>


            <!-- Nav collapes end -->
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Nav end -->
      </div>
      <div class="col-sm-3 col-xs-5">
          <div class="navbar navbar-default" role="navigation">
            <li class="nav navbar-nav pad header-contact" style="margin-top:10px;    color: black;  font-weight: 500;">
              <!--  <li><a href="/">Home</a></li> -->
              <span lang="en">TOLL FREE NO:</span> -1800-5727-751
              <!-- <span lang="en">E-mail:</span>helpdesk[dot]mprojgar[at]mp[dot]gov[dot]in -->
            </li>
            <li class="nav navbar-nav header-contact" style="margin-top:10px;font-size: smaller;color: black;font-weight: 500;position: relative;left: 11px;">
              <span lang="en">E-mail: </span>helpdesk.mprojgar@mp.gov.in
            </li>
          </div>
      <!-- row end -->
      </div>
    </div>
    <div class="modal fade" id="myModalrenew" style="overflow: auto !important;" role="dialog" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog" style="width:40%;" role="document">
  
      <!-- Modal content-->
      <div class="modal-content">
  
  
        <div class="userccount">
  
          <h5 style="font-size:16px;" lang="en">Renew Registration </h5>
          <div class="modal-body" id="modalbody">
            <div class="job-header">
              <div class="jobdetail">
                <h5 style="font-size:14px;    color: blue;" lang="en">Renewal Detail </h5>
                <div class="formpanel">
                  <div class='row'>
                    <div class='col-md-6 col-xs-6' lang="en">Registration Number</div>
                    <div class='col-md-6 col-xs-6'><span id="regid"></span>
                    </div>
                  </div>
              <br>
                  <div class='row'>
                    <div class='col-md-6 col-xs-6' lang="en">Next Renew Date</div>
                    <div class='col-md-6 col-xs-6'><span id="renewDate"></span>
                    </div>
                  </div>
                  <br>
                <div class="row">
                <h5 style="font-size:14px;    color: blue;" lang="en">To Renew Registration--->>Click on Renewal Registration </h5>
               </div>
                <div class="row">
                  <tr>
                    <td style="text-align: left">
                      <strong><span style="font-size: 15px;color: #cc0033;text-align: center;display: block;" lang="en">Please Enter The Text Below In Text Box</span></strong></td>
                  </tr>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="formrow" style="display: flex;align-self: center;justify-content: center;">
                      <div id="captcharenew" style='display: inline-block;'><canvas id="captcharenew" width="100" height="50"></canvas></div>
                      <a onclick="createCaptcharenew()" style="position: relative; top: 8px" ><i class="fa fa-refresh" style="font-size:24px;"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row" style="display:block">
                  <div class="col-12">
                    <input type="text" autocomplete="off" placeholder="Captcha" onfocusout="getvalidated('cpatchatextrenew','text','Captcha')" id="cpatchatextrenew" style='display:block;margin:auto'/>
                  </div>
                 </div>
                 <div class='row'>
                  <div class="col-12">
                    <span id="validcpatchatextrenew" style="display:block;font-size: 11px; color: #cc0033; margin:auto; position:relative;top:8px;width:50%;text-align: center;"></span>
                  </div>
                 </div>
                
                <div class="formrow" style="display:block; margin-top: 10px;">
  
                  <input type="button" onclick="renewRegistration()"  class="btn" value="Renew Registration">
  
                </div>
              </div>
  
              </div>
            </div>
  
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="closerenewModal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <% include ../pages/ChangePassword %>
  <% include ../pages/SetPreference %>
  <% include ../pages/NotificationSetting %>
    <!-- row end -->
  </div>
 

<script src="../customjs/NotificationSetting.js"></script>
<script src="../customjs/Home.js"></script>
<script src="../customjs/renewRegistration.js"></script>
<script>
  //NotificationStatus();
 // FillImage()
 
 UserBasicDetails();
 setTimeout(function(){ $('#renewDate').text(sessionStorage.renewal_date) }, 500);
 FillImage('parsedatasecuredFillImage');
  if (sessionStorage.getItem("CandidateId") == null) {
    window.location = "/Login";
  }
  function RegDetail() {
    $("#regid").html(sessionStorage.getItem("RegistrationId"))}
    createCaptcharenew();
    ProfileStatus('parsedataProfileStatus','progressbar');
    if(sessionStorage.getItem("TypeHome")=="Change"){
        sessionStorage.setItem("TypeHome","");
        toastr.success("Password Changed Successfully", "", "success");
        
      }
      if(sessionStorage.getItem("TypeHome")=="SetPreference"){
        sessionStorage.setItem("TypeHome","");
        toastr.success("Submit Successfully", "", "success");
        
      }
    
  
  sessionStorage.setItem("Page","");
  if(parseInt(sessionStorage.getItem("ProfileStatus"))<50){
      window.location="/Profilereg";
    }
  var code;
    function createCaptcharenew() {
      //clear the contents of captcha div first 
      document.getElementById('captcharenew').innerHTML = "";
      var charsArray =
        "0123456789";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        //below code will not allow Repetition of Characters
        var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captcharenew";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captcha.join(""), 0, 30);
      //storing captcha so that can validate you can save it somewhere else according to your specific requirements
      code = captcha.join("");
      document.getElementById("captcharenew").appendChild(canv); // adds the canvas to the body element
    }
    function validateCaptchaRenew() {
      event.preventDefault();

      if (document.getElementById("cpatchatextrenew").value == code) {
        
      } else {
        createCaptcharenew();
        jQuery("#cpatchatextrenew").val("");
        toastr.warning("Invalid Captcha", "", "info")
        jQuery('#cpatchatextrenew').css('border-color', 'red');
        return true;
        createCaptcharenew();
      }
    }
  
</script>
 

<!-- Header end -->