<div class="footerWrap">
  <div class="container">
    <div class="row">
      <!--About Us-->
      <h5 style="font-size: 20px;"><span lang="en"> SiteMap</span></h5>
      
      <!--About us End-->

      <!--Quick Links-->
      <div class="col-md-6 col-sm-6">
        <h5 span lang="en">Job Seekers Section</span></h5>
        <!--Quick Links menu Start-->
        <ul class="quicklinks">
          <li><a href="/Profile_new"><span lang="en">Resume</span></a></li>
          <!-- <li><a href="#.">Advanced Search</a></li>
          <li><a href="/JobAlerts">Create Job Alert</a></li> -->
          <li><a href="/JsFAQ"><span lang="en">FAQs</span></a></li>
          <li><a href="/JobFairList"><span lang="en">Job Fairs</span></a></li>
          
        </ul>
        <h5 style="margin-top: 8px;"><span lang="en">Jobs</span></h5>
        <ul class="quicklinks">
          <li><a href="/jobsbydesignations" ><span lang="en"> Browse Jobs by Designation</span></a></li>
          <li><a href="/jobbylocation" ><span lang="en"> Jobs by Location</span></a></li>
        </ul>
      </div>
      <!--Quick Links menu end-->

      <!--Jobs By Industry-->
     
      <div class="col-md-6 col-sm-6">
        <h5><span lang="en">Useful Web Links</span></h5>
        <ul class="quicklinks">
          <li><a href="https://www.mpinfo.org/MPinfoStatic/Hindi/eRojgar/e-rojgar.asp" target="_blank"><span lang="en">Rojgar Aur Nirman</span></a></li>
          <li><a href="http://employmentnews.gov.in/" target="_blank"><span lang="en">Employment News</span></a></li>
          <li><a href="http://www.mppsc.nic.in/" target="_blank"><span lang="en">MP Public Service Commission</span></a></li>
          <li><a href="http://peb.mp.gov.in/" target="_blank"><span lang="en">MP Professional Examination Board</span></a></li>
          <li><a href="https://www.upsc.gov.in/" target="_blank"><span lang="en">Union Public Service Commission</span></a></li>
          <li><a href="http://www.joinindianarmy.nic.in/Authentication.aspx" target="_blank"><span lang="en">Indian Army</span></a>
          </li>
          
          
         
          
           <!-- <li><a href="/FeedBackForm"><span lang="en">Feedback</a></li>  -->
          <li style="display: none;"><a href="http://www.mpindustry.gov.in/" target="_blank"><span lang="en">Industry Wing</span></a></li>
          <li style="display: none;"><a href="http://employmentnews.gov.in/" target="_blank"><span lang="en">Employment News.</span></a></li>
         
        <div class="clear"></div>


      </div>

      <!--Latest Articles-->


    </div>
  </div>

</div>
<!--Footer end-->


<div class="copyright">
    <div class="container">
      <div class="row">
        <span lang="en" style="font-size: 15px;">All Rights Reserved to DOE MP, Operated by <a>Yashaswi Academy For Talent Management</a></span><br>
        </a>
        <span lang="en" style="font-size: 15px;">© 2020 Directorate of Employment, Madhya Pradesh</span>
        
        </div>
    </div>
  </div>

  <script type="text/javascript">

    $(document).ready(function () {
      FillImage('parsedatasecuredFillImage');
     
    });
    
 

  </script>