<!-- views/partials/header.ejs -->
<br/>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
          <img src="images/05032016070225indus_logo.png" alt="" style="width: 65px;"> 
          <img  src="/images/favicon.ico"  alt=""  style="width: 65px;"> 
          <img  src="images/YATMLogo.png"  alt=""  style="width: 112px"> 
        
      </div>

      <div class="col-lg-9 col-md-12 col-xs-12" style="margin-top: -1%;">
        <!-- Nav start -->
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-collapse collapse" id="nav-main">
            <ul class="nav navbar-nav" style="margin-top:15px;width: 110%;">
              <li class="nav navbar-nav pad" style="margin-top:20px;    color: black;  font-weight: 500;">
                <!--  <li><a href="/">Home</a></li> -->
                <span lang='en'>TOLL FREE NO:</span> -1800-5727-751
                <!-- <span lang="en">E-mail:</span>helpdesk[dot]mprojgar[at]mp[dot]gov[dot]in -->
              </li>
              <li class="nav navbar-nav pad" style="margin-top:20px; font-size: smaller;   color: black;  font-weight: 500;">
              
                <span lang='en'>E-mail:</span> helpdesk.mprojgar@mp.gov.in
              </li>
              
            </ul> 
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Nav end -->
      </div>
    </div>
    <!-- row end -->
  </div>
  <!-- Header container end -->
</div>
<br/>
<!-- Modal -->
  
<!-- Header end -->

