<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="pageTitle" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Privacy Policy</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">Privacy Policy</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="userccount" >
            <div class="socialLogin">
              <h5 style="font-size:16px;"> Privacy Policy</h5>


              <p style="text-align:left;">
                  We respect the privacy of those who visit our web site. In accordance with this, we have created this policy in order to demonstrate our privacy commitment to our users: This Privacy Policy covers our treatment of personally identifiable information that we collect when you are on our site, and when you use our services. This policy also covers our treatment of any personally identifiable information that third parties share with us. This policy does not apply to the practices of organizations that we do not own or control, or to people that we do not employ or manage. Occasional changes may be made to these policies as content and new services are added to our site. Visitors are encouraged to check this document periodically to stay informed of current privacy and security guidelines. Acceptance of terms by using this OLEX Web site, visitors signify their acceptance of our privacy policy. If a visitor does not agree to this policy, we request that the visitor should not use our site. Continued use of site following the posting of changes to these terms will indicate acceptance of those changes.
              </br>
            </br>
                
                  
                  

              </p>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
   
  <script type="text/javascript">

    $(document).ready(function () {
      

    });



  </script>
</body>

</html>