
<script src="/js/jquery-2.1.4.min.js"></script> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<!-- Owl carousel > 
<script src="/js/owl.carousel.js"></script--> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/bootstrap-datepicker.js"></script> 

<!-- Custom js --> 

<script src="/js/js.cookie.js"></script>
<script src="/js/jquery-lang.js"></script>
<script src="/js/script.js"></script>
<!-- <script src="/js/blockui.js" type="text/javascript"></script> -->
  
<script src="/js/global.js"></script>
<script src="/js/TypeaHead.js"></script>
<script src="/js/select2.min.js"></script>


<script src="/js/toastr.min.js"></script>
<script src="/js/aadhaarvalidation.js"></script>
<script src="/customjs/common.js"></script>
    

<script src="/js/jquery.magicsearch.js"></script>
<script src="/js/croppie.js"></script>
<script src="/js/smtp.js"></script>
<script src="../js/md5.js" type="text/javascript"></script>
<script src="/js/printThis.js"></script>
<script src="/js/selectize.min.js"></script>
<script src="/js/popper.min.js"></script>
<script type='text/javascript' src="/js/jspdf.debug.js"></script>
<script type='text/javascript' src="/js/pagination.js"></script>
<script type='text/javascript' src="/js/jquery.waterwheelCarousel.js"></script>

<script type="text/javascript">
    var lang = new Lang();
    lang.dynamic('th', '/js/langpack/th.json');
    lang.init({
      defaultLang: 'en'
    });
   
  </script>
  
  <script>
    $(function(){
    $('.rojdatepicker').datepicker({ 
      format: "dd/mm/yyyy",
      clearBtn: true,
      daysOfWeekHighlighted: "0",
      autoclose: true,
      todayHighlight: true,
      container: '#myModal1'
    });
    })
    
    </script>

<script>
  //  $( ".btn.btn-access" ).css('pointer-events','none')
  // $( ".btn.btn-access" ).attr( "disabled", true );
  $(document).ready(function() {
    $(document).off('ajaxStart').on('ajaxStart', function(){
                $.blockUI({ message: '<img src="images/loading.gif" style="width:50px;height:50px" />' });
            } );
            $(document).off('ajaxStop').on('ajaxStop', function(){
                $.unblockUI();
            });
    setTimeout(function(){ if (Cookies.get("langCookie") == "th") {
      $("#lblh").text("English");
    }
    else {
      $("#lblh").text("Hindi");
    }
  },500);
  
    $('#nav-main ul > li').on('mouseenter', function() {
      $(this).siblings().removeClass('active');
      $(this).addClass('active');
    });
    $('#nav-main ul > li').on('click', function() {
      $(this).siblings().removeClass('active');
      $(this).addClass('active');
      if(!$(this).hasClass('dropdown')) {
        $('#nav-main').removeClass('in');
      }
    });
    $('#nav-main ul > li').on('mouseleave', function() {
      $(this).removeClass('active');
    });

    $(document).click(function(event) {
      if(!event) {
        event = window.event; 
      }
      var source = event.target;
      if($(source).closest('#nav-main').length == 0) {
        $('#nav-main').removeClass('in');
      }
    });

  });
   function fetchNotification() {
            jQuery.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: serverpath + "jobseekerreg/'"+sessionStorage.getItem("CandidateId")+"'",
                cache: false,
                dataType: "json",
                success: function (data) {
                    if ( data.jobalert_email  == "1") {
                                      $("#emailswitch").prop("checked", true);
                                   } else {
                                    $("#emailswitch").prop("checked", false);
                                        }
                                
                 
                },
                error: function (xhr) {
                    toastr.success(xhr.d, "", "error")
                    return true;
                }
            });
        }
</script>

          
<script>
  $.getJSON("https://api.ipify.org?format=json", 
                    function(data) { 

  sessionStorage.ipAddress= data.ip; 
  }) 
</script>
 

      

