
<div class="container">
    <div class="row" >
                <ul class="nav navbar-nav" style="margin-top:15px; height:0px;width: 100%;">
                    <li style="padding: 0 0 !important;" class="col-md-3 col-xs-12">
                        <div class="boxes">
                            <div class="pricing-table1" style="background: white;   font-size: 14px;">
                                <a href="#" target="_blank" class="applybtn"
                                    style="color:#FC9928;"> <span  lang="en"> Job Seeker</span>
                                  </a>
                                   <ul class="dropdown-menu" style="    margin: 0px;">
                                    <li><a href="/JobSeekerRegistration"><span  lang="en">Register Your Self</span></a></li>
                                    <li><a href="/KnowRegistration"><span  lang="en">Know Your Registration</span></a></li>
                                    <!-- <li><a href="/Login"><span  lang="en">For Updation in Qualification</span></a></li> -->
                                    <li><a href="/forgot"><span  lang="en">Know Your User Id & Password</span></a></li>
                                    <!-- <li><a href="/Login"><span  lang="en">Renew Your Registration Number</span></a></li>
                                    <li><a href="/Login"><span  lang="en">Transfer Registration</span></a></li> -->
                                    <li><a href="/WalkIn"><span  lang="en">Walk - in</span></a></li>
                                    <li><a href="" target="_blank"><span  lang="en">FAQs </span></a></li>
                                 
                                </ul>
                            </div>
                        </div>
                    
                    </li>
                    <li style="padding: 0 0 !important;" class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxes">
                            <div class="pricing-table1" style="background: white;font-size: 14px;">
                                <a href="#" onclick="employerurl()" class="applybtn" target="_blank"
                                    style="color:#FC9928;"><span  lang="en">Employer</span>  </a>
                                    <ul class="dropdown-menu" style="    margin: 0px;">
                                     <li><a target="_blank"  href="#" onclick="employerurl()"><span  lang="en">Login </span></a></li>
                                    <li><a target="_blank" href="#"  onclick="employerurl()"><span  lang="en">Employer Register</span> </a></li>
                                    <!-- <li><a  target="_blank"  href="#" onclick="employerurl()"><span  lang="en">Know Your Registration</span></a></li> -->
                                    <!-- <li><a target="_blank"  href="#" onclick="employerurl()"><span  lang="en">Already Registered</span></a></li> -->
                                    <li><a target="_blank"  href="#" onclick="employerurl()"><span  lang="en">ER-I</span></a></li>
                                     <!-- <li><a target="_blank"  href="#" onclick="employerurl()"><span  lang="en">Information For Job Fair</span></a></li>
                                    <li><a target="_blank"  href="#" onclick="employerurl()"><span  lang="en">Job Seeker List</span></a></li> -->
                                    <li><a target="_blank"  href="#"><span  lang="en">FAQs</span></a></li>
                                   
                                </ul>
                            </div>

                        </div>
                    </li>
                    <li style="padding: 0 0 !important;" class="col-md-3 col-sm-6 col-xs-12">
                        <div class="boxes">
                            <div class="pricing-table1" style="background: white;   font-size: 14px;">
                                <a href="http://www.mpskills.gov.in/" target="_blank" class="applybtn"
                                    style="color:#FC9928;" > <span lang="en">Skill Development Centers</span> 
                                   </a>
                            </div>
                        </div>
                    </li>
                   


                    <li style="padding: 0 0 !important;" class="col-md-3">
                        <div class="boxes">
                            <div class="pricing-table1" style="background: white; font-size: 14px;">
                                <a href='#' data-toggle="modal" data-target="#Modalworkarea" class="applybtn" target="_blank" style="color:#FC9928;"> <span lang="en">Dashboard & Reports</span> </a>
                            </div>
                       
                        </div>
                    </li>
                   
                </ul>
            </div>
    <div class="row" style="margin-top: 65px;">

        <div class="col-md-3 col-sm-6" >

            <div class="sidebar" style="border: aliceblue;height: 205px !important;">
                <div class="formpanel" style="margin-top: 0px !important">
                    <p style="color: black;     text-align: center;font-size: large;    font-weight: 600;"> <span lang="en"> Job Seeker</span>
                    </p>
                    <p style="color: black;    text-align: center;font-size: large;    font-weight: 600;"> <span lang="en"> New to this Portal </span></p>
                    <a class="btn" href="/JobSeekerRegistration" value="RegisterNow"> <span lang="en">Register Now </span></a>
                </br>
                </br>
                <p style="color: peru;     text-align: center; font-size: large;  font-weight: 600;" lang="en">-----Or-----
                </p>
                <p style="text-align: center;"><a   href="#" data-toggle="modal" data-target="#myModallogin" style=" font-size: large; color: cadetblue;"> <span lang="en">Login Here</span></a></p>
          
                </div>
            </div>

        </div>
        <div class="col-md-6 col-sm-6">
            <div class="sidebar">
            <div style="text-align: center;border-bottom: 1px solid #eee;">
                <a href="/Login" style="    margin-top: 0px;"><h3 ><span style="color:#FC9928;font-size: 24px;"  lang="en"> Job Fairs</span></h3></a>
            </div>
            <marquee direction="up" id="jobfairs" scrollamount="2" style="height: 120px"
                onmouseover="this.stop();" onmouseout="this.start();"></marquee>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">

            <div class="sidebar" style="border: aliceblue;height: 100%;">
                <div class="formpanel" style="margin-top: 0px !important">
                    <p style="color: black;     text-align: center;font-size: large;    font-weight: 600;"> <span lang="en">Employer</span>
                    </p>
                    <p style="color: black;    text-align: center;font-size: large;    font-weight: 600;" > <span lang="en"> New to this Portal</span></p>
                    <a class="btn" target="_blank" href="#" onclick="employerurlreg()" value="RegisterNow" > <span lang="en">Register Now </span></a>
                    </br>
                    </br>
                    <p style="color: peru;     text-align: center; font-size: large;  font-weight: 600;" lang="en">-----Or-----
                    </p>
                    <p style="text-align: center;"><a  target="_blank"  href="#" onclick="employerurl()" style=" font-size: large; color: cadetblue;"> <span lang="en">Login Here</span></a></p>
                </div>
            </div>
        </div>
     

    </div>

    <div class="searchbar row" style="margin-bottom: 30px;">

        <div class="col-md-3">
          <!--  <input type="text" id="SkillsORjobtitle" class="form-control skillsearch" style="padding-left:3px;width: 496px;max-height: 50px" placeholder="&nbsp;&nbsp;&nbsp; Enter Skills or job title" />-->
            <input type="text" id="Sector" class="form-control" style="width: 100%;max-height: 50px" placeholder="&nbsp;&nbsp;&nbsp; Enter Sector" />
        </div>
        <div class="col-md-3">
            <input type="text" id="Qualification" class="form-control" style="width: 100%;max-height: 50px" placeholder="&nbsp;&nbsp;&nbsp; Enter Qualification" />
        </div>
        <div class="col-md-3">
            <input type="text" id="Location" class="form-control" style="width: 100%;max-height: 50px" placeholder="&nbsp;&nbsp;&nbsp; Enter Location" />
        </div>
        <div class="col-md-3" style="text-align: right;">
       <input type="submit" id="searchJob" style="    width: 205px;" onclick="checksearchJob()" class="btn" value="Search Job">
        </div>
    </div>
    <!-- button start -->
    <!-- button end -->

</div>