<!DOCTYPE html>
<html lang="en">
<head>
<% include ../../partials/head %>
</head>
<body>
    
    <header>
      <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
        
        <% include ../../partials/Homeheader %>
      <%}else{%>
      
        <% include ../../partials/header %>
      <%}%>
        </header>
   
   
  
    <!-- Header end --> 
    
    <!-- Page Title start -->
    <div class="pageTitle">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h1 class="page-heading" lang="en">Job Detail</h1>
            </div>
            <div class="col-md-6 col-sm-6">
              <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
        
                <div class="breadCrumb"><a href="/Home"><span lang="en" style="color: white;">Home</span></a> / <span lang="en">Job Detail</span></div>
          
              <%}else{%>
              
                <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;">Home</span></a> / <span lang="en">Job Detail</span></div>
          
              <%}%>
            </div>
          </div>
        </div>
      </div>
    <!-- Page Title End -->
    
    <div class="listpgWraper">
      <div class="container"> 
        
        <!-- Job Header start -->
        <div class="job-header"id="jobdescription">
        
        </div>
        
        <!-- Job Detail start -->
        <div class="row">
          <div class="col-md-8"> 
            <!-- Job Description start -->
            <div class="job-header" id="JobDescription">
              <!-- <div class="contentbox">
                <h3>Job Description</h3>
                <p> </p>
                
              </div> -->
            </div>
          
            <!-- Job Description end --> 
            
            <!-- related jobs start -->
            <div class="relatedJobs" >
              <h3>Related Jobs</h3>
               <ul class="searchList" id="relatedJobss">
            
            </div>
          </div>
  
          
          <div class="col-md-4"> 
            <!-- Job Detail start -->
            <div class="job-header" id="jobdetail">
            
            </div>
            
         
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <footer>
      <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
      
        <% include ../../partials/Homefooter %>
      <%}else{%>
      
        <% include ../../partials/footer %>
      <%}%>
        </footer>
        <div class="modal fade" id="myModal1" style="overflow: auto !important;" role="dialog" tabindex="-1" aria-hidden="true"> 
        <div class="modal-dialog" role="document">
        
      
        
        
        </div>
        </div>
   
    <script type="text/javascript" src="/customjs/JobSearch/JobDescription.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
      FillJobList('parsedatajobs');
       FetchJobDescription();
      
    });

    </script>
    </body>
    </html>    