<!DOCTYPE html>
<html lang="en">
<head>
<% include ../../partials/head %>
</head>
<body style="overflow-x: hidden;" >
  
  <header>
    <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
      
      <% include ../../partials/Homeheader %>
    <%}else{%>
    
      <% include ../../partials/header %>
    <%}%>
      </header>

<div class="pageTitle">

      <div class="container" >
            <!-- <div class="col-md-10 col-sm-12 col-xs-12"   style="     width: 144%;       margin-top: -8%;margin-left: -17%;"> 
                    
                    <div class=" navbar-default" role="navigation">
                      <div class="navbar-collapse collapse" id="nav-main">
        <ul class="nav navbar-nav" style="margin-top:15px;margin-left: -50%">
           
            <li style="    padding-right: 61px"><a style="color: white;" href="#">All Jobs</a></li>
             <li style="    padding-right: 61px"><a  style="color: white;" href="#">Govt.Jobs</a></li>
             <li style="  padding-right: 61px"><a  style="color: white;" href="#">Walk-in-Jobs</a></li>
             <li style="  padding-right: 61px"><a  style="color: white;" href="#">Latest Jobs</a></li>
             <li style="  padding-right: 61px"><a  style="color: white;" href="#">Fresher Jobs</a></li>
        </ul>
                      </div>
                    </div>
            </div> -->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                  <h1 class="page-heading" lang="en">Job Listing</h1>
                </div>
                <div class="col-md-6 col-sm-6">
 <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
      
         <div class="breadCrumb"><a href="/Home"><span lang="en" style="color: white;">Home</span></a>/ <span lang="en">Job Listing</span></div>
               
    <%}else{%>
    
         <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;">Home</span></a>/ <span lang="en">Job Listing</span></div>
               
    <%}%>
                </div>
              </div>

        
          <!-- button start -->
          <!-- button end -->

      </div>
  </div>
    
    </div>
   
<div class="listpgWraper">
        
            <div class="container"> 
    
                <!-- Page Title start -->
                <!-- <div class="pageSearch">
                  <div class="row">
                    <div class="col-md-3"><a href="#." class="btn"><i class="fa fa-file-text" aria-hidden="true"></i> Upload Your Resume</a></div>
                    <div class="col-md-9">
                      <div class="searchform">
                        <div class="row">
                          <div class="col-md-3 col-sm-3">
                              <input type="text" class="form-control skillsearch" placeholder="Enter Skills or job title" />
                            </div>
                          <div class="col-md-4 col-sm-4">
                            <select class="form-control" id="ddlcityjob">
                              
                            </select>
                          </div>
                          <div class="col-md-3 col-sm-3">
                            <select class="form-control">
                              <option>Min. Salary</option>
                            </select>
                          </div>
                          <div class="col-md-1 col-sm-2" >
                            <button class="btn" style="margin-top: 0%;"><i class="fa fa-search" aria-hidden="true"></i></button>
                          </div>
                        
                      </div>
                    </div>
                    </div>
                  </div>
                </div> -->
        <div class="row">
            
                <div class="col-md-3 col-sm-6"> 
                        <!-- Side Bar start -->
                        <div class="sidebar " >
                           
                            <div class="widget" id='CompanyWidget'>
                                  <h4 style="font-size: 120%;" class="widget-title" lang="en">Jobs by Company</h4>
                                  <ul class="optionlist" id="Companyfilter">
                                 
                                 </ul>
                                <a href="#" data-toggle="modal" data-target="#jobmodal" onclick="fillmodal('company')" id="companyview">View More</a> </div>
                              
                                <div class="widget" id='DesignationWidget'>
                                   <h4 style="font-size: 120%;" class="widget-title" lang="en">Jobs by Designation</h4>
                                   <ul class="optionlist" id="designationlist">
                                   
                                   </ul>
                                   <a href="#" data-toggle="modal" data-target="#jobmodal" onclick="fillmodal('designation')" id="designationview">View More</a> </div>

                                   <div class="widget" id='CityWidget'>
                                    <h4 style="font-size: 120%;" class="widget-title" lang="en">Jobs by City</h4>
                                    <ul class="optionlist" id="cityfilter">
                                    
                                    </ul>
                                    <a href="#" data-toggle="modal" data-target="#jobmodal" onclick="fillmodal('city')" id="cityview">View More</a> </div>
                                    <div class="searchnt">
                                      <button class="btn" onclick="filteroption()"><i class="fa fa-search" aria-hidden="true"></i> Filter Jobs</button>
                                    </div>
                              
                </div>
              </div>
              <div class="col-md-3 col-sm-6 pull-right" > 
               
                  <div class="sidebar" style="border: aliceblue;">
                  <div class="formpanel">
                    <h7 style="    text-align: center;
                    display: grid;" lang="en">New to Mp Rojgar?</h7>
                   <a  class="btn" href="/JobSeekerRegistration" value="RegisterNow"  lang="en">Register Now</a>
                  </br>
                </br>   
                   <h7 style="color: black; margin-left: 35%;">-----Or-----</h7>
                   <a href="/Login"   value="RegisterNow" style="     margin-left: 22%;    font-size: large;   color: #FC9928;"  lang="en">Upload Resume</a>
                   <h7 style="color: whitesmoke;  margin-left: 21%;font-size: 75%">Max 1 MB, doc, docx, rtf, pdf</h7>
                  </div>
                
                </div>
                 
               
                </div>
              <div class="col-md-6 col-sm-12" > 
                  <div class="relatedJobs" >
                      
                      <ul class="searchList" id="joblists">
                       </ul>
                  </div>
            </div>
        
        </div>
        </div>
 </div>
 <% include ../JobSearch/jobmodal %>
<footer>
   
    <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
      
      <% include ../../partials/Homefooter %>
    <%}else{%>
    
      <% include ../../partials/footer %>
    <%}%>
             
 <!-- <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
      
         <div class="breadCrumb"><a href="/Home"><span lang="en" style="color: white;">Home</span></a>/ <span lang="en">Job Listing</span></div>
               
    <%}else{%>
    
         <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;">Home</span></a>/ <span lang="en">Job Listing</span></div>
               
    <%}%> -->
               

    </footer>
    

    <script type="text/javascript" src="/customjs/JobSearch/JobListing.js"></script>
   
   
    <script type="text/javascript">
  
      $(document).ready(function () {
        $(document).ajaxStart($.blockUI({ message: '<h3>Please Wait....</h3>' })).ajaxStop($.unblockUI);
        FillJobList('parsedatajobs');
    

      });
 

    

  </script>

</body>

</html>