<div class="modal fade" id="jobmodal" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">

<div class="userccount" style="padding: 5px 20px !important">
    <div class="formpanel">
      <button type="button" class="close" data-dismiss="modal" id="Close" style="margin-top: -10px;font-size: xx-large;">×</button>
      <div class="col-mod-12" id="headername" style="font-size: large;"></div>

      <div class="row">
          <div class="col-md-12">
       </div>
            <br>
                  <table class="table">

                    <div class="clearfix"></div>
                    <tbody class="optionlist" id="filterbody">
                    </tbody>
                </table>
          </div>
       </div>
       <br />

    </div>
 </div>
</div>
</div>

</div>
</div>
