

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body>

  <header>
    <% include ../../partials/Homeheader %>
  </header>
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading"> Search Jobs</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Home">Home</a>/<span>Search Jobs</span> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="listpgWraper">
      <div class="container">
        <div class="row">
          <div class="col-md-9" style="margin-left: 12%;">
            <div class="userccount">
              <div class="formpanel">
                <!-- Vacancy Information -->  
                     
                  <div class="row">
                   
                     <!-- <div class="col-md-6 forvalidation">
        
                      <div class="formrow">
                         <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Skill</span>
                         </label>
                         <div class="formrow">
                             <select class="form-control" id="Skill"  name="Ownership" style="height:46px;">
                         </select>
                      
                          </div>
                      </div>
                   </div> -->

                   <div class="col-md-6 forvalidation">
        
                    <div class="formrow">
                       <label for="example-email-input" class="col-2 col-form-label">
                          <span lang="en">Type of Job</span>
                       </label>
                       <div class="formrow">
                           <select class="form-control" id="Vacancy"  name="Ownership" style="height:46px;">
                       </select>
                    
                        </div>
                    </div>
                 </div>
               
                    <div class="col-md-6 forvalidation">
  
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en"> Designation	</span>
                           </label>
                           <div class="formrow">
                               <select class="form-control" id="Designation" name="Sector"  style="height:46px;">
                              </select>
                        
                            </div>
                        </div>
                     </div>
                 
                    </div>
                      
                    <div class="row">
                      <div class="col-md-6 forvalidation">
    
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">Qualification</span>
                             </label>
                             <div class="formrow">
                                 <select class="form-control" id="Qualification"  name="Ownership" style="height:46px;">
                             </select>
                          
                              </div>
                          </div>
                       </div>
                     
                      <!-- <div class="col-md-6 forvalidation">
    
                          <div class="formrow">
                             <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en"> Subject Group	</span>
                             </label>
                             <div class="formrow">
                                 <select class="form-control" id="SubjectGroup" name="Sector"  style="height:46px;">
                                </select>
                          
                              </div>
                          </div>
                       </div> -->
                       <div class="col-md-6 forvalidation">
      
                        <div class="formrow">
                           <label for="example-email-input" class="col-2 col-form-label">
                              <span lang="en">Location</span>
                           </label>
                           <div class="formrow">
                               <select class="form-control" id="District"  name="Ownership" style="height:46px;">
                           </select>
                        
                            </div>
                        </div>
                     </div>
                      </div>
                    
                        <div class="row">
                            <div class="col-md-4">
                              </div>
                          <div class="col-md-4">
                            <button type="submit" onclick="redirect()" class="btn" id="submit">Search Jobs</button>
                          </div>
                        
                        </div>
              </div>
            </div>
        
          </div>
          <!-- <div class="paypackages">
            <div class="four-plan buypackages">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul class="boxes STARTER">
                       <a href="http://www.finobank.com/personal/customer-care/faqs/merchant-new/" target="blank"><li class="plan-pages"><img src="images/fino.png" alt="Company Name" /></li></a>
                       <a href="https://www.inspirestore.in/" target="blank"></a><li class="plan-pages"><img src="images/inpire.png" alt="Company Name" /></li></a>
                       <a href="http://www.magnumgroup.co.in/magnum-profile.php" target="blank"><li class="plan-pages"><img src="images/magnum.png" alt="Company Name" /></li></a>
                       <a href="https://www.topperlearning.com/" target="blank"><li class="plan-pages"><img src="images/topper.png" alt="Company Name" /></li></a>
                       <a href="https://www.vivo.com/in/about-vivo/culture" target="blank"><li class="plan-pages"><img src="images/vivo.png" alt="Company Name" /></li></a>
                        <a href="https://www.appointy.com/" target="blank"><li class="plan-pages"><img src="images/appointy.png" alt="Company Name" /></li></a>
                    </ul>
  
                  </div>
             
                </div>
  
              </div>
  
            </div>
          </div> -->
        </div>
      </div>
    </div>

                    </div>
                    
                </div>
               
        </div>
      </div>
    </div>
  </div>

  <footer>
    <% include ../../partials/Homefooter %>
</footer>
<% include ../../partials/script %>
<script type="text/javascript" src="/customjs/JobSearch/SearchJobs.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  FillDesignation();
  FillVacancy();
  FillDistrict('parsedatasecuredFillDistrict','District');
  FillEducation('parsedatasecuredFillEducation','Qualification');
  FillSkillSet('parsedatasecuredFillSkillSet','Skill');
  //jQuery("#SubjectGroup").append(jQuery("<option ></option>").val("0").html("Select Subject Group"));


});
</script>
</body>
</html>