<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <style>
        @media only screen and (max-width: 767px) {
            .sidebar.registerNow {
                margin-left: 17%;
            }
        }

        .cardsimage {
            margin-top: -11px;
        }

        .hero-wrapper {
            height: 100%;
            width: 100%;
            position: relative;
        }

        .hero-wrapper .carousel-wrapper,
        .hero-carousel {
            height: 100%;
            width: 100%;
            position: absolute;
        }



        .hero-carousel .carousel-inner,
        .hero-carousel .item {
            height: 100%;
            width: 100%;
        }

        .hero-carousel img {
            left: 0;
            bottom: 0;

            min-height: 100%;
            max-width: none;
            width: auto;
            height: auto;
        }

        .hero-carousel i {
            position: absolute;
            top: 50%;
        }

        .carousel-fade .carousel-inner .item {
            opacity: 0;
            transition: opacity .3s ease;
        }

        .carousel-fade .carousel-inner .active {
            opacity: 1;
        }

        .carousel-fade .carousel-inner .active.left,
        .carousel-fade .carousel-inner .active.right {
            left: 0;
            opacity: 0;
            z-index: 1;
        }

        .carousel-fade .carousel-inner .next.left,
        .carousel-fade .carousel-inner .prev.right {
            opacity: 1;
        }

        .carousel-fade .carousel-control {
            z-index: 2;
        }
        .registration {
    height: 97px;
}
.browsejobby{
    height: 245px;
}
        @media screen and (max-width: 767px){
.registration {
    margin-top: 30px;
    height: 186px;
}
.browsejobby{
    height: 424px;
}
        }

    </style>
</head>

<body>

    <header>
        <% include partials/header %>
    </header>

    <div class="searchwrap" style="padding: 0 !important;">
        <div class="container" style="width: 100%;">
            <div class="row" style="margin-top: 17px;">
                <div class="col-md-8 col-sm-6" style="left:6px">
                    <div class="sidebar" style="height: 330px;">
                        <div class="hero-wrapper">
                            <div class="carousel-wrapper" id="imagecarousel" style="height: 105% !important;">
                                <div id="hero-carousel" class="carousel hero-carousel slide carousel-fade">
                                    <ol class="carousel-indicators">
                                        <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#hero-carousel" data-slide-to="1" class=""></li>
                                        <li data-target="#hero-carousel" data-slide-to="2" class=""></li>
                                        <li data-target="#hero-carousel" data-slide-to="3" class=""></li>
                                        <li data-target="#hero-carousel" data-slide-to="4" class=""></li>
                                        <li data-target="#hero-carousel" data-slide-to="5" class=""></li>
                                        <li data-target="#hero-carousel" data-slide-to="6" class=""></li>
                                        <li data-target="#hero-carousel" data-slide-to="7" class=""></li>

                                    </ol>
                                    <div class="carousel-inner" style="margin-top: -8px;
                                    width: 102%;
                                    margin-left: -1%;   ">
                                        <div class="item active">
                                            <img style="max-width: 100%;width: 1142px;height: 283px;"
                                                src="../images/00.jpg">

                                        </div>
                                        <!-- <div class="item">
                                            <img style="max-width: 100%;width: 1142px;height: 283px;"
                                                src="../images/05.jpg">

                                        </div> -->

                                        <div class="item">
                                            <img style="max-width: 100%;width: 1142px;height: 283px;"
                                                src="../images/jobfairimg1.jpg">

                                        </div>
                                       
                                        <div class="item">
                                            <img style="max-width: 100%;width: 1142px;height: 283px;"
                                                src="../images/jobfairimg3.jpg">

                                        </div>
                                        <div class="item">
                                            <img style="max-width: 100%;width: 1142px;height: 283px;"
                                                src="../images/jobfairimg4.jpg">

                                        </div>
                                        <div class="item">
                                            <img style="max-width: 100%;width: 1142px;height: 283px;"
                                                src="../images/jobfairimg5.jpg">

                                        </div>
                                        <div class="item">
                                            <img style="max-width: 100%;width: 1142px;height: 283px;"
                                                src="../images/jobfairimg6.jpg">

                                        </div>
                                        <div class="item">
                                            <img style="max-width: 100%;width: 1142px;height: 283px;"
                                                src="../images/jobfairimg7.jpg">

                                        </div>
                                        <div class="item">
                                            <img style="max-width: 100%;width: 1142px;height: 283px;"
                                                src="../images/jobfairimg8.jpg">

                                        </div>
                                        <a class="left carousel-control" href="#hero-carousel" data-slide="prev">
                                            <i class="fa fa-chevron-left left"></i>
                                        </a>
                                        <a class="right carousel-control" href="#hero-carousel" data-slide="next">
                                            <i class="fa fa-chevron-right right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="searchbar row" style="
                    margin-left: 0%;
                    padding: 0;
                    margin-top: 13px;
                ">

                        <div class="col-md-3">
                            <input type="text" id="Sector" class="form-control" style="width: 100%;max-height: 50px; " placeholder="&nbsp;&nbsp;&nbsp; Enter Sector">
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="Qualification" class="form-control" style="
                                width: 100%;
                                max-height: 50px;
                                /* margin-left: 4%; */
                                " placeholder="&nbsp;&nbsp;&nbsp; Enter Qualification">
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="Location" class="form-control" style="
                            width: 100%;
                            max-height: 50px;
                            /* margin-left: 8%; */
                            " placeholder="&nbsp;&nbsp;&nbsp; Enter Location">
                        </div>
                        <div class="col-md-3" style="text-align: right;/* width: 24%; *//* margin-left:-5px; */">
                            <input type="submit" id="searchJob" style="background: #87551d;/* margin-left:16%; */width: 99%;" onclick="checksearchJob()" class="btn" value="Search Job">
                        </div>
                        <!-- <div class="col-md-3" style="text-align: right;width: 30%;">
                            <input type="submit"  style=" background: #1d10e2;   width: 205px;"
                            data-toggle="modal" data-target="#myModalrenewforolduser" class="btn" value="Renew Registration">
                        </div> 
                        <div class="col-md-3" style="text-align: right;width: 35%;"> 
                               <input type="submit" style=" background: #1d10e2;   width: 247px;"
                          onclick="window.location='/KnowRegistration'"  class="btn" value="Know Your Registration">
                        </div>
                        <div class="col-md-3" style="text-align: right;width: 30%;">
                            <input type="submit" style=" background: #1d10e2;   width: 205px;"
                            data-toggle="modal" data-target="#myModalprintforolduser"  class="btn" value="Print Registration">
                        </div>  -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" style="left:-5px">

                    <!-- <div class="sidebar" style="height: 170px;">
                        <div style="text-align: center;border-bottom: 1px solid #eee;">
                            <a href="/Login" style="   width: 100% ;margin-top: 0px;">
                              <input type="submit" style=" background: #87551d;
                                    width: 100%;
                                    color: white;
                                    font-weight: 900;
                                    font-size: 15px;"
                                   class="btn" value="JOB FAIRS">
                              
                            </a>
                        </div> 
                        <marquee direction="up" id="jobfairs" scrollamount="2" style="height: 101px;"
                            onmouseover="this.stop();" onmouseout="this.start();"></marquee>
                    </div> -->
                    <style>
                        .blinking {
                            animation: blinkingText 0.8s infinite;
                            background-color: yellow;
                            border-radius: 25%;
                            border-color: black;
                            border-width: medium;
                            padding: 2px;
                        }

                        @keyframes blinkingText {
                            0% {
                                color: red;
                            }

                            49% {
                                color: red;
                            }

                            50% {
                                color: red;
                            }

                            99% {
                                color: blue;
                            }

                            100% {
                                color: blue;
                            }

                        }
                    </style>
                    <div class="sidebar" style="height: 285px;">
                        <div>
                            <input type="submit" style=" background: #87551d;
                                    width: 100%;
                                    color: white;
                                    font-weight: 900;
                                    font-size: 15px;
                                    margin-left: -10px;width: 105%;
        margin-top: -8px;" class="btn" value=" LATEST NOTIFICATION">
                        </div>
                        <marquee direction="up" scrollamount="2" style="height: 224px;" onmouseover="this.stop();"
                            onmouseout="this.start();" id="latestnotification">
                            <a href="" id="11">
                                <p data-toggle="modal" data-target="#myModalLatestUpdates"> ITI में प्रवेश हेतु
                                    रजिस्ट्रेशन की तिथि दिनांक 03/11/2020 से 15/11/2020 तक बढ़ाये जाने बाबत </p>
                            </a>
                            <a href="" id="22">
                                <p data-toggle="modal" data-target="#myModalLatestUpdates"> Urgent Requirement of ITI
                                    Candidates in Production / Quality / Maintenance department in Pithampur Indore </p>
                            </a>
                            <a href="" id="33">
                                <p data-toggle="modal" data-target="#myModalLatestUpdates"> Notification SBI Apprentice
                                    Posts (8500) </p>
                            </a>
<!-- <a href="https://app.powerbi.com/view?r=eyJrIjoiNjBhNTc0MWUtMDQ5OS00YTRiLTg1MGUtNDgxOGZkZWYzZTE3IiwidCI6IjYzMzI3N2ExLTFmMDctNGU5Mi04MDQwLWNiOGNkYmQ2NTQxNCJ9&pageName=ReportSection6afc268c35498536796b" target="_blank" ><p >MP Rojgar Statistical analysis</p></a> -->

                            <br>
                        </marquee>


                    </div>


                    <div class="sidebar registration" >


                        <!-- <a href="/Login" style="   width: 100% ;margin-top: 0px;">
                                <input type="submit" style=" background: #87551d;
                                      width: 100%;
                                      color: white;
                                      font-weight: 900;
                                      font-size: 15px;"
                                     class="btn" value="JOB FAIRS">
                                
                              </a>
                             -->
                             <div class="row">
                        <div class="col-lg-6" style="top:-8px;" >

                            <input type="submit" style="    background: #87551d;
                            width: 100%;
                            color: white;
                            font-weight: 600;
                            font-size: smaller;
                            " class="btn" onclick="redirectoEmployer()" value="SUBMIT ER I FORM">


                            <div class="clear" style=" padding: 5px;"></div>
                          
                        </div>
                        <div class="col-lg-6" style="top:-8px; left:-1px; ">
                            <input type="submit" style="     background: #87551d;
                            width: 100%;
                            color: white;
                            font-weight: 600;
                            font-size: smaller;" data-toggle="modal"
                                data-target="#myModalrenewforolduser" class="btn" value="RENEW REGISTRATION">
                                <div class="clear" style=" padding: 5px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" style="top:-8px;">
                            <input type="submit" style="background: #87551d;
                            width: 100%;
                            color: white;
                            font-weight: 600;
                            font-size: smaller;
                            " data-toggle="modal" data-target="#myModalprintforolduser" class="btn"
                            value="PRINT REGISTRATION">
                            <div class="clear" style=" padding: 5px;"></div>
                       </div>
                        <div class="col-lg-6" style="top:-8px; left:-1px; ">
                        
                            <input type="submit" style="    background: #87551d;
                            width: 100%;
                            color: white;
                            font-weight: 600;
                            font-size: smaller;" onclick="window.location='/KnowRegistration'"
                                class="btn" value="
                         KNOW YOUR REGISTRATION">
                        </div>
                    </div>
                        <!-- <div style="text-align: center;border-bottom: 1px solid #eee;">
                                <a style="margin-top: -10px;">
                                    <h3><span style="color:#FC9928;font-size: 17px;" lang="en">Employer Feedback</span>
                                    </h3>
                                </a>
                            </div>
                            <marquee direction="up" scrollamount="2" style="height: 101px;" onmouseover="this.stop();"
                                onmouseout="this.start();"> We value the resumes sourced through this channel. It provides
                                relevant and accurate matches as per our job requirements.-<p><img style="width:12%;" src=''
                                        class='yatmlogo' id="employerfeedback" /></p>
                            </marquee> -->


                    </div>
                </div>



            </div>

            <!-- button start -->
            <!-- button end -->

        </div>
    </div>

    <!-- Search End -->
    <div class="col-md-12" style="background-color: #FC9928;z-index: 1;">
        <div class="container" style="margin-top: 15px;margin-bottom: 5px;width: 95%;">
            <div class="newsSection">
                <marquee behavior="scroll" direction="left" id="scroll_news" style="padding-top: 5px;color: white;"
                    onmouseover="this.stop();" onmouseout="this.start();">
                    <h5><span lang="en" id="noteindex"></span></h5>
                </marquee>
            </div>
        </div>
    </div>




    <div class="appwraper">
        <div class="container">
            <div class="row" style="padding-top: 15px;">
                <div class="col-md-3">
                    <div class="sidebar" style="display:none;">

                        <div style="text-align: center;">
                            <a href="/WalkIn">
                                <h3 class="blink"><span lang="en">Walk-in</span></h3>
                            </a>
                        </div>
                        <!-- <ul class="categories">
                            <li><a href="/CouncellerAccess"><span lang="en">Counseller Access</span></a></li>
                         </ul> -->
                    </div>
                    <div class="sidebar">
                        <h6 style="color:#FC9928;"><span lang="en">Counselling</span></h6>

                        <ul class="categories">
                            <li><a href="/CouncellerAccess"><span lang="en">Access a Counsellor</span></a></li>

                            <li><a href="/CareerCounsellingForm"><span lang="en">Counselling Form</span></a></li>


                        </ul>
                        <h6 style="color:#FC9928;"><span lang="en"> Career Literature</span></h6>

                        <ul class="categories">
                            <!-- <li><a target="blank" href="https://www.ncs.gov.in/content-repository/hi-in/Pages/Main.aspx"><span lang="en"> Company Secretary</span></a></li> -->
                            <li><a target="blank"
                                    href="https://www.ncs.gov.in/content-repository/pages/BrowseBySectors.aspx"> <span
                                        lang="en"> Career Information </span></a></li>



                            <li><a target="blank" href="" data-toggle="modal" data-target="#myModallmailsupport">
                                    <span lang="en"> Career Guidance </span></a></li>
                        </ul>
                        <h6 style="color:#FC9928;"> <span lang="en"> Competitive Exams at Glance </span> </h6>

                        <ul class="categories">
                            <li><a href="https://www.upsc.gov.in/examinations/exam-calendar" target="_blank"> <span
                                        lang="en">Union Public Service Commission </span> </a></li>
                            <li><a href="http://www.mppsc.nic.in/Examination_plan.html" target="_blank"> <span
                                        lang="en">MP Public Service Commission
                                    </span> </a></li>
                            <li style="display: none;"><a href="#."> <span lang="en">Staff Selection Commission
                                    </span> </a></li>
                        </ul>
                        <h6 style="color:#FC9928;"><span lang="en">Employer Feedback</span></h6>

                        <ul class="categories">
                            <marquee direction="up" scrollamount="2" style="height: 101px;" onmouseover="this.stop();"
                                onmouseout="this.start();"> We value the resumes sourced through this channel. It
                                provides
                                relevant and accurate matches as per our job requirements.-<p><img style="width:12%;"
                                        src='' class='yatmlogo' id="employerfeedback" /></p>
                            </marquee>
                        </ul>
                        <!-- <h6 style="color:#FC9928;"><span lang="en">Job Opportunities</span></h6>

                        <ul class="categories">
                            <li style="display:none"><a target="black" href="http://vacancy.mprojgar.gov.in/"><span
                                        lang="en">Vacancy Advertisement Portal</span></a></li>
                            <li><a href="/JobFairScheme"><span lang="en">Job Fairs</span></a></li>
                        </ul> -->

                        <h6 style="color:#FC9928;display: none;"><span lang="en">Self Employment</span> </h6>
                        <ul class="categories">
                            <li style="display: none;"><a target="black"
                                    href="https://mpmsme.gov.in/website/self-employment-schemes"
                                    style="display: none;"><span lang="en">Self Employment scheme</span></a></li>
                        </ul>
                        <h6 style="color:#FC9928;display: none;"><span lang="en">Career Counselling</span> </h6>
                        <ul style="display: none;" class="categories">
                            <li><a target="black" href="/CareerCounsellingDetails"><span lang="en">Career Counselling
                                        Details</span></a></li>
                        </ul>
                    </div>
                    <div class="sidebar" style="height: 350px;">
                        <p style="text-align: center;"><img src="/images/ncs.jpg" style="height: 95px;width:95%"></p>
                        <h6 style="color:#FC9928;"><span lang="en"> For Job Seeker</span></h6>

                        <ul class="categories">
                            <li><a target="_blank" href="https://www.ncs.gov.in/job-seeker/Pages/default.aspx"><span
                                        lang="en">Login Here</span></a></li>
                            <li><a target="_blank" href="/pdf/NSC_Jobseeker_Registration_Manual.pdf"><span
                                        lang="en">User Manual</span></a></li>
                            <li><a href="https://www.ncs.gov.in/job-seeker/Pages/default.aspx"> <span lang="en">
                                        NCS For Jobseeker </span>
                                </a></li>

                        </ul>
                        <h6 style="color:#FC9928;"> <span lang="en">For Employer</span></h6>

                        <ul class="categories">
                            <li><a target="_blank" href="https://www.ncs.gov.in/employer/Pages/default.aspx"><span
                                        lang="en">Login Here</span></a></li>
                            <li><a a="" target="_blank" href="/pdf/Employer.pdf"><span lang="en">NCS For Employer
                                    </span></a></li>


                        </ul>
                    </div>


                </div>

                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="sidebar" style="border: aliceblue;display: inline-block; width:100%">
                            <div class="formpanel" style="margin-top: 0px !important">
                                <p style="color: black;     text-align: center;font-size: large;    font-weight: 600;">
                                    <span lang="en"> Job Seeker</span>
                                </p>
                                <p style="color: black;    text-align: center;font-size: large;    font-weight: 600;">
                                    <span lang="en"> New to this Portal </span></p>
                                <a class="btn" href="/JobSeekerRegistration" value="RegisterNow"> <span
                                        lang="en">Register Now </span></a>
                                </br>
                                </br>
                                <p style="color: black;          text-align: center; font-size: large;  font-weight: 600;"
                                    lang="en">-----Or-----
                                </p>
                                <p style="text-align: center;"><a href="#" data-toggle="modal"
                                        data-target="#myModallogin" style=" font-size: large; color: #FC9928;"> <span
                                            lang="en">Login Here</span></a>
                                </p>


                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="sidebar" style="border: aliceblue;height: 100%;display: inline-block;width:100%">
                            <div class="formpanel" style="margin-top: 0px !important">
                                <p style="color: black;     text-align: center;font-size: large;    font-weight: 600;">
                                    <span lang="en">Employer</span>
                                </p>
                                <p style="color: black;    text-align: center;font-size: large;    font-weight: 600;">
                                    <span lang="en"> New to this Portal</span></p>
                                <a class="btn btn-access" target="_blank" href="#" onclick="employerurlreg()"
                                    value="RegisterNow"> <span lang="en">Register Now </span></a>
                                </br>
                                </br>
                                <p style="color: black;     text-align: center; font-size: large;  font-weight: 600;"
                                    lang="en">-----Or-----
                                </p>
                                <p style="text-align: center;"><a target="_blank" href="#" onclick="employerurl()"
                                        style=" font-size: large; color: #FC9928;"> <span lang="en">Login
                                            Here</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clear" style=" padding: 10px;"></div>
                    <div class="titleTop" style="text-align: center;
                    ">

                        <h3 style="color: black;font-size: 28px;margin-top: 41%;"><span lang="en"
                                style="color: black;font-weight: 600;">Top Vacancies</span></h3>
                    </div>
                    <div id="LatestDesignation" style="margin-top: 4%;"></div>


                </div>



                <!-- related jobs end -->
                <div class="col-md-3">
                    <!-- Social Icons -->
                    <!-- Sponsord By -->
                    <div class="sidebar" style="height: 430px;">

                        <p style="color:#FC9928;     text-align: center;font-size: larger;    font-weight: 600;">
                            <span lang="en"> M.P Rojgar</span></p>
                        <div id="carousel2" style="height: 140px;" class="carousel slide" data-ride="carousel"
                            data-interval="2000">
                            <div class="carousel-inner" id="carouselmp">


                            </div>
                        </div>
                        <div class="clearfix" style="padding-top: 30px"></div>
                        <p style="color: #FC9928;     text-align: center;font-size: larger;    font-weight: 600;">
                            <span lang="en"> YASHASWI</span></p>
                        <div id="carousel3" style="height: 140px;" class="carousel slide" data-ride="carousel"
                            data-interval="2000">
                            <div class="carousel-inner" id="carouselyas">


                            </div>
                        </div>


                    </div>
                    <div class="sidebar" style="height: 350px;">
                        <p style="color:#FC9928;     text-align: center;font-size: larger;    font-weight: 600;">
                            <span lang="en">Our Success Stories</span></p>
                        <br>
                        <div class="hero-wrapper" style="height: 77%;">
                            <div class="carousel-wrapper">
                                <div id="video-carousel" class="carousel hero-carousel slide">
                                    <!-- <ol class="carousel-indicators">
                                        <li data-target="#video-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#video-carousel" data-slide-to="2" class=""></li>
                                        <li data-target="#video-carousel" data-slide-to="3" class=""></li> 
                                        <li data-target="#video-carousel" data-slide-to="4" class=""></li>                                 
                                                                                                   </ol>
                                     </ol>                                                           -->
                                    <div class="carousel-inner" style="height: 110%;">
                                        <div class="item active">
                                            <video controls="" style="width: 104%;height: 88%;" controls
                                                disablepictureinpicture controlslist="nodownload" muted>
                                                <source src="video/video_12.mp4" type="video/mp4">

                                            </video>

                                        </div>
                                        <div class="item">
                                            <video controls="" style="width: 104%;height: 88%;" controls
                                                disablepictureinpicture controlslist="nodownload" muted>
                                                <source src="video/video_13.mp4" type="video/mp4">

                                            </video>

                                        </div>
                                        <div class="item">
                                            <video controls="" style="width: 104%;height: 88%;" controls
                                                disablepictureinpicture controlslist="nodownload" muted>
                                                <source src="video/video_14.mp4" type="video/mp4">

                                            </video>

                                        </div>

                                        <div class="item">
                                            <video controls="" style="width: 104%;height: 88%;" controls
                                                disablepictureinpicture controlslist="nodownload" muted>
                                                <source src="video/video_15.mp4" type="video/mp4">

                                            </video>

                                        </div>


                                        <a class="left carousel-control" href="#video-carousel" data-slide="prev">
                                            <i class="fa fa-chevron-left left"></i>
                                        </a>
                                        <a class="right carousel-control" href="#video-carousel" data-slide="next">
                                            <i class="fa fa-chevron-right right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <span lang="en"><a href='/OurStories'>View More</a></span></p>

                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 30px">


                    <ul class="jobslist row">
                        <!--Job 1-->

                        <li class="col-md-4 col-sm-6">
                            <div class="jobint" style="background-color: rgb(231, 69, 164)">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                        <!-- <h3 id="jobseeker" class="count">11078</h3>-->
                                        <h3 id="jobseeker" class="count">0</h3>
                                        <h5><span lang='en'>Active Job Seekers</span></h5>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Job end-->

                        <!--Job 2-->
                        <li class="col-md-4 col-sm-6">
                            <div class="jobint" style="background-color:#9747b8">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                        <!--<h3 id="employers" class="count">7078</h3>-->
                                        <h3 id="employers" class="count">0</h3>
                                        <h5><span lang='en'>Active Employers</span></h5>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Job end-->

                        <!--Job 3-->
                        <li class="col-md-4 col-sm-6">
                            <div class="jobint" style="background-color:#f8a138">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                        <!--<h3 id="Vacancies" class="count">87078</h3>-->
                                        <h3 id="Vacancies" class="count">0</h3>
                                        <h5><span lang='en'>Active Vacancies</span></h5>
                                    </div>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>


        </div>
    </div>



    <!-- Top Employers start -->
    <div class="section greybg">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3><span lang="en" style="color:#FC9928;font-weight:600;font-size:28px">Top Employers</span>
                </h3>
            </div>
            <!-- title end -->


            <div id="carouselnew">
            </div>

        </div>
    </div>
    <div class="container" style="margin-top: 25px;margin-bottom:25px;display: none;">
        <div class="titleTop">

            <h3><span style=" color:#FC9928;   font-size: 28px;
                        font-weight: 600;" lang="en">Useful Web Link</span></h3>
        </div>
        <!-- <P>Useful Link</P> -->
        <div class="row">
            <div class="col-xs-12 col-md-12 col-centered">


                <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="10000">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-col">
                                <div style="margin-top: 20px;">
                                    <a href="https://www.mpinfo.org" target="_blank"> <img
                                            src="images/rozgar.jpg" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="img-responsive" style="margin-top: 20px;">

                                    <a href="https://upsc.gov.in/" target="_blank"> <img src="images/upsc.jpg" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="img-responsive" style="margin-top: 20px;">

                                    <a href="http://peb.mp.gov.in/" target="_blank"> <img src="images/vyapam.jpg" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div style="margin-top: 20px;">

                                    <a href="https://ssc.nic.in/" target="_blank"><img src="images/ssc.jpg" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div style="margin-top: 20px;">
                                    <a href="https://www.ibps.in/" target="_blank"> <img src="images/ibps.jpg" />
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div style="margin-top: 20px;">

                                    <a href="http://www.joinindianarmy.nic.in/Authentication.aspx" target="_blank"><img
                                            src="images/JIA.jpg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section greybg">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3> <span lang="en" style="color:#FC9928;font-weight:600;font-size:28px">Featured Jobs</span></h3>
            </div>

            <ul class="jobslist row" id="FeaturedJob">


            </ul>

            <div class="viewallbtn"><a href="#" style="    display: none;">View All Featured Jobs</a></div>
            <!--button end-->
        </div>
    </div>

    <div class="section">
        <div class="container">
            <!-- title start -->
            <div class="titleTop">

                <h3><span lang="en" style="color:#FC9928;font-weight:600;font-size:28px">Popular Searches</span></h3>
            </div>
            <!-- title end -->

            <div class="topsearchwrap row">

                <div class="col-md-6">
                    <!--Cities start-->
                    <h5 lang="en" style="font-weight:600;font-size:20px;background: #FC9928;">Browse By Categories</h5>
                    <div  class="browsejobby" style="background: #fff;
                  padding: 15px;
                  border: 1px solid #e3e3e3;
                  box-shadow: 3px 5px 20px #888888;
                  transition: 0.4s ease-in-out;
                  -webkit-transition: 0.4s ease-in-out;">
                        <ul class="row catelist" id="BrowseByCategories">
                        </ul>
                        <br>
                        <a style="cursor:pointer;cursor: pointer;
                    font-size: 16px;
                    font-weight: 600;
                    float: right;
                    width: 25%;
                    color: #FC9928;" onclick="redirectpopularsearch('Categories')">View More</a>
                    </div>
                    <!--Cities end-->
                </div>

                <div class="col-md-6">
                    <!--Cities start-->
                    <h5 lang="en" style="font-weight:600;font-size:20px;background: #FC9928;">Browse By Location</h5>
                    <div class="browsejobby" style="background: #fff;
                  padding: 15px;
                  border: 1px solid #e3e3e3;
                  box-shadow: 3px 5px 20px #888888;
                  transition: 0.4s ease-in-out;
                  -webkit-transition: 0.4s ease-in-out;">
                        <ul class="row catelist" id="BrowseByStates">
                        </ul>
                        <br>
                        <a style="cursor:pointer;cursor: pointer;
                    font-size: 16px;
                    font-weight: 600;
                    float: right;
                    width: 25%;
                    color: #FC9928;" onclick="redirectpopularsearch('Location')">View More</a>
                    </div>
                    <!--Cities end-->
                </div>

            </div>
        </div>
    </div>
    <!-- Popular Searches ends -->




    <!-- Video start -->




    <footer>

        <% include partials/footer %>




    </footer>

    <script>
        // Instantiate the Bootstrap carousel
        $('.carousel[data-type="multi"] .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 2; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });
    </script>

    <script type="text/javascript" src="/customjs/Index.js"></script>
    <script src="/customjs/Gallery.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).off('ajaxStart').on('ajaxStart', function () {
                $.unblockUI();
            });
            $(document).off('ajaxStop').on('ajaxStop', function () {
                $.unblockUI();
            });
            $('#whatsappnumberhelp').hide();
            Filljobfairs();
            Cookies.remove('CandidateId');
            latestNotification();

            FillPhotoUpload();
            SessionClear();

          //  FillState();
            EmailConfig();
         //   FillBROWSEBYCATEGORIES();
        //    FillBROWSEBYStates();
        //    fetchLatestDesignation();
            Counter();
            Fetchweblinkurl()
        //    FetchFeaturedJob()
         //   FetchTopEmployers();
            FillNote();

            $("#11").on('click', function () {
                $('#1').show();
                $('#2').hide();
                $('#3').hide();
            })
            $("#22").on('click', function () {
                $('#1').hide();
                $('#2').show();
                $('#3').hide();
            })
            $("#33").on('click', function () {
                $('#1').hide();
                $('#2').hide();
                $('#3').show();
            })

            $('.carousel:not("#EmployeeCarousel, #video-carousel")').carousel({
                interval: 5000,
                pause: false
            });
            initVideoCarousel();
            initHeroCarousel();
            $('#employerfeedback').attr('src', EmployerLogoPath + 'EmployerLogo/Ginni%20Filaments%20Ltd..jpg')

        });
        function redirectpopularsearch(type) {
            sessionStorage.Popularsearchtype = type;
            window.location = '/PopularSearchJob'
        }
        function initHeroCarousel() {
            // $('.carousel#hero-carousel').carousel({
            //     interval: false,
            //     pause: false
            // });
            $('#hero-carousel').on('slid.bs.carousel', function () {
                var video = $("#hero-carousel").find('.carousel-inner .item.active video');
                if ($(video).length > 0) {
                    $(video).off('play').on('play', function (e) {
                        $("#hero-carousel").carousel('pause');
                    });
                    $(video).off('stop pause ended').on('stop pause ended', function (e) {
                        $("#hero-carousel").carousel();
                    });
                    $(video).get(0).play();
                }
            });
        }

        function initVideoCarousel() {
            $('#video-carousel').carousel({
                interval: false
            });
            $('#video-carousel').on('slide.bs.carousel', function () {
                $("#video-carousel").find('.carousel-inner .item.active video').get(0).pause();
            });
            $('#video-carousel').on('slid.bs.carousel', function () {
                $("#video-carousel").find('.carousel-inner .item.active video').get(0).play();
            });
        }

        function fetchTopEmployerslatest() {
            var path = serverpath + "TopEmployers"
            ajaxget(path, 'parsedataFetchTopEmployers', 'comment', "control");
        }
        function parsedataFetchTopEmployers(data) {
            data = JSON.parse(data)
            var data1 = data[0];
            var appenddata = "";

            for (var i = 0; i < data1.length; i++) {
                if (data1[i].EmployerLogo != null || data1[i].EmployerLogo != undefined) {
                    logosrc = EmployerLogoPath + 'EmployerLogo/' + encodeURI(data1[i].EmployerLogo)
                }
                else {
                    logosrc = 'images/jobs/jobimg.jpg';
                }
                appenddata += `<a href="#"><img src='` + logosrc + `' style='height:90px; width:220px' alt='` + data1[i].CompName + `' /></a>`
            }
            $('#carouselnew').html(appenddata);

            var carousel = $("#carouselnew").waterwheelCarousel({
                flankingItems: 10,
                separation: 280,
                autoPlay: 3000
            });
        }
        function FillBROWSEBYCATEGORIES() {
            jQuery.ajax({
                url: serverpath + "JobByIndustry/10",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++)
                        appenddata += " <li class='col-md-6 col-sm-6'><a href='#'  onclick=SetJobByDesignation('" + encodeURI(data[0][i].Industry) + "') ><span class='CCcontainer' style='overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 150px;display:inline-block;color: black;'>" + data[0][i].Industry + " </span><span style='padding: 2px;'>(" + data[0][i].Vacancies + ")</span></a></li>"

                    $('#BrowseByCategories').html(appenddata);

                },
                error: function (result) {
                }
            });
        }

        function FillBROWSEBYStates() {
            jQuery.ajax({
                url: serverpath + "JobByLocation/10",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        if (data[0][i].Location != null) {
                            appenddata += " <li class='col-md-6 col-sm-6'><a  onclick=SetJobByLocation('" + encodeURI(data[0][i].Location) + "') href='#'><span style='overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 150px;display:inline-block;color: black;'>" + data[0][i].Location + "</span><span style='padding: 2px;'>(" + data[0][i].Vacancies + ")</span></a></li>"

                        }
                    }
                    $('#BrowseByStates').html(appenddata);

                },
                error: function (result) {
                }
            });
        }



        function FillJobsByLocation() {
            jQuery.ajax({
                url: serverpath + "GovtJobByLocation/9",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += "<li><a style='color: #999'>" + data[0][i].Location + "</a></li>"
                    }
                    $('#JobsByLocation').html(appenddata);

                },
                error: function (result) {
                }
            });
        }
        function FillJobsByDesignation() {
            jQuery.ajax({
                url: serverpath + "GovtJobByTitle/10",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += "<li><a style='color: #999'>" + data[0][i].JobTitle + "</a></li>"
                    }

                    $('#JobsByDesignation').html(appenddata);

                },
                error: function (result) {
                }
            });
        }
        function FillJobByIndustry() {
            jQuery.ajax({
                url: serverpath + "GovtJobByIndustry/10",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += "<li><a  style='color: #999'>" + data[0][i].Industry + "</a></li>"
                    }

                    $('#JobByDepartment').html(appenddata);

                },
                error: function (result) {
                }
            });
        }
        function fetchLatestDesignation() {
            jQuery.ajax({
                //  url: serverpath + "JobByTitle/9",
                url: serverpath + "JobByIndustry/100",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    var Icon = ""
                    for (var i = 0; i < data[0].length; i++) {
                        if (data[0][i].Industry == 'Techinal Assistant' || data[0][i].Industry == 'Helper' || data[0][i].Industry == 'Full Stack Developer' || data[0][i].Industry == 'Receptionist' || data[0][i].Industry == 'Node Js' || data[0][i].Industry == 'Machine Operator' || data[0][i].Industry == 'Courier Boy' || data[0][i].Industry == 'Sales Officer' || data[0][i].Industry == 'Tele-Caller' || data[0][i].Industry == 'accountant' || data[0][i].Industry == 'Cook') {
                            if (data[0][i].Industry == 'Teacher') {
                                Icon = "/images/Designation/Teacher.png";
                            }
                            if (data[0][i].Industry == 'Helper') {
                                Icon = "/images/Designation/Hospitality_Executives.svg";
                            }
                            if (data[0][i].Industry == 'Machine Operator') {
                                Icon = "/images/Designation/Mechanic.svg";
                            }
                            if (data[0][i].Industry == 'Courier Boy') {
                                Icon = "/images/Designation/Delivery_boy.svg";
                            }

                            if (data[0][i].Industry == 'Sales Officer') {
                                Icon = "/images/Designation/Sales.svg";
                            }
                            if (data[0][i].Industry == 'Techinal Assistant') {
                                Icon = "/images/Designation/Data_entry_Back_office.svg";
                            }
                            if (data[0][i].Industry == 'Tele-Caller') {
                                Icon = "/images/Designation/BPO_Telecallers.svg";
                            }
                            if (data[0][i].Industry == 'Node Js' || data[0][i].Industry == 'Full Stack Developer') {
                                Icon = "/images/Designation/IT-Software.svg";
                                //'||data[0][i].Industry =='Full Stack Developer'||data[0][i].Industry =='React Native'||data[0][i].Industry =='React Js'||data[0][i].Industry =='PHP Developer'

                            }
                            if (data[0][i].Industry == 'Receptionist') {
                                Icon = "/images/Designation/Receptionist_Front_office.svg";
                            }

                            if (data[0][i].Industry == 'accountant') {
                                Icon = "/images/Designation/Accountant.svg";
                                //   || data[0][i].Industry == 'Computer Operator'
                            }
                            if (data[0][i].Industry == 'Chef') {
                                Icon = "/images/Designation/Cook.svg";
                            }
                            appenddata += "<div class='col-md-4'><div class='job-header'><div class='contentbox' style='text-align:center;    max-height: 140px;'> <a href='#' onclick=SetJobByDesignation('" + encodeURI(data[0][i].Industry) + "') style='    color: black;'> <img class='cardsimage' src='" + Icon + "' width='42' height='42' /><h5 class='cardheading'><div style=' overflow: hidden;text-overflow: ellipsis;white-space: nowrap;' >" + data[0][i].Industry + "</div></h5><span style='margin-left: -5%;'>(" + data[0][i].Vacancies + ")</span></a></div></div></div>"


                        }

                    }


                    $('#LatestDesignation').html(appenddata);
                },
                error: function (result) {
                }
            });
        }
        function redirectoEmployer() {
            setTimeout(function () {
                window.location = EmployerLogoPath + '?er=1';
            }, 300);

        }

    </script>

</body>

</html>