<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <header>
        <% include ../../partials/Homeheader %>
    </header>



    <!-- Header end -->

    <!-- Page Title start -->
    <div class="pageTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading" lang="en" >Job Detail</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="breadCrumb" ><a href="#." lang="en">Home</a> / <span lang="en">Job Name</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title End -->

    <div class="listpgWraper">
        <div class="container">

            <!-- Job Header start -->
            <div class="job-header">
                <div class="jobinfo">
                    <div class="row" id='Jobdetail'>

                    </div>
                    <div class="jobButtons"> <a href="#." class="btn apply"><i class="fa fa-paper-plane"
                                aria-hidden="true"></i> Apply Now</a> <a href="#." class="btn"><i class="fa fa-envelope"
                                aria-hidden="true"></i> Email to Friend</a> <a href="#." class="btn"><i
                                class="fa fa-black-tie" aria-hidden="true"></i> Job Aleart</a> <a href="#."
                            class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save This Job</a> </div>
                </div>

            </div>

            <!-- Job Detail start -->
            <div class="row">
                <div class="col-md-8">
                    <!-- Job Description start -->
                    <div class="job-header">
                        <div class="contentbox" style="padding: 35px 35px">

                            <h3>Job Description</h3>
                            <p id="Jobdescription"> </p>
                            <h3>Skills</h3>
                            <div id="skill"></div>
                            <h3 style="    padding-top: 21px">Company Details</h3>
                            <div class="jbdetail" id="Companydetail">

                            </div>
                        </div>

                    </div>
                    <!-- Job Description end -->

                    <!-- related jobs start -->
                    <div class="relatedJobs">
                        <h3>Related Jobs</h3>
                        <ul class="searchList" id="relatedjobs">
                            <!-- Job start -->


                        </ul>
                    </div>
                </div>
                <!-- related jobs end -->

                <div class="col-md-4">
                    <!-- Job Detail start -->
                    <div class="job-header">
                        <div class="jobdetail">
                            <h3>Job Detail</h3>
                            <ul class="jbdetail" id="jbdetail">

                            </ul>
                        </div>
                    </div>

                    <!-- Contact Company start -->
                    <div class="job-header">
                        <div class="jobdetail">
                            <h3 id="contact"></h3>
                            <div class="formpanel">
                                <div class="formrow">
                                    <input type="text" class="form-control" id="urname" placeholder="Your Name">
                                </div>
                                <div class="formrow">
                                    <input type="text" class="form-control" id="uremail" placeholder="Your Email">
                                </div>
                                <div class="formrow">
                                    <input type="text" maxlength="10" onkeydown="onlyNumbers(event)"  onpaste="onlyNumbers(event)" onkeypress="if(this.value.length>=10) { return false;}" class="form-control" id="urphone" placeholder="Phone">
                                </div>
                                <div class="formrow">
                                    <input type="text" class="form-control" id="ursubject" placeholder="Subject">
                                </div>
                                <div class="formrow">
                                    <textarea class="form-control" id="message" placeholder="Message"></textarea>
                                </div>
                                <input type="submit" onclick="CheckCompanyMails()" class="btn" value="Submit">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

   

    <footer>
        <% include ../../partials/Homefooter %>
    </footer>

    <script type="text/javascript" src="/customjs/HomePage/JobDetail.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            EmailConfig()
            FillJobDetail('parsedatasecuredjobs');
          //  mail();

        });

        
    </script>
</body>

</html>