<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>


</head>

<body onload="createCaptchaGrievence()">
  <header>
    <% include ../../partials/Homeheader %>
  </header>
  <!-- Page Title start -->
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Grievance Form</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Home" lang="en">Home</a> / <span lang="en">Grievance Form</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5 style="text-align:center" lang="en">Grievance Form</h5>
             
              <div class="row">
                <div class="col-md-6 forvalidation" style="display: none;">
                    <div class="formrow" >
                    <label for="example-email-input" class="col-2 col-form-label">
                        Registered By&nbsp<span class="asterisk_input label-icon"></span>
                      </label>
                  <div class="formrow">
                    <select class="form-control" id="Registeredby" onfocusout="getvalidated('Registeredby','select','Registered By')" name="Registeredby" onclick="onchangeval()">
                      <!-- <option value="0">Registered By</option> -->
                      <option selected>Jobseeker</option>
                     
                    </select>
                    <span id="validRegisteredby" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                  </div>
                </div>
                <div class="col-md-6 forvalidation">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Registered ID</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                       
                  <div class="formrow">
                    <input type="text" name="buisness" maxlength="15" id="RegistrationId"  class="form-control" onfocusout=" getvalidated('RegistrationId','text','Registration ID')"
                      placeholder="Enter Registration ID" disabled>
                      <span id="validRegistrationId" style="font-size: 11px; color: #cc0033; "></span>
                    </div>
                  </div>
                </div>
             
                <div class="col-md-6 forvalidation">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Your Name</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <input type="text" name="buisness" onfocusout="getvalidated('CandidateName','text','Your Name')"
                     id="CandidateName" class="form-control" placeholder="Enter Your Name"  disabled>
                    <span id="validCandidateName" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                </div>
                </div>
                <div class="col-md-6 forvalidation">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">Email Id</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <input type="text" name="buisness" onfocusout=" getvalidated('EmailID','email','Email Id') " onkeypress="if(this.value.length>=200){return false;}" id="EmailID" class="form-control" placeholder="Email ID" disabled>
                    <span id="validEmailID" style="font-size: 11px; color:  #cc0033; "></span>
                  </div>
                  </div>
                </div>
           
                <div class="col-md-6 forvalidation">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            <span lang='en'>Mobile Number</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <input type="text" name="phone" id="Contact" onkeydown="onlyNumbers(event)"  onpaste="onlyNumbers(event)"
                      onkeypress="if(this.value.length>=10) { return false;}" class="form-control" 
                      placeholder="Mobile Number" onfocusout=" getvalidated('Contact','number','Mobile Number')" disabled>
                      <span id="validContact" style="font-size: 11px; color: #cc0033; "></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 forvalidation">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">District Office</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <select class="form-control" id="DistrictOffice" onfocusout=" getvalidated('DistrictOffice','select','District Office')" name="OwnerShip">
                    </select>
                    <span id="validDistrictOffice" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                  </div>
                </div>
          
                <div class="col-md-6 forvalidation">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Department</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <select  name="Department" id="department" onfocusout="getvalidated('department','select','Department')" class="form-control">
                      <option value="0"> Select Department</option>
                      <option>Counselor</option>
                      <option>Financial</option>
                      <option>Administration</option>
                      <option>Logistics</option>
                      <option>Recruiter</option>
                      <option>Govt Section</option>
                            </select>
                      <span id="validdepartment" style="font-size: 11px; color: #cc0033; "></span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 forvalidation">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            <span lang="en">Type of Grievance</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <select class="form-control" id="grievencetype" name="grievencetype" onfocusout=" getvalidated('grievencetype','select','Type of Grievance')">
                      <option value="0"> Select Type of Grievance</option>
                      <option>Content</option>
                      <option>Behaviour</option>
                      <option>Services</option>
                      <option>No Response</option>
                      <option>Pendency</option>
                      <option>Payment-Method</option>
                    </select>
                    <span id="validgrievencetype" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            <span lang=en>Grievance Details</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <textarea class="form-control" name="aboutdeg" id="grievencedetail"
                      placeholder="Grievance Details" onfocusout="getvalidated('grievencedetail','text','Detail')" maxlength="500"></textarea>
                      <span id="validgrievencedetail" style="font-size: 11px; color: #cc0033; "></span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="formrow">
                    <div class='information'><strong lang="en">Upload Document</strong> </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="formrow">
                    <form class="m-form" enctype="multipart/form-data"
                    method="post" action="/GrievenceForm" id='grievenceupload' >
                    <input type="submit" id="postattach"
                    class="btn btn-success" 
                    style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
                     <input type="file" name="myFile"
                       onclick="Cookies.set('modaltype','Grievencedoc', { expires: 1, path: '/' });">
                    </form>
                 </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <tr>
                      <td style="text-align:left;">
                        <strong><span style="font-size: 15px; "><span lang="en"> You Can Only Attach Image or Document File i.e.(pdf, doc, docx,jpg, Gif, png)</span></strong></td>
                    </tr>
                  </div>
                </div>
              </div>
              <div class="formrow">
                <tr>
                  <td >
                    <strong><span style="font-size: 15px;color: #cc0033;text-align: center;display: block;" lang="en">Please Enter The Text Below In Text Box</span></strong></td>
                </tr>
              </div>
              <div class="col-12">
                <div class="formrow" style="display: flex;align-self: center;justify-content: center;">
                  <div id="captchagrievence" style="display: inline-block;"><canvas  width="100" height="50"></canvas></div>
                  <a onclick="createCaptchaGrievence()" style="position: relative; top: 8px"><i class="fa fa-refresh" style="font-size:24px;"></i></a>
                </div>
              </div>
              <div class="row" style="display:block">
                <div class="col-12">
                  <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchatextgrievence','text','Captcha')" id="cpatchatextgrievence" style="display:block;margin:auto">
                </div>
               </div>
               <div class="row">
                <div class="col-12">
                  <span id="validcpatchatextgrievence" style="display:block;font-size: 11px; color: #cc0033; margin:auto; position:relative;top:8px;width:50%;text-align: center;"></span>
                </div>
               </div>

<br>
              <div class="row">
                <div class="col-md-12">

                  <div class='information'><strong><span lang="en">Declaration:</span><span class="asterisk_input label-icon"></span></strong> </div>

                  <div class="formrow">

                    <ul class="row featchoose">
                      <li class="col-md-12"><input type="checkbox" id="Declaration" onfocusout="focusoutDeclaration()" name="Declaration"> <span lang="en">The information as provided above is true to the best of my knowledge.</span></li>
                       <li id="validDeclaration" style="font-size: 11px; color: #cc0033;margin-left: 5%; "> </li>
                    </ul>
                  </div>
                </div>
              </div>



              <button type="submit" onclick="CheckGrievenceForm()" class="btn" >Submit</button>



              <!--Captcha End-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <% include ../../partials/Homefooter %>
  </footer>
    
  <script src="/customjs/GrievenceForm/GrievenceForm.js"></script>
  <script type="text/javascript">
  EmailConfig();
    
    $(document).ready(function () {
      resetModeGrievence();
      FillDistrictOffice();
      FillState();
      $('#RegistrationId').val(sessionStorage.RegistrationId);
      $('#CandidateName').val(sessionStorage.CandidateName);
      $('#EmailID').val(sessionStorage.EmailId);
      $('#Contact').val(sessionStorage.MobileNumber);
      Cookies.set('modaltype','Grievencedoc', { expires: 1, path: '/' });
    });

          
    $('#RegistrationId').focusout(function() { 
    if (this.value=="")
    {
      getvalidated('RegistrationId','text','RegistrationId')
  }      
      else{
     
     }
      
    });
 
    
  
  </script>
</body>

</html>