<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <header>
        <% include ../../partials/Homeheader %>
    </header>
    <div class="container">
        <div class="row" style>
            <div class="col-md-3 col-sm-12">
            </div>

            <div class="col-md-6 col-sm-12">



                <div class="userccount"
                    style="box-shadow:5px 10px 8px 8px #888888;margin-top:12%;    margin-bottom: 12%; ">
                    <div class="">

                        <!--<h5 style="font-size:16px;  ;color:black; text-align:center;">Registration Status
                        </h5>-->

                        <!-- login form -->
                        <div class="formpanel">

                            <h6 style="text-align:center;" id="successusername">

                            </h6>
                            <br />
                            <p style="color:forestgreen;text-align:center;">
                                Your Grievance Application Submit successfully.
                            </p>
                            <br/>
                            <h7 style="text-align:center; margin-left: 23%;font-weight: 500;" id="GrievenceNumber"> </h7>
                          <br/>

                            <i class="fa fa-check-circle" style="color: #3fb13d; font-size: 403%; margin-left: 46%;margin-top: 3%;"></i>
                            <br />

                       

                            
                            <div style="    margin-left: 35%;margin-top: 10px;">
                                   <input type="submit" onclick="Back()" style="    width: 50%;" class="btn"  value="Back To Home">
                          </div>
                        

                        </div>
                        


                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-12">
            </div>
        </div>
    </div>
    <footer>
        <% include ../../partials/Homefooter %>
    </footer>
      
    <script>
        $(document).ready(function () {
            $("#successusername").text('Hello' + ' ' + sessionStorage.getItem('Name') + '!');
            $("#GrievenceNumber").text('Your Grievence Number is :' + ' ' + sessionStorage.getItem('GrievenceNumber') + '');
            sendemailgrievance();
            
            
            
           
        });
        function sendemailgrievance(){

            var sub = "MP Rojgar (Grievance)";
            var body = `Hello  ${sessionStorage.getItem('Name')} !</div>
            <div style='font-size:18px;'>Your Grievance Application Submit successfully.
                        <br>Your Grievance Number is :  ${sessionStorage.getItem('GrievenceNumber')}`;
        
         sentmailglobal(sessionStorage.getItem("EmailId"),body,sub) ;
        }
        function next() {
      window.location = "/Home";
    }
    function Back() {
      window.location = "/Home";
    }
    </script>
</body>

</html>