<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <header>
        <% include ../../partials/header %>
    </header>

    <div class="pageTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading" lang="en">Counsellor Access</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">Counsellor Access</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title End -->
    <div class="listpgWraper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="userbtns custom">
                        <ul class="nav nav-tabs">
                           
                            <li class="active"><a data-toggle="tab" href="#CCFAQs">Career Counselling FAQs </a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="CCFAQs" class="formpanel tab-pane fade in active">
                            <div class="faqs">
                                <div class="panel-group" id="accordion">
                              
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse5" lang="en">I am a student of B.Com. (pass) final year DU. I want to take up MCA after graduation .Am I eligible to do it from universities like DU.JNU.KU. Roorkee University etc? I had maths till 10+2 but not at the graduation level. Please advice me which universities can I apply to and what are the job opportunities?</a> </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">MCA is a three year course which imparts all software skills and some management’s skills, as well . The entrance exam tests your proficiency in Math’s upto+2or even higher level. though a few institutes, restrict it to class tenth level, DU,JNU and pune University’s entrance exams are the to test to crack .Most are of two hours’ duration and objective type. Some also test reasoning computer fundamentals etc. Since you already had math’s in +2 you are eligible for almost every entrance exam. The minimum eligibility may change from year to year ,but usually they make things easier for the aspirants. Nevertheless ,you need to keep an eye on the advertisement which should start appearing shortly. As far as job prospects go ,they are extremely good since almost every industry is capitalizing on the information explosion and technology penetration.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse6">
        <span lang="en">I am keen on taking a course in mass communication .Could you please suggest what course can I take ? Is there an age bar or eligibility conditions ? What are the job opportunities before/behind camera? Is it worth doing from IGNOU?</span>



                                                </a> </h4>
                                        </div>
                                        <div id="collapse6" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">Mass communication includes dissemination of news, information, entertainment and public messages to a large section of the masses. Radio, television ,film ,journalism, advertising are the main mediums. There could be several options but you first need to identify what field interests you the most . Courses are generally available at the -graduate level, though Delhi University also offers a bachelor’s degree in journalism .Jaima Millia Islamia offers an MA ,which includes television ,film video and print journalism ,while the Indian Institute of Mass Communication offers a PG diploma. At some DU colleges- such as Kamala Nehru and Delhi college of Arts & Commerce –advertising is also offered as a BA integrated course which includes modules in sales & marketing. Like wise , Indra Prastha College offers a BA in Mass Communications, While Makhanlal Chatturvedi Rashtriya Patrakarita Visvavidyalaya, Bhopal offers both BA and MA level courses .There is no specified upper age limit. Although IGNOU and other open universities do offer mass communications ,It is advisable to do a regular course as there is lot of practical training involved that cannot be done through correspondence.</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse7">
                                                    <span lang="en">I had English (Hons) in Ist BA. But Ido not Know what fields are open to me after Graduation. Please suggest.</span>

                                                   


                                                </a> </h4>
                                        </div>
                                        <div id="collapse7" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">There are plenty of career opportunities open to English (honours) graduates. You can take a professional diploma/degree courses in journalism, publishing or mass communication(TV & films, advertising, PR).Alternatively you can also opt for corporate communications, script writing fashion, airlines /cabin crew ,event management, etc. If you are very academically-inclined teaching could be perfect for you. However first try and figure out your aptitude and what career would suit you the most.</span>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse8">
                                                    <span lang="en">I want to pursue MBA but am confused from where should I do it.I have already completed BCom(pass).Kindly inform me whether XLRI conducts a part-time MBA and also the date of the entrance exams.</span>


                                                </a> </h4>
                                        </div>
                                        <div id="collapse8" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">If you have done a three-year B.Com (pass)and if your percentage is 50 or above then with a little preparation,you would be able to do it from any b-school.this is also the right time to scan newspaper for announcement to admissions. Yes XLRI does conduct a part-time Mba but it is of three years duration and meant only for working executives with sufficient experience. The XLRI admission test is, usually held on the first Sunday of every year. That is to say next year, it should fall on 6th January 2002.</span>

                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse9">
 <span lang="en">I am a Ist divisioner ISC (PCM) currently doing BA (history) as a regular candidate. I am also doing BCA from IGNOU and BE via correspondence. Please suggest in which subject should I pursue engineering and what about job placement.</span>



                                                </a> </h4>
                                        </div>
                                        <div id="collapse9" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <li><span lang="en">A. Aren’t you handling too many things at the same time? You must choose between history or engineering. And since engineering is a very practical subject ,even the correspondence course would demand a lot of your time. I suggest that you try jfor admission to one of the regular engineering colleges again next year. That gives you a better chance of getting a job.</span></li> 
                                                </br>
 <li><span lang="en">As far as the branches are concerned your choice should depend mainly on your area of interest. Traditionally, electronics and mechanical engineering have been the most popular .And there is maximum scope for jobs in these areas. Computer engineering has also really come up, while telecom engineering is another emerging field that will offer plenty of jobs.</span></li>
                                                </br>
<li><span lang="en">As far as jobs are concerned engineers are mainly employed in the government sector, in public sector organizations in private companies as commissioned officers in the defense service, in research organizations and laboratories as technical experts on engineering projects in banks and financial corporations. An engineer can also set up his own small unit/company or constancy.</span></li>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse10">
<span lang="en">I am a 2nd year student of BA honours (maths) and I am interested in doing MCA. Please suggest me some good Delhi-based institutes for the course.</span> 



                                                </a> </h4>
                                        </div>
                                        <div id="collapse10" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">MCA is a three-year course that covers predominantly software concepts, tools techniques along with hardware and management subjects.In Delhi the most sought after institutes offering the course are the Jawaharlal Nehru University. You can take Delhi University. You can take the entrance exams when in the final year of college and you need to start preparing immediately after second year exams.</span>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse11">
<span lang="en">I am appearing for Bcom (final)and want to do MBA.But I have some queries:</span> 
                                                    </br>
<span lang="en">What is the difference between MAT and CAT?</span>
</br>
<span lang="en">How much percentage in graduation is needed for admission in a good institute? </span>
                                                    </br>
<span lang="en">Suggest me some books to prepare for English test in MBA entrnace. ?</span>




                                                </a> </h4>
                                        </div>
                                        <div id="collapse11" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">MAT is Management Aptitude Test conducted by All India Management Association (AIMA) and CAT is Common Admission Test conducted by IIMs. CAT is for admission to IIMs and the other leading business schools such as MDI, Gurgaon. MAT screens candidates for other national level business schools. Technically you would need a minimum of 50% to get admission in any of the leading business schools. Also there are no separate books to prepare English for MBA entrance. The regular material has sectioned on it too.</span>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse12">
<span lang="en">I want to do MBA but I am confused from where should I do it. I have done Bcom (P). I want to Know if XLRI conducts part-time MBA .When does the institute hold its entrance examinations?</span>



                                                </a> </h4>
                                        </div>
                                        <div id="collapse12" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">If you have done a three-year Bcom (P) and if your final aggregate percentage is 50+,then with a good amount of preparation you should be able to do MBA from any of the leading business schools in the country. This is the right time to keep looking at the daily newspapers for announcements for admissions. Yes XLRI does conduct a part-time MBA but it is of three years duration and meant for only the working executives with sufficient experience to see them through the programme. The XLRI admissions test is, usually the first Sunday of the year.</span>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse13">
<span lang="en">I am a commerce graduate and want to do a course in gemology. Please advise.?</span>



                                                </a> </h4>
                                        </div>
                                        <div id="collapse13" class="panel-collapse collapse">
                                            <div class="panel-body">
 <li><span lang="en">There are several institutes offering courses in gemology and jewelry designing which range in duration and intensity from two-three months to one-two years. Prominent institutes are the Gems and Jewelry Export Prominent Council, Jaipur; the Geological institute of India, Mumbai; Jewellery Product Development Centre (New Delhi and Mumbai) Indian Diamond institute, Surat; SG Jhaveri Centre for Diamond Technology. Mumbai; the National Institute of Fashion Technology, New Delhi; South Delhi polytechnic for Women New Delhi.</span></li>
                                                </br>
<li><span lang="en">Most of these are under graduate courses available at the certificate and diploma level. Some institutions do offer post graduation diploma courses also. The scope in this field is extremely bright. And professionals in these areas are much sought after as well as very highly paid today.</span></li>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse14">
<span lang="en">I am a graduate in Zoology (Hons). Now I want to do a good computer course .I have heard about”medical transcription” Will it be good for me? What is its scope in India? I want to do PGDMT. Please suggest some leading institutes. ?</span>



                                                </a> </h4>
                                        </div>
                                        <div id="collapse14" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">In India, medical transcription(MT) is the fastest growing among all IT-enabled services. It basically refers to transcribing medical records. India is a preferred outsourcing station for IT firms in the US for medical transcription. A certificate course in Mt is mainly of 4 months duration. All graduates/doctors/nurses/paramedics are eligible for doing this course. A working knowledge of computers, coupled with a good command over English and a reasonable understanding of medical terminology are important requisites for doing this course. Prominent institutes;</span> 
                                                </br>
                                                <li><span lang="en">Pan-American Institute of Medical Transcription New Delhi</span></li> 
                                                </br>
                                                <li><span lang="en">Info-American Academy of Medical Transcription ,New Delhi</span></li> 
                                                </br>
                                                <li><span lang="en">KG Informatics Systems (Pvt) Ltd. Coimbatore</span></li>
                                                </br>
                                                <li><span lang="en">Indian Institute of Medical Transcription (Pvt) Ltd. Coinmbatore.</span></li>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse15">
<span lang="en">I have done my post graduation in social science and now I am in need of job, kindly guide me what should I do?</span>



                                                </a> </h4>
                                        </div>
                                        <div id="collapse15" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">You can apply in social justice department (samaj kalyan vibhag), hospitals and NGO’s. NGO’s recruit people directly. For government jobs you have to clear relevant exams and interviews as well as you can also prepare yourself for competitive exams in area of your interest.</span> 
                                             

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse16">
<span lang="en">I had completed my master’s in food and nutrition. Now I am worried and confused, I am in need of job and not understanding what to do next. Please suggest.</span>



                                                </a> </h4>
                                        </div>
                                        <div id="collapse16" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">Do not get worried, have patience. First of all write your resume and submit it in private hospitals and gym of your district. Please do read daily news paper, classifieds and rojgaar nirman then, whenever you find vacancy you can apply for government hospitals.</span> 
                                              

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion"
                                                    class="collapsed" href="#collapse17">
<span lang="en">After doing my graduation in commerce I am pursuing M.com parallel to that I am also giving competitive exams for bank but I am not qualifying, please guide me what to do?</span>



                                                </a> </h4>
                                        </div>
                                        <div id="collapse17" class="panel-collapse collapse">
                                            <div class="panel-body">
<span lang="en">If you had given exam for one or two times and you are not qualified, don’t worry but try to find out the reason for your failure. Sometimes over confidence also results in mistakes. Try to evaluate yourself and look out for the areas and subjects in which you are facing problems to answer correctly. Do think and inspect about every aspect and prepare again with full enthusiasm.</span> 
                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Question-->

            </div>
        </div>
    </div>
        <footer>
            <% include ../../partials/footer %>
        </footer>
          

        <script>

            $(document).ready(function () {

                FillState();
                
            });</script>
</body>


</html>