<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>

  <div class="pageTitle" style="height:0px">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Goverment EMP Department</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>Goverment EMP Department</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="userbtns custom">
            <ul class="nav nav-tabs">
                <li ><a data-toggle="tab" href="#">Login</a></li>
              <li class="active"><a data-toggle="tab" href="#Notices">Notices</a></li>
              <li><a data-toggle="tab" href="#Orders">Orders </a></li>
              <li><a data-toggle="tab" href="#Circulars">Circulars </a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="Notices" class="formpanel tab-pane fade in active">

              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">

                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#">उपयोगकर्ता
                        निर्देशिका पोस्ट मेट्रिक स्कॉलरशिप DSD Admin
                      </a> </h4>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                        href="#collapse2"> Work Order PMKK State Component MPCVET Office
                      </a> </h4>
                  </div>

                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                        href="#collapse2"> Work Allotment PMKVY (State Component) MPCVET Office

                      </a> </h4>
                  </div>

                </div>
              </div>

            </div>
            <div id="Orders" class="formpanel tab-pane fade in ">

              <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                        href="#collapse5">Minutes of Pre-Bid Meeting PMKVY-CSSM DSD Admin
                      </a> </h4>
                  </div>

                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                        href="#collapse5">PEB Bhopal द्वारा समूह 4 मे सहायक ग्रेड 3 स्टेनोग्राफर, स्टेनो टायपिस्ट, डाटा
                        एंट्री ऑपरेटर एवं अन्य समकक्ष पदो में प्रतीक्षा सूची के आवेदकों के अभिलेखों का परीक्षण
                      </a> </h4>
                  </div>

                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                        href="#collapse5">PEB Bhopal द्वारा समूह 4 मे सहायक ग्रेड 3 स्टेनोग्राफर, स्टेनो टायपिस्ट, डाटा
                        एंट्री ऑपरेटर एवं अन्य समकक्ष पदो में चयनित आवेदकों के अभिलेखों का परीक्षण
                      </a> </h4>
                  </div>

                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                        href="#collapse5">नियुक्ति आदेश (प्रशिक्षण अधिकारी)
                      </a> </h4>
                  </div>

                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                        href="#collapse5">प्रशिक्षण अधिकारियो को एक वर्षीय ( छह – छह माह सेमेस्टर प्रणाली ) CITS
                        प्रशिक्षण पर भेजे जाने बाबत
                      </a> </h4>
                  </div>

                </div>
              </div>

            </div>
            <div id="Circulars" class="formpanel tab-pane fade in ">
              
                <div class="panel-group" id="accordion">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                          href="#collapse3"> PEB Bhopal द्वारा समूह 4 मे सहायक ग्रेड 3 स्ट DSD Admin				
                        </a> </h4>
                    </div>
                    
                  </div>
                  
              
              </div>
            </div>
          </div>

        </div>
        <!--Question-->

      </div>
    </div>

    <footer>
      <% include ../../partials/footer %>
    </footer>
      

    <script>

      $(document).ready(function () {

        FillState();
        
      });</script>
</body>


</html>