<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <header>
        <% include ../../partials/header %>
    </header>

    <div class="pageTitle" style="height:0px">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading">Placement Service Model</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="breadCrumb"><a href="/">Home</a> / <span>Placement Service Model</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title End -->
    <div class="section howitwrap">
        <div class="container">

            <ul class="howlist row">
                <!--step 1-->
                <li class="col-md-3 col-sm-6">
                    <div class="iconcircle"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    <h4>Neem (TPR)</h4>

                </li>
                <!--step 1 end-->

                <!--step 2-->
                <li class="col-md-3 col-sm-6">
                    <div class="iconcircle"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                    <h4>Apprenticeship (TPR)
                    </h4>

                </li>
                <!--step 2 end-->

                <!--step 3-->
                <li class="col-md-3 col-sm-6">
                    <div class="iconcircle"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
                    <h4>Contractual </h4>

                </li>
                <li class="col-md-3 col-sm-6">
                    <div class="iconcircle"><i class="fa fa-user" aria-hidden="true"></i></div>
                    <h4>Permanent Staffing
                    </h4>

                </li>
                <!--step 3 end-->
            </ul>
        </div>
    </div>

    <footer>
        <% include ../../partials/footer %>
    </footer>
      

    <script>

        $(document).ready(function () {

            FillState();
            
        });</script>
</body>


</html>