<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
  <style>
    /* .dropdown-menu>.active>a {
      color: #000 !important;
      text-decoration: none;
      background-color: #fff !important;
      outline: 0;
      width: 202%;
    }

    .dropdown-menu>.active>a:hover {
      color: #000 !important;
      text-decoration: none;
      background-color: #E2E4F3 !important;
      outline: 0;
      width: 202%;
    } */
  </style>
</head>

<body onload="createCaptchafeedback()">
  <header>
    <% include ../../partials/header %>
  </header>

  <!-- Page Title start -->
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" <span lang="en">Feedback </span></h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;"> Home </span></a> / <span lang="en">Feedback</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">
              <h5><span lang="en"> Feedback </span></h5>
              <!-- login form -->
              <div class="row">
                <div class="col-md-6">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en"> User Name&nbsp </span><span class="asterisk_input label-icon"></span>
                    </label>
                    <div class="m-typeahead">
                      <input type="text" id="Usernamefeedback"
                        data-provide="typeahead" class="form-control" placeholder="User Name" onfocusout=" getvalidated('Usernamefeedback','text','User Name')"> 
                      <span id="validUsernamefeedback" style="font-size: 11px; color: #cc0033; "></span>

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">  Mobile Number&nbsp</span><span class="asterisk_input label-icon"></span>
                    </label>
                    <input type="number" id="ContactNo"onkeydown="if(event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;}"  onpaste="onlyNumbers(event)" onfocusout=" getvalidated('ContactNo','number','Mobile Number')"
                      onkeypress="if(this.value.length>=10) { return false;}" class="form-control"
                      placeholder="Mobile Number" />
                    <span id="validContactNo" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">E-mail&nbspId</span> <span class="asterisk_input label-icon"></span>
                    </label>
                    <input type="email" id="EmailId" onfocusout="  getvalidated('EmailId','email','E-mail Id')"
                      class="form-control" placeholder="E-mail Id" onkeypress="if(this.value.length>=200){return false;}"/>
                    <span id="validEmailId" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en"> Location&nbsp</span><span class="asterisk_input label-icon"></span>
                    </label>
                    <input type="text" data-provide="typeahead" name="City[]" id="Location"
                      onfocusout="  getvalidated('Location','text','Location')" class="form-control"
                      placeholder="Location" />
                    <span id="validLocation" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                </div>

              </div>
              <div>
                <h4><span lang="en">Feedback Area </span><span class="asterisk_input label-icon"></span></h4>
              </div>
              
              <div id="checkboxList">
                <div class="col-md-4">
                  <ul class="row featchoose" style="text-align: left">
                    <li><input id="chkActiveStatus" type="checkbox" name="checkbox" value="Registration"><span lang="en"> Registration</span> 
                    </li>
                    <li><input id="chkActiveStatus1" type="checkbox" name="checkbox" value="Counselor"><span lang="en"> Counselor</span> </li>
                    <li><input id="chkActiveStatus2" type="checkbox" name="checkbox" value="Login"><span lang="en"> Login</span></li>
                    <li><input id="chkActiveStatus3" type="checkbox" name="checkbox" value="SkillDevelopmentCentre">
                    <span lang="en"> Skill Development Centre </span>  </li>
                    <li><input id="chkActiveStatus4" type="checkbox" name="checkbox" value="JobFairs"><span lang="en"> Job Fairs </span>  </li>
                    <li><input id="chkActiveStatus5" type="checkbox" name="checkbox" value="PlacementServices">
                     <span lang="en"> Placement Services </span></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="row featchoose" style="text-align: left">
                    <li><input id="chkActiveStatus6" type="checkbox" name="checkbox" value="Employer"><span lang="en"> Employer</span></li>
                    <li><input id="chkActiveStatus7" type="checkbox" name="checkbox" value="Counselling"><span lang="en"> Counselling</span>
                    </li>
                    <li><input id="chkActiveStatus8" type="checkbox" name="checkbox" value="Jobalerts"><span lang="en"> Job alerts</span>
                    </li>
                    <li><input id="chkActiveStatus9" type="checkbox" name="checkbox" value="Recruiter"><span lang="en"> Recruiter </span>
                    </li>
                    <li><input id="chkActiveStatus0" type="checkbox" name="checkbox" value="CallCentre"> <span lang="en"> Call Centre</span> 
                    </li>
                    <li><input id="chkActiveStatus01" type="checkbox" name="checkbox" value="Companies"> <span lang="en"> Companies</span> 
                    </li>

                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="row featchoose" style="text-align: left">
                    <li><input id="chkActiveStatus02" type="checkbox" name="checkbox" value="GovtSection"><span lang="en"> Govt Section </span>  </li>
                    <li style="display: none;"><input id="chkActiveStatus03" type="checkbox" name="checkbox" value="SelfEmploymentSchemes">
                     <span lang="en"> Self Employment Schemes</span></li>
                    <li><input id="chkActiveStatus04" type="checkbox" name="checkbox" value="Learning"><span lang="en"> Learning</span></li>
                    <li><input id="chkActiveStatus05" type="checkbox" name="checkbox" value="Examination"><span lang="en"> Examination</span>
                    </li>
                    
                    <li><input id="chkActiveStatus05" type="checkbox" name="checkbox" value="Jobseekerservices"><span lang="en"> Job seeker services </span>  </li>
                    <li><input id="chkActiveStatus06" type="checkbox" name="checkbox" value="Other"><span lang="en"> Other</span> </li>

                  </ul>
                </div>
              </div>
              <div class="col-md-12">
              <div class="row">
                <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label" style="padding-top: 15px">
                  <span lang="en">  Comments&nbsp </span><span class="asterisk_input label-icon"></span>
                  </label>
                  <textarea class="form-control"  id="Comment" onfocusout="getvalidated('Comment', 'text', 'Comments')"
                  style="height: 110px;"
                    name="description" placeholder="Comments"></textarea>
                  <span id="validComment" style="font-size: 11px; color: #cc0033; "></span>
                </div>
              </div>
              </div>

              
              <div class="row">
                <div class="col-md-4">
                  <div class="formrow">
                    <div class='information' style="    overflow: unset;"><strong><span lang="en"> Upload Document</span></strong> </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="formrow">
                    <% if (typeof msg != 'undefined'){%>
                    <% if(msg.length > 0){ %>
                    <% if(type == "Feedback"){ %>
                    <% if (msg == "File Uploaded!"){ %>
                    <div class="alert alert-success alert-dismissable" id="FeedbackMsg"
                       style="display: none"> <%=msg%></div>
                    <% } else if (msg == "Error: No File Selected!"){ %>
                    <div class="alert alert-warning alert-dismissable" id="FeedbackMsg"
                       style="display: none"> <%=msg%></div>
                    <% } else { %>
                    <div class="alert alert-info alert-dismissable" id="FeedbackMsg"
                       style="display: none"> <%=msg%></div>
                    <% } %>
                    <% } %>
                    <% } %>
                    <% } %>
                    <form class="m-form" enctype="multipart/form-data"
                    method="post" action="/FeedBackForm" >
                    <input type="submit" id="postattach"
                    class="btn btn-success" 
                    style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
                    
              
                 
                    <input type="file" name="myFile"
                       onclick="Cookies.set('modaltype','Feedback', { expires: 1, path: '/' });">
                    </form>
                    <% if (typeof file != 'undefined'){%>
                    <% if(file.length > 0){ %>
                    <% if(type == "Feedback"){ %>
                    <a href="Feedback/<%=file%>"><span
                          id="Feedback" style="display:none"><%=file%></span>
     
                    </a>
                    <% }else { %>
                    <a><span id="Feedback" style="display:none"></span>
     
                    </a>
                    <% } %>
                    <% } %>
                    <% } else { %>
                    <a><span id="Feedback" style="color: #263B68;display:none"></span>
     
                    </a>
                    <% } %>
     
     
     
     
                 </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <tr>
                      <td style="text-align:left;">
                        <strong><span style="font-size: 15px; "><span lang="en"> You Can Only Attach Image or Document File i.e.(pdf, doc, docx, jpg, Gif, png)</span></strong></td>
                    </tr>
                  </div>
                </div>
              </div>
              <div class="formrow" style="text-align:center;" >
                <tr>
                  <td style="text-align:left;">

                    <strong><span style="font-size: 15px; color: #cc0033">
                     <span lang="en"> Please Enter The Text Below In Text Box</span></span></strong></td>
                </tr>
              </div>

              <div class=" row" style=" margin-left: 40%; ">
                <div class="col-md-3">
                  <div class="formrow">
                    <div id="captchafeedback">
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="formrow">
                    <a onclick="createCaptchafeedback()"  style="    color: #7991d4;">
                      <i class="fa fa-refresh" style="font-size:24px;margin-top:9px"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="formrow" style="display:block;margin-left: 37%;">
                  <input type="text" onfocusout="getvalidated('cpatchaTextBoxfeedback','text','Captcha')"
                    placeholder="Captcha" id="cpatchaTextBoxfeedback" />
                  <span id="validcpatchaTextBoxfeedback" style="font-size: 11px; color: #cc0033; "></span>

                </div>
              </div> -->



              <div class="row" style="display:block">
                <div class="col-12">
                  <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchaTextBoxfeedback','text','Captcha')" id="cpatchaTextBoxfeedback" style='display:block;margin:auto'/>
                </div>
               </div>
               <div class='row'>
                <div class="col-12">
                  <span id="validcpatchaTextBoxfeedback" style="display:block;font-size: 11px; color: #cc0033; margin:auto; position:relative;top:8px;width:50%;text-align: center;"></span>
                </div>
               </div>

               <div class="formrow" style="display:block;margin-top: 10px;">
              <input type="submit" id="btnSubmit" onclick='CheckValidation()' class="btn" value="submit">
</div>





            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <% include ../../partials/footer %>
  </footer>
    

  <script src="/customjs/FeedBack/FeedBack.js"></script>


  <script>  var code;
    function createCaptchafeedback() {
      //clear the contents of captcha div first 
      document.getElementById('captchafeedback').innerHTML = "";
      var charsArray =
        "0123456789";
      var lengthOtp = 6;
      var captchafeedback = [];
      for (var i = 0; i < lengthOtp; i++) {
        //below code will not allow Repetition of Characters
        var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
        if (captchafeedback.indexOf(charsArray[index]) == -1)
          captchafeedback.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captchafeedback";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captchafeedback.join(""), 0, 30);
      //storing captcha so that can validate you can save it somewhere else according to your specific requirements
      code = captchafeedback.join("");
      document.getElementById("captchafeedback").appendChild(canv); // adds the canvas to the body element
    }
    function validateCaptchafeedback() {
      event.preventDefault();
      debugger
      if (document.getElementById("cpatchaTextBoxfeedback").value == code) {
        InsUpdFeedBack();
      } else {
        jQuery("#cpatchaTextBoxfeedback").val("");
        createCaptchafeedback();
        $("#cpatchaTextBoxfeedback").css('border-color', 'red');
            $("#validcpatchaTextBoxfeedback").html("Please select Valid Captcha");
      }
    }

    $(document).ready(function () {
      FillAutoCompleteCity();
      resetMode();
      FillState();
      
      Cookies.set('modaltype','Feedback', { expires: 1, path: '/' });
     
      $("#Usernamefeedback").keypress(function(event){
        var inputValue = event.charCode;
        if(!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)){
            event.preventDefault();
        }
    });




    });

// +

  </script>


</body>

</html>