<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>


</head>

<body>
  <header>
    <% include ../../partials/header %>
  </header>
  <!-- Page Title start -->
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Career Counselling Form</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">Career Counselling Form</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5 style="text-align:center">कैरियर काउंसिलिंग हेतु</h5>

              <h4 style="text-align:center">
                व्यक्तिगत सूचना फार्म
              </h4>

              <div class="tab-content formpanel">
                <div class="formrow" style="border: 3px solid;">
                  <p style="text-align: left;">1. कृप्या इस फार्म को सावधानी पूर्वक भरें।</p>
                  <p style="text-align: left;">2. फार्म में दी गई सूचना आपके कैरियर के विषय में परामर्श देने में
                    परामर्शदाता के लिए सहायक होगी। </p>
                  <p style="text-align: left;">3. यह जानकारी गोपनीय रखी जाएगी।</p>
                </div>
                <p style="font-size: 14;font-size: 16px;text-decoration: underline;font-weight: 600;">व्यक्तिगत जानकारी
                </p>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                        <span lang="en">नाम: श्री/कु/श्रीमती </span>  <span class="asterisk_input label-icon"></span>
                      </label>
                      <input type="text" id="candidatename" 
                        class="form-control" placeholder=""  />
                        <span id="validcandidatename" style="font-size: 11px; color: #cc0033; " ></span>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                        <span lang="en">जन्म तिथि</span> <span class="asterisk_input label-icon"></span>
                      </label>
                      <input type="text" style="height:49px"  class="form-control datepicker" id="DOBtextbox"
            placeholder="Enter Date of birth">
            <span id="validDOBtextbox" style="font-size: 11px; color: #cc0033; " ></span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">पता </span>  <span class="asterisk_input label-icon"></span>
                    </label>
                    <textarea type="email" id="address" 
                      class="form-control"></textarea>
                      <span id="validaddress" style="font-size: 11px; color: #cc0033; " ></span>
                  </div>
                </div>


              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">दूरभाष नं</span> <span class="asterisk_input label-icon"></span>
                    </label>
                    <input type="number" id="contactnumber" 
                      class="form-control" placeholder="" onkeypress="if (this.value.length >= 10) { return false; };" />
                      <span id="validcontactnumber" style="font-size: 11px; color: #cc0033; " ></span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">विवाहित/अविवाहित </span><span class="asterisk_input label-icon"></span>
                    </label> 
                    <select type="text" id="maritalstatus" class="form-control">
                     
                    </select>
                    <span id="validmaritalstatus" style="font-size: 11px; color: #cc0033; " ></span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">जाति(GN/ST/SC/OBC) </span><span class="asterisk_input label-icon"></span>
                    </label>
                    <select type="text" id="category" class="form-control" placeholder=""></select>
                    <span id="validcategory" style="font-size: 11px; color: #cc0033; " ></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">शैक्षणिक योग्यतों </span>
                    </label>
                    <textarea type="text" id="edcationhalqualification" 
                      class="form-control" placeholder=""  ></textarea>

                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">1.उपलब्धिया (Attaiments) (आवेदक स्वयं भरे)</span>
                    </label>
                    <br>
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">(अ) शैक्षणिक योग्यताऐं:- कृप्या अपनी अंतिम 3 परीक्षाां का विवरण दें । </span>
                    </label>

                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <table class="table">
                      <tr class="profilesubheading">

                        <th>क.</th>
                        <th>काॅलेज/स्कूल </th>
                        <th>परीक्षा स्तर/वर्ष</th>
                        <th>विषय</th>
                        <th>प्राप्तांकः</th>
                        <th>श्रेणी</th>
                        <th>जोड़ें</th>


                      </tr>
                      <div class="clearfix"></div>
                      <tbody class="educationdetail">
<tr class="addproductrow">
  <td>
    1
  </td>
  <td style='    width: 18%;'>
    <select  id="college0" class="form-control" >
      <option value="पीजी">पीजी</option>
      <option value="ग्रेजुएट">ग्रेजुएट</option>
      <option value="12वी">12वी</option>
      <option value="10वी">10वी</option>
      <option value="मिडिल">मिडिल</option>
      <option value="पीजी डि">पीजी डि</option>
      <option value="डिप्लोमा">डिप्लोमा</option>
      <option value="प्रमाण पत्र">प्रमाण पत्र</option>
      <option value="अन्य">अन्य</option>
    </select>

  </td>
  <td>
    <input type="text" id="examlevel0" class="form-control" placeholder="" />
  </td>
  <td>
    <input type="text" id="subject0" class="form-control" placeholder="" />
  </td>
  <td>
    <input type="text" id="percetage0" class="form-control" placeholder="" />
  </td>
  <td>
    <input type="text" id="grade0" class="form-control" placeholder="" />
  </td>
  <td>
    <input type="submit"  class="btn" value="जोड़ें" onclick="addNewProductRow()" />
  </td>
</tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">(ब) प्रशिक्षण्:- कृपया बताऐं क्या आपने पहले कोई प्रशिक्षण किया हुआ है ? </span>
                    </label>
                    <input type="text" id="training" class="form-control" placeholder="" />
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">(स) कार्य अनुभव:- क्या आप अंशकालिका /पूर्णकालिक रोजगार में है ?<br><br>(या
                        पारिवारिक व्यवसाय के रूप में कार्य अनुभव सहित विवरण दीजिए ) -- </span>
                    </label><br><br>
                    <input type="text" id="experience" class="form-control" placeholder="" />
                    <br>
                    <br>
                    (III) आर्थिक एवं पारिवारिक परिस्थितिया (आवेदक स्वयं भरं )

                    <br>
               
                    <br>
                    <table class="table">
                      <tr class="profilesubheading">

                        <th>सबंध</th>
                        <th>आयु</th>
                        <th>शिक्षा का स्तर</th>
                        <th>व्यवसाय</th>
                        <th>औसत वार्षिक आय</th>
                        <th>जोड़ें</th>


                      </tr>
                      <div class="clearfix"></div>
                      <tbody class="familydetail">
                        <tr class="addproductrowfamily">
                         
                          <td style='    width: 18%;'>
                            <select  id="relation0" class="form-control">
                              <option value="स्वयं ">स्वयं</option>
                              <option value="पति/पत्नी ">पति/पत्नी</option>
                              <option value="पिता">पिता</option>
                              <option value="माता">माता</option>
                              <option value="भाई">भाई</option>
                              <option value="बहन">बहन</option>
                            </select>

                          </td>
                          <td>
                            <input type="text" id="age0" class="form-control" placeholder="" />
                          </td>
                          <td>
                            <input type="text" id="qual0" class="form-control" placeholder="" />
                          </td>
                          <td>
                            <input type="text" id="occupation0" class="form-control" placeholder="" />
                          </td>
                          <td>
                            <input type="text" id="salary0" class="form-control" placeholder="" />
                          </td>
                          <td>
                            <input type="submit"  class="btn" value="जोड़ें" onclick="addNewfamily()" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">नोटः आवेदक शेष पार्ट II(b),III,IV,V,VI,VII परामर्शदाता के समक्ष उनकी मदद से भरें।
                      </span>
                    </label>

                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">II.(b)</span>
                    </label>
                    <br>
                    <br>
                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">1. यदि आप अपनी शिक्षा या प्रशिक्षण जारी रखना चाहते हैं तो क्या कोई आर्थिक समस्या है?</span>
                    </label>
                    <input type="text" id="problems" class="form-control" placeholder="" />
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">

                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">2.आपके परिवार के किसी सदस्य ने क्या आपको उच्च शिक्षा, व्यव. शिक्षा, रोजगार या प्रशिक्षण सबंधी कोई सलाह दी है ?</span>
                    </label>
                    <input type="text" class="form-control" placeholder=""  id="advice"/>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">

                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">III. अभिरूचि (Aptitudes) </span>
                    </label>

                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">

                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en"> 1. स्कूल/काॅलेज में पढ़े गए 2 विषय बतऐं जिनमें आपने उच्चतम अंक प्राप्त किए हो -
                      </span>
                    </label>

                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="formrow">

                    <input type="text" class="form-control" placeholder=""  id="HighestScore_1"/>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="" id="HighestScore_2" />


                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">

                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en"> 2. स्कूल/काॅलेज में पढे़ गये 2 विषय बताए जिनमें आपकी सर्वाधिक कठिनाई हुई
                        हो-</span>
                    </label>

                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="formrow">

                    <input type="text" class="form-control" placeholder="" id="difficulty_1"/>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="" id="difficulty_2" />


                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">

                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">IV. स्वास्थ्य (Health) </span>
                    </label>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">

                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en"> यदि आपको कोई स्वास्थ्य संबधी या शारीरिक समस्या हो तो बताए - </span>
                    </label>
                    <input type="text" class="form-control" placeholder="" id="health" />
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="formrow">

                    <label for="example-email-input" class="col-2 col-form-label">
                      <span lang="en">V. स्वभाव (Temperament) </span>
                    </label>

                  </div>
                </div>
              </div>
         

            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en"> 1. क्या आपका कोई मित्र या प्रतिद्वद्धी (जिसके समान आप बनना चाहते हो)- </span>
                  </label>
                  <input type="text" class="form-control" placeholder="" id="Temperament_1"  />
                </div>
              </div>

            </div>
            <br>

            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en"> 2. क्या आपने कभी किसी स्कूल/काॅलेज/यूनिवर्सिटी/संस्था/स्पोट्र्स टीम/हावी क्लब आदि
                      की गतिविधियों में भाग लिया है?</span>
                  </label>
                  <input type="text" class="form-control" placeholder="" id="Temperament_2"/>
                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en"> 3. उपरोक्त बताई गई किसी संस्था के आप प्रसीडेंट रहे है?</span>
                  </label>
                  <input type="text" class="form-control" placeholder="" id="Temperament_3" />
                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en"> 4. अजनबियों के बीच में सामान्यतया आप कैसा अनुभव करते है, नीचे टिक करें- </span>
                  </label>

                </div>
              </div>

            </div>
            <br>
            <div class="row" style="margin-left: 5%;">
              <div class="col-md-4">
                <ul class="row featchoose">
                  <li><input  type="radio" name="checkbox" value="संकोच अनुभव करता हूॅ"><span lang="en">&nbsp&nbsp संकोच अनुभव करता हूॅ </span>
                  </li>

                </ul>
              </div>
              <div class="col-md-4">
                <ul class="row featchoose">
                  <li><input  type="radio" name="checkbox" value="प्रसन्न व सहज रहता हू"><span lang="en">&nbsp&nbsp प्रसन्न व सहज रहता हू</span></li>


                </ul>
              </div>
              <div class="col-md-4">
                <ul class="row featchoose">
                  <li><input  type="radio" name="checkbox" value="पता नही"><span lang="en">&nbsp&nbsp पता नही </span> </li>

                </ul>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">VI. रुचिया (Interest) </span>
                  </label>

                </div>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en"> 1. उन 2 विषयों के नाम बताए जो आपको स्कूल/काॅलेज में अत्यधिक पंसद हों- </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="" id="Interest_1_1" />
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="" id="Interest_1_2" />
                  </div>
                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">2. उन 2 विषयों के नाम बताए जो आपको स्कुल/काॅलेज में नापसद आते हों- </span>
                  </label>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="" id="Interest_2_1" />
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="" id="Interest_2_2" />
                  </div>
                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">3. आप अपना खाली समय कैसे व्यतीत करते है? </span>
                  </label>
                  <input type="text" class="form-control" placeholder="" id="Interest_3"/>


                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">4. स्कुली शिक्षा के समय की वे गतिविधिया ं जिनमें आपने खुशी से भाग लिया-</span>
                  </label>
                  <input type="text" class="form-control" placeholder="" id="Interest_4" />


                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en"> 5. निम्न में से कौन से 2 रोजगारपरक शिक्षा/कैरियर के समुह को आप चुनना चाहेंगे, टिक
                      करें। </span>
                  </label>

                  <ul class="row featchoose">
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="इंजीनियरिंग,टेक्नीकल एवं साइस से संबद्ध व्यवसाय जैसे इंजीनियर, मशीनिस्ट, साइंटिस्ट।"><span lang="en">
                      &nbsp&nbsp इंजीनियरिंग,टेक्नीकल एवं साइस से संबद्ध व्यवसाय जैसे इंजीनियर, मशीनिस्ट, साइंटिस्ट।</span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="मेडिकल एवं
                      पैरामेडिकल व्यवसाय जैसे डाक्टर, नर्स, फार्मेसिस्ट, फिजियोथेरेपिस्ट।"><span lang="en"> &nbsp&nbsp मेडिकल एवं
                        पैरामेडिकल व्यवसाय जैसे डाक्टर, नर्स, फार्मेसिस्ट, फिजियोथेरेपिस्ट। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="शिक्षण एवं समाज
                      कल्याण (सोशलाजी/एमएसडब्ल्यू) व्यवसाय जैसे शिक्षक,
                      प्रोफसर,एनजीओ।"><span lang="en">&nbsp&nbsp शिक्षण एवं समाज
                        कल्याण (सोशलाजी/एमएसडब्ल्यू) व्यवसाय जैसे शिक्षक,
                        प्रोफसर,एनजीओ। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="प्रशासनिक अधिकारर
                      एव ं क्लर्क व्यवसाय जैसे प्ए च्ब्एैैब्ए रेल्वे अधिकारी एवं
                      क्लर्क।"><span lang="en">&nbsp&nbsp प्रशासनिक अधिकारर
                        एव ं क्लर्क व्यवसाय जैसे प्ए च्ब्एैैब्ए रेल्वे अधिकारी एवं
                        क्लर्क। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="कम्प्यूटर/आई.टी.
                      व्यवसाय जैसे आॅपरेटर, प्रोग्रामर, वेब डिजाइनर, एनीमेशन, हार्डवेयर
                      विशेषज्ञ।"><span lang="en">&nbsp&nbsp कम्प्यूटर/आई.टी.
                        व्यवसाय जैसे आॅपरेटर, प्रोग्रामर, वेब डिजाइनर, एनीमेशन, हार्डवेयर
                        विशेषज्ञ।</span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="बिजनेस प्रबंधन
                      व्यवसाय (एमबीए) जैसे बिजनेस मैनेजर, मार्केटिंग मैनेजर।"><span lang="en">&nbsp&nbsp बिजनेस प्रबंधन
                        व्यवसाय (एमबीए) जैसे बिजनेस मैनेजर, मार्केटिंग मैनेजर।</span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="वित्त/बीमा व्यवसाय
                      जैसे बैंक अधिकारी, क्लर्क, बीमा अधिकारी, अभिकर्ता। "><span lang="en">&nbsp&nbsp वित्त/बीमा व्यवसाय
                        जैसे बैंक अधिकारी, क्लर्क, बीमा अधिकारी, अभिकर्ता। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="सर्विस व्यवसाय जेसे
                      एअर होस्टेस, पायलट, होटल कर्मी काल सेंटर व रिटेल कर्मी।"><span lang="en">&nbsp&nbsp सर्विस व्यवसाय जेसे
                        एअर होस्टेस, पायलट, होटल कर्मी काल सेंटर व रिटेल कर्मी। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="साहित्यक व्यवसाय
                      जैसे रचनात्मक लेखन, र्लाब्रेरियन पत्रकार।"><span lang="en">&nbsp&nbsp साहित्यक व्यवसाय
                        जैसे रचनात्मक लेखन, र्लाब्रेरियन पत्रकार। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="कला एव संगीत व्यवसाय
                      जैसे आर्टिस्ट, म्युजिशियन, सिंगर, डांसर, पेंटर।"><span lang="en">&nbsp&nbsp कला एव संगीत व्यवसाय
                        जैसे आर्टिस्ट, म्युजिशियन, सिंगर, डांसर, पेंटर। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="कृषि/कृषि से संबंधित
                      व्यवसाय जैसे कृषि/बागवानी/वानिकी/फिशरीज
                      विशेषज्ञ/वैज्ञानिक।"><span lang="en">&nbsp&nbspकृषि/कृषि से संबंधित
                        व्यवसाय जैसे कृषि/बागवानी/वानिकी/फिशरीज
                        विशेषज्ञ/वैज्ञानिक।</span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="रक्षा व्यवसाय जैे
                      सेना/पुलिस में अधिकारी एवं सैनिक।"><span lang="en">&nbsp&nbsp रक्षा व्यवसाय जैे
                        सेना/पुलिस में अधिकारी एवं सैनिक। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="ला (विधि) व्यवसाय
                      जैसे वकील, जज,विधि, अधिकारी।"><span lang="en">&nbsp&nbsp ला (विधि) व्यवसाय
                        जैसे वकील, जज,विधि, अधिकारी। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="कामर्स से संबंधित
                      व्यवसाय जैेसे चार्टर्ड एकाउंटेंट, कंपनी सेक्रटरी।"><span lang="en">&nbsp&nbsp कामर्स से संबंधित
                        व्यवसाय जैेसे चार्टर्ड एकाउंटेंट, कंपनी सेक्रटरी। </span>
                    </li>
                    <li><input type="checkbox" class="single-checkbox" name="interested" value="स्वय का व्यवसाय जैसे
                      बिजनेस, डेयरी, होजरी, इलेक्ट्रिकल/इलेक्ट्रानिक्स शाॅप"><span lang="en">&nbsp&nbsp स्वय का व्यवसाय जैसे
                        बिजनेस, डेयरी, होजरी, इलेक्ट्रिकल/इलेक्ट्रानिक्स शाॅप </span>
                    </li>
                  </ul>

                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">VI.समस्या(Problem)</span>
                  </label>



                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">1.आप कौनस व्यवसाय पाठ्यक्रम/उच्च शिक्षा/रोजगार/प्रशिक्षण करना चाहेंगे ?</span>
                  </label>
                  <input type="text" class="form-control" placeholder="" id="Problem_1" />


                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">2.क्या आपको तुरंत रोजगार की जरूरत है ?</span>
                  </label>
                  <input type="text" class="form-control" placeholder="" id="Problem_2" />


                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">3.रोजगार/प्रशिक्षण के चयन में आप को क्या कठिनाइया आ रही है ?</span>
                  </label>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="" id="Problem_3_1" />
              </div>
              <div class="col-md-3">
                रंत रोजगार की जरूरत है ?
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder=""  id="Problem_3_2" />
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">4. रोजगार/प्रशिक्षण के चयन में आप को क्या कठिनाइया आ रही है ? </span>
                  </label>
                  <input type="text" class="form-control" placeholder="" id="Problem_4_1" />


                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="formrow">

                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">समसआ के बारे में परामर्शदाता का मूल्यांकन </span>
                  </label>
                  <input type="text" class="form-control" placeholder="" id="Problem_4_2" />


                </div>
              </div>

            </div>
            <br>
         
              <div class="row">
                <div class=""><div class="formrow">
                        <input type="submit"  class="btn" id="Submit" onclick="Checkcounselling()" value="Submit">
                     </div></div>
             
  
             </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  </div>
  </div>


  </div>
  <footer>
    <% include ../../partials/footer %>
  </footer>

  <script src="../customjs/CareerCounsellingForm.js" type="text/javascript"></script>
  <script> 
    /* Add "https://api.ipify.org?format=json" statement 
       this will communicate with the ipify servers in 
       order to retrieve the IP address $.getJSON will 
       load JSON-encoded data from the server using a 
       GET HTTP request */ 
  
    $.getJSON("https://api.ipify.org?format=json", 
                      function(data) { 
  
    sessionStorage.ipAddress= data.ip; 
    }) 
  </script>
  <script type="text/javascript">


    $(document).ready(function () {
     FillMaritalstatus('parsedatasecuredFillMaritalstatus','maritalstatus');
  FillCategory('parsedatasecuredFillCategory','category');
      $(function () {
                $(".datepicker").datepicker({
                  format:'dd/mm/yyyy'
                });
            });
      $("input[name='interested']").change(function () {
      var maxAllowed = 2;
      var cnt = $("input[name='interested']:checked").length;
      if (cnt > maxAllowed) 
      {
         $(this).prop("checked", "");
         toastr.warning('Select maximum ' + maxAllowed + ' options');
     }
  });
    });
  </script>
</body>

</html>