<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>


</head>

<body>
    <header>
        <% include ../../partials/header %>
    </header>
    <!-- Page Title start -->
    <div class="pageTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading" lang="en">Career Counselling Details</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">Career Counselling Details</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title End -->
    <div class="listpgWraper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="userccount">
                        <div class="formpanel">

                            <!-- Personal Information -->
                            <h5 style="text-align:center">Career Counselling Details</h5>


                            <table class="table">
                                <tr class="profilesubheading">

                                    <th>Title</th>
                                    <th>Venue</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th></th>

                                </tr>
                                <div class="clearfix"></div>
                                <tbody id="certificationtable">

                                </tbody>
                            </table>







                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalcareer" style="overflow: auto !important;" role="dialog" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog" style="width:34%;" role="document">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="userccount" style="padding: 5px 20px !important">
                    <div class="formpanel">
                        <button type="button" class="close" data-dismiss="modal"
                            style="margin-top: -10px;font-size: xx-large;">×</button>

                        <h5>Career Counselling Details</h5>
                        <div class="modal-body" id="modalbody">

                            <div class="job-header">
                                <div class="jobdetail">

                                    <ul class="jbdetail">
                                        <li class='row'>
                                            <div class='col-md-4 col-xs-6'>
                                                Title:</div>
                                            <div class='col-md-6 col-xs-6'><span style='  color: darkgrey;  width: 102%' id="title"></span></div>
                                        </li>
                                        <li class='row'>
                                            <div class='col-md-4 col-xs-6'>Details</div>
                                            <div class='col-md-6 col-xs-6'><span style='  color: darkgrey;  width: 102%' id="details"></span></div>
                                        </li>
                                        <li class='row'>
                                            <div class='col-md-4 col-xs-6'>Venue</div>
                                            <div class='col-md-6 col-xs-6'><span style='  color: darkgrey;  width: 102%' id="venue"></span></div>
                                        </li>
                                        <li class='row'>
                                            <div class='col-md-4 col-xs-6'>Exchange Name</div>
                                            <div class='col-md-6 col-xs-6'><span style='color: darkgrey;    width: 102%' id="exchangename"></span></div>
                                        </li>
                                        <li class='row'>
                                            <div class='col-md-4 col-xs-6'>Date</div>
                                            <div class='col-md-6 col-xs-6'><span style=' color: darkgrey;   width: 102%'id="date"></span></div>
                                        </li>
                                        <li class='row'>
                                            <div class='col-md-4 col-xs-6'>Information Attached</div>
                                            <div class='col-md-6 col-xs-6'><span style=' color: darkgrey;   width: 102%' id="infoattach">Nil</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span style="color:red"> If Job Seeker's wants to Register for this Career Counselling,
                                click on Job Seeker's Register ::</span>

                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="window.location='/JobSeekerRegister'" class="btn btn-default" >Jobseeker's Register</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    </div>
    <footer>
        <% include ../../partials/footer %>
    </footer>
      
    <script src="../customjs/CareerCounselling/CareerCounsellingDetails.js" type="text/javascript"></script>
       
    <script type="text/javascript">
    

        $(document).ready(function () {
            FillCCDetail('100')
         });
      </script>
</body>

</html>