<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>

</head>

<body >

  <header>
    <% include ../../partials/header %>
  </header>

  <div class="pageTitle" style="height:0px">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Select Job Seeker's</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>Select Job Seeker's</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
            <div class="col-md-4"> 
                    <!-- Side Bar -->
                    <div class="sidebar">
                      <!-- Photos -->
                      <div class="widget">
                        <h5 class="widget-title">Useful Web Links</h5>
                        <ul class="papu-post">
                          <li>
                              <div class="media-left"> <a href="http://peb.mp.gov.in/" target="blank"><img src="images/PEB1.jpg" alt="Blog Title" style="max-width: 100%;"/></a> </div>
                              <div class="media-body"> <a class="media-heading" href="http://peb.mp.gov.in/">PROFESSIONAL EXAMINATION BOARD</a></div>  
                            </li>
                            <li>
                              <div class="media-left"> <a href="https://www.mpinfo.org/" target="blank"><img src="images/ran.gif" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                              <div class="media-body"> <a class="media-heading" href="https://www.mpinfo.org/">Department Of Public Relations</a> <span> Government Of Madhya Pradesh </span> </div>
                            </li> <li>
                              <div class="media-left"> <a href="https://ssc.nic.in/" target="blank"><img src="images/SSC.png" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                              <div class="media-body"> <a class="media-heading" href="https://ssc.nic.in/">STAFF SELECTION COMMISSION</a> <span>(Government of India)</span> </div>
                            </li> 
                            <li>
                              <div class="media-left"> <a href="http://www.joinindianarmy.nic.in/Authentication.aspx" target="blank"><img src="images/JIA.png" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                              <div class="media-body"> <a class="media-heading" href="http://www.joinindianarmy.nic.in/Authentication.aspx">Join Indian Army</a> <span>Government of India</span> </div>
                            </li>
                            <li>
                              <div class="media-left"> <a href="https://www.ibps.in/" target="blank"><img src="images/IBPSS.jpg" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                              <div class="media-body"> <a class="media-heading" href="https://www.ibps.in/">Institute Of Banking Personnel Selection</a> <span></span> </div>
                            </li>
                            <li>
                              <div class="media-left"> <a href="https://upsc.gov.in/"target="blank"><img src="images/UPSC-80-54.jpg" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                              <div class="media-body"> <a class="media-heading" href="https://upsc.gov.in/">UNION PUBLIC SERVICE COMMISSION</a> <span>संघ लोक सेवा आयोग</span> </div>
                            </li>
                        </ul>
                        
                      </div>
                    </div>
                  </div>
        <div class="col-md-8">
          <div class="userccount" >
            <div >
              <h5 style="font-size:16px;    text-align: center;">Select Job Seeker's</h5>
              <!-- login form -->
              <div class="formpanel">

                    
                <div class="formrow" >   
                        Are You Registered Job Seeker's
                  <input type="radio" id="yes" value="1" name="mobile" style="margin-left: 6%;"> Yes
                  <input type="radio" value="2" id="no" name="mobile"> No
                </div>
                <div >
                <div id="register" style="    border: solid 1px;padding: 22px;display: none" >
                      
                <div class="row">
                    
                        <div class="col-md-6">
                            <div class="formrow">
                                  <label for="example-email-input" class="col-2 col-form-label"> Select Job Fair &nbsp
                                      </label>
                               <select class="form-control" id="jobfair">
                               </select>
                               
                            </div>
                         </div> 
                         <div class="col-md-6" >
                                <div class="formrow">
                                      <label for="example-email-input" class="col-2 col-form-label">
                                             JS Registration No. &nbsp<span class="asterisk_input label-icon"></span>
                                            </label>
                                   <input class="form-control" type="text" style="height:49px" id="Registration"  placeholder="Enter JS Registration No."  onfocusout="getvalidated('Registration','text','JS Registration No.')" >
                              
                                   <span id="validRegistration" style="font-size: 11px; color: #cc0033; "></span>
                                  </div>
                             </div>
                        </div>
                        <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                   <div class="formrow">
                                      <input type="submit" onclick="CheckJobseekerRegister()" class="btn" id="Submit" value="Search">
                                   </div>
                                </div>
                                <div class="col-md-2"></div>
                             </div>
                             <div id="jobseekerdetail" style="display: none;border: solid 1px;padding: 22px;">
                            <h6>Job Seeker's Detail</h6>
                                <table class="table"  id="jobseekertable">
                                    <tr class="profilesubheading">
    
                                        <th>SNo</th>
                                        <th>Reg No.</th>
                                        <th>JS Name</th>
                                        <th>Father's Name</th>
                                        <th>Gender</th>
    
                                    </tr>
                                    <div class="clearfix"></div>
                                    <tbody id="jobseekertablebody">
    
                                    </tbody>
                                </table>
                                <div class="row">
                                        <div class="col-md-4"><div class="formrow">
                                                <input type="submit"  class="btn" id="Submit" onclick="InsUpdjfRegistration()" value="Register">
                                             </div></div>
                                        <div class="col-md-8">
                                           
                                        </div>
                                        <div class="col-md-2"></div>
                                     </div>
                                </div>
                             </div>
                             <div id="notregister" style="border: solid 1px;padding:22px;display: none"><span style="color:red">Note :- 1. If you are not a Registered Job Seeker's then first you have to Register as Job Seeker's in this Web Portal .
                                    <br>2. After Registration you will get Regisration No. to use for a Job Fair / Job Fair  Registration.</span>
                                    <div class="row" style="padding-top:5px">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-6">
                                               
                                            </div>
                                            <div class="col-md-4"><div class="formrow">
                                                 <a href="/JobSeekerRegistration">Register Here</a></div></div>
                                         </div>
                </div>
                </div>
</div>

              <!-- END CAPTCHA -->

              <!-- login form end-->




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../../partials/footer %>
  </footer>
    
  <script src="../customjs/CareerCounselling/JobSeekerRegister.js"></script>
  <script type="text/javascript">

    $(document).ready(function () {
      FilljobfairSecured('parsedatasecuredjobfair','jobfair');
      // FillState();
      // 
    });
  </script>
</body>

</html>