<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>


  <style>
    .postimg:before {
      border: 0px solid #fff;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      content: '';
      position: absolute;
      z-index: 10;
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
    }
    
    </style>


  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">About us</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">About us</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->

  <div class="about-wraper">
    <!-- About -->
    <div class="container">
      <div class="row" style="display: none;">
        <div class="col-md-7">
          <h2>Public Private Partnership (PPP)</h2>
          <p>
            Yashaswi Academy for Talent Management, a Company incorporated under Section 8 of the Companies Act 1956 and
            having its registered office at 7, Amit Court, CTS 95 A, Shivajinagar, Pune 411005 herein after referred to
            as “YASHASWI”. Since inception we are providing the most reliable, prompt, and accountable and simplified
            services to our clients. We have acquired experience in understanding the dynamics of attracting quality
            executives and identifying the key leadership characteristics.
          </p>
          </br>
          <p>
            Yashaswi Academy for Talent Management is not for Profit Company & a Group Company of Yashaswi Group which
            is engaged in the Human Resource, Skill Development & in Apprenticeship domain. Its Flagship Company
            Yashaswi Institute of Technology have conceived, developed & implemented India’s first ‘Learn and Earn’
            scheme and has been awarded as the Best Skill Initiative by Ministry of Skill Development &
            Entrepreneurship, Govt. of India
          </p>
          </br>
          <p>
            <ul class="orderlist">
              <h3> We are majorly focusing into –</h3>
              </br>
              <li> Recruitment Services </li>
              <li>BPO Services</li>
              <li>Contractual Staffing </li>
              <li> Data Management/ Processing</li>
              <li>Skill Development </li>
              <li> Technical Education Services</li>
            </ul>
          </p>

        </div>
        <div class="col-md-5" style="margin-top: 5%;">
          <div class="postimg"><img src="images/about-us-img1.jpg" alt="your alt text" /></div>
        </div>
      </div>

    </div>

    <!-- Text -->
    <div >
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="postimg"><img src="images/about-us-img2.jpg" alt="your alt text" style="width: 100%;max-width: 100%;height: 489px" /></div>
          </div>
          <div class="col-md-7">



            <h3>
              <span lang="en">About Department</span>
            </h3>
            <h6 style="color:#FC9928">
              <span lang="en">Set Up Of Madhya Pradesh Employment Service</span> 
            </h6>
     <p>
     <span lang="en">At present 51 as District Employment Exchanges, 1 Special Employment Exchange for Differently Abled Persons at Jabalpur, 1 Coaching cum Guidance Centre for SC/ST at Ujjain, 1 Extension counter at Jabalpur and Directorate office at Bhopal.</span>

</p>
<br>
<div class="row">
<h6 style="color:#FC9928">
  <span lang="en">Main Departmental Activities</span>
 </h6>

<p>
  
           <li><span lang="en" style="font-size: 16px;">Registration and Placement of Job-Seekers In Gainful Employment.</span></li><br> 
             <li><span lang="en" style="font-size: 16px;">Providing Vocational and Career Guidance to job-seekers who visit Employment Exchanges as well as to students of Schools Colleges and Universities.</span></li><br>
            <!-- <li><span lang="en" style="font-size: 16px;">Publication and dissemination of occupational and career guidance literature.</span></li><br> -->
          	<li><span lang="en" style="font-size: 16px;">Enforcement of the Employment Exchanges (Compulsory Notification of Vacancies) Act 1959.</span></li><br>
              <li><span lang="en" style="font-size: 16px;">Collection and compilation of statistics regarding Employment Market Information.</span> </li><br>
           
</p>
<br>

</div>

             <h6 style="color: #FC9928"> 
                <span lang="en">Vocational Guidance Program</span> </h6>

                     <p>
                     <span lang="en">The main objective of this program is to provide guidance and employment counseling to students of schools/colleges and un-employed youth registered with the Employment Exchanges keeping in view their educational and mental capacities, interests, aptitudes, and present employment trends. The Vocational Guidance is free and voluntary and is available to all the registrants and the students of schools colleges and universities. </span>
                </p>
                <br>
          </div>
            <div class="col-md-12">

                <br>
                <h6 style="color:#FC9928">
                      <span lang="en">Employment Market Information (EMI)</span> 
                      </h6>
                          <p>
                 <span lang="en">This program envisages a quarterly study of the employment situation in the state. The information thus collected is analyzed, compiled, and submitted to the Director-General of Employment & Training, Government of India, Ministry of Labor, New Delhi and State Planning Board for formulating manpower scheme. This program helps in identifying the changes in the pattern of employment and occupations in the State and the extent of shortages and surplus of various types of workers. </span>
                    </p>
           <br>
           <h6 style="color:#FC9928">
                     <span lang="en">Enforcement of Compulsory Notification of Vacancies Act - 1959</span>
                            </h6>

                       <p>
     <span lang="en">To ensure proper compliance of the provisions of Employment Exchanges (Compulsory Notification of Vacancies) Act, 1959 and Enforcement Cell was set up in the Directorate of Employment Madhya Pradesh in July 1974. Its main purpose is to acquaint and guide the employers both in Public and Private Sectors about the provisions and requirements of the said Act to notify all the vacancies to the nearest employment exchange.</span>
                       </p>
<br>
            <h6 style="color:#FC9928">
             <span lang="en">Employment Portal</span></h6>
       <p>
         <span lang="en">Employment Portal is developed to assist the Job Seekers and Employers to access each other through a common platform under the desired criteria or as per their demand. This portal will help in career guidance and vocational training too.</span>
              </p>
                 <br>
        <h6 style="color:#FC9928">
      <span lang="en">Job Fairs</span> 
                  </h6>
              <p>
         <span lang="en">Job Fairs are also being organized for Private Sector Employer so that more and more Job Seekers can be employed. The response and results are amazing.</span>
     </p>
<br>


<h6 style="color:#FC9928">
  <span lang="en">PPP Project</span></h6>
<p>
<span lang="en">Recently, on 9th May 2018, the Government of Madhya Pradesh through Commissioner of Employment has awarded Yashaswi the Contract of Upgradation and Modernization of Employment Exchanges into Placement Centers in the State of Madhya Pradesh on Public Private Partnership (PPP) basis for 10 years. Under the project i.e. first of its kind in the country 15 District Employment Exchanges in the state are to be developed as Placement Centers. The selected District Employment Exchanges for the project are Bhopal, Hoshangabad, Rewa, Satna, Singrauli, Gwalior, Jabalpur, Indore, Dewas, Dhar, Ujjain, Khargaon, Sagar, Katni and Shahdol.</span>
   </p>

<br>



              </div>

<p>
        
          </div>
        </div>

      </div>
    </div>
    <!-- How it Works start -->

    <!-- How it Works Ends -->

  </div>



  <footer>
    <% include ../partials/footer %>
  </footer>
<script>
$(document).ready(function () {
       
        FillState();
        
});
</script>
</body>

</html>