<div class="userccount" style="padding: 5px 20px !important">
   <div class="formpanel">
      <button type="button" class="close" data-dismiss="modal" onclick="callcloseme()"
         style="margin-top: -10px;font-size: xx-large;">×</button>

      <h5 style="font-size: 18px;"><span lang="en">Attach Resume</span></h5>
      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
            <div class="formrow">
               <form id="attachresumeaction" enctype="multipart/form-data" method="post">
                  <input type="file" name="myFile" id="myCV">
                   <input type="submit" class="btn" style="margin-top: 80px;" onclick="callme('Resume')"
                     value="Upload Your Resume">
                  <p class="profilesubheading">(<span lang="en">Only accept .docx/.doc/.pdf file and of 1MB </span>)</p>
               </form>
            </div>
         </div>
         <div class="col-md-2"></div>
      </div>

   </div>
</div>