<div class="userccount" style="padding: 5px 20px !important">
   <div class="formpanel">
      <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>

      <h5><span lang="en">Basic Details</span></h5>
      <div class="row">
         <div class="col-md-6 forvalidation">
            <div class="formrow">
               <label  >
                  <span lang='en'>First Name</span> &nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <input type="text" id="basicjobseekerfirstname" maxlength="15" class="form-control" onfocusout="getvalidated('jobseekerfirstname','text','First Name')" 
               onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onpaste="return (event.charCode > 64 && 
               event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)"
               placeholder="First Name" disabled>
               <span id="validbasicjobseekerfirstname" style="font-size: 11px;  color: #cc0033; "></span>
            </div>
            
         </div>
         <div class="col-md-6 forvalidation">
            <div class="formrow">
               <label  >
                  <span lang='en'>Middle Name</span>
               </label>
               <input type="text" id="jobseekermiddlename" maxlength="15" class="form-control" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onpaste="return (event.charCode > 64 && 
               event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)" placeholder="Middle Name" disabled>
            </div>
         </div>
         <div class="col-md-6 forvalidation">
            <div class="formrow">
               <label >
                  <span lang='en'>Last Name</span> &nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <input type="text" id="jobseekerLastname" maxlength="15" onfocusout="getvalidated('jobseekerLastname','text','Last Name')" class="form-control" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onpaste="return (event.charCode > 64 && 
               event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)" placeholder="Last Name" disabled>
               <span id="validjobseekerLastname" style="font-size: 11px; color: #cc0033; "></span>
            </div>
            
         </div>
         <div class="col-md-6 forvalidation">
            <div class="formrow">
               <label >
                  <span lang='en'>Guardian/Father Name</span> &nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <input type="text" id="jobseekerfathername"  class="form-control" placeholder="Guardian/Father Name" onkeypress="if (this.value.length >= 35) {return (event.keyCode ==8); return false; }else if(event.keyCode ==32&&!this.value.length){return false}else{return (event.charCode > 64 && 
                  event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)||(event.keyCode ==32) }" onpaste="return (event.charCode > 64 && 
               event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)||(event.keyCode ==32)" disabled>
               <span id="validjobseekerfathername" style="font-size: 11px; color: #cc0033; "></span>
            </div>
            
         </div>
         <div class="col-md-6 forvalidation">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">Gender</span>&nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <div class="formrow">
                  <select class="form-control" id="gender"
                  onfocusout="getvalidated('gender','select','Gender')" onchange="getvalidated('gender','select','Gender')"
                  name="gender" style="height:46px;">
                     <option value="0">Select Gender</option>
                     <option value="Male">Male</option>
                     <option value="Female">Female</option>
                     <option value="Others">Others</option>
                  </select>
                  <span id="validgender" style="font-size: 11px; color: #cc0033; "></span>
               
               </div>
            </div>
         </div>
         <div class="col-md-6 forvalidation">
            <div class="formrow">
               <label>
                  <span lang='en'>Mobile Number</span>&nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <input type="number" onkeydown="if(event.keyCode==110||event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;}" onkeypress="if (this.value.length >= 10) { return false; };"   onfocusout="getvalidated('Phone','number','Mobile Number')" onpaste="onlyNumbers(event)" id="Phone" class="form-control" placeholder="Mobile Number">
               <span id="validPhone" style="font-size: 11px; color: #cc0033; "></span>
            </div>
            
         </div>
         <div class="col-md-6 forvalidation">
            <div class="formrow">
               <label >
                  <span lang='en'>Email</span> &nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <input type="email" onfocusout="getvalidated('Email','email','Email')" onkeypress="if(event.keyCode ==32){return false;}" id="Email" class="form-control" maxlength="254"
                  placeholder="example@gmail.com">
                  <span id="validEmail" style="font-size: 11px; color: #cc0033; "></span>
            </div>
            
         </div>
        
        
       
         <div class="col-md-6 forvalidation">
            <div class="formrow">
               <label  >
                  <span lang='en'> District</span>&nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <select class="form-control" onchange="getvalidated('district','select','District')"onfocusout="getvalidated('district','select','District')" id="district" name="Current District" disabled>
               </select>
               <span id="validdistrict" style="font-size: 11px; color: #cc0033; "></span>
            </div>
            
         </div>
     
         <div class="col-md-6 forvalidation mpDiv">
            <div class="formrow">
               <label  >
                  <span lang='en'>Tehsil</span>&nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <select class="form-control"  onchange="getvalidated('city','select','Tehsil')" id="city" name="Current Tehsil">
               </select>
               <span id="validcity" style="font-size: 11px; color: #cc0033; "></span>
            </div>
            
         </div>
         <div class="col-md-6 forvalidation mpDiv">
            <div class="formrow">
               <label  >
                  <span lang='en'>City/Village</span>&nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <select class="form-control"  onchange="getvalidated('village','select','City/Village')" id="village" name="Current City/Village">
               </select>
               <span id="validvillage" style="font-size: 11px; color: #cc0033; "></span>
            </div>
            
         </div>
        
      </div>
   
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
               <div class="formrow">
                  <input type="submit" class="btn"   id="Submitbasicdetails" value="Submit">
               </div>
            </div>
            <div class="col-md-2"></div>
         </div>
      </div>
   </div>
