
               
                <div class="row" >
                  <div class="col-md-12">
                      <div class="col-md-4"></div>
                    <div class="col-md-2">
                     
                    <div class="formrow">
                      <div id="captchaforgot">
                      </div>
                      
                    </div>
                    </div>
                    <div class="col-md-4" >
                        <div class="col-md-1"></div>
                        <div class="formrow">
                            <i class="fa fa-refresh" onclick="createCaptchaforgot()" style="font-size:24px;margin-top: 9px;color:#7991d4;cursor: pointer;"></i>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="formrow forvalidation" style="display:block;">
                    <div class="col-md-12">
                        <div class="col-md-3" > </div>
                    <div class="col-md-4" >
                  <input type="text" placeholder="Captcha" onfocusout=" getvalidated('cpatchatextbboxforgot','text','Captcha')" id="cpatchatextbboxforgot" />
                  <span id="validcpatchatextbboxforgot" style="font-size: 11px; color: #cc0033; "></span>
                </div>
              </div>
                </div>
                  <script type="text/javascript">
                    var code;
                    function createCaptchaforgot() {
                      //clear the contents of captcha div first 
                      document.getElementById('captchaforgot').innerHTML = "";
                      var charsArray =
                        "0123456789";
                      var lengthOtp = 6;
                      var captcha = [];
                      for (var i = 0; i < lengthOtp; i++) {
                        //below code will not allow Repetition of Characters
                        var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
                        if (captcha.indexOf(charsArray[index]) == -1)
                          captcha.push(charsArray[index]);
                        else i--;
                      }
                      var canv = document.createElement("canvas");
                      canv.id = "captchaforgot";
                      canv.width = 100;
                      canv.height = 50;
                      var ctx = canv.getContext("2d");
                      ctx.font = "25px Georgia";
                      ctx.strokeText(captcha.join(""), 0, 30);
                      //storing captcha so that can validate you can save it somewhere else according to your specific requirements
                      code = captcha.join("");
                      document.getElementById("captchaforgot").appendChild(canv); // adds the canvas to the body element
                    }
                    function validateCaptchaemp() {
                      event.preventDefault();
                
                      if (document.getElementById("cpatchatextbboxforgot").value == code) {
                        ForgotPassword();
                       
                      } else {
                        $("#cpatchatextbboxforgot").val('');
                        $("#cpatchatextbboxforgot").css('border-color', 'red');
                            $("#validcpatchatextbboxforgot").html("Please Enter Valid Captcha ");
                        createCaptchaforgot();
                        
                
                        return true;
                
                      }
                    }
</script>                