<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>


  <div class="listpgWraper">
    <div class="container">
     
        <div class="col-md-12" style="background-color: #dcdbd5;">
            <div class="container" style="margin-top: 25px;margin-bottom: 15px;width: 100%;">
                <div class="newsSection">
                   <div><h5> Career Counselling QA</h5></div>
                </div>
            </div>
        </div>
        

        <div class="col-md-12" style="background-color: #f1eded;">
            <div class="container" style="margin-top: 25px;margin-bottom: 15px;width: 100%;">
                <div class="newsSection">
                  <p><ul>
                     <p> 1.	What is the criteria for obtaining loan under State Self Employment Scheme ? <br>
                      A	  A candidate must fulfill the following conditions:-<br>
                      •  Must be at least Middle Pass<br>
                      •  Age: between 18-40 years. In case of female, SC/ST/PH 18-45<br>
                      •  Unemployed<br>
                      •  Permanent resident of the State<br>
                      Should not have already availed loan facility.</p><br>
                     <p> 2.	How to apply for loan under Self Employment Scheme(SES) ?<br>
                      A	You have to apply against the advertisements which are published periodically in the newspapers and displayed on the notice board of the District Trade & Industries Center.</p><br>
                     <p> 3.	Whom to contact for obtaining the loan?<br>
                      A	District Employment Officer and General Manager, District Trade & Industries Center of the concerned Districts.</p><br>
                     <p> 4.	What are the incentives available under the Scheme ?<br>
                      A	15% Margin Money, Capital Subsidy, Interest Subsidy for 2 years.</p><br>
                     
                     <p> 5.	I am a student of B.Com. (pass) final year DU. I want to take up MCA after graduation .Am I eligible to do it from universities like DU.JNU.KU. Roorkee University etc? I had maths till 10+2 but not at the graduation level. Please advice me which universities can I apply to and what are the job opportunities? <br>
                      
                      A	A. MCA is a three year course which imparts all software skills and some management’s skills, as well . The entrance exam tests your proficiency in Math’s upto+2or even higher level. though a few institutes, restrict it to class tenth level, DU,JNU and pune University’s entrance exams are the to test to crack .Most are of two hours’ duration and objective type. Some also test reasoning computer fundamentals etc. Since you already had math’s in +2 you are eligible for almost every entrance exam. The minimum eligibility may change from year to year ,but usually they make things easier for the aspirants. Nevertheless ,you need to keep an eye on the advertisement which should start appearing shortly. As far as job prospects go ,they are extremely good since almost every industry is capitalizing on the information explosion and technology penetration.</p><br>
                      
                     <p> 6.	I am keen on taking a course in mass communication .Could you please suggest what course can I take ? Is there an age bar or eligibility conditions ? What are the job opportunities before/behind camera? Is it worth doing from IGNOU? <br>
                     
                      A	Mass communication includes dissemination of news, information ,entertainment and public messages to a large section of the masses. Radio, television ,film ,journalism, advertising are the main mediums. There could be several options but you first need to identify what field interests you the most . Courses are generally available at the post-graduate level, though Delhi University also offers a bachelor’s degree in journalism .Jaima Millia Islamia offers an MA ,which includes television ,film video and print journalism ,while the Indian Institute of Mass Communication offers a PG diploma. At some DU colleges- such as Kamala Nehru and Delhi college of Arts & Commerce –advertising is also offered as a BA integrated course which includes modules in sales & marketing. Like wise , Indra Prastha College offers a BA in Mass Communications, While Makhanlal Chatturvedi Rashtriya Patrakarita Visvavidyalaya, Bhopal offers both BA and MA level courses .There is no specified upper age limit. Although IGNOU and other open universities do offer mass communications ,It is advisable to do a regular course as there is lot of practical training involved that cannot be done through correspondence.</p><br>
                     
                    <p>  7.	I had English (Hons) in Ist BA. But Ido not Know what fields are open to me after Graduation. Please suggest. <br>
                     
                      A	There are plenty of career opportunities open to English (honours) graduates. You can take a professional diploma/degree courses in journalism, publishing or mass communication(TV & films, advertising, PR).Alternatively you can also opt for corporate communications, script writing fashion, airlines /cabin crew ,event management, etc. If you are very academically-inclined teaching could be perfect for you. However first try and figure out your aptitude and what career would suit you the most.</p><br>
                     
                    <p>  8.	I want to pursue MBA but am confused from where should I do it.I have already completed B Com(pass).Kindly inform me whether XLRI conducts a part-time MBA and also the date of the entrance exams.<br>
                     
                      A	If you have done a three-year B.Com (pass)and if your percentage is 50 or above then with a little preparation,you would be able to do it from any b-school.this is also the right time to scan newspaper for announcement to admissions. Yes XLRI does conduct a part-time Mba but it is of three years duration and meant only for working executives with sufficient experience. The XLRI admission test is, usually held on the first Sunday of every year. That is to say next year, it should fall on 6th January 2002.</p><br>
                     
                    <p>  9.	I am a Ist divisioner ISC (PCM) currently doing BA (history) as a regular candidate. I am also doing BCA from IGNOU and BE via correspondence. Please suggest in which subject should I pursue engineering and what about job placement. <br>
                     
                      A	A. Aren’t you handling too many things at the same time? You must choose between history or engineering. And since engineering is a very practical subject ,even the correspondence course would demand a lot of your time. I suggest that you try jfor admission to one of the regular engineering colleges again next year. That gives you a better chance of getting a job. 
                      As far as the branches are concerned your choice should depend mainly on your area of interest. Traditionally, electronics and mechanical engineering have been the most popular .And there is maximum scope for jobs in these areas. Computer engineering has also really come up, while telecom engineering is another emerging field that will offer plenty of jobs. 
                      As far as jobs are concerned engineers are mainly employed in the government sector, in public sector organizations in private companies as commissioned officers in the defense service, in research organizations and laboratories as technical experts on engineering projects in banks and financial corporations. An engineer can also set up his own small unit/company or constancy.</p><br>
                     
                    <p>  10.	I am a 2nd year student of BA honours (maths) and I am interested in doing MCA. Please suggest me some good Delhi-based institutes for the course. <br>
                     
                      A	MCA is a three-year course that covers predominantly software concepts, tools techniques along with hardware and management subjects.In Delhi the most sought after institutes offering the course are the Jawaharlal Nehru University. You can take Delhi University. You can take the entrance exams when in the final year of college and you need to start preparing immediately after second year exams.</p><br>
                     
                   <p>   11.	I am appearing for Bcom (final) and want to do MBA.But I have some queries: 
                      a) What is the difference between MAT and CAT? 
                      b) How much percentage in graduation is needed for admission in a good institute? 
                      c) Suggest me some books to prepare for English test in MBA entrnace. ?<br>
                     
                      A	MAT is Management Aptitude Test conducted by All India Management Association (AIMA) and CAT is Common Admission Test conducted by IIMs. CAT is for admission to IIMs and the other leading business schools such as MDI, Gurgaon. MAT screens candidates for other national level business schools. Technically you would need a minimum of 50% to get admission in any of the leading business schools. Also there are no separate books to prepare English for MBA entrance. The regular material has sectioned on it too.</p><br>
                     
                   <p>   12.	I want to do MBA but I am confused from where should I do it. I have done Bcom (P). I want to Know if XLRI conducts part-time MBA .When does the institute hold its entrance examinations?<br>
                     
                      A	If you have done a three-year Bcom (P) and if your final aggregate percentage is 50+,then with a good amount of preparation you should be able to do MBA from any of the leading business schools in the country. This is the right time to keep looking at the daily newspapers for announcements for admissions. Yes XLRI does conduct a part-time MBA but it is of three years duration and meant for only the working executives with sufficient experience to see them through the programme. The XLRI admissions test is, usually the first Sunday of the year.</p> <br>
                     
                   <p>   13.	I am a commerce graduate and want to do a course in gemology. Please advise.?<br>
                     
                      A	There are several institutes offering courses in gemology and jewelry designing which range in duration and intensity from two-three months to one-two years. Prominent institutes are the Gems and Jewelry Export Prominent Council, Jaipur; the Geological institute of India, Mumbai; Jewellery Product Development Centre (New Delhi and Mumbai) Indian Diamond institute, Surat; SG Jhaveri Centre for Diamond Technology. Mumbai; the National Institute of Fashion Technology, New Delhi; South Delhi polytechnic for Women New Delhi.<br>
                      Most of these are under graduate courses available at the certificate and diploma level. Some institutions do offer post graduation diploma courses also. The scope in this field is extremely bright. And professionals in these areas are much sought after as well as very highly paid today.</p><br>
                     
                    <p>  14.	I am a graduate in Zoology (Hons). Now I want to do a good computer course .I have heard about” medical transcription” Will it be good for me? What is its scope in India? I want to do PGDMT. Please suggest some leading institutes. ?<br>
                     
                      A	In India, medical transcription(MT) is the fastest growing among all IT-enabled services. It basically refers to transcribing medical records. India is a preferred outsourcing station for IT firms in the US for medical transcription. A certificate course in Mt is mainly of 4 months duration. All graduates/doctors/nurses/paramedics are eligible for doing this course. A working knowledge of computers, coupled with a good command over English and a reasonable understanding of medical terminology are important requisites for doing this course. Prominent institutes; <br>
                      • Pan-American Institute of Medical Transcription New Delhi <br>
                      • Info-American Academy of Medical Transcription ,New Delhi <br>
                      • KG Informatics Systems (Pvt) Ltd. Coimbatore <br>
                      • Indian Institute of Medical Transcription (Pvt) Ltd. Coinmbatore.</p><br>
                  </p>
                </div>
            </div>
        </div>


        
    </div>

    
  <footer>
    <% include ../partials/footer %>
  </footer>
   

  <script>
      $(document).ready(function () {
             
              FillState();
              
      });
      </script>
  
</body>

</html>