<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

            
    <div class="listpgWraper">
    <div class="container">
       <div class="row">
          <% include ../partials/Usefullinks %>
          <div class="col-md-9">
             <div class="userccount">
                <div class="socialLogin">
                   <h5> Career Counselling Scheme</h5>
                </div>
                <div class="tab-content formpanel">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="formrow">
                            <ul class="row featchoose">
                                
                                  <li class="col-md-4"><input type="radio" name="ShowLatest"> Show Latest</li>
                                  <li class="col-md-4"><input type="radio" name="ShowLatest"> Archived Data</li>
                              </ul>
                          </div>
                        </div>
                  </div>
                    <div class="row">
                        <div class="col-md-3" style="margin-top: 14px;">
                            <input type="radio" name="Show">     
                          Month & Year
                        </div>
                        <div class="col-md-4">
                            <select type="text" style="height:49px" name="date" id="Month" class="form-control">
                             <option>Select Month</option>
                             <option>Jan</option>
                             <option>Jan</option>
                             <option>Jan</option>
                             <option>Jan</option>
                             <option>Jan</option>
                             <option>Jan</option>
                             </select>
                      
                       </div>
                       <div class="col-md-4">
                                      
                          <select type="text" style="height:49px" name="date" id="Year" class="form-control">
                           <option>Select Year</option>
                           <option>2019</option>
                           <option>2018</option>
                           <option>2017</option>
                           <select>
                     </div>
                      </div>
                    </br>
                      <div class="row">
                          <div class="col-md-3" style="margin-top: 14px;">
                              <input type="radio" name="Show">     
                            Description wise 
                          </div>
                          <div class="col-md-4">
                              <input class="form-control" type="text" style="height:49px" placeholder="Description wise">
                        
                         </div>
                        
                         <div class="col-md-2">
                            <input type="submit" id="btnSearch" class="btn" value="Search">
                       </div>
                        </div>
                        <div class="row">
                          </div> 
               </div>
             </div>
          </div>
       </div>
    </div>
 </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
   

  <script>
      $(document).ready(function () {
             
              FillState();
              
      });
      </script>
  
</body>

</html>