<div class="userccount" style="padding: 5px 20px !important">
  <div class="formpanel">
    <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>
    <!-- Personal Information -->
    <h5><span lang="en">Certification</span></h5>
    <div class="row">
      <div class="col-md-6 forvalidation">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Training Program</span>&nbsp<span class="asterisk_input label-icon"></span>
                    </label>
          <input type="text" name="date" maxlength="150"  id="Program" onfocusout="getvalidated('Program','text','Training Program Name')" class="form-control" placeholder="Name Of Training Program">
          <span id="validProgram" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Centre</span>&nbsp<span class="asterisk_input label-icon"></span>
                    </label>
          <input type="text" name="date" maxlength="150"  id="Training" onfocusout="getvalidated('Training','text','Training Center')" class="form-control" placeholder="Training Center">
          <span id="validTraining" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Scheme</span>&nbsp<span class="asterisk_input label-icon"></span>
                    </label>
          <input type="text" name="date" id="Scheme" maxlength="150"  onfocusout="getvalidated('Scheme','text','Scheme')" class="form-control" placeholder="Scheme">
          <span id="validScheme" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation">

        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Duration</span>
                    </label>
          <select class="form-control" name="Duration" id="duration">
                      </select>
        </div>
      </div>

      <div class="col-md-6 forvalidation">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Skill</span>
                    </label>
          <select class="form-control" name="Skill" id="Skill">
              </select>
        </div>
      </div>
      <div class="col-md-6 forvalidation">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Job Preference</span>
                    </label>
          <select class="form-control" name="Prefrences" id="Prefrences">
                     </select>
        </div>
      </div>


      <div class="col-md-6">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Year</span>
                    </label>
          <select class="form-control" id="certificationyear" name="Division">
           
          </select>
        </div>
      </div>
    </div>

      <br />
      <br>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="formrow">
            <input type="submit" onclick="CheckCertification()" class="btn"  value="Submit">
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

