<div class="modal fade" id="modalChangepassword" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="userccount">
            <div>
                <button type="button" class="close" data-dismiss="modal"  style="margin-top: -10px;font-size: xx-large;">×</button>
       
              <h5 style="font-size:16px; "><span lang="en">Change Password</span></h5>
              <!-- login form -->
              <div class="formpanel">
                  <div class="row">
                      <div class="col-md-4" style="    font-weight: 500;">
                          <span lang="en">User Name</span>:
                        </div>
                        <div class="col-md-6" id="Changepassword" style="    font-weight: 500;">
                            
                          </div>
                      </div>
                   </div>
              <div class="formpanel">
                 <div class="row">
                   <div class="col-md-12 forvalidation">
                    <div class="formrow" id="resetpassword">
                       <label for="example-email-input" class="col-2 col-form-label">
                          <span lang="en">Current Password</span>&nbsp<span class="asterisk_input label-icon"></span>
                       </label>
                       <div class="formrow">
                          <input type="password" id="CurrentPassword" name="Re-EnterPassword" onfocusout="getvalidated('CurrentPassword','text','Current Password');" class="form-control"
                             placeholder="Current Password" >
                             <span id="validCurrentPassword" style="font-size: 11px; color: #cc0033; "></span>
                       </div>
                    </div>
                 </div>
                </div>
                 <div class="row">
                  <div class="col-md-12 forvalidation" >
                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">Change Password</span>&nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <input id="passwordfield" type="password" class="form-control" name="password" value=""
                              placeholder="Password"  >
                              <span id="validpasswordfield" style="font-size: 11px; color: #cc0033; "></span>
                              <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                              data-placement="right"
                              title="<br><h6> <span lang='en'> Password must contain the following:</span> </h6>  <ul class='categories'><li><span lang='en'> Atleast one letter</span> </li><li><span lang='en'> Atleast one number</span> </li><li> <span lang='en'> Not to use special character</span> </li><li> <span lang='en'>Length must be min. 8</span> </li></ul>"
                              data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                           <span toggle="#passwordfield"
                              class="fa fa-fw fa-eye field-icon toggle-password"></span>
                              <span id="passwordvalidate" style="font-size: 11px; color: #cc0033;display: none;">Password must contain at least one letter, at least one number, and be longer than 8 charaters.
                                 </span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12 forvalidation">
                     <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                          <span lang="en">Confirm Password</span>&nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="formrow">
                           <input type="password" id="Repassword" name="Re-EnterPassword" onfocusout="getvalidated('Repassword','text','Confirm Password');" class="form-control"
                              placeholder="Confirm Password" >
                              <span id="validRepassword" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="formrow">
                <tr>
                  <td style="text-align: left">
                    <strong><span style="font-size: 15px;color: #cc0033;text-align: center;display: block;" lang="en">Please Enter The Text Below In Text Box</span></strong></td>
                </tr>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="formrow" style="display: flex;align-self: center;justify-content: center;">
                    <div id="captchaheader" style='display: inline-block;'><canvas id="captchaheader" width="100" height="50"></canvas></div>
                    <a onclick="createcaptchaheader()" style="position: relative; top: 8px" ><i class="fa fa-refresh" style="font-size:24px;"></i></a>
                  </div>
                </div>
              </div>
              <div class="row" style="display:block">
                <div class="col-12">
                  <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchaTextBoxheader','text','Captcha')" id="cpatchaTextBoxheader" style='display:block;margin:auto'/>
                </div>
               </div>
               <div class='row'>
                <div class="col-12">
                  <span id="validcpatchaTextBoxheader" style="display:block;font-size: 11px; color: #cc0033; margin:auto; position:relative;top:8px;width:50%;text-align: center;"></span>
                </div>
               </div>
               <br><br>
               <div class='row'>
                <div class="formrow" style="display:block">
                  <input type="button" onclick="CheckChangePassword()"  class="btn" value="Submit">
                </div>
              </div>
            </div>
              <br><br>
  
              <!-- END CAPTCHA -->
            
            <!-- login form  end-->
  
  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
</div>
 
   
  <script src="../customjs/JobSeekerLogin.js"></script>
  <script src="../customjs/ChangePassword.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#Changepassword").html(sessionStorage.getItem("EmailId"))

      $('[data-toggle="tooltip"]').tooltip(); 

    });
    </script>
