<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link href="/css/Component.css" rel="stylesheet">

</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <form action="#">
          <p>
            <label>
              <input type="checkbox" />
              <span>Red</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" checked="checked" />
              <span>Yellow</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" class="filled-in" checked="checked" />
              <span>Filled in</span>
            </label>
          </p>
          <p>
            <label>
              <input id="indeterminate-checkbox" type="checkbox" />
              <span>Indeterminate Style</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" checked="checked" disabled="disabled" />
              <span>Green</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" disabled="disabled" />
              <span>Brown</span>
            </label>
          </p>
        </form>
        <!-- chip start-->
        <div class="chip">
          <img src="images/yuna.jpg" alt="">
          Jane Doe
        </div>
        <div class="chip">
          Tag
          <i class="close material-icons">close</i>
        </div>

        <input type="text" class="datepicker">

        <form action="#">
          <p>
            <label>
              <input name="group1" type="radio" checked />
              <span>Red</span>
            </label>
          </p>
          <p>
            <label>
              <input name="group1" type="radio" />
              <span>Yellow</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio" />
              <span>Green</span>
            </label>
          </p>
          <p>
            <label>
              <input name="group1" type="radio" disabled="disabled" />
              <span>Brown</span>
            </label>
          </p>
        </form>

        <div class="fixed-action-btn">
          <a class="btn-floating btn-large red">
            <i onclick="topFunction()" id="myBtn" class="fa fa-arrow-up" aria-hidden="true"></i>
          </a>

        </div>
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Materialize Select</label>
        </div>

        <div class="input-field col s12">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Materialize Multiple Select</label>
        </div>

        <div class="input-field col s12">
          <select>
            <optgroup label="team 1">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </optgroup>
            <optgroup label="team 2">
              <option value="3">Option 3</option>
              <option value="4">Option 4</option>
            </optgroup>
          </select>
          <label>Optgroups</label>
        </div>

        <div class="input-field col s12 m6">
          <select class="icons">
            <option value="" disabled selected>Choose your option</option>
            <option value="" data-icon="images/sample-1.jpg">example 1</option>
            <option value="" data-icon="images/office.jpg">example 2</option>
            <option value="" data-icon="images/yuna.jpg">example 3</option>
          </select>
          <label>Images in select</label>
        </div>
        <div class="input-field col s12 m6">
          <select class="icons">
            <option value="" disabled selected>Choose your option</option>
            <option value="" data-icon="images/sample-1.jpg" class="left">example 1</option>
            <option value="" data-icon="images/office.jpg" class="left">example 2</option>
            <option value="" data-icon="images/yuna.jpg" class="left">example 3</option>
          </select>
          <label>Images in select</label>
        </div>

        <label>Browser Select</label>
        <select class="browser-default">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>

        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>

        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>

        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal bottom-sheet">
          <div class="modal-content">
            <h4 class="header">Modal Header</h4>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="images/yuna.jpg" alt="" class="circle">
                <span class="title">Title</span>
                <p>First Line
                  <br> Second Line
                </p>
                <a href="#!" class="secondary-content">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Title</span>
                <p>First Line
                  <br> Second Line
                </p>
                <a href="#!" class="secondary-content">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green">assessment</i>
                <span class="title">Title</span>
                <p>First Line
                  <br> Second Line
                </p>
                <a href="#!" class="secondary-content">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title">Title</span>
                <p>First Line
                  <br> Second Line
                </p>
                <a href="#!" class="secondary-content">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal top-sheet">
          <div class="modal-content">
            <h4 class="header">Modal Header</h4>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="images/yuna.jpg" alt="" class="circle">
                <span class="title">Title</span>
                <p>First Line
                  <br> Second Line
                </p>
                <a href="#!" class="secondary-content">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Title</span>
                <p>First Line
                  <br> Second Line
                </p>
                <a href="#!" class="secondary-content">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green">assessment</i>
                <span class="title">Title</span>
                <p>First Line
                  <br> Second Line
                </p>
                <a href="#!" class="secondary-content">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title">Title</span>
                <p>First Line
                  <br> Second Line
                </p>
                <a href="#!" class="secondary-content">
                  <i class="fa fa-star" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>

    $(document).ready(function () {
      $('select').formSelect();
    });
    // Or with jQuery

    $(document).ready(function () {
      $('.datepicker').datepicker( );
    });
    $(document).ready(function () {
      $('.fixed-action-btn').floatingActionButton();
    });
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    $(document).ready(function () {
      $('.modal').modal();
    });
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems, options);
    });
  </script>
</body>

</html>