<!DOCTYPE html>
<html>

<head>
		<% include ../partials/head %>
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
	<meta charset="UTF-8">
	

	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
	<link href="/css/resumebuilder.css" rel="stylesheet">
	<style>
		.row{
			padding: 0px 28px 8px;
		}
	</style>
</head>

<body id="top">
		<div class="row" style="margin-top: 2%;width: 100%;">
		<div class='col-xs-4'><div class='listbtn'><a onclick="window.history.back();">Back</a></div></div>
		<div class='col-xs-4'><div class='listbtn'><a href='#' id="PrintCV">Print</a></div></div>
		<div class='col-xs-4'><div class='listbtn'><a href='#' onclick="" id="create_pdf">Download</a></div></div>
		</div>
			
	<div id="cv" class="instaFade">
		<div id="invoice">
		<div class="mainDetails" id="mainDetails">
			
		</div>

		<div class="quickFade delayFive" id="mainArea">
				<section id="">
						<div class="headingresume">Registration Number </div>
				<div  >
						<div class="row" >
								<div class="col-xs-12">Registration Number: <span id="RegistrationNo"> </span></div>
								
							</div>
					
				</div>
				<div class="clear"></div>
			</section>
				<section>
						<div class="headingresume">Profile Summary   </div>
				<div  >
						<div class="row" >
								<div class="col-md-12" id="ProfileSummaryCV" style="word-break:break-word"></div>
								
							</div>
					
				</div>
				<div class="clear"></div>
			</section>
					<section>
							<div class="headingresume">Personal Details</div>
					<div  >
							<div class="row" id="PersonalDetailCV">
									
								</div>
						
					</div>
					<div class="clear"></div>
				</section>
			
					<section>
							<div class="headingresume">Contact Details</div>
							<div class="row" id="ContactDetailCV">
									
								</div>
							</section>
						
					<div class="clear"></div>
					<section id="OtherDetailSection">
							<div class="headingresume">Other  Details</div>
							<div class="row" id="OtherDetailCV" >
								
								</div>
							</section>
				
					<div class="clear"></div>
					<section id="expSection">
							<div class="headingresume">Experience  Details</div>
							<div class="row" id="">
								<table class="table ">
									<thead>
									  <tr>
										<th scope="col">Designation</th>
										<th scope="col">Organisation</th>
										<th scope="col">Working</th>
										<th scope="col">Salary</th>
										
									  </tr>
									
										  
										
													
								  
									</thead>
									<tbody id="ExperienceCV"></tbody>
								  </table>
								</div>
							</section>
				
					<div class="clear"></div>
					<section id="eduSection">
							<div class="headingresume">Qualification   Details</div>
				
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
												
												<th scope="col">Qualification</th>
												<th scope="col">Course</th>
												<th scope="col">Specialization</th>
												<th scope="col">Percentage</th>
												<th scope="col">Passing Year</th>
												<th scope="col">Board/University</th>
											  </tr>
											 
											</thead>
											<tbody id="EducationCV"></tbody>
										  </table>
								</div>
							</section>
						

					<div class="clear"></div>
					<section id="prefferedSection">
							<div class="headingresume">   Prefered Sector & Job Preference</div>
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
												<th scope="col">S.No	</th>
												<th scope="col">Sector</th>
												<th scope="col">Functional Area</th>
											  </tr>
											 
											</thead>
											<tbody id="JobPreferenceCV"></tbody>
										  </table>
								</div>
							</section>
						
					<div class="clear"></div>
				
					<section id="typingSection">
							<div class="headingresume">Typing/Steno Detail</div>
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
											
												<th scope="col">Language</th>
												<th scope="col"> Type</th>
												<th scope="col">Institute</th>
												<th scope="col"> Passed Year</th>
												<th scope="col"> Speed </th>
											  </tr>			
											 
											</thead>
											<tbody id="TypingCV"></tbody>
										
										  </table>
								</div>
							</section>
						
					<div class="clear"></div>
			
					
					<section id="identificationSection">
							<div class="headingresume">Identification  Detail</div>
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
												<th scope="col">Card Type	</th>
												<th scope="col">Card Number</th>
												<th scope="col"> License type</th>
												<th scope="col">Date</th>
												<th scope="col">  	Valid Upto</th>
												<th scope="col"> Issuing Authority </th>
											  </tr>
											 
											</thead>
											<tbody id="IdentificationCV"></tbody>
										  </table>
								</div>
							</section>
				
					<div class="clear"></div>
				
					<section id="languageSection">
							<div class="headingresume">Language  Detail</div>
							<div class="row" >
									<table class="table ">
											<thead>
											  <tr>
													
												<th scope="col">Language	</th>
												<th scope="col">Read</th>
												<th scope="col">  Write</th>
												<th scope="col">Speak</th>
											  </tr>
											 			
											</thead>
											<tbody id="LanguageCV"></tbody>
										  </table>
								</div>
							</section>
							<div class="clear"></div>
							<section id="certificationSection">
									<div class="headingresume">
											Certification Under Govt. Scheme</div>
									<div class="row" >
											<table class="table ">
													<thead>
													  <tr>
														
														<th scope="col">Training Program	</th>
														<th scope="col">Centre</th>
														<th scope="col">  Duration</th>
														<th scope="col">Skill</th>
														<th scope="col">  Year</th>
													  </tr>
													  
													</thead>
													<tbody id="CertificationCV"></tbody>
												  </table>
										</div>
									</section>
									<div class="clear"></div>
			<div class="ft" id="CVFooter">Created By Yashaswi Academy fot Talent Management through www.mprojgar.gov.in
				</div>
			<!--// footer -->


		</div>
</div>
	</div>
	
	
	<!-- <div id="editor"></div> -->
	<!-- <button id="cmd">Generate PDF</button> -->

<script src="../customjs/CVTemplate.js"></script>
	<script type="text/javascript">
// 		<script src="http://code.jquery.com/jquery-1.7.2.min.js"> 
			

//   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js">
 

		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-3753241-1");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>



<script type="text/javascript">

$(document).ready(function () {
   FillCVTemplate('parsedatasecuredFillCVTemplate');
	FillImageCV('parsedatasecuredFillImageCV');
	
	$("#PrintCV").click(function () {
			
			$('#cv').removeClass('instaFade');
			$('#cv #mainArea').removeClass('quickFade delayFive');
			$('#cv #mainDetails #headshot').removeClass('quickFade');
			$('#cv #mainDetails #NameCV').removeClass('quickFade delayTwo');
			$('#contactDetails').removeClass('delayFour quickFade delayTwo');
			$('#OrganisationCV').removeClass('quickFade delayThree');
			$('#cv').printThis({
			        debug: true,               // show the iframe for debugging
			        importCSS: true,            // import parent page css
			        importStyle: true,         // import style tags
			        printContainer: true,       // print outer container/$.selector
			        printDelay: 333,            // variable print delay
			        header: "",               // prefix to html
			        footer: null,               // postfix to html
			        base: true,                // preserve the BASE tag or accept a string for the URL
			        formValues: true,           // preserve input/form values
			        canvas: true,              // copy canvas content
			        removeScripts: false,       // remove script tags from print content
			        copyTagClasses: true,      // copy classes from the html & body tag
			        afterPrint: function() {
						$('#cv').addClass('instaFade');
						$('#cv #mainArea').addClass('quickFade delayFive');
						$('#cv #mainDetails #headshot').addClass('quickFade');
						$('#cv #mainDetails #NameCV').addClass('quickFade delayTwo');
						$('#contactDetails').addClass('delayFour quickFade delayTwo');
			            $('#OrganisationCV').addClass('quickFade delayThree');
					}          
			});
		});




});
</script>

</body>

</html>