<!DOCTYPE html>
<html lang="en">


<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>
<style>
.postimg:before {
	border: 0px solid #fff;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	content: '';
	position: absolute;
	z-index: 10;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
}

</style>

<style>
    .records{
        cursor:pointer;

    }
    .records:hover{
        text-decoration: underline;
    }
    .m-widget29 .m-widget_content .m-widget_content-items .m-widget_content-item>span{
         text-align: center;
    }
    </style>
  
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Dashboard </h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;">Home</span></a> / <span lang="en">Dashboard</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="form-group m-form__group row" id="sendAlert">
    <div class="col-lg-3"></div>                 
                            

    <div class="col-lg-2">
      <button type="button" onclick="CheckCandidate('email')" class="btn btn-success" style="background-color:#FC9928;border-color:#FC9928;">
        <a href="https://app.powerbi.com/view?r=eyJrIjoiNjBhNTc0MWUtMDQ5OS00YTRiLTg1MGUtNDgxOGZkZWYzZTE3IiwidCI6IjYzMzI3N2ExLTFmMDctNGU5Mi04MDQwLWNiOGNkYmQ2NTQxNCJ9&amp;pageName=ReportSection6afc268c35498536796b" target="_blank" style="color: white;">Zoom</a>

      </button>
      </div>
    </div>
    <div class="col-lg-3"></div>                 

  <iframe width="600" height="373.5"  src="https://app.powerbi.com/view?r=eyJrIjoiNjBhNTc0MWUtMDQ5OS00YTRiLTg1MGUtNDgxOGZkZWYzZTE3IiwidCI6IjYzMzI3N2ExLTFmMDctNGU5Mi04MDQwLWNiOGNkYmQ2NTQxNCJ9&amp;pageName=ReportSection6afc268c35498536796b" frameborder="0" allowfullscreen="true"></iframe>


    <!-- How it Works start -->

    <!-- How it Works Ends -->

  </div>



  <footer>
    <% include ../partials/footer %>
  </footer>
  <script src="../customjs/Dashboard.js" type="text/javascript"></script>

<script>
$(document).ready(function () {
       
    Counter();
        
});
</script>
</body>

</html>