<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
    <style>
        table {
            border-collapse: collapse;
        }

        table,
        td,
        th {
            border: 1px solid black;
        }
    </style>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Sr. No.
                </th>
                <th>
                    Department
                </th>

                <th style="display:none;">
                    Address
                </th>
                <th style="display:none;">
                    Phone
                </th>
                <th style="display:none;">
                    Country
                </th>
                <th style="display:none;">
                    State
                </th>
                <th style="display:none;">
                    City
                </th>
                <th style="display:none;">
                    PIN
                </th>
                <th>
                    Contact Person
                </th>
                <th>
                    Person Address
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Email
                </th>
                <th>
                    Cedmap Charges
                </th>
                <th>
                    Active
                </th>
                <th>
                    Edit
                </th>
            </tr>
        </thead>
        <tbody id="tbodyvalue">

        </tbody>
    </table>

    <footer>
        <% include ../partials/footer %>
    </footer>
     

    <script type="text/javascript" src="/customjs/department.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            FillAgency();
        });

    </script>
</body>

</html>