<div class="userccount" style="padding: 5px 20px !important">
    <div class="formpanel">
          <button type="button" class="close" data-dismiss="modal" onclick="callcloseme()" style="margin-top: -10px;font-size: xx-large;">×</button>
     
     
       <h5 style="font-size: 18px;"><span lang="en">Document</span></h5>
      

    <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="formrow">

                      <form  id="domiciledocsaction" enctype="multipart/form-data" method="post">
                            <input type="file" name="myFile">
                            <div class="row">
                              <div class="col-md-12">
                                 
                            <input type="submit" class="btn" style="margin-top: 80px;" onclick="callme('Domicile')" value="Upload Document">
                           
                            <p class="profilesubheading">(<span lang="en">Only accept .docx/.doc/.pdf file and of 1MB</span>)</p>
                           
                            
                           </div>
                           </div>
                          </form>
                </div>
          </div> 
          <div class="col-md-2"></div>
        </div>

 </div>
</div> 
