<div class="userccount" style="padding: 5px 20px !important">
    <div class="formpanel">
          <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>
       <!-- Personal Information -->
    <h5>Identification Details</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="formrow">
          <input type="text" id="cardno" class="form-control" placeholder="Identification No">
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <select class="form-control" name="Identification Type">
            <option>Identification Type</option>
            <option>Aadhar card</option>
            <option>Driving Licence </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <input type="text" style="height:42px" name="date" id="Date" class="form-control datepicker"
            placeholder="Date">
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">

          <input type="date" style="height:42px" name="date" id="ValidUpto" class="form-control"
            placeholder="Valid Up to">
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <input type="text" id="Authority" class="form-control" placeholder="Authority">
        </div>
      </div>
  
    </div>
    <br/>
      <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="formrow">
                <input type="submit"  class="btn"  value="Submit">
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
  </div>
</div>