
<div class="userccount" style="padding: 5px 20px !important">
   <div class="formpanel">
      <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>
      <h5><span lang="en">Add Education</span></h5>
      <div class="row">

         <div style="margin-left: 3%;margin-bottom: 3%;" for="example-email-input" class="col-2 col-form-label"><span lang="en">Note : Enter your education in chronological order</span></div>

         <div class="col-md-6 forvalidation">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">Qualification</span>&nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <select class="form-control" id="ExamPassed"
                  onfocusout="getvalidated('ExamPassed','select','Qualification')" name="Exam Passed">
               </select>

               <span id="validExamPassed" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
         <div class="col-md-6 forvalidation" id="course1">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">Subject Group</span> &nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <select class="form-control" id="Course" onfocusout="getvalidated('Course','select','Subject Group')"
                  name="Subject Group">
               </select>

               <span id="validCourse" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
         <div class="col-md-6 forvalidation" id="Specialization1">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">Subject</span> &nbsp
               </label>

               <input type="text" id="Specialization" class="form-control skillsearch" style="padding-left:3px;"
                  placeholder="Enter Subject" onkeypress="if(this.value.length>=40) { return false;}"/>


               <span id="validSpecialization" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
         <div class="col-md-6 forvalidation" id="CourseType1">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">Course Type</span> &nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <select class="form-control" id="CourseType"
                  onfocusout="getvalidated('CourseType','select','Course Type')" name="CourseType">
               </select>

               <span id="validCourseType" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>



         <div class="col-md-6 forvalidation" id="University1">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">University / Board</span> &nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <select class="form-control" id="university" name="Universitys"
                  onfocusout="getvalidated('university','select','University/Board');">
               </select>

               <span id="validuniversity" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
         <div class="col-md-6 forvalidation" id="PassingOutYear1">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">Passing Out Year</span> &nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <select class="form-control" id="PassingOutYear" name="PassingOutYear"
                  onfocusout="getvalidated('PassingOutYear','select','Passing Out Year')"> </select>

               <span id="validPassingOutYear" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>


         <div class="col-md-6 forvalidation" id="Division1">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">Division</span>&nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <select class="form-control" id="Division" name="Division"
                  onfocusout="getvalidated('Division','select','Division')">
               </select>

               <span id="validDivision" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>

         <div class="col-md-6 forvalidation" id="Percentage1">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
                  <span lang="en">Percentage</span> &nbsp<span class="asterisk_input label-icon"></span>
               </label>
               <input class="form-control" type="text" style="height:49px" id="Percentage" onfocusout="getvalidated('Percentage','number','Percentage');"
                  onkeypress="return isNumberKey(event,this.id);" maxlength="5" placeholder="Percentage">

               <span id="validPercentage" style="font-size: 11px; color: #cc0033; "></span>
               <span class="info-icon-reg" data-toggle="tooltip"  data-balloon-length="xlarge" data-placement="right"
                  title="<br><h6> <span lang='en'> Percentage Range</span>  </h6>  <ul class='categories'><li> <span lang='en'>First Division  - (60%-100%)</span> </li><li> <span lang='en'> Second Division - (46%-59%)</span> </li><li> <span lang='en'> Third Division - (33%-45%)</span> </li><li> <span lang='en'> Grade A - (85%-100%)</span> </li><li> <span lang='en'> Grade B- (70%-84%)</span> </li><li> <span lang='en'> Grade C- (55%-69%)</span> </li></ul>" data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
            </div>
         </div>



         <!-- <div class="col-md-6 forvalidation" id="GradingSystem1">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                        Grade&nbsp<span class="asterisk_input label-icon"></span>
                        </label>
               <select class="form-control" id="GradingSystem" name="GradingSystem"  onfocusout="getvalidated('GradingSystem','select','Grading System')">
               </select>
               
               <span id="validGradingSystem" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div> -->

      </div>
      <br />
      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
            <div class="formrow">
               <input type="submit" onclick="CheckEducation()" class="btn" id="SubmitEducation" value="Submit">
            </div>
         </div>
         <div class="col-md-2"></div>
      </div>
   </div>
</div>


<script type="text/javascript">
  
  
      $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   


  


   });
   jQuery('#Division').on('change', function () {
 jQuery('#Percentage').val('');
});



 

</script>