<div class="userccount">
  <div class="formpanel">

    <!-- Personal Information -->
    <h5>Electric License Details</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="formrow">
          <input type="text" id="License" class="form-control" placeholder="License No">
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <select class="form-control" name="License Type">
            <option>License Type</option>
            <option>Domestic</option>
            <option>Industrial</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <input type="text" style="height:42px" name="date" id="Date" class="form-control datepicker"
            placeholder="Date">
        </div>
      </div>

      <div class="col-md-6">
        <div class="formrow">
          <input type="text" id="Authority" class="form-control" placeholder="Issuing Authority">
        </div>
      </div>
      <br />
      <br>

      <input type="submit" class="btn" value="Submit">
    </div>
  </div>
</div>