<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">E-mail Support</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span lang="en">E-mail Support</span></div>
        </div>
      </div>
    </div>
  </div>
           
  <div class="listpgWraper">
        <div class="container">
           <div class="row">
            
              <div class="col-md-8" style=" margin-left: 17%; ">
                 <div class="userccount">
                    <div class="socialLogin">
                       <h5> E-mail Support</h5>
                    </div>
                    <div class="tab-content formpanel">
                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="formrow">
                                              <label for="example-email-input" class="col-2 col-form-label" lang="en">
                                          To
                                              </label>
                                             <h5 id="email"></h5>
                                        </div>
                                      </div>
                                </div>
                      
                        <div class="row">
                          <div class="col-md-12">
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label" lang="en">
                                Subject
                                    </label>
                                    <textarea class="form-control" style="height: 110px;" id="subject" name="Comments" placeholder="Comments"></textarea>
                              </div>
                            </div>
                      </div>
                        <div class="row">
                           
                                <div class="col-md-12">
                                        <div class="formrow">
                                              <label for="example-email-input" class="col-2 col-form-label" lang="en">
                                          E-mail Body
                                              </label>
                                              <textarea class="form-control" style="height: 110px;" id="Comments" name="Comments" placeholder="Comments"></textarea>
                                        </div>
                                      </div>
                           
                          </div>
                        </br>
                          <div class="row">
                              
                                 <div class="col-md-10" style="margin-left: 8%;">
                                <input type="submit" id="btnSearch" onclick="sendemail()" class="btn" value="Submit">
                           </div>
                            </div>
                            <div class="row">
                              </div> 
                   </div>
                 </div>
                 
              </div>
           </div>
        </div>
     </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
   
  
  
   <script>
   EmailConfig()
  
   function sendemail(){
    var sub = "MP Rojgar Registration";
var body = "<table width='600' border='0' align='center' cellpadding='0' cellspacing='0'><tr><td align='left' valign='top' style='border-right: solid thick #f0f0f0; border-left: solid thick #f0f0f0; border-top: solid thick #f0f0f0;'><img src='' class='yatmlogo' style='height: 70px; float: left;'> <img src='' class='mplogo' style='float: right; margin-top: -14.5%;'></td> </tr>" +
"<tr><td align='center' valign='top' style=' border-right: solid thick #f0f0f0; border-left: solid thick #f0f0f0; background-color:#f0f0f0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:10px;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='margin-top:10px;'><tr>" +
"<td align='left' valign='top' style='font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;'><div style='font-family:Georgia, Times New Roman, Times, serif; font-size:56px; color:#000000;'>Directorate of Employment,Govt of M.P.</div>" +
"<div style='font-size:14px;color:darkgreen'><br>Dear "+sessionStorage.getItem("CandidateName")+", <br></div></br><div style='font-size:13px;'>Your username and password has been created successfully.</div><br><div style='font-size:13px;'>Your Username:  "+sessionStorage.getItem("Username")+"</div></br><div style='font-size:13px;'></div></br>"+
"<br>हम आपकी सहायता करने के लिए तत्पर हैं।</div><br>किसी भी सहायता के लिए, कृपया टोल फ्री हेल्पलाइन 0755-2767927 (10:00 पूर्वाह्न से 07:00 बजे तक) पर संपर्क करें । or you may send an email at talent.management@yashaswi.edu.in</td></tr></table></td></tr></table>";
Email.send(globalemailid,
sub,
body,
"smtp.gmail.com",
globalemailid,
globalemailpass);


}
      $(document).ready(function () {
        
       });
      </script> 
  
</body>

</html>