<div class="userccount" style="padding: 5px 20px !important">
   <div class="formpanel">
      <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>
      <h5><span lang="en">Experience Details</span></h5>
      <div class="row">
         <div class="col-md-6 forvalidation">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Designation</span> &nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <input type="text" name="Designation" id="Designation" class="form-control "  autocomplete="off"
                  placeholder="Your Designation" onfocusout="getvalidated('Designation','text','Designation')">
                  <span id="validDesignation" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
         <div class="col-md-6 forvalidation">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Organization</span> &nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <input type="text" name="Organization" id="Organization" class="form-control "  autocomplete="off"
                  placeholder="Your Organization" onkeypress="if(this.value.length>=50) { return false;}" onfocusout=" getvalidated('Organization','text','Organization')">
                  <span id="validOrganization" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Is your Current Company?</span> &nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <select class="form-control" id="iscurrentcompany" onfocusout=" getvalidated('iscurrentcompany','select','Current Company')" name="Company">
                        </select>
               <span id="validiscurrentcompany" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
        
      </div>
      <div class="row" id="startedworking">
         <div class="col-md-6">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Started Working From Year</span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <select class="form-control" id="startedworkinginyear" onchange="CheckWorkingYear()" onfocusout=" getvalidated('startedworkinginyear','select','Started work in year')" name="Year">
                     </select>
               <span id="validstartedworkinginyear" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Started Working From Month</span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <select class="form-control" id="startedworkinginmonth"  onfocusout="  getvalidated('startedworkinginmonth','select','Started work in Month')" name="Month">
                              </select>
               <span id="validstartedworkinginmonth" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>

         <div class="col-md-6">
               <div class="formrow" id="present">
                     <label for="example-email-input" class="col-2 col-form-label">
                        <span lang="en">Work Till</span>&nbsp
                               </label>
                  <input type="text" style="background-color: white" name="Designation" id="present"
                     value="Present" class="form-control " placeholder="" readonly>
                     
               </div>
            </div>
      </div>

      <div class="row" id="workingyr">
            
         <div class="col-md-6">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Worked Till Year</span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <select class="form-control" id="workinyear" name="WorkedTill" onfocusout="getvalidated('workinyear','select','Work Till in year')">
                           </select>
               <span id="validworkinyear" style="font-size: 11px; color: #cc0033; "></span>
           
            </div>
         </div>
         <div class="col-md-6">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Worked Till Month</span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <select class="form-control" id="workinmonth" name="WorkedTill" onfocusout="getvalidated('workinmonth','select','Work Till in Month')">
                        </select>
               
               <span id="validworkinmonth" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
      </div>


      <div class="row" id="salary">
           
         <div class="col-md-6">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Salary in Lacs</span> <span style="color:darkgray">(Per Annum)</span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <select class="form-control" id="inlacs" name="WorkedTill" onfocusout="getvalidated('inlacs','select','Salary in lacs')" >
                        </select>
               <span id="validinlacs" style="font-size: 11px; color: #cc0033; "></span>
            
            </div>
         </div>
         <div class="col-md-6">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Salary in Thousands</span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <select class="form-control" id="inthousands" name="WorkedTill" onfocusout=" getvalidated('inthousands','select','Salary in Thousand')">
                        </select>
               <span id="validinthousands" style="font-size: 11px; color: #cc0033; "></span>
            
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     <span lang="en">Describe your Job Profile</span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>
               <textarea class="form-control" id="JobProfile" maxlength="250" onfocusout="getvalidated('JobProfile','text','Job Profile')" placeholder="Describe your Job Profile"></textarea>
               <span id="validJobProfile" style="font-size: 11px; color: #cc0033; "></span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12" id="ntcperd">
            <div class="formrow">
               <label for="example-email-input" class="col-2 col-form-label">
               <span lang="en">Notice Period</span>&nbsp<span class="asterisk_input label-icon"></span>
                            </label>  
               <select class="form-control" id="noticeperiod" name="NoticePeriod" onfocusout="getvalidated('noticeperiod','select','Notice Period')">
                  <option value="0">Notice Period</option>
                  <option>15 Days or less</option>
                  <option>1 Month</option>
                   <option>2 Months</option>  
                   <option>3 Months</option> 
                   <option>More than 3 Months</option>   
                   <option>Serving Notice Period</option> 
               </select>
               <span id="validnoticeperiod" style="font-size: 11px; color: #cc0033; "></span>
           
            </div>
         </div>
         
      </div>
      <br>
      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
            <div class="formrow">

               <input type="submit" onclick="CheckEmployement()" class="btn" value="Submit">
            </div>
         </div>
         <div class="col-md-2"></div>
      </div>
   </div>
</div>