<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../partials/head %>
</head>

<body>
   <header>
      <% include ../partials/header %>
   </header>
   <div class="pageTitle" style="height:0px">
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-sm-6">
               <h1 class="page-heading">Job Seeker Registration</h1>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="breadCrumb"><a href="/index">Home</a> / <span>Job Seeker Registration</span></div>
            </div>
         </div>
      </div>
   </div>
   <div class="listpgWraper">
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <div class="userccount">
                  <div class="socialLogin">
                     <h5>Job Seeker Register</h5>
                  </div>
                  <div class="tab-content formpanel">

                     <div class="formrow">
                        <input type="text" name="name" id="txtempname" class="form-control" placeholder="Employee Name">
                     </div>
                     <div class="formrow">
                        <input type="number" name="number" id="Phone"
                           onkeypress="if(this.value.length>=10) { return false;}" class="form-control"
                           placeholder="Phone">
                     </div>
                     <div class="formrow">
                        <input type="email" name="email" onfocusout="checkemail()" id="Email" class="form-control"
                           placeholder="Email">
                     </div>
                     <div class="formrow">
                        <select class="form-control" id="idtype" name="idtype" style="height:46px;">
                           <option value="0">Select Identification Type</option>
                           <option value="aadharcard">Aadhar Card</option>
                           <option value="pancard">PAN Number</option>
                           <option value="passport">Passport</option>
                           <option value="drivingcard">Driving License</option>
                        </select>
                     </div>
                     <div class="formrow">
                        <input type="text" name="idinput" id="idinput" class="form-control"
                           placeholder="Identification Number">
                     </div>
                     <div class="formrow">
                        <input type="password" id="Password" name="Password" class="form-control"
                           placeholder="Password">
                     </div>
                     <div class="formrow">
                        <input type="password" id="Repassword" name="retypepassword" class="form-control"
                           placeholder="Re-Enter Password">
                     </div>
                     <div class="formrow">
                        <tr>
                           <td align="left">
                              <strong><span style="font-size: 15px; color: #cc0033">Please enter the Text Below in
                                    Text Box</span></strong>
                           </td>
                        </tr>
                     </div>
                     <div class="formrow">
                        <div id="captcha">
                        </div>
                     </div>
                     <div class="formrow" style="display:block">
                        <input type="text" placeholder="Captcha" id="cpatchaTextBox" />
                     </div>
                     <div class="formrow" style="display:block">
                        <input type="button" onclick="CheckValidation()" class="btn" value="Register">
                     </div>
                     <div class="formrow">
                        <div class="newuser" style="font-size:13px; ">
                           <i class="fa fa-user" aria-hidden="true">
                           </i> Already a Member? <a href="/Login">Login Here</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <footer>
      <% include ../partials/footer %>
   </footer>
    
   <script src="../customjs/EmployeeRegistration.js"></script>
   <script type="text/javascript">

      $(document).ready(function () {
         $('#account').prop("disabled", true);
         createCaptcha();
      });
   </script>
</body>

</html>