<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>
  <div class="error-page-wrap">
    <div class="container">
      <div class="errormain">
        <h3><%= error.status %></h3>
        <h5><%= message %></h5>
        <div class="error-msg">
          <p>The page you are looking is not available or has been removed. Try going to Home Page by using the button
            below.</p>
          <a href="/" class="btn">Go to Home Page</a>
        </div>
      </div>
    </div>
  </div>
  <!--   Error
  <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->
  <footer>
    <% include ../partials/footer %>
  </footer>
   
</body>

</html>

<script>
  $(document).ready(function () {
    EmailConfig()

  
    sendemail(globalemailid);
  });
function sendemail(email){

  var sub = "Error";
var body = "<table width='600' border='0' align='center' cellpadding='0' cellspacing='0'><tr><td align='left' valign='top' style='border-right: solid thick #f0f0f0; border-left: solid thick #f0f0f0; border-top: solid thick #f0f0f0;'><img src='' class='yatmlogo' style='height: 70px; float: left;'> <img src='' class='mplogo' style='float: right; margin-top: -14.5%;'></td> </tr>" +
"<tr><td align='center' valign='top' style=' border-right: solid thick #f0f0f0; border-left: solid thick #f0f0f0; background-color:#f0f0f0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:10px;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='margin-top:10px;'><tr>" +
"<td align='left' valign='top' style='font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;'><div style='font-family:Georgia, Times New Roman, Times, serif; font-size:56px; color:#000000;'>Msg from Job Seeker </div>" +
"<div style='font-size:14px;color:darkgreen'><br>Page NAme "+sessionStorage.getItem("PageName")+", <br></div></br><div style='font-size:13px;'> <h3><%= error.status %></h3> <%= message %></div><br><div style='font-size:13px;'></div></br><div style='font-size:13px;'></div></br>"+
"<br></div></td></tr></table></td></tr></table>";
Email.send(globalemailid,
email ,
sub,
body,
"smtp.gmail.com",
globalemailid,
globalemailpass);

}

</script>
