<div class="modal fade" id="myModalfacilities" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
   <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-body">
            <div class="userccount" style="padding: 5px 20px !important">
               <div class="formpanel">
                  <button type="button" class="close" data-dismiss="modal"
                     style="margin-top: -10px;font-size: xx-large;">×</button>
                  <h5>Facilities with us :</h5>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="formrow">
                           <p style="color: black; text-align: left;">
                              After you are registered with us, you can have opportunities to accept or reject as per
                              your interest. You will be informed about your selection against particular vacancy
                              through your registration account on our website.
                           </p>
                        </br>
                           <ul class="categoriesFacilities">
                              <li>
                                 You can renew your registration online (without coming to the exchange) in the due
                                 month with the grace period of two months.
                              </li>
                           </br>
                              <li>
                                 Through our portal you can communicate your Employment Exchange and Employer both
                                 directly.
                              </li>
                           </br>
                              <li>
                                 You can select vacancies advertised on website according to your qualification,
                                 skill set and experience and contact directly to the Employer. through this
                                 Email-id, website, phone number and postal address etc.
                              </li>
                           </br>
                              <li>
                                 You can request your Employment Exchange Authorities to conduct individual career
                                 counseling.
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
