<div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="formrow">
            <select class="form-control" id="StateFetch" name="State">
  
            </select>
          </div>
        </div>
        <div id="FooterDetail">
  
        </div>
      </div>
    </div>
  </div>
