<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>

</head>

<body onload="createCaptchaforgot()">

  <header>
    <% include ../partials/header %>
  </header>

  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang='en'>Forgot Password</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span lang='en'>Forgot Password</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="userccount" style="margin-top:-33px;">
            <div class="socialLogin">
              <h5 style="font-size:16px;"><span lang='en'>Forgot Password</span ></h5>
              <!-- login form -->
              <div class="formpanel">

                <div class="row">
                  <div class="col-md-12">
                    <div class="formrow" id="NotRegCheck" style="display: none;">
                      <tr>
                        <td align="left">
                          <strong><span style="font-size: 15px; color: #cc0033;margin-left: -67%;">You Are Not
                              Registered.
                            </span></strong>
                        </td>
                      </tr>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                <div class="formrow">   
                  <input type="radio" id="email" value="1" name="mobile" style="margin-left: 6%;" ><span lang='en'>Email Id</span> 
                </div>
              </div>
                  <div class="col-md-4" >
                    <div class="formrow">   
                  <input type="radio"  id="rmobile" value="2" name="mobile" ><span lang='en' style="margin-left: 2%;">Mobile Number</span>
                </div>
              </div>
              </div>
           


                
                <div class="formrow forvalidation">
              
                  <input type="text" id="useridforgot" class="form-control" placeholder="Enter Email Id">
                  <span id="validuseridforgot" style="font-size: 11px; color: #cc0033; "></span>
                </div>
              
              
                <!-- START CAPTCHA -->
              <div style=" margin-top: -5%;">
                <div class="formrow">
                    <tr>
                      <td style="text-align:left;">
                        <strong><span style="font-size: 15px;margin-left: -1%; color: #cc0033" lang='en'>Please Enter The Text Below In Text Box</span></strong></td>
                    </tr>
                  </div>
                <% include   captcha %>
              </div>
              
                <div class="formrow" style="display:block">
                  <input type="button" onclick="CheckValidation()" id="btnsubmit" class="btn" value="Submit">
                </div>
              </div>

              <!-- END CAPTCHA -->

              <!-- login form end-->




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
  
  <% include ../pages/verification/Mobilemodal%>
  <% include ../pages/verification/emailmodal%>
  <% include ../pages/verification/MobileModal%>
  <% include ../pages/ResetPassword %>
   
  <script type="text/javascript" src="/customjs/ForgotPassword.js"></script>
  <script type="text/javascript" src="/customjs/ResetPassword.js"></script>

  <script type="text/javascript">

    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip(); 
      EmailConfig()
      $( 'input[name="mobile"]:radio:first' ).click(); //FillState();
      //
    });
  </script>
</body>

</html>