<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
<style>
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
	.col-sm-4 {    width: 33.33333333%;}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
	.col-md-3 {    width: 25%;}
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
	.col-sm-4 {    width: 33.33333333%;}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
	.col-md-3 {    width: 25%;}
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
	.col-sm-4 {    width: 33.33333333%;}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
	
    .col-md-3 {    width: 25%;}
    @media print {
        #dvContents {
            width: 100%;
        }
    }
</style>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                    <div class="job-header" id="dvContents">
                            <div class="jobinfo">
                              <div class="row" id="sssss">
                    <div class="col-md-10"> 
                            <div class="candidateinfo">
                              <div class="userPic" style="width:90px ;height:160px; background: none"><img style="max-width:75%" src="images/05032016070225indus_logo.png" alt=""></div>
                              <div class="title" style="    padding-bottom: 10px; font-size: 15px;text-align: -webkit-center;">Department of Technical Education, Skill Development and Employment, Government of Madhya Pradesh</div>
                              <div class="title" style="    padding-bottom: 10px; font-size: 15px;text-align: -webkit-center;">Directorate of Employment, Madhya Pradesh</div>
                              <div class="title" style="    padding-bottom: 10px;text-align: -webkit-center;"> Job Fair Hall Ticket </div>
                              <div class="title" style="    padding-top: 5%;font-size: 18px;text-align: end;" id="date1">Date :</div>
                             </div>
                     </div>
                          <div class="col-md-2 col-sm-2"> 
                                <div class="candidateinfo">
                                        <div class="userPic" style="width:85px ; background: none; float: right">
                                            <img style="max-width: 90%;height: 55px;" src="/images/YATMLogo.png" alt=""></div>
                                      </div>
            </div>
            </div>
           
     <div id="client"></div>
    
                 <div class="row" id="canid" style="border:solid 3px">
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;">
                        <h6 style="margin-left: 40%;"> Candidate Copy</h6>
                      </div>

                      
                    <div class="col-md-2 col-sm-2" style="margin-bottom: -11%;"><img  style="width:100px;height:90px" id="profilepic"/>  </div>
                      

                    <div style=" margin-left: 10%;">
                        <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Job Fair Registration No :</div></div>
                        <div class='col-md-3'><p class='profiledetail' id="jobfairregno"></p></div>
                        <div class='col-md-3'><p class='profilesubheading'>M.P. Rojgar Registration No :</p></div>
                        <div class='col-md-3'><p class='profiledetail'id="mprojgarregno"></p></div></div>

                        <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Candidate Name :</div></div>
                        <div class='col-md-3'><p class='profiledetail' id="Candidatename"></p></div>
                        <div class='col-md-3'><p class='profilesubheading'>Trade :</p></div>
                        <div class='col-md-3'><p class='profiledetail' id="Trade"></p></div></div>

                        <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Father's Name :</div></div>
                        <div class='col-md-3'><p class='profiledetail' id="fathername"></p></div>
                        <div class='col-md-3'><p class='profilesubheading'>Caste :</p></div>
                        <div class='col-md-3'><p class='profiledetail' id="Caste"></p></div></div>

                        <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Date of Birth :</div></div>
                        <div class='col-md-3'><p class='profiledetail' id="dateofbirth"></p></div>
                        <div class='col-md-3'><p class='profilesubheading'>Mobile Number :</p></div>
                        <div class='col-md-3'><p class='profiledetail' id="mobileno"></p></div></div>

                        <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Aadhaar Number :</div></div>
                        <div class='col-md-3'><p class='profiledetail' id="Aadhaarno"></p></div>
                        <div class='col-md-3'><p class='profilesubheading'>Address :</p></div>
                        <div class='col-md-3'><p class='profiledetail' id="Address"></p></div></div>

                        

                    </div>


                </div>

                <div class="clearfix">----------------------------------------<i class="fa fa-scissors" aria-hidden="true" style=" font-size: 150%;"></i>----------------------------------------<i class="fa fa-scissors" aria-hidden="true" style=" font-size: 150%;"></i>-----------------------------------------------------------<i class="fa fa-scissors" aria-hidden="true" style=" font-size: 150%;"></i>----------------------------------------<i class="fa fa-scissors" aria-hidden="true" style=" font-size: 150%;"></i>------------------------------</div>


                 <!-- <div id="Organizer"></div>  -->

                 <div class="row" style="border:solid 3px">
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;">
                        <h6 style="margin-left: 40%;"> Organizer Copy</h6>
                      </div>

                        <div class="clearfix" style="padding: 4px 0px 4px 0px;">
                            <h6 style="margin-left: 2%;"> Candidate Detail</h6>
                          </div>
    
                          
                        <div class="col-md-2 col-sm-2" style="margin-bottom: -11%;"><img  style="width:100px;height:90px" id="profilepic"/>  </div>
                          
    
                        <div style=" margin-left: 10%;" id="candidatedetail">
                 <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Job Fair Registration No :</div></div>
                <div class='col-md-3'><p class='profiledetail' id='jobfairregno1'></p></div>
                <div class='col-md-3'><p class='profilesubheading'>M.P. Rojgar Registration No :</p></div>
                <div class='col-md-3'><p class='profiledetail'id='mprojgarregno1'></p></div></div>

                <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Candidate Name :</div></div>
                <div class='col-md-3'><p class='profiledetail' id='Candidatename1'></p></div>
                <div class='col-md-3'><p class='profilesubheading'>Trade :</p></div>
                <div class='col-md-3'><p class='profiledetail' id='Trade1'></p></div></div>

                <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Father's Name :</div></div>
                <div class='col-md-3'><p class='profiledetail' id='fathername1'></p></div>
                <div class='col-md-3'><p class='profilesubheading'>Caste :</p></div>
                <div class='col-md-3'><p class='profiledetail' id='Caste1'></p></div></div>

                <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Date of Birth :</div></div>
                <div class='col-md-3'><p class='profiledetail' id='dateofbirth1'></p></div>
                <div class='col-md-3'><p class='profilesubheading'>Mobile Number :</p></div>
                <div class='col-md-3'><p class='profiledetail' id='mobileno1'></p></div></div>

                <div class='col-md-12'><div class='col-md-3'><div class='profilesubheading'>Aadhaar Number :</div></div>
                <div class='col-md-3'><p class='profiledetail' id='Aadhaarno1'></p></div>
                <div class='col-md-3'><p class='profilesubheading'>Address :</p></div>
                <div class='col-md-3'><p class='profiledetail' id='Address1'></p></div></div></div>
            
                        <!-- </div> -->
                        
    <div class="clearfix" style="border-bottom: groove; color: #757373;"></div>
    
    <div id="ClientCopy">
  
     </div>    

  
                  </div> 
                 </div>
           

               
                    
              
            </div>
            <div class="row">
              <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
              <div class="col-md-6 col-sm-12">
          <button type="button" id="Print">
              Print 
           </button></div>
           <div class="col-md-6 col-sm-12">
                  <button type="button" onclick="window.history.back();">
                      Back
                   </button></div>
          
      </div>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
    </div>

    </div>
     
    <script src="../customjs/HallTicket.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
      FetchHallTicket('parsedatasecuredFetchHallTicket');

        if(sessionStorage.getItem('PicFileName')){
            $("#profilepic,#profilepic2").attr('src',"Pics/"+sessionStorage.getItem('PicFileName'))
        }
        else{
            $('#profilepic,#profilepic2').attr('src',"images/candidates/01.jpg");

        }

        //  FillPrint('parsedatasecuredFillPrint','');
        $(document).ajaxStart($.blockUI({ message: '<img src="images/loading.gif" style="width:50px;height:50px" />' })).ajaxStop($.unblockUI);

      });
      $("#Print").click(function(){
       // window.print();
$('#dvContents').printThis({
        debug: false,               // show the iframe for debugging
        importCSS: true,            // import parent page css
        importStyle: true,         // import style tags
        printContainer: true,       // print outer container/$.selector
        loadCSS: "",                // path to additional css file - use an array [] for multiple
        pageTitle: "",              // add title to print page
        removeInline: false,        // remove inline styles from print elements
        removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
        printDelay: 333,            // variable print delay
        header: "",               // prefix to html
        footer: null,               // postfix to html
        base: false,                // preserve the BASE tag or accept a string for the URL
        formValues: true,           // preserve input/form values
        canvas: true,              // copy canvas content
        doctypeString: '<!DOCTYPE html>', // enter a different doctype for older markup
        removeScripts: false,       // remove script tags from print content
        copyTagClasses: true,      // copy classes from the html & body tag
        beforePrintEvent: null,     // callback function for printEvent in iframe
        beforePrint: null,          // function called before iframe is filled
        afterPrint: null            // function called before iframe is removed);
});


                // var contents = $("#dvContents").html();
                // var frame1 = $('<iframe />');
                // frame1[0].name = "frame1";
                // frame1.css({ "position": "absolute", "top": "-1000000px" });
                // $("body").append(frame1);
                // var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
                // frameDoc.document.open();
                // //Create a new HTML document.
                // frameDoc.document.write('<html><head><title>DIV Contents</title>');
                // frameDoc.document.write('</head><body>');
                // //Append the external CSS file.
                // frameDoc.document.write('<link href="/css/jQueryUI.css" rel="stylesheet" type="text/css" />');
                // frameDoc.document.write('<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
                // frameDoc.document.write('<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />');
                // frameDoc.document.write('<link href="/css/main.css" rel="stylesheet" type="text/css" />');
                // frameDoc.document.write('<link href="/css/style.css" rel="stylesheet" type="text/css" />');
                // frameDoc.document.write('<link href="/css/vendors.bundle.css" rel="stylesheet" type="text/css" />');
                // //Append the DIV contents.
                // frameDoc.document.write(contents);
                // frameDoc.document.write('</body></html>');
                // frameDoc.document.close();
                // setTimeout(function () {
                //     window.frames["frame1"].focus();
                //     window.frames["frame1"].print();
                //     frame1.remove();
                // }, 500);




});
      </script>