<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/Homeheader %>
  </header>
  <div class="searchwrap" style="padding: 50px 0 !important">

    <div class="container">


      <div class="searchbar row" style="margin-top: 0px !important">

        
          <div class="col-md-3">
            <!--  <input type="text" id="SkillsORjobtitle" class="form-control skillsearch" style="padding-left:3px;width: 496px;max-height: 50px" placeholder="&nbsp;&nbsp;&nbsp; Enter Skills or job title" />-->
              <input type="text" id="Sector" class="form-control" style="width: 100%;max-height: 50px" placeholder="&nbsp;&nbsp;&nbsp; Enter Sector" />
          </div>
          <div class="col-md-3">
              <input type="text" id="Qualification" class="form-control" style="width: 100%;max-height: 50px" placeholder="&nbsp;&nbsp;&nbsp; Enter Qualification" />
          </div>
         
          <div class="col-md-3">
              <input type="text" id="Location" class="form-control" style="width: 100%;max-height: 50px" placeholder="&nbsp;&nbsp;&nbsp; Enter Location" />
          </div>
          <div class="col-md-2">
         <input type="submit" id="searchJob" style="background-color:#87551d;width: 205px;" onclick="checksearchJob()" class="btn" value="Search Job">
          </div>
      </div>
    </div>
  </div>
  <div class="listpgWraper" style="padding: 25px !important">
    <div class="container">
      <h3><span lang="en" style="color: black;">Dashboard</span></h3> <br />
     
      <div class="col-md-4" style="    padding-right: 5px;padding-left: 0px;">
        <div class="customsidebar"><a href="#" onclick="fetchappliedjobby()">
            <h3 class="number" id="appliedcount"></h3>
            <div class="text" style="    width: 100%;  font-size: large; font-weight: 600;" ><span lang="en" >Applied jobs</span></div>
          </a>
          <!-- Social Icons end -->
        </div>
      </div>
      <div class="col-md-4" style="    padding-right: 5px;padding-left: 0px;">
        <div class="customsidebar"><a href="#" onclick="fetchSavedjobby()">
            <h3 class="number" id="savedcount"></h3>
            <div class="text" style="    width: 100%;  font-size: large; font-weight: 600;" ><span lang="en" >Saved jobs</span></div>
          </a>
          <!-- Social Icons end -->
        </div>
      </div>
      <!-- Search Result and sidebar start -->
      <div class="row">

        <div class="col-md-4 col-sm-6 pull-right">
          <!-- Social Icons -->
          <div class="sidebar">
            <div class="row">
              <div class="userPic" style="height:90px;width:90px;margin-top:-19px;margin-left:-18px;">
               
                <img src="" id="imagepro"
                  style="    border-radius:50%;margin-left:179%;margin-top:-37px;width: 70px;
                  height: 57px;" alt="">

              </div>
              <h4 class="title" style="text-align:center;margin-top:-27px;" id="UserName"></h4>
              <br />
              <p class="desi" style="text-align:center;" id="homedesignation"></p>
              <br />
              
              <p class="desi" style="text-align:center;" id="registrationnumber"></p>
              <br />
              <p class=" desi" style="text-align:center;" id="UserMobileNo"></p>
              <br />
              <p class="desi" style="text-align:center;" id="UserEmailId"></p>
              <br />
              <div class="progress" style="margin-left: 25px;width: 85%;">
               <div id="progressbar"></div>
              </div>
            </br>
            <div class="col-md-12" style="margin-top: 2%">
              <div class="col-md-6"></div>
            
            </div>
                <input type="submit" style=" background: #FC9928 ;color:white;display: block;margin:auto;width:259px;"  onclick="PrintRegCard()" class="btn" value="PRINT REGISTRATION CARD">
                <div class="col-md-12" style="margin-top: 2%">                                                                           
                  <div class="col-md-6"></div>
                
                </div>
              <br>
                <input type="submit" style="background: #FC9928 ;color:white;display: block;margin:auto;width:259px;" class="btn" value="PRINT PROFILE" disabled>
                <div class="col-md-12" style="margin-top: 2%">
                  <div class="col-md-6"></div>
                
                </div>
            
              <br>
                <input type="submit" onclick="Profile()" 
                  style="background: #FC9928 ;color:white;display: block;margin:auto;width:259px;" class="btn"
                  value="UPDATE PROFILE">
            
             
              <div class="col-md-12" style="margin-top: 2%">
                <div class="col-md-6"></div>
              
              </div>
            </div>

          </div>
          <div class="custom2sidebar">
            <a href="#" onclick="Fillrecommended()">
              <div class="widget-title" style="color: #7a7a7a;"><span lang="en" >Recommended Job</span></div>
            </a>
          </div>
          <div class="custom2sidebar">
            <a href="#"  onclick="fetchappliedjobby()">
              <div class="widget-title" style="color: #7a7a7a;"><span lang="en" >Applied jobs</span></div>
            </a>
          </div>
          <div class="custom2sidebar">
            <a href="#"  onclick="fetchSavedjobby()">
              <div class="widget-title" style="color: #7a7a7a;"><span lang="en" >Saved jobs</span></div>
            </a>
          </div>

        </div>
        <div class="col-md-8 col-sm-12" id="jobs">

          <% include HomePage/JobseekerJobs %>
        </div>

      </div>
    </div>
  </div>


  <footer>
    <% include ../partials/Homefooter %>
  </footer>

   
  <script type="text/javascript" src="/customjs/Home.js"></script>
  <script type="text/javascript" src="/customjs/HomePage/JobseekerJobs.js"></script>
 
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript">

    $(document).ready(function () {
    //   if(localStorage.getItem('action')!=='olduser'){
    //   olduser();
    // }
      $(document).ajaxStart($.blockUI({ message: '<img src="images/loading.gif" style="width:50px;height:50px" />' })).ajaxStop($.unblockUI);
     
      
    //  UserBasicDetails();
    
      // FillCategorySecured('parsedatasecuredcategory', 'ddlCategory');
      // FillcitySecured('parsedatasecuredcity', 'ddlcity');
      $('.js-example-basic-multiple').select2();
     
      if(sessionStorage.Type=='Search'){
        FillJobs('Search')
        sessionStorage.Type=''
      }
      else{
        setTimeout(function(){ Fillrecommended(); }, 500);
      }
      fetchCounts();
      if(sessionStorage.getItem("TypeHome")=="Change"){
        sessionStorage.setItem("TypeHome","");
        toastr.success("Password Changed Successfully", "", "success");
        
      }


    });
    function Profile() {
      window.location = "/Profile_new";
    }
    function PrintRegCard(){
      window.location = "/PrintRegistrationcard";
    }
    function PrintProfile(){
      window.location = "/CVTemplate";
    }

  </script>
</body>

</html>