<div class="userccount" style="padding: 5px 20px !important">
  <div class="formpanel">

    <!-- Personal Information -->
    <button type="button" class="close" data-dismiss="modal" id="Close"
      style="margin-top: -10px;font-size: xx-large;">×</button>
    <h5 id="" style="font-size:18px"><span lang="en">License Details</span></h5>
    <div class="row">
      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Card Type</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" id="idtype" onfocusout="getvalidated('idtype','select','Identification Type');"
            name="Identification Type">
            <option value="0">Card Type</option>

            <option value="Driving Licence">Driving Licence </option>
            <option value="Electric Licence">Electric Licence </option>
          </select>
          <span id="valididtype" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Card Number</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <input type="text" id="cardno" onfocusout="getvalidated('cardno','text','Card Number');" class="form-control" placeholder="Identification Number" maxlength='25'
            onkeypress="return AvoidSpace(event)">




          <span id="validcardno" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>



      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">License type</span>
          </label>
          <select class="form-control" id="licensetype" onchange="placeholder()" name="License Type">
            <option value="0"> License type</option>

          </select> </div>
      </div>


      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Issuing Date</span>
          </label>
          <input type="text" style="height:49px" class="form-control datepicker rojdatepicker" id="IdDate"
            placeholder="Issuing Date">
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Valid Upto</span>
          </label>
          <input type="text" style="height:49px" class="form-control datepicker rojdatepicker" id="ValidUpto"
            placeholder="Expiry Date">
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Issuing Authority</span>
          </label>
          <input type="text" id="IssuingAuthority" class="form-control" placeholder="Issuing Authority"
            onkeypress="if (this.value.length >= 90) { return false; };">
        </div>
      </div>



    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="formrow">
          <input type="submit" onclick="CheckIdentificationDetail()" class="btn" value="Submit">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>