<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <style>
        #hero-wrapper {
            height: 100%;
            width: 100%;
            position: relative;
        }

        #hero-wrapper .carousel-wrapper,
        #hero-carousel {
            height: 100%;
            width: 100%;
            position: absolute;
        }

        #hero-carousel img {
            left: 0;
            bottom: 0;

            min-height: 100%;
            max-width: none;
            width: auto;
            height: auto;
        }

        #hero-carousel i {
            position: absolute;
            top: 50%;
        }

        .carousel-fade .carousel-inner .item {
            opacity: 0;
            transition-property: opacity;
        }

        .carousel-fade .carousel-inner .active {
            opacity: 1;
        }

        .carousel-fade .carousel-inner .active.left,
        .carousel-fade .carousel-inner .active.right {
            left: 0;
            opacity: 0;
            z-index: 1;
        }

        .carousel-fade .carousel-inner .next.left,
        .carousel-fade .carousel-inner .prev.right {
            opacity: 1;
        }

        .carousel-fade .carousel-control {
            z-index: 2;
        }
    </style>
</head>

<body>

    <header>
        <div class="header">
            <div class="">
              
                
              <img src="images/header_name.gif" class="headerimage" alt="" style="height: 86px !important;width: 100%;max-width: 100%;"> 
  </div>          
    </header>
    <div class="searchwrap" style="padding: 0 !important;position: fixed;left: 212px;top: 253px;height: 37%;">
        <div class="container" >
          <h3 style="
    padding-top: 89px;
">  The website is under construction for updates, support and maintenance purpose, follow us for updates.We will be live soon!!</h3>
            </div>
        </div>
    
   
    
     

        <footer>
         




        </footer>


     

</body>

</html>