<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>
  <div class="searchwrap">
    <div class="container">
      <h3>One million success stories. <span>Start yours today.</span></h3>
      <div class="searchbar row">
        <div class="col-md-5">
          <input type="text" class="form-control" placeholder="Enter Skills or job title" />
        </div>
        <div class="col-md-3">
          <select class="form-control">
            <option>Select Categories</option>
            <option>Marketing</option>
            <option>Teaching & Education </option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-control">
            <option>Select City</option>
            <option>New York</option>
            <option>San Joes</option>
          </select>
        </div>
        <div class="col-md-2">
          <input type="submit" class="btn" value="Search Job">
        </div>
      </div>
      <!-- button start -->
      <div class="getstarted"><a href="#."><i class="fa fa-user" aria-hidden="true"></i> Get Started Now</a></div>
      <!-- button end -->

    </div>
  </div>
  <!-- Search end-->



  <footer>
    <% include ../partials/footer %>
  </footer>
   
</body>

</html>