<div class="userccount" style="padding: 5px 20px !important">
  <div class="formpanel">
    <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>

    <h5><span lang="en"> Additional Skills</span></h5>
       <p style="text-align: left;"><span lang="en">Specify details about programming languages (such as Java, Python, C/C++, Oracle, SQL etc), softwares (Microsoft Word, Excel, Tally etc) or any other software related knowledge.</span></p>
    <br />
    <br />
    <div class="row">


      <div class="col-md-12">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en"> Skill</span><span class="asterisk_input label-icon"></span>
         </label>
          <input type="text" id="ITSkills" onfocusout="  getvalidated('ITSkills','text','Skill');" class="form-control" style="height:50px !important"
            placeholder="Enter Skills " />
            
            <span id="validITSkills" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>

      <div class="col-md-6" style="height: 40px;">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en"> Version</span>
                    </label>
          <input class="form-control" type="text" onkeypress="if(this.value.length>=50) { return false;}"  id="Version" placeholder="Version" />
         
          </div>
      </div>

    


      <div class="col-md-6">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en"> Last Used</span>
                    </label>
          <select class="form-control" id="lastused">
                      </select>
        </div>
      </div>
    
     
      
    <div class="col-md-6">
      <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">  Experience (In Year)</span>
                  </label>
        <select class="form-control" id="ExpInYear">
            <option value="0">Select Experience (Year)</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option><option value="4">4</option>
            <option value="5">5</option><option value="6">6</option>
            <option value="7">7</option><option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option><option value="11">11</option>
            <option value="12">12</option><option value="13">13</option>
            <option value="14">14</option><option value="15">15</option>
       
              </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en"> Experience (In Month)</span>
                  </label>
        <select class="form-control" id="ExpInMonth">
                 </select>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="formrow">
          <input type="submit" class="btn" id="subItSkill" value="Submit">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>