<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>


</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>
  <!-- Page Title start -->
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Job Alerts</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>Job Alerts</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5 style="text-align:center">Job Alerts</h5>

              <div class="row">
                <div class="col-md-6">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Watch Words &nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <input type="text" class="form-control" id="WatchWords" name="WatchWords" onfocusout="getvalidated('WatchWords','text','WatchWords')" placeholder="Watch Words">
                    <span id="validWatchWords" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Location &nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <input type="text" name="Location" id="Location" class="form-control" placeholder="Location" onfocusout="getvalidated('Location','text','Location')">
                    <span id="validLocation" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Experience (   In Year) &nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <select name="WorkExperince" id="WorkExperince" class="form-control" placeholder="Work Experince" onfocusout="getvalidated('WorkExperince','select','WorkExperince')">
                    
                    </select>
                    <span id="validWorkExperince" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                </div>
                </div>
           

                <div class="col-md-6">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Experience (  In Month) &nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <select name="WorkExperince" id="WorkExperinceMnth" class="form-control" onfocusout="getvalidated('WorkExperinceMnth','select','Work Experience in Month')">
                      <option value="0">Experience in Month </option>
                      <option> Jan</option>
                      <option>Feb</option>
                      <option> March</option>
                      <option>April</option>
                      <option> May</option>
                      <option>Jun</option>
                      <option> July</option>
                      <option>Aug</option>
                      <option> Sept</option>
                      <option>Oct</option>
                      <option> Nov</option>
                      <option>Dec</option>

                    </select>
                    <span id="validWorkExperinceMnth" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                </div>
                </div>
              </div>
            

              <div class="row">
                <div class="col-md-6">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Expected Salary( In Lakhs) &nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <select name="ExpectedSalary" id="ExpectedSalary" class="form-control" onfocusout="getvalidated('ExpectedSalary','select','Expected Salary')">
                      <option value="0">Expected Salary </option>
                      <option>
                        1
                      </option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                      <option>18</option>
                      <option>19</option>
                      <option>20</option>
                      <option>21</option>
                      <option>22</option>
                      <option>23</option>
                      <option>24</option>
                      <option>25</option>
                      <option>26</option>
                      <option>27</option>
                      <option>28</option>
                      <option>29</option>
                      <option>30+</option>
                    </select>
                    <span id="validExpectedSalary" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                </div>
                </div>
             

                <div class="col-md-6">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Industry &nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <input type="text" name="Industry" id="Industry" class="form-control" placeholder="Industry" onfocusout="getvalidated('Industry','select','Industry')">
                    <span id="validIndustry" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Category &nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <select class="form-control" id="CategoryAlert" name="Category" placeholder="Category" onfocusout="getvalidated('CategoryAlert','select','Category')">
                      
                    </select>
                    <span id="validCategoryAlert" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Role &nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                    <select type="text" name="Role" id="Role" class="form-control" onfocusout="getvalidated('Role','select','Role')">
                      
                    </select>
                    <span id="validRole" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Designation &nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                  <div class="formrow">
                  
                    <select class="form-control" id="Designation" name="Designation" onfocusout="getvalidated('Designation','select','Designation')">
                      
                    </select>
                    <span id="validDesignation" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                          Skill &nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                    <input type="text" name="Skill" id="Skill" class="form-control" placeholder="Skill" onfocusout="getvalidated('Skill','text','Skill')">
                    <span id="validSkill" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                          Email Id&nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                    <input type="email" class="form-control" id="RegEmailId" name="RegEmailId" onfocusout="getvalidated('RegEmailId','email','Registered E-mai ID ')"
                      placeholder="Registered E-mai ID ">
                      <span id="validRegEmailId" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                          Mobile Number &nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                    <input type="text" name="phone" id="RegMblNo"
                      onkeypress="if(this.value.length>=10) { return false;}" class="form-control"
                      placeholder="Registered Mobile number " onfocusout="getvalidated('RegMblNo','number','Mobile Number')">
                      <span id="validRegMblNo" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                          Job Alert Type &nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                    <select class="form-control" id="type" name="" onfocusout="getvalidated('type','select','Job Alert Type')">
                      <option value="0"> Job Alert Type </option>
                      <option value="0"> Registered Mobile Number </option>
                      <option value="0"> Registered Email Id</option>
                      <option value="0"> Both </option>
                    </select>
                    <span id="validtype" style="font-size: 11px; color: #cc0033; "></span>
             
                  </div>
                </div>

              </div>


              <div class="row">

                <div class="col-md-10">
                  <button type="submit" class="btn" style="margin-left:10%" id="btnsubmit">Submit</button>
                </div>
              </div>

              <!--Captcha End-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
   

  <script src="/customjs/JobAlerts.js"></script>

  <script type="text/javascript">

    $(document).ready(function () {
      FillState();
      
      //FillDistrictOffice();
      FillLocation() ;
      FillExperienceYear();
      FillCategoryJobAlert('parsedataCategoryJobAlert');
      FillRoleJobAlert('parsedataRoleJobAlert');
      FillDesignationJobAlert('parsedataDesignationJobAlert');
    });
    $("#btnsubmit").click(function () {
      CheckValidation();
    });


  </script>
</body>

</html>