<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>

  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Jobs by Location </h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Home" lang="en">Home</a> / <span lang="en"> Jobs by Location</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->

  <div class="listpgWraper">
    <div class="container">

      <!-- Job Header start -->
      <div class="job-header">
        <div class="jobinfo">
          <div class="row">
            <div class="col-md-8">
              <h2 lang="en">Browse Jobs by Top Location</h2>
            </div>
            <div class="col-md-4">
              <div class="searchform">
                <div class="row">
                  <div class="col-md-10">
            
                      <input type="text" id="txtSearch" placeholder="Search Location" class="form-control" />
              
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <!-- Job Description start -->
              <div class="table-responsive">
               
             
                <br>
                  <table class="table">
                 
                    <div class="clearfix"></div>
                    <tbody id="Location">
    
                    </tbody>
                </table>
      
              </div>
            </div>
          </div>
         
        </div>
      </div>
  
    </div>
  </div>


  <footer>
    <% include ../partials/Homefooter %>
  </footer>
   
  <script src="../customjs/jobbylocation.js"></script>

<script>
$(document).ready(function () {
    FillLocation();
       
     
        
});
</script>
</body>

</html>