<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body onload="createCaptchaforgot()">

  <header>
    <% include ../partials/header %>
  </header>

  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5>Job Fairs Registration</h5>
              <div class="row">

                    <div class="col-md-6 forvalidation">

                            <div class="formrow">
                               <label for="example-email-input" class="col-2 col-form-label">
                                  First Name&nbsp<span class="asterisk_input label-icon"></span>
                               </label>
                               <div class="formrow">
                                  <input type="text" name="name" id="JFfirstname" maxlength="30"
                                     onfocusout="getvalidated('JFfirstname','text','First Name')"
                                     class="form-control" placeholder="First Name" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                                       event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onpaste="return (event.charCode > 64 && 
                                    event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)">
                                  <span id="validJFfirstname" style="font-size: 11px; color: #cc0033; "></span>
                               </div>
                            </div>
 
                         </div>
 
                         <div class="col-md-6">
 
                            <div class="formrow">
                               <label for="example-email-input" class="col-2 col-form-label">
                                  Middle Name
                               </label>
                               <div class="formrow">
                                  <input type="text" name="name" maxlength="30" id="JFmiddlename" class="form-control"
                                     placeholder="Middle Name" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                                       event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onpaste="return (event.charCode > 64 && 
                                    event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)">
                               </div>
                            </div>
                         </div>
                        </div>
                        <div class="row">
                         <div class="col-md-6 forvalidation">
                            <div class="formrow">
                               <label for="example-email-input" class="col-2 col-form-label">
                                  Last Name&nbsp<span class="asterisk_input label-icon"></span>
                               </label>
                               <div class="formrow">
                                  <input type="text" name="name" id="jflastname" maxlength="30" 
                                  onfocusout="getvalidated('jflastname','text','Last Name')"
                                     class="form-control" placeholder="Last Name" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                                       event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onpaste="return (event.charCode > 64 && 
                                    event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)">
                                     <span id="validjflastname" style="font-size: 11px; color: #cc0033; "></span>
                               </div>
                            </div>
                        
                         </div>
                         <div class="col-md-6">
 
                                <div class="formrow">
                                   <label for="example-email-input" class="col-2 col-form-label">
                                     Age
                                   </label>
                                   <div class="formrow">
                                      <input type="text" name="name" maxlength="2" id="jfage" class="form-control"
                                         placeholder="Age"  onkeypress="if (this.value.length >= 2) { return false; };"onkeydown="onlyNumbers(event)"  onpaste="onlyNumbers(event)">
                                   </div>
                                   <span  style="font-size: 11px; color: #cc0033; "></span>
                                
                                </div>
                             </div>
                            </div>
                 <div class="row">
                         <div class="col-md-6 forvalidation">
                                <div class="formrow">
                                   <label for="example-email-input" class="col-2 col-form-label">
                                      Mobile Number&nbsp<span class="asterisk_input label-icon"></span>
                                   </label>
                                   <div class="formrow">
                                      <input type="number" name="number" onkeydown="return event.keyCode !== 69"   onfocusout="getvalidated('jfPhone','number','Mobile Number')" onkeypress="if (this.value.length >= 10) { return false; };" id="jfPhone" class="form-control"
                                         placeholder="Mobile Number">
                                         <span id="validjfPhone" style="font-size: 11px; color: #cc0033; "></span>
                                   </div>
                                </div>
     
                             </div>
                             <div class="col-md-6">
                                    <div class="formrow">
                                      <label for="example-email-input" class="col-2 col-form-label">
                                        Email&nbsp<span class="asterisk_input label-icon"></span>
                                      </label>
                                      <input type="email" id="jfEmailId" onfocusout="  getvalidated('jfEmailId','email','EmailId')"
                                        class="form-control" placeholder="E-Mail Id" />
                                      <span id="validjfEmailId" style="font-size: 11px; color: #cc0033; "></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 forvalidation">
                                  <div class="formrow">
                                        <label  >
                                           State&nbsp<span class="asterisk_input label-icon"></span>
                                        </label>
                                        <select class="form-control" id="state" onfocusout="getvalidated('state','select','State')"  name="Current State">
                                    
                                       </select>
                                        <span id="validstate" style="font-size: 11px; color: #cc0033; "></span>
                                     </div>
                                    </div>
                                 <div class="col-md-6 forvalidation">
                                        <div class="formrow">
                                           <label for="example-email-input" class="col-2 col-form-label">
                                              District&nbsp<span class="asterisk_input label-icon"></span>
                                           </label>
                                           <div class="formrow">
                                        <select class="form-control" id="district" name="district" onfocusout="getvalidated('district','select','district')" style="height:46px;">
                                      
                                        </select>
                                              <span id="validdistrict" style="font-size: 11px; color: #cc0033; "></span>
                                           </div>
                                        </div>
             
                                     </div>
                                    </div>
                                    <div class="row">
                                     <div class="col-md-6 forvalidation" >
                                            <div class="formrow">
                                               <label for="example-email-input" class="col-2 col-form-label">
                                                  City&nbsp<span class="asterisk_input label-icon"></span>
                                               </label>
                                               <div class="formrow">
                                                  <select class="form-control" id="city" name="City"
                                                  onfocusout="getvalidated('city','select','City')"  style="height:46px;">
                                        
                                                  </select>
                                                  <span id="validcity" style="font-size: 11px; color: #cc0033; "></span>
                                               </div>
                                            </div>
                                         </div>
                                         <div class="col-md-6 forvalidation" >
                                                <div class="formrow">
                                                   <label for="example-email-input" class="col-2 col-form-label">
                                                         Qualification&nbsp<span class="asterisk_input label-icon"></span>
                                                   </label>
                                                   <div class="formrow">
                                                      <select class="form-control" id="jfQualification" name="Qualification"
                                                      onfocusout="getvalidated('jfQualification','select','Qualification')"  style="height:46px;">
                                               
                                                      </select>
                                                      <span id="validjfQualification" style="font-size: 11px; color: #cc0033; "></span>
                                                   </div>
                                                </div>
                                             </div>
                      </div>
                   
                      <div class="row">
                        <div class="col-md-6 forvalidation" >
                               <div class="formrow">
                                  <label for="example-email-input" class="col-2 col-form-label">
                                    Fresher
                                  </label>
                                  <div class="formrow">
                                     <select class="form-control" id="jfFresher" name="Fresher"  style="height:46px;">
                                       <option value="Yes">Yes</option>
                                       <option value="No">No</option>
                                     </select>
                                  </div>
                               </div>
                            </div>  
                            <div class="col-md-6" id="CurrentOrganisation">
 
                                 <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                       Current Organisation
                                    </label>
                                    <div class="formrow">
                                       <input type="text" name="name"  id="jsCurrentOrganisation" class="form-control"
                                          placeholder="Current organisation" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                                             event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onpaste="return (event.charCode > 64 && 
                                          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)">
                                    </div>
                                 </div>
                              </div>              
                         </div>

         <div class="row">
            
            <div class="col-md-6" id="CurrentDesignation">

               <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     Current Designation
                  </label>
                  <div class="formrow">
                     <input type="text" name="name"  id="jfCurrentDesignation" class="form-control"
                        placeholder=" Current Designation" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                           event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onpaste="return (event.charCode > 64 && 
                        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)">
                  </div>
               </div>
            </div>
            <div class="col-md-6" id="Role">
               <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     Role
                  </label>
                  <div class="formrow">
                     <input type="text" name="name" id="jfrole" class="form-control"
                        placeholder="Role" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                           event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onpaste="return (event.charCode > 64 && 
                        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)">
                  </div>
               </div>
            </div>
            <div class="col-md-6" id="CurrentSalary">
               <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     Current Salary
                  </label>
                  <div class="formrow">
                     <input type="text" name="name" maxlength="30" id="jfCurrentSalary" class="form-control"
                        placeholder="Current Salary">
                  </div>
               </div>
            </div>
            <div class="col-md-6" id="CurrentJobLocation">
               <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     Current Job Location
                  </label>
                  <div class="formrow">
                     <input type="text" name="name" maxlength="30" id="jfCurrentJobLocation" class="form-control"
                        placeholder="Current Job Location">
                  </div>
               </div>
            </div>
            <div class="col-md-12" id="Expectations">
               <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                     Expectations from the job fair
                  </label>
                  <div class="formrow">
                     <textarea class="form-control" onkeypress="if(this.value.length>=200) { return false;}"  style="height: 110px;" id="jfExpectations" name="Comments" placeholder="Expectations"></textarea>
                  </div>
               </div>
       
         </div>
           
                <br />
                <br>
            
        </div>

        <div class="row">
         <div class="col-md-6 forvalidation" id="Captchaid">
                <div class="formrow">
                   <label for="example-email-input" class="col-2 col-form-label">
                     Domicile
                   </label>
                   <div class="formrow">
                      <select class="form-control" id="jfDomicile" name="Domicile"
                    style="height:46px;">
                    <option>Select Domicile  </option>
                      <option> MP </option>
                       <option>Non MP </option>
                      </select>
                   
                   </div>
                </div>
             </div>
             <div class="col-md-6 forvalidation" >
                    <div class="formrow">
                       <label for="example-email-input" class="col-2 col-form-label">
                        Which job fair are you interested in?
                       </label>
                       <div class="formrow">
                          <select class="form-control" id="jfjobfair" name="jobfair" style="height:46px;">
                         <option value="0">Select Job Fair</option>
                         <option value="1">1</option>
                         <option value="2">2</option>
                          </select>
                        
                       </div>
                    </div>
                 </div>
               </div>
            <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                        Select fields 
                       </label>
                 <div id="checkboxList">
                  <div class="col-md-4">
                    <ul class="row featchoose" >
                      <li><input id="chkActiveStatus1" type="checkbox" name="checkbox" value="10th Certiificate"> 10th Certiificate
                      </li>
                      <li><input id="chkActiveStatus2" type="checkbox" name="checkbox" value="Post-Graduation"> Post-Graduation
                      </li>
                      <li><input id="chkActiveStatus3" type="checkbox" name="checkbox" value="Photograph"> Photograph
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul class="row featchoose" >
                      <li><input id="chkActiveStatus4" type="checkbox" name="checkbox" value="12th certificate"> 12th certificate</li>
                      <li><input id="chkActiveStatus5" type="checkbox" name="checkbox" value="Aadhar Card">  Aadhar Card</li>
                     
                     
  
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul class="row featchoose" >
                      <li><input id="chkActiveStatus6" type="checkbox" name="checkbox" value="Graduation"> Graduation
                         </li>
                         <li><input id="chkActiveStatus7" type="checkbox" name="checkbox" value="Pan Card"> Pan Card
                         </li>
  
                    </ul>
                  </div>
              
               </div>
            </div>
               <% include   captcha %>
          <div class="row">
       
            <div class="col-md-12">
               <div class="formrow">
                  <input type="submit" class="btn" id="Submitbasicdetails" onclick="InsUpdJobFairReg()" value="Submit">
               </div>
            </div>
          
         </div>
      </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  
    <footer>
      <% include ../partials/footer %>
    </footer>
     


    <script src="../customjs/JobfairReg.js"></script>

    <script> type = "javascript" >

        $(document).ready(function () { 
            
         $("#CurrentOrganisation").hide();
         $("#CurrentDesignation").hide();
          $("#Role").hide();
           $("#CurrentSalary").hide();
          $("#CurrentJobLocation").hide();
          $("#Expectations").hide();
          FillState();
          FillStates2();
          
        FillCourse('parsedatasecuredFillCourse','jfQualification');
          $(function () {
            $(".datepicker").datepicker();

          });
          jQuery('#jfFresher').on('change', function (){
                if ($("#jfFresher" ).val() == "Yes") {
                    $("#CurrentOrganisation").hide(); 
                    $("#CurrentDesignation").hide(); 
                    $("#Role").hide(); 
                    $("#CurrentSalary").hide(); 
                    $("#CurrentJobLocation").hide(); 
                    $("#Expectations").hide(); 
                  
                }
                else {
                    $("#CurrentOrganisation").show();
                    $("#CurrentDesignation").show();
                    $("#Role").show();
                    $("#CurrentSalary").show();
                    $("#CurrentJobLocation").show();
                    $("#Expectations").show();
                }
            });
          
        

        });

    </script>
</body>

</html>