<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5>Job Fairs</h5>
              <div class="row">



                <div class="col-md-12">
                  <div class="formrow">
                          <label for="example-email-input" class="col-2 col-form-label">
                              Head &nbsp<span class="asterisk_input label-icon"></span>
                            </label>
                    <input type="text" style="height:49px" name="date" id="Head" class="form-control"
                      placeholder="Enter head" onfocusout="getvalidated('Head','text','Head')">
                      <span id="validHead" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                          Body &nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                    <textarea rows="6" style="width:692px;" class="form-control" name="comments" id="Body"
                      placeholder="Body" onfocusout="getvalidated('Body','text','Body')"></textarea>
                      <span id="validBody" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                          Link &nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                    <input class="form-control" type="text" style="height:49px" id="Usefullinks"
                      placeholder="Enter Link" onfocusout="getvalidated('Usefullinks','text','Link')">
                      <span id="validUsefullinks" style="font-size: 11px; color: #cc0033; "></span>
                  </div>

                </div>
                <div class="col-md-12">
                  <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                          From date &nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                    <input class="form-control rojdatepicker" type="text" style="height:49px" id="fromdate"
                      placeholder="Select From date">
                      <span id="validfromdate" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="formrow">
                      <label for="example-email-input" class="col-2 col-form-label">
                          To date &nbsp<span class="asterisk_input label-icon"></span>
                        </label>
                    <input class="form-control rojdatepicker" type="text" style="height:49px" id="todate"
                      placeholder="Select To date" onfocus="getvalidated('fromdate','text','From date')" onfocusout="getvalidated('todate','text','To date')">
                      <span id="validtodate" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                </div>
                <br />
                <br>

                <input  type="submit" id="btnSubmit" class="btn" value="Submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
     

    <script src="/customjs/JobFairs.js"></script>


    <script> type = "javascript" >
 

        $(document).ready(function () {

          $("#fromdate").datepicker({
            minDate: 0,
                });
          FillState();
          
          $(function () {
            $(".datepicker").datepicker();

          });

          $("#btnSubmit").click(function () {
            CheckValidation();
          });

        });

       
        
    </script>
</body>

</html>