<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>

  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Job Fair List</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/Home" lang="en">Home</a> / <span lang="en">Job Fair List</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-10" style="margin-left: 9%;">
          <div class="userccount">
            <h5 style="text-align: center; " lang="en">Job Fair List</h5>

            <div class="row">

              <table class="table">
                <tr class="profilesubheading" style="background-color: #cecdcd;">

                  <th>Sr No</th>
                  <th>Job Title</th>
                  <th>Venue</th>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Detail</th>

                </tr>

                <div class="clearfix"></div>
                <tbody id="jobfairlisttable">

                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="myModalcareer" style="overflow: auto !important;" role="dialog" tabindex="-1"
      aria-hidden="true">
      <div class="modal-dialog" style="width:34%;" role="document">

        <div class="modal-content">

          <div class="modal-body">
            <div class="m-alert m-alert--icon m-alert--outline alert alert-primary" role="alert">
              <div class="m-alert__icon">
                <i class="la la-warning"></i>
              </div>
              <div class="m-alert__text">
                <strong>
                  Are you sure?
                </strong>

              </div>

            </div>
          </div>
          <div class="modal-footer">
            <!-- <div>Are You Interested?</div> -->
            <div class="m-alert__actions" style="width: 200px;">
              <button type="button" onclick="InsUpdInterestedcandidatejf();$('#closebtn').click()"
                class="btn btn-brand btn-sm m-btn m-btn--pill m-btn--wide">
                OK
              </button>
              <button type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide" data-dismiss="modal"
                aria-label="Close">
                Dismiss
              </button>
            </div>
          </div>

        </div>
      </div>

    </div>




  </div>

  <!-- </div> -->


  <div class="modal fade" id="m_modal_5" role="dialog" style="overflow: auto;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modalhead">Job Fair Detail</h4>
        </div>
        <div class="modal-body" id="modalbody2">


        </div>
        <div class="modal-footer" id="modalfooter">
          <button type="button" onclick="InsUpdInterestedcandidatejf();$('#closebtn').click();"
            class="btn btn-brand btn-sm m-btn m-btn--pill m-btn--wide">
            OK
          </button>
          <button type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide" data-dismiss="modal"
            aria-label="Close">
            Dismiss
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="m_modal_6" role="dialog" style="overflow: auto;">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="close" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modalhead">Job Fair Detail</h4>
        </div>
        <div class="modal-body" id="modalbody6">


        </div>
        <div class="modal-footer" id="modalfooter">
          <button type="button" onclick="fetchJobfair();$('#close').click();"
            class="btn btn-brand btn-sm m-btn m-btn--pill m-btn--wide">
            OK
          </button>
          <button type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide" data-dismiss="modal"
            aria-label="Close">
            Dismiss
          </button>
        </div>
      </div>

    </div>
  </div>
  <!-- </div> -->
  <footer>
    <% include ../partials/Homefooter %>
  </footer>


  <script type="text/javascript" src="/customjs/Index.js"></script>
  <script>


    $(document).ready(function () {
      if (sessionStorage.Type == 'Jobfair') {
        latestJobFairs();
        //    fetchJobfair(); -----this func call on click  ok 
      }
      else if (sessionStorage.Type == 'ITI') {
        Filljobfairs();
      }

      if (sessionStorage.getItem("TypeHome") == "SuccessJF") {
        toastr.success("Submit Successfully", "", "success")
        sessionStorage.setItem("TypeHome", '')
      }


    });
  </script>

</body>

</html>