<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body >

    <header>
        <% include ../partials/Homeheader %>
    </header>


    <div class="listpgWraper">
        <div class="container">
            <div class="row">
                   
                <div class="col-md-8">


                        <div class="col-md-2"></div>
                    <div class="userccount" style="box-shadow:5px 10px 8px 8px #888888; height: 484px">
                            <h5 style="font-size:20px;">Update your profile to get top companies</h5>
                        <div class="formpanel" >
                                <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                            <!-- login form -->
                            <div class="row" style="    border: 1px solid;">
                                   <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                                 <div class="col-md-6">    <div class="formrow">
                                        <label for="example-email-input" class="col-2 col-form-label">
                                                Please fill your prefered job location
                                                </label>
                                        <select class="form-control" id="location">
                                                <option>Abroad</option>
                                                <option>Any where in india</option>
                                                <option>Within State</option>
                                                <option>Within District</option>
                                            </select>
                               </div></div>
                                <div class="col-md-6">
                                    <div class="formrow">
                                            <label for="example-email-input" class="col-2 col-form-label">
                                                    Please select your prefered sector for job
                                            </label>
                                            <select class="form-control" id="Department" onfocusout="getvalidated('Department','select','Department')">
                                            </select>
                                            <span id="validDepartment" style="font-size: 11px; color: #cc0033; "></span>
                                   </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formrow">
                                                <label for="example-email-input" class="col-2 col-form-label">
                                                        Make list of your job preference
                                                        </label>
                                                        <input type="text" id="Designation" class="demo-default" style="padding-left:3px;width: 335px;height:50px !important"  onfocusout="getvalidated('Designation','text','Designation')" placeholder="Enter Designation" autocomplete="off"/>
                                                        <span id="validDesignation" style="font-size: 11px; color: #cc0033; "></span>
                                                    </div>
                                    </div>
                                </div>
                                    <div class="col-md-8">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                            <div class="formrow">
                                            <input type="submit" style="    width: 67%;" onclick="CheckValidationPreference()" class="btn" value="Submit">
                                           </div>
                                        </div>
                                        </div>
                            </div>
                            <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                       <h5> Your seleted job preferences are:</h5>    
                            <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                            <div class="row" style="    border: 1px solid;">
                                    <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                                    <div class="col-md-12">
                                            <table class="table table-bordered">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Location</th>
                                                        <th scope="col">Department</th>
                                                        <th scope="col">Designation</th>
                                                       
                                                      </tr>
                                                    </thead>
                                                <tbody id="jobpreferencetbl"></tbody>
                                                  </table>
                                        </div>
                                        <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                                        </div>
                                        
                                    </div>

                        </div>
                      

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../partials/Homefooter %>
    </footer>
     
    <script type="text/javascript" src="/customjs/JobPreference.js"></script>
    <!-- <script type="text/javascript" src="/js/selectize.min.js"></script> -->

    
    <script type="text/javascript">

        $(document).ready(function () {
            fillDepartment('parsedatasecuredfillDepartment','Department');
            FillJobPreference() ;
            FillDesignationJobpref('parsedatasecuredFillDesignationJobpref',jQuery('#Department').val());
        });
        </script>
</body>

</html>