<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="pageTitle" style="height:0px">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">FAQs</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>FAQs</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="userbtns custom">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#Registration">Registration</a></li>
              <li><a data-toggle="tab" href="#Logins">Logins Issues </a></li>
              <li><a data-toggle="tab" href="#Search">Search Related </a></li>
              <li><a data-toggle="tab" href="#Charges">Charges</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="Registration" class="formpanel tab-pane fade in active">
              <div class="faqs">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">

                      <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                          href="#collapse1">क्या नवीन प्रक्रिया के अनुसार पंजीयन के लिए रोजगार कार्यालय जाना आवश्यक
                          हैं?</a> </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                      <div class="panel-body">आवेदक को रोजगार कार्यालय जाना आवश्यक नहीं हैं। नवीन प्रक्रिया अनुसार आवेदक
                        अपना पंजीयन वेबसाइट www.mprojgar.gov.in पर ऑनलाइन कर सकते हैं।</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                          href="#collapse2">क्या ऑनलाइन फॉर्म भरने के लिए कोई समय / स्थान निर्धारित हैं ?</a> </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">
                        नहीं। आवेदक किसी भी समय किसी भी स्थान से अपना ऑनलाइन पंजीयन कर सकते हैं।
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="Logins" class="formpanel tab-pane fade in ">
              <div class="faqs">
                <div class="panel-group" id="accordion">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                          href="#collapse5">क्या पंजीयन पहचान पत्र के प्रिन्ट आउट को रोजगार कार्यालय द्वारा सत्यापित
                          कराना जरूरी हैं  ?</a> </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                      <div class="panel-body">
                        नहीं।
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="Search" class="formpanel tab-pane fade in ">
              <div class="faqs">
                <div class="panel-group" id="accordion">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                          href="#collapse3">क्या कोई दस्तावेज अपलोड करना आवश्यक हैं  ?</a> </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">
                        आवेदक को ऑनलाइन पंजीयन के दौरान कोई भी दस्तावेज अपलोड करना आवश्यक नहीं हैं। आवेदक द्वारा ऑनलाइन
                        फॉर्म में भरी गई जानकारी स्वघोषित मानी जाएगी।
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                          href="#collapse4"> फिर मेरी योग्यता का सत्यापन कैसे होगा ? </a> </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">
                        आवेदक द्वारा ऑनलाइन पंजीयन में स्वघोषित जानकारी के अनुसार पंजीयन पहचान पत्र स्वतः जारी होगा।
                        रोजगार सहायता के समय नियोजक योग्यता एवं दस्तावेजों का सत्यापन करने के लिए उत्तरदायी होगा।
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                          href="#collapse7">क्या रोजगार पंजीयन का ऑनलाइन नवीनीकरण किया जा सकता हैं  ?</a> </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                      <div class="panel-body">
                        हां। वेबसाइट www.mprojgar.gov.in पर आवेदक द्वारा उसके यूजर नेम और पासवर्ड के माध्यम से पंजीयन का
                        नवीनीकरण किया जा सकता हैं।
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="Charges" class="formpanel tab-pane fade in ">
              <div class="faqs">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed"
                          href="#collapse6">क्या पंजीयन हेतु कोई शुल्क निर्धारित हैं  ?</a> </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                      <div class="panel-body">
                        नहीं। शासन द्वारा पंजीयन की सुविधा निःशुल्क उपलब्ध कराई जाती हैं।
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--Question-->

      </div>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
     

</body>

</html>