<div class="modal fade" id="myModallogin" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="userccount">
          <div>
            <h5 style="font-size:16px;"><span lang="en">  Job Seeker Login </span></h5>
            <!-- login form -->
            <div class="formpanel">
              <div class="newuser">
                <div style="float:left"><span><a href="/forgot" style="font-size:13px;color:#FC9928"><span lang='en'>Forgot Password?</span></a></span></div>
                <div style="float:right"><i class="fa fa-user" aria-hidden="true"></i> <span style="font-size:14px;"><span lang='en'>New User?</span></span> <a href="/JobSeekerRegistration" style="font-size:13px;color:#FC9928"><span lang='en'>Register Here</span></a></div>
              </div>
              <br>
              <br>
              
                <div class="row">
                    <div class="col-md-6">
                       <div class="formrow" id="invalidCheck" style="display: none;">
                          <tr>
                             <td align="left">
                                <strong><span style="font-size: 11px; color: #cc0033">Invalid User Id or Password
                                   </span></strong>
                             </td>
                          </tr>
                       </div>
                    </div>
                 </div>
              <div class="formrow" style="    min-height: 49px;">
                <input type="text" id="txtlogin"  onfocusout="getvalidated('txtlogin','text','User Name')" onkeypress="jQuery('#invalidCheck').hide();"  class="form-control" placeholder="User Name">
                <span id="validtxtlogin" style="font-size: 11px; color: #cc0033; "></span>
               
               </div>
              
              <div class="formrow">
                <input type="password" id="txtpassword" onfocusout="getvalidated('txtpassword','text','Password')" onkeypress="jQuery('#invalidCheck').hide();"   class="form-control" placeholder="Password">
                <!-- <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge" data-placement="right"
                   title="<br><h6> <span lang='en'> Password must contain the following:</span> </h6>  <ul class='categories'><li><span lang='en'> Atleast one letter</span> </li><li><span lang='en'> Atleast one number</span> </li><li> <span lang='en'> Not to use special character</span> </li><li> <span lang='en'>Length must be min. 8</span> </li></ul>"
                    data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                     <span toggle="#passwordfield" class="fa fa-fw field-icon toggle-password fa-eye"></span>   -->
             
                     <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                     data-placement="bottom"
                     title="<br><h6> <span lang='en'> Password must contain<br> the following:</span> </h6>  <ul class='categories'><li><span lang='en'> Atleast one letter</span> </li><li><span lang='en'> Atleast one number</span> </li><li> <span lang='en'> Not to use special character</span> </li><li> <span lang='en'>Length must be min. 8</span> </li></ul>"
                     data-html="true" style="margin-right: 40px;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                     <span toggle="#txtpassword"  class="fa fa-fw fa-eye field-icon toggle-password" style="margin-right: 35px;"></span> 
                     <span id="validtxtpassword" style="font-size: 11px; color: #cc0033; "></span>

                    </div>
             
              <!-- START CAPTCHA -->
              <div class="formrow">
                <tr>
                  <td style="text-align: left">
                    <strong><span style="font-size: 15px;color: #cc0033;text-align: center;display: block;">Please Enter The Text Below In Text Box</span></strong></td>
                </tr>
              </div>
              <div class="row" style="margin-left:31%; ">
                <div class="col-md-4">
                  <div class="formrow">
                    <div id="captchaheader"><canvas id="captchaheader" width="100" height="50"></canvas></div>
                  </div>
                </div>

                <div class="col-md-4"><a onclick="createcaptchaheader()" ><i class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i></a>

                </div>
              </div>
              <div class="formrow" style="display:block">
                <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchaTextBoxheader','text','Captcha')" style="margin-left:32%; " id="cpatchaTextBoxheader"/>
                <span id="validcpatchaTextBoxheader" style="font-size: 11px; color: #cc0033; "></span>
               </div>
              
              <div class="formrow" style="display:block">
                <input type="button" onclick="CheckValidationHome()" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  required title="valid password" id="homelogin" class="btn" value="Login" >
              </div>
            </div>
          </div>
            <br><br>

            <!-- END CAPTCHA -->
          
          <!-- login form  end-->

          <!-- sign up form -->
         
          <!-- sign up form end-->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script src="../customjs/JobSeekerLogin.js"></script>
<script type="text/javascript">
 	$(document).keypress(function(event){
    $('[data-toggle="tooltip"]').tooltip(); 

    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
      CheckValidationHome()
    }
});



</script>