<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/Homeheader %>
    </header>
    <div class="searchwrap">
        <div class="container">
            <div class="paypackages" style="margin-top: -230px; margin-left:-42px">
                <div class="three-plan">
                    <div class="container">

                        <ul class="row" style="margin-top:15px; height:0px">
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;   font-size: 14px;">
                                        <a href="/jobs" target="_blank" class="applybtn" style="color:black;">All jobs
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;font-size: 14px;">
                                        <a href="/JobsbyCompany" class="applybtn" target="_blank"
                                            style="color:black;">Jobs by Company</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;font-size: 14px;">
                                        <a href="/Jobbycategory" class="applybtn" target="_blank"
                                            style="color:black;">Jobs by Category </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;font-size: 14px;">
                                        <a href="/jobbylocation" class="applybtn" target="_blank" style="color:black;">
                                            Jobs by Location</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;font-size: 14px;">
                                        <a href="/jobsbydesignations" class="applybtn" target="_blank"
                                            style="color:black;"> Jobs by Designation </a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white; font-size: 14px;">
                                        <a href="/Jobbyskills" class="applybtn" target="_blank" style="color:black;">
                                            Jobs by Skills </a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="searchbar row">
                <div class="col-md-5">


                    <input type="text" class="form-control skillsearch" style="padding-left:3px;    width: 484px;" placeholder="Enter Skills or job title" />

                </div>
                <div class="col-md-3">
                    <select class="form-control" id="ddlCategory">
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="ddlcity">
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn" value="Search Job">
                </div>
            </div>
            <!-- button start -->
            <!-- button end -->
        </div>
    </div>
    </div>
    </div>
    <!-- Search End -->
    <div class="section greybg">
        <div class="container" style="margin-top:-39px;">
            <ul class="jobslist row">
                <li class="col-md-1"></li>
                <li class="col-md-3 col-sm-6">
                    <div class="jobint">
                        <div class="row">
                            <h5 class="widget-title" style="margin-left:21px">Browse Jobs by Category</h5>
                            <ul class="catelist" style="margin-left:25px" id="jobcategory">


                            </ul>
                            <a href="/Jobbycategory" style="    margin-left: 68%;">View More</a>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6">
                    <div class="jobint">
                        <div class="row">
                            <h5 class="widget-title" style="margin-left:21px">Browse Jobs by State</h5>
                            <ul class="catelist" style="margin-left:25px" id="jobstate">


                            </ul>
                            <a href="/Jobbylocation" style="    margin-left: 68%;">View More</a>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6">
                    <div class="jobint">
                        <div class="row">
                            <h5 class="widget-title" style="margin-left:21px">Browse Jobs by District</h5>
                            <ul class="catelist" style="margin-left:25px" id="jobcity">


                            </ul>
                            <a href="/Jobbylocation" style="    margin-left: 68%;">View More</a>
                        </div>
                    </div>
                </li>


            </ul>
            <ul class="jobslist row">
                <li class="col-md-1"></li>
                <li class="col-md-3 col-sm-6">
                    <div class="jobint">
                        <div class="row">
                            <h5 class="widget-title" style="margin-left:12px">Browse Jobs by Designations</h5>
                            <ul class="catelist" style="margin-left:25px" id="jobdesignation">

                            </ul>
                            <a href="/jobsbydesignations" style="    margin-left: 68%;">View More</a>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6">
                    <div class="jobint">
                        <div class="row">
                            <h5 class="widget-title" style="margin-left:21px">Browse Jobs by Department</h5>
                            <ul class="catelist" style="margin-left:25px" id="jobdepartment">


                            </ul>
                            <a href="/Jobbycategory" style="    margin-left: 68%;">View More</a>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6">
                    <div class="jobint">
                        <div class="row">
                            <h5 class="widget-title" style="margin-left:21px">Browse Jobs by Skills</h5>
                            <ul class="catelist" style="margin-left:25px" id="jobskill">



                            </ul>
                            <a href="/Jobbyskills" style="    margin-left: 68%;">View More</a>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
    </div>
    <footer>
        <% include ../partials/Homefooter %>
    </footer>
     
    <script src="../customjs/Jobs.js"></script>
    <script>
        $(document).ready(function () {
            FillSecuredSkills();
            FillCategorySecured('parsedatasecuredcategory', 'ddlCategory');
            FillcitySecured('parsedatasecuredcity', 'ddlcity');
            FillSecuredCategory('parsedatacategorysecured', 'jobcategory');
            FillSecuredcity('parsedatacitysecured', 'jobcity');
            FillSecuredDesignation('parsedatasecureddesignation', 'jobdesignation');
            FillSecuredDepartment('parsedatasecureddepartment', 'jobdepartment');
            FillSecuredState('parsedatasecuredstate', 'jobstate');
            FillSkillSecured('parsedatasecuredskill','jobskill');
            
        });
    </script>