<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/Homeheader %>
  </header>

  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Jobs by Company </h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span lang="en"> Jobs by Company</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->

  <div class="listpgWraper">
    <div class="container">

      <!-- Job Header start -->
      <div class="job-header">
        <div class="jobinfo">
          <div class="row">
            <div class="col-md-8">
              <h2>Browse Jobs by Top Company</h2>
            </div>
            <div class="col-md-4">
              <div class="searchform">
                <div class="row">
                  <div class="col-md-10">
            
                      <input type="text" id="txtSearch" placeholder="Search Company" class="form-control" />
              
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <!-- Job Description start -->
              <div class="">
                <div class="">
               
             
                <br>
                  <table class="table">
                 
                    <div class="clearfix"></div>
                    <tbody id="Company">
    
                    </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <!-- Pagination Start -->
      <!-- <div class="pagiWrap" style="margin-top:-30px">
        <div class="row">

          <div class="col-md-12 col-sm-8 text-left">
            <ul class="pagination" style="width:100%;margin-left:5px;">
              <li class="active" style="text-align:center;"><a style="width:18%" href="#.">Top 1000</a></li>
              <li><a href="#.">A</a></li>
              <li><a href="#.">B</a></li>
              <li><a href="#.">C</a></li>
              <li><a href="#.">D</a></li>
              <li><a href="#.">E</a></li>
              <li><a href="#.">F</a></li>
              <li><a href="#.">G</a></li>
              <li><a href="#.">H</a></li>
              <li><a href="#.">I</a></li>
              <li><a href="#.">J</a></li>
              <li><a href="#.">K</a></li>
              <li><a href="#.">L</a></li>
              <li><a href="#.">M</a></li>
              <li><a href="#.">N</a></li>
              <li><a href="#.">O</a></li>
              <li><a href="#.">P</a></li>
              <li><a href="#.">Q</a></li>
              <li><a href="#.">R</a></li>
              <li><a href="#.">S</a></li>
              <li><a href="#.">T</a></li>
              <li><a href="#.">U</a></li>
              <li><a href="#.">V</a></li>
              <li><a href="#.">W</a></li>
              <li><a href="#.">X</a></li>
              <li><a href="#.">Y</a></li>
              <li><a href="#.">Z</a></li>
              <li><a href="#.">0-9</a></li>
            </ul>
          </div>
        </div>
      </div> -->
      <!-- Pagination end -->
      <!-- Job Detail start -->
    
    </div>
  </div>


  <footer>
    <% include ../partials/footer %>
  </footer>
   
  <script src="../customjs/JobsbyCompany.js"></script>

<script>
$(document).ready(function () {
    FillCompany('parsedatasecuredFillCompany');
       
     
        
});
</script>
</body>

</html>