<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../partials/head %>


</head>

<body>
   <header>
      <% include ../partials/header %>
   </header>
   <div class="pageTitle" >
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-sm-6">
               <h1 class="page-heading"><span lang="en">Job Seeker Registration</span></h1>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;">Home</span></a> / <span lang="en">Job Seeker Registration</span></div>
            </div>
         </div>
      </div>
   </div>
   <div class="listpgWraper">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="userccount">
                  <div class="socialLogin">
                     <h5><span lang="en">Job Seeker Registration</span></h5>
                  </div>
                  <div class="tab-content formpanel">
                     <div class="row">

                        <div class="col-md-6 forvalidation">

                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">    First Name/प्रथम नाम</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="jobseekerfirstname" onkeypress="alphabets()" autocomplete="off"
                                  
                                    class="form-control" placeholder="First Name"  >
                                 <span id="validjobseekerfirstname" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>

                        </div>

                        <div class="col-md-6">

                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">      Middle Name/मध्य नाम</span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="jobseekermiddlename" class="form-control" autocomplete="off" 
                                    placeholder="Middle Name" >
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Last Name/अंतिम नाम</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="jobseekerlastname" autocomplete="off"
                                 
                                    class="form-control" placeholder="Last Name"  >
                                    <span id="validjobseekerlastname" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Guardian/Father Name/अभिभावक / पिता का नाम</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="fathersname" class="form-control name-valid" autocomplete="off"
                                
                                 class="form-control" placeholder="Guardian/Father Name" >
                                 <span id="validfathersname" style="font-size: 11px; color: #cc0033; " ></span>
                              
                              </div>
                           </div>
                        </div>
                     </div>
                     



                     <div class="row">
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">     Gender/लिंग</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <select class="form-control" id="gender"
                                 onfocusout="getvalidated('gender','select','Gender')" onchange="getvalidated('gender','select','Gender')"
                                 name="gender" style="height:46px;">
                                    <option value="0">Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                 </select>
                                 <span id="validgender" style="font-size: 11px; color: #cc0033; "></span>
                              
                              </div>
                           </div>
                         
                        </div>
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">        District/जिला</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <select class="form-control" id="district" name="District" onfocusout="getvalidated('district','select','District')" onchange="getvalidated('district','select','District')"
                               style="height:46px;">

                                 </select>
                                 <span id="validdistrict" style="font-size: 11px; color: #cc0033; "></span>
                             
                              </div>
                           </div>

                        </div>
                   
                        </div>
                        <div class="row">
                         
                     
                        <div class="col-md-6 forvalidation mpDiv" >
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">        Tehsil/तहसील</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <select class="form-control" id="city" name="City"
                                  onchange="getvalidated('city','select','Tehsil')"   style="height:46px;">

                                 </select>
                                 <span id="validcity" style="font-size: 11px; color: #cc0033; "></span>
                              </div>
                           </div>
                        </div>
                    
                        <div class="col-md-6 forvalidation mpDiv" >
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">        City/Village/शहर/गांव</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <select class="form-control" id="Village" name="Village"
                                   onchange="getvalidated('Village','select','City/Village')"  style="height:46px;">

                                 </select>
                                 <span id="validVillage" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>
                     </div>
                        <div class="row">
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">       Mobile Number/मोबाइल नंबर</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="number" name="number" maxlength="10" onkeydown="if(event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;}"  onpaste="onlyNumbers(event)"  onfocusout="getvalidated('Phone','number','Mobile Number')" onkeypress="if (this.value.length >= 10) { return false; };" id="Phone" class="form-control"
                                    placeholder="+91" >
                                    <span id="validPhone" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>

                        </div>
                     
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">        Email/ईमेल</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" autocomplete="off"   id="Email" maxlength="200" class="form-control" placeholder="email@example.com"
                                 onfocusout="getvalidated('Email','email','Email')" onkeypress="if(event.keyCode ==32){return false;}">
                                  <span id="validEmail" style="font-size: 11px; color: #cc0033; " ></span>
                                 </div>
                           </div>
                     
                     </div>
                  </div>
                     <div class="row">
                       
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Aadhaar Card/आधार कार्ड</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <select class="form-control" onfocusout="getvalidated('idtype','select','Identification')"  id="idtype" onchange="placeholder()" name="idtype"
                                    style="height:46px;">
                                   
                                    <option value="Aadhaar Card" selected>Aadhaar Card</option>
                                 </select>
                                 <span id="valididtype" style="font-size: 11px; color: #cc0033; " ></span>
                             
                              </div>
                           </div>
                        </div>
                   
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Aadhaar Number/आधार नंबर</span>&nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" autocomplete="new-text" value="" name="idinput"  maxlength="16" id="idinput" onfocusout="getvalidated('idinput','text','Aadhaar Number');"
                                    
                                    class="form-control" placeholder="Aadhaar Number">
                                    <span id="valididinput" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                             
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">           User Name/उपयोगकर्ता का नाम</span> &nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <select class="form-control" id="username"
                                 onfocusout="getvalidated('username','select','User Name')"  onchange="getvalidated('username','select','User Name')"
                                    name="username" style="height:46px;">
                                    <option value="0">Select User Name</option>
                                    <option value="Email">Email</option>

                                    <option value="Unique Identification(UID) Number">Unique Identification(UID) Number</option>
                                 </select>
                                 <span id="validusername" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                      
                        <div class="col-md-6 forvalidation">
                                 <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label">
                                       <span lang="en">Password/पासवर्ड</span>&nbsp<span class="asterisk_input label-icon"></span>
                                    </label>
                                    <div class="formrow">
                                       <input id="passwordfield" maxlength="100"autocomplete="new-password" type="password" class="form-control" name="password" value=""
                                          placeholder="Password">
                                          <span id="validpasswordfield" style="font-size: 11px; color: #cc0033; " ></span>
                                       <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                                          data-placement="right"
                                          title="<br><h6> <span lang='en'> Password must contain the following:</span> </h6>  <ul class='categories'><li><span lang='en'> Atleast one letter</span> </li><li><span lang='en'> Atleast one number</span> </li><li> <span lang='en'> Not to use special character</span> </li><li> <span lang='en'>Length must be min. 8</span> </li></ul>"
                                          data-html="true"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                       <span toggle="#passwordfield"
                                          class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                          <span id="passwordvalidate" style="font-size: 11px; color: #cc0033;" ></span>
                                    </div>
                                 </div>
                        </div>

                        
                  
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">         Confirm Password/पासवर्ड फिर से दर्ज करें</span> &nbsp<span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="password"  maxlength="100" id="Repassword" name="Re-EnterPassword" class="form-control"
                                    placeholder="Confirm Password" >
                                    <span id="validRepassword" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>

                     </div>
                    
                     
                     <div class="formrow" style="text-align: center">
                        <tr>
                           <td align="left">
                              <strong><span lang="en" style="font-size: 15px;  color: #cc0033">Please Enter The Text Below In Text Box</span></strong>
                           </td>
                        </tr>
                     </div>
                     <!-- <div class="row" style="    margin-left: 32%;">
                        <div class="col-md-4">
                           <div class="formrow">
                              <div id="captcha">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                        <div class="col-md-2">
                           <div class="formrow" style="display: flex;align-self: center;justify-content: center;">
                              <a onclick="createCaptcha()" >
                                 <i class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i>
                              </a>
                           </div>
                        </div>
                     </div> -->

                     <div class="row">
                        <div class="col-12">
                          <div class="formrow" style="display: flex;align-self: center;justify-content: center;">
                            <div id="captcha" style='display: inline-block;'><canvas id="captcha" width="100" height="50"></canvas></div>
                            <a onclick="createCaptcha()" style="position: relative; top: 8px" ><i class="fa fa-refresh" style="font-size:24px;"></i></a>
                          </div>
                        </div>
                      </div>

                     <div class="row" style="display:block">
                        <div class="col-12">
                          <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchaTextBox','text','Captcha');" id="cpatchaTextBox" style='display:block;margin:auto'/>
                        </div>
                       </div>
                       <div class='row'>
                        <div class="col-12">
                          <span id="validcpatchaTextBox" style="display:block;font-size: 11px; color: #cc0033; margin:auto; position:relative;top:8px;width:50%;text-align: center;"></span>
                        </div>
                       </div>







                     <div class="formrow">

                           <ul class="row featchoose">
                             <li class="col-md-12" ><input type="checkbox" id="Declaration" name="Declaration">  &nbsp; &nbsp; <span lang="en">The information as provided above is true to the best of my knowledge.</span></li>
                              <li id="validDeclaration" style="font-size: 11px; color: #cc0033;margin-left: 5%; "></li>
                           </ul>
                         </div>
                        <div class="formrow" style="display:block">
                           <p style="text-align: left;font-size: 17px;color: black;"> <span lang="en">Subscribe for job alert </span> </p>
                              <input type="checkbox" id="chksms" name="sms" value="sms">   &nbsp; &nbsp;<span lang="en">Via SMS</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                              <input type="checkbox"  id="chkmail" name="mail" value="mail"> &nbsp; &nbsp;  <span lang="en">Via E-Mail</span> 
                               
                           </div>
                 
                           <!-- <div class="formrow" style="display:block">
                                 <input type="checkbox" name="mail" value="mail"> Subscribe for job alert via E-Mail
                               
                               </div> -->
                              </br>
                        <div class="formrow">
                           <input type="button" onclick="CheckValidation()" class="btn"  lang="en"  value="Proceed">
                        </div>
                    
                     <div class="formrow" style="display:block;margin-top: 20px;">
                        <div class="newuser" style="font-size:13px; ">
                           <i class="fa fa-user" aria-hidden="true">
                           </i> <span lang="en">Already a Member? </span><a href="/Login"><span lang="en">Login Here<span lang="en"></a>
                        </div>
                     </div>



                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>

   <footer>
      <% include ../partials/footer %>
    
   </footer>

    
   <script src="../customjs/JobSeekerRegistration.js"></script>
   <script type="text/javascript">

      $(document).ready(function () {
         $('[data-toggle="tooltip"]').tooltip(); 

         $('#account').prop("disabled", true);
         createCaptcha();
         FillDistrict('19');
         FillState();
         FillResident('parsedatasecuredFillResident','resident');
         jQuery("#city").append(jQuery("<option ></option>").val("99999").html("Select Tehsil"));
         jQuery("#Village").append(jQuery("<option ></option>").val("99999").html("Select City/Village"));
         jQuery("#district").append(jQuery("<option ></option>").val("99999").html("Select District"));



         $('.name-valid').on('keypress', function(e) {
          var regex = new RegExp("^[a-zA-Z ]*$");
          var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
          if (regex.test(str)) {
             return true;
          }
          e.preventDefault();
          return false;
         });



      });


    



   </script>
</body>

</html>