<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
      
      <% include ../partials/Homeheader %>
    <%}else{%>
    
      <% include ../partials/header %>
    <%}%>
  </header>

  <div class="pageTitle" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">FAQs</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
      
            <div class="breadCrumb"><a href="/Home" lang="en">Home</a> / <span lang="en">FAQs</span></div>
       
          <%}else{%>
          
            <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">FAQs</span></div>
       
          <%}%>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="userbtns custom">
            <ul class="nav nav-tabs">
              <li class="active" onclick="fetch_Faq('Jobseeker')"><a data-toggle="tab" href="#Registration" lang="en">Jobseeker</a></li>
              <li  onclick="fetch_Faq('Employer')"><a data-toggle="tab" href="#Registration" lang="en">Employer</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="Registration" class="formpanel tab-pane fade in active">
              <div class="faqs">
                <div class="panel-group" id="accordionRegistration">
                
                
                </div>
              </div>
            </div>
          
          </div>

        </div>
        <!--Question-->

      </div>
    </div>
  </div>
    <footer>
      <%if(CandidateId !='' && CandidateId != null && CandidateId!=undefined){%>
      
        <% include ../partials/Homefooter %>
      <%}else{%>
      
        <% include ../partials/footer %>
      <%}%>
    </footer>
    <script src="../customjs/JsFAQ.js"></script>

    <script>

      $(document).ready(function () {
        fetch_Faq('Jobseeker');
      });
      </script>
</body>


</html>