<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>


</head>

<body onload="createCaptchaKnow()">
  <header>
    <% include ../partials/header %>
  </header>
  <!-- Page Title start -->
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Know Your Registration Details</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">Know Your Registration Details</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5 style="text-align:center" lang="en">Know Your Registration Details</h5>
          
              <div class="row">
                    
                            <div class="col-md-4">
                  <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">First Name</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                    <input type="text" name="firstname" onfocusout="getvalidated('firstname','text','First Name')" id="firstname" class="form-control"
                      placeholder="Enter Your First Name">
                      <span id="validfirstname" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                    </div>
                           
                  

                    <div class="col-md-4">
                      <div class="formrow" id="lastnamediv">
                        <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">Last Name</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                    <input type="text" name="lastname" onfocusout="getvalidated('firstname','text','First Name')" id="lastname" class="form-control"
                      placeholder="Enter Your Last Name">
                      <span id="validlastname" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                    </div>

                   

                    <div class="col-md-4">
                  <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                               <span lang="en">Gender</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                        <select class="form-control" id="Gender"  onfocusout="getvalidated('Gender','select','Gender')" name="Gender">
                          <option value="0">Select Gender</option>
                          <option>Male</option>
                          <option>Female</option>
                          <option>Others</option>
                        </select>
                        <span id="validGender" style="font-size: 11px; color: #cc0033; "></span>
                    </div>
                    </div>

                    <div class="col-md-6">
                      <input type="radio" id="aadhar" onclick="$('#adhardiv').show();$('#dobirth').hide()" value="Aadhar" name="unique" checked="checked">  <span lang="en">Aadhar Number</span> 
                      <input type="radio" id="dob" onclick="$('#dobirth').show();$('#adhardiv').hide()" value="DOB" name="unique" style="margin-left: 25px;"> <span lang="en">Date Of Birth</span>
                    </div>

                    <div class="col-md-6">
                      <div class="formrow" id="dobirth" style="display: none;">
                        <label for="example-email-input" class="col-2 col-form-label">
                                <span lang="en">Date Of Birth</span>&nbsp<span class="asterisk_input label-icon"></span>
                          </label>
                        <input type="text"  id="dateofbirth" onfocusout="getvalidated('dateofbirth','text','Date Of Birth')" class="form-control datepicker"
                          placeholder="Enter Your Date Of Birth">
                          <span id="validcontact" style="font-size: 11px; color: #cc0033; "></span>
                       </div>
   

                    <div class="formrow" id="adhardiv">
                      <label for="example-email-input" class="col-2 col-form-label">
                           <span lang="en">Aadhar Number</span>&nbsp<span class="asterisk_input label-icon"></span>
                     </label>
                   <input type="number" name="contact" onkeypress="if (this.value.length >= 12) { return false; };" onkeydown="return event.keyCode !== 69;"  onpaste="onlyNumbers(event)" id="contact" onfocusout="getvalidated('contact','text','Adhar Number')" class="form-control"
                     placeholder="Enter Your Aadhar Number">
                     <span id="validcontact" style="font-size: 11px; color: #cc0033; "></span>
                   </div>
                   
                 
                      </div>


                      
                </div>
                <div class="row" style="margin-top: 10px;">
                  <tr>
                    <td style="text-align: left">
                      <strong><span style="font-size: 15px;color: #cc0033;text-align: center;display: block;" lang="en">Please Enter The Text Below In Text Box</span></strong></td>
                  </tr>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="formrow" style="display: flex;align-self: center;justify-content: center;">
                      <div id="captchaknow" style='display: inline-block;'><canvas id="captchaknow" width="100" height="50"></canvas></div>
                      <a onclick="createCaptchaKnow()" style="position: relative; top: 8px" ><i class="fa fa-refresh" style="font-size:24px;"></i></a>
                    </div>
                  </div>
                </div>
                <div class="row" style="display:block">
                  <div class="col-12">
                    <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchatextknow','text','Captcha')" id="cpatchatextknow" style='display:block;margin:auto'/>
                  </div>
                 </div>
                 <div class='row' style="padding-bottom: 10px;">
                  <div class="col-12">
                    <span id="validcpatchatextknow" style="display:block;font-size: 11px; color: #cc0033; margin:auto; position:relative;top:8px;width:50%;text-align: center;"></span>
                  </div>
                 </div>
              
             
            


             



              <button type="submit" onclick="CheckValidationKnow()" class="btn" id="subreg">Submit</button>


              <!--Captcha End-->

            </div>
            
           
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" id="myModalcontact" style="overflow: auto !important;" role="dialog" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog"  role="document">

      <!-- Modal content-->
      <div class="modal-content">


        <div class="userccount">

          <h5 style="font-size:16px;" lang="en">Registration Detail</h5>
          <div class="modal-body" id="modalbody">
            <div class="job-header">
              <div class="jobdetail">

                <ul class="jbdetail" id="registrationdetail">

                </ul>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
   
  <script src="../customjs/KnowRegistration.js"></script>
  <script type="text/javascript">
    var code;
    function createCaptchaKnow() {
      //clear the contents of captcha div first 
      document.getElementById('captchaknow').innerHTML = "";
      var charsArray =
        "0123456789";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        //below code will not allow Repetition of Characters
        var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captchaknow";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captcha.join(""), 0, 30);
      //storing captcha so that can validate you can save it somewhere else according to your specific requirements
      code = captcha.join("");
      document.getElementById("captchaknow").appendChild(canv); // adds the canvas to the body element
    }
    function validateCaptchaKnow() {
      event.preventDefault();
if(jQuery("#cpatchatextknow").val()!=""){
      if (document.getElementById("cpatchatextknow").value == code) {
        KnowRegistration();
      } else {
        createCaptchaKnow();
        jQuery("#cpatchatextknow").val("");
        getvalidated('cpatchatextknow','text','Valid Captcha')
      }
    }
    else{
      getvalidated('cpatchatextknow','text','Captcha')
    }
  }
    
    $(document).ready(function () {
    
    //  FillState();
      $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            })
    });
    
  </script>
</body>

</html>