<div class="userccount" style="padding: 5px 20px !important">
  <div class="formpanel">
    <button type="button" class="close" id="Close" data-dismiss="modal"
      style="margin-top: -10px;font-size: xx-large;">×</button>
    <!-- Personal Information -->
    <h5 style="font-size: 18px;"><span lang="en">Language Details</span></h5>
    <div class="row">
      <div class="col-md-12">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Language</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" id="Language" name="Language"
            onfocusout="getvalidated('Language','select','Language')">
          </select>
          <span id="validLanguage" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="formrow">
          <ul class="row featchoose">
            <li class="col-md-4"><input type="checkbox" id="Read" value="1" name="Read"><span lang="en"> Read</span></li>
            <li class="col-md-4"><input type="checkbox" id="Write" value="2" name="Write"> <span lang="en">Write</span></li>
            <li class="col-md-4"><input type="checkbox" id="Speak" value="3" name="Speak"><span lang="en"> Speak</span></li>
          </ul>
        </div>
      </div>
    </div>

    <br />
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="formrow">
          <input type="submit" onclick="InsUpdLanguage()" class="btn" value="Submit">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</div>