<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body onload="createCaptcha()">

  <header>
    <% include ../partials/header %>
  </header>


  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-6">


          <div class="userccount" style="background: #4a90e25c;margin-top: 27px; width: 95%;margin-left: 11px;">
          
            <div class="">
              <h5 style="font-size:16px; color:black; text-align:left;" lang="en">New to MP Rojgar?</h5>
              <!-- login form -->
              <div class="formpanel">
                <p style="color:black;text-align:left;" lang="en">
                  Get best matched jobs directly in your mail.
                </p>
                <br />
                <p style="color:black;text-align:left;" lang="en">
                  Get relevant job recommendations.
                </p>
                <br />
                <p style="color:black;text-align:left;" lang="en">
                  Showcase profile to top companies and consultants.
                </p>
                <br />
                <p style="color:black;text-align:left;" lang="en">
                  Know application status on applied jobs.
                </p>
                <br />
                <p style="color:black;text-align:left;" lang="en">
                  Allows Searching Job By Key Skills, Designations, and Companies.
                </p>
                <br />
                <br />
                <a style="margin-bottom:25px;" id="btnsubmit" class="btn btn-access" href="/JobSeekerRegistration" lang="en"
                  value="Register Now">
                  Register Now</a><br />
              </div>
              <!-- login form  end-->


            </div>

          </div>
        </div>
        <div class="col-md-6">


          <div class="userccount" style="box-shadow:5px 10px 8px 8px #888888; height: 484px;">
            <div class="newuser" style="margin-top:0 !important">
              <div style="float:left"><span><a href="/forgot" style="font-size:13px; color:#FC9928"lang="en">Forgot Password?</a></span></div>
              <div style="float:right"><i class="fa fa-user" aria-hidden="true"></i> <span style="font-size:14px;" lang="en">New User?</span> <a href="/JobSeekerRegistration" style="font-size:13px; color:#FC9928" lang="en">Register Here</a>
              </div>
            </div>
            <br>
            <br>
            <div class="formpanel">
              <h5 style="font-size:20px;" lang="en">Job Seeker Login</h5>
              <!-- login form -->
              <div class="row">
                  <div class="col-md-6">
                     <div class="formrow" id="InvalidUserIdCheck" style="display: none;">
                        <tr>
                           <td align="left">
                              <strong><span style="font-size: 11px; color: #cc0033" lang="en">Invalid User Id or Password
                                 </span></strong>
                           </td>
                        </tr>
                     </div>
                  </div>
               </div>
              <div class="formrow">
                <input type="text" style="width: 95%;" id="txtloglogin" class="form-control" onkeypress=" jQuery('#InvalidUserIdCheck').hide();" onfocusout= "getvalidated('txtloglogin','text','User Name')" placeholder="User Name">
                <span id="validtxtloglogin" style="font-size: 11px; color: #cc0033; "></span>
              </div>
          
              <div class="formrow">
                <input type="password" style="width: 95%;" id="txtlogpassword" class="form-control" placeholder="Password" onkeypress=" jQuery('#InvalidUserIdCheck').hide();"  onfocusout= "getvalidated('txtlogpassword','text','Password')"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                  <span id="validtxtlogpassword" style="font-size: 11px; color: #cc0033; "></span>
                  <!-- <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                  data-placement="bottom"
                  title="<br><h6>Password must contain the following:</h6>  <ul class='categories'><li>Atleast one letter</li><li>Atleast one number</li><li> Lenght must be min. 8 </li></ul>"
                  data-html="true" style="margin-right:11%;"><i class="fa fa-info-circle" aria-hidden="true"></i></span> -->

                  <span class="info-icon-reg" data-toggle="tooltip" data-balloon-length="xlarge"
                  data-placement="bottom"
                  title="<br><h6> <span lang='en'> Password must contain<br> the following:</span> </h6>  <ul class='categories'><li><span lang='en'> Atleast one letter</span> </li><li><span lang='en'> Atleast one number</span> </li><li> <span lang='en'> Not to use special character</span> </li><li> <span lang='en'>Length must be min. 8</span> </li></ul>"
                  data-html="true" style="margin-right: 40px;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                  <span toggle="#txtlogpassword"
                  class="fa fa-fw fa-eye field-icon toggle-password" style="margin-right: 65px;"></span>
                  <span id="passwordvalidate" style="font-size: 11px; color: #cc0033;" ></span>

              </div>
            
              <!-- START CAPTCHA -->
              <div class="formrow">
                <tr>
                  <td style="text-align:left;">
                    <strong><span style="font-size: 15px;text-align: center;
                      display: block; color: #cc0033" lang="en">Please Enter The Text Below In Text Box</span></strong></td>
                </tr>
              </div>
              <!-- <div class="row" style="margin-left:36%">
                <div class="col-md-4">
                  <div class="formrow">
                    <div id="captcha">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <a onclick="createCaptcha()" >
                      <i class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i>
                    </a>
                  </div>
                </div>
              </div> -->


              <div class="row">
                <div class="col-12">
                  <div class="formrow" style="display: flex;align-self: center;justify-content: center;">
                    <div id="captcha" style='display: inline-block;'><canvas id="captcha" width="100" height="50"></canvas></div>
                    <a onclick="createCaptcha()" style="position: relative; top: 8px" ><i class="fa fa-refresh" style="font-size:24px;"></i></a>
                  </div>
                </div>
              </div>



              <!-- <div class="formrow" style="display:block">
                <input type="text" style="margin-left:29%"  onfocusout= "getvalidated('cpatchaTextBox','text','Captcha')" placeholder="Captcha" id="cpatchaTextBox" />
                <span id="validcpatchaTextBox" style="font-size: 11px; color: #cc0033; "></span>
              </div>
               -->

              <div class="row" style="display:block">
                <div class="col-12">
                  <input type="text" placeholder="Captcha" onfocusout="getvalidated('cpatchaTextBox','text','Captcha')" id="cpatchaTextBox" style='display:block;margin:auto'/>
                </div>
               </div>
               <div class='row'>
                <div class="col-12">
                  <span id="validcpatchaTextBox" style="display:block;font-size: 11px; color: #cc0033; margin:auto; position:relative;top:8px;width:50%;text-align: center;"></span>
                </div>
               </div>





              <div class="formrow" style="display:block;margin-top: 10px;">
                <input type="button"  onclick="CheckValidation()" id="login" class="btn" value="LOGIN" >
              </div>



              <!-- END CAPTCHA -->
              <!-- login form  end-->



            </div>
            <!-- sign up form -->
           

            <!-- sign up form end-->

          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
   
  <script src="../customjs/Login.js"></script>


  <script type="text/javascript">
  	$(document).keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
   
    if(keycode == '13'){
      if(!$('#login').prop('disabled') ){
        CheckValidation();
       }
     
    }
});
    var code;
    function createCaptcha() {
      //clear the contents of captcha div first 
      document.getElementById('captcha').innerHTML = "";
      var charsArray =
        "0123456789";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        //below code will not allow Repetition of Characters
        var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captcha";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captcha.join(""), 0, 30);
      //storing captcha so that can validate you can save it somewhere else according to your specific requirements
      code = captcha.join("");
      document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
    }
    function validateCaptcha() {
      event.preventDefault();

      if (document.getElementById("cpatchaTextBox").value == code) {
        ValidateLogin();
       

      } else {
        createCaptcha();
        $("#cpatchaTextBox").val('');
        $("#cpatchaTextBox").css('border-color', 'red');
            $("#validcpatchaTextBox").html("Please enter Valid Captcha");

      }
    }
    $(document).ready(function () {
      $('#account').prop("disabled", true);
       createCaptcha();
       FillState('19');
       $('[data-toggle="tooltip"]').tooltip(); 
      });
      sessionStorage.CandidateId=null;
  </script>

</body>

</html>