<div class="modal fade" id="myModallmailsupport" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="userccount">
          <div>

              <button type="button" class="close" data-dismiss="modal"
              style="margin-top: -10px;font-size: xx-large;">×</button>



            <h5 style="font-size:16px;"><span lang="en">E-mail Support </span></h5>
            <!-- login form -->
            <div class="formpanel">
                <div class="row">
                    <div class="col-md-6">
                       <div class="formrow"  style="display: none;">
                          <tr>
                             <td align="left">
                               
                             </td>
                          </tr>
                       </div>
                    </div>
                 </div>
                 <div class="tab-content formpanel">
                  <div class="row">
                          <div class="col-md-12">
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label" lang="en">Name 
                                    </label>
                                    <input class="form-control"   id="Name" name="Comments" placeholder="Name">

                                   </div>
                            </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                            <div class="formrow">
                                  <label for="example-email-input" class="col-2 col-form-label" lang="en">
                           Your Email 
                                  </label>
                                  <input class="form-control"   id="From" name="Comments" placeholder="Your Email">

                                 </div>
                          </div>
                    </div>

                   


                  <div class="m-form__group form-group row">
                    <label class="col-lg-3 col-form-label" lang="en">
                      Subject-Body 
                  </label>
                  <div class="col-lg-12">
                          <select type="text" id="SubjectBody" class="form-control m-input" placeholder="">
                              <option lang="en">Register</option>
                              <option lang="en">Renewal</option>
                              <option lang="en">Transfer</option>
                              <option lang="en">ID Related</option>
                              <option lang="en">Job Related</option>
                              <option lang="en">Carrier Opportunities</option>
                              <option lang="en">Carrier counselling</option>
                              <option lang="en">Other</option>
                             
                              
                          </select>
                          
</div>
                            </div>
                            

              <div class="row">
                <div class="col-md-12">
                    <div class="formrow">
                          <label for="example-email-input" class="col-2 col-form-label" lang="en">
                   To 
                          </label>
                          <input type="email"  class="form-control" onfocusout="mailcheck()"  id="To" name="Comments" value="" placeholder="  ." readonly>

                         </div>
                  </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                  <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label" lang="en">
                 Mobile 
                        </label>
                        <input type="number" maxlength="10" onkeypress="if (this.value.length >= 10) { return false; };" class="form-control"  id="Mobile" name="Comments" placeholder="Mobile">


                      


                  </div>
                </div>
          </div>


              <div class="row">
                 
                      <div class="col-md-12">
                              <div class="formrow">
                                    <label for="example-email-input" class="col-2 col-form-label" lang="en">
                                 Problem Description
                                    </label>
                                    <textarea class="form-control"  id="Comments" name="Comments" placeholder="Comments"></textarea>
                              </div>
                            </div>
                 
                </div>
              </br>
                <div class="row">
                    
                       <div class="col-md-10" style="margin-left: 8%;">
                      <input type="submit" id="btnSearch" onclick="CheckMail(); " class="btn" value="Submit">
                 </div>
                  </div>
                  <div class="row">
                    </div> 
         </div>
             
             
          
             
              
              
            </div>
          </div>
            <br><br>

         

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
  EmailConfig();
 
 function CheckMail() {
if (jQuery('#Name').val() == "") {
toastr.warning("Please Enter Your Name", "", "info");
}
else if (jQuery('#To').val() == "") {
toastr.warning("Please Enter Your To", "", "info");
}

else if (jQuery('#From').val() == "") {
toastr.warning("Please Enter Your From", "", "info");
}

else if (jQuery('#SubjectBody').val() == "") {
toastr.warning("Please Enter Your SubjectBody", "", "info");
}

else if (jQuery('#Mobile').val() == "") {
toastr.warning("Please Enter Your Phone No", "", "info");
}
else if (jQuery('#Comments').val() == "") {
toastr.warning("Please Enter Comments", "", "info");
}


else {
sendemail();
}


};


  function sendemail(){
   var sub = "Mp Rojgar";
var body = "<table width='600' border='0' align='center' cellpadding='0' cellspacing='0'><tr><td align='left' valign='top' style='border-right: solid thick #f0f0f0; border-left: solid thick #f0f0f0; border-top: solid thick #f0f0f0;'><img src='' class='yatmlogo' style='height: 70px; float: left;'> <img src='' class='mplogo' style='float: right; margin-top: -14.5%;'></td> </tr>" +
"<tr><td align='center' valign='top' style=' border-right: solid thick #f0f0f0; border-left: solid thick #f0f0f0; background-color:#f0f0f0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:10px;'><table width='100%' border='0' cellspacing='0' cellpadding='0' style='margin-top:10px;'><tr>" +
"<td align='left' valign='top' style='font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;'><div style='font-family:Georgia, Times New Roman, Times, serif; font-size:56px; color:#000000;'>Msg from Directorate of Employment,Govt of M.P </div>" +
"<div style='font-size:14px;color:darkgreen'><br>Dear, <br></div></br><div style='font-size:13px;'>To : "+$("#To").val()+" <br></div><br><div style='font-size:13px;'> From : "+$("#From").val()+" <br></div><br><div style='font-size:13px;'> Mobile :  "+$("#Mobile").val()+"</div></br><div style='font-size:13px;'> SubjectBody : "+$("#SubjectBody").val()+" <br></div><br><div style='font-size:13px;'>Problem : "+$("#Comments").val()+" <br></div><br><div style='font-size:13px;'></div></br>"+
"<br>हम आपकी सहायता करने के लिए तत्पर हैं।</div><br>किसी भी सहायता के लिए, कृपया टोल फ्री हेल्पलाइन 0755-2767927 (10:00 पूर्वाह्न से 07:00 बजे तक) पर संपर्क करें । or you may send an email at talent.management@yashaswi.edu.in</td></tr></table></td></tr></table>";
Email.send(globalemailid,
""+$("#To").val()+","+$("#From").val()+"",
sub,
body,
"smtp.gmail.com",
globalemailid,                                                                          
globalemailpass);

toastr.success("Submit Successful", "", "success")
jQuery("#Name").val("");
jQuery("#To").val("");
$("#From").val("");
$("#Mobile").val("");
$("#SubjectBody").val("Register");
jQuery("#Comments").val("")

return true;
}



//  function resetMode(){
// 	jQuery("#Name").val("");
// 	jQuery("#E-Mail").val("");
// 	$("#Mobile").val("");
// 	jQuery("#Comments").val("")


// }

function mailcheck(){

var Mail;
Mail = jQuery('#E-Mail').val();

var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

if (reg.test(Mail) == false) {
$(window).scrollTop(0);
toastr.warning("Please Enter Correct E-MailId", "", "info");
jQuery('#E-Mail').css('border-color', 'red');
return true;
}
else {
jQuery('#E-Mail').css('border-color', '');

}

}
     $(document).ready(function () {
      
      });
     </script> 
