<div class="modal fade" id="Notification" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="userccount">
          <div>
            <button type="button" class="close" data-dismiss="modal"
              style="margin-top: -10px;font-size: xx-large;">×</button>

            <h5 style="font-size:16px; "><span lang="en">Do Not Disturb (DND) </span></h5>
            <!-- login form -->
            <div class="formpanel">
              <div class="row">
                <div class="m-form__group form-group row">

                  <label class="col-lg-3 col-form-label">
                    <span lang="en"> Via SMS :</span>
                  </label>
                  
                  <label class="switch">
                  <input type="checkbox"  id="smsswitch" onclick="NotificationSetting()" >
                  <span class="slider round" ></span>
                  </label>
                  </div>
                    

                <div class="m-form__group form-group row">

                  <label class="col-lg-3 col-form-label">
                    <span lang="en">  Via Email :</span>
                  </label>
                  
                  <label class="switch">
                    <input type="checkbox" id="emailswitch" onclick="NotificationSetting()">
                  <span class="slider round"></span>
                  </label>
                  </div>
                
             </div>
            </div>

             </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modalclose" data-dismiss="modal"><span lang="en">Close</span></button>
      </div>
    </div>

  </div>
</div>

   
