<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link href="/css/captcha.css" rel="stylesheet">
</head>

<body onload="createCaptcha()">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5>Other Activites</h5>
              <div class="row">

                <div class="col-md-6">

                  <div class="formrow">
                    <select class="form-control" name="Duration">
                      <option>Sports Name</option>
                      <option>1</option>
                      <option>2 </option>
                      <option>3</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="formrow">
                    <select class="form-control" name="Skill">
                      <option> Sports Certificate</option>
                      <option>School Level</option>
                      <option>Division Level</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <select class="form-control" name="Prefrences">
                      <option>NCC Certificate </option>
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select>
                  </div>
                </div>




                <br />
                <br>

                <input type="submit" class="btn" value="Submit">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="listpgWraper">
      <div class="container">

        <!-- Job Header start -->
        <div class="job-header">
          <div class="jobinfo">
            <div class="row">
              <div class="col-md-8">
                <h2>IT Delivery Manager - Epicor ERP</h2>
                <div class="ptext">Date Posted: 2016/05/19</div>
                <div class="salary">Monthly Salary: <strong>$500 - $3000</strong></div>
              </div>
              <div class="col-md-4">
                <div class="companyinfo">
                  <div class="companylogo"><img src="images/employers/emplogo1.jpg" alt="your alt text"></div>
                  <div class="title"><a href="#.">Forum International</a></div>
                  <div class="ptext">Dubai, UAE</div>
                  <div class="opening"><a href="#.">8 Current Jobs Openings</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="jobButtons"> <a href="#." class="btn apply"><i class="fa fa-paper-plane" aria-hidden="true"></i>
              Apply Now</a> <a href="#." class="btn"><i class="fa fa-envelope" aria-hidden="true"></i> Email to
              Friend</a> <a href="#." class="btn"><i class="fa fa-black-tie" aria-hidden="true"></i> Job Aleart</a> <a
              href="#." class="btn"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save This Job</a> <a href="#."
              class="btn report"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report Abuse</a> </div>
        </div>

        <!-- Job Detail start -->
        <div class="row">
          <div class="col-md-8">
            <!-- Job Description start -->
            <div class="job-header">
              <div class="contentbox">
                <h3>Job Description</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque massa vel lorem fermentum
                  fringilla. Pellentesque id est et neque blandit ornare malesuada a mauris. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Sed sagittis, quam a fringilla congue, turpis turpis molestie ligula, ut
                  laoreet elit arcu sed nulla. Sed at quam commodo, egestas turpis eget, fringilla dui. Etiam sit amet
                  nulla metus. Etiam iaculis lobortis ultricies. <strong>Maecenas maximus magna a metus consectetur, vel
                    fermentum nisl ultrices</strong>. Quisque eget ante id dui posuere ullamcorper ut molestie eros.
                  Aliquam ultrices lacinia risus, at lacinia ante vehicula id. Nulla in lectus dignissim, egestas purus
                  sit amet, mattis libero. Maecenas ullamcorper rutrum porta. <br>
                  <br>
                  Proin nec gravida augue. Praesent arcu nunc, elementum et est vel, scelerisque facilisis sem. Donec
                  auctor elementum molestie. Suspendisse dictum justo vel dolor maximus, id accumsan risus rutrum.
                  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed consequat,
                  tortor eget faucibus volutpat, diam sem tincidunt mauris, id dapibus diam purus sit amet turpis.
                  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque
                  at nibh massa. Pellentesque eu lorem efficitur sem ornare sodales venenatis et nisl. Vestibulum
                  placerat nec lacus sed lacinia. Pellentesque sollicitudin libero a tortor laoreet fringilla. Nulla
                  tincidunt, urna ac imperdiet sollicitudin, felis enim mollis dui, laoreet euismod lorem odio non
                  massa. Donec purus nisi, placerat vitae justo at, pulvinar placerat libero. Curabitur eu eros non ante
                  posuere consequat eu nec odio. </p>
                <h3>Skills</h3>
                <ul>
                  <li>In non augue eget purus placerat aliquet sit amet lobortis lacus.</li>
                  <li>Curabitur interdum nisl quis placerat ornare.</li>
                  <li>Curabitur ornare enim ac aliquam efficitur.</li>
                  <li>Etiam volutpat leo et orci luctus, blandit accumsan arcu placerat.</li>
                  <li>Proin egestas dui et pulvinar pellentesque.</li>
                  <li>In ultricies nulla eget lacus tempor lobortis.</li>
                </ul>
                <h3>Benifits</h3>
                <ul>
                  <li>In non augue eget purus placerat aliquet sit amet lobortis lacus.</li>
                  <li>Curabitur interdum nisl quis placerat ornare.</li>
                  <li>Curabitur ornare enim ac aliquam efficitur.</li>
                  <li>Etiam volutpat leo et orci luctus, blandit accumsan arcu placerat.</li>
                  <li>Proin egestas dui et pulvinar pellentesque.</li>
                  <li>In ultricies nulla eget lacus tempor lobortis.</li>
                </ul>
              </div>
            </div>
            <!-- Job Description end -->

            <!-- related jobs start -->
            <div class="relatedJobs">
              <h3>Related Jobs</h3>
              <ul class="searchList">
                <!-- Job start -->
                <li>
                  <div class="row">
                    <div class="col-md-8 col-sm-8">
                      <div class="jobimg"><img src="images/jobs/jobimg.jpg" alt="Job Name"></div>
                      <div class="jobinfo">
                        <h3><a href="#.">Technical Database Engineer</a></h3>
                        <div class="companyName"><a href="#.">Datebase Management Company</a></div>
                        <div class="location"><label class="fulltime">Full Time</label> - <span>New York</span></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="listbtn"><a href="#.">Apply Now</a></div>
                    </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis arcu est. Phasellus vel
                    dignissim tellus. Aenean fermentum fermentum convallis.</p>
                </li>
                <!-- Job end -->

                <!-- Job start -->
                <li>
                  <div class="row">
                    <div class="col-md-8 col-sm-8">
                      <div class="jobimg"><img src="images/jobs/jobimg.jpg" alt="Job Name"></div>
                      <div class="jobinfo">
                        <h3><a href="#.">Technical Database Engineer</a></h3>
                        <div class="companyName"><a href="#.">Datebase Management Company</a></div>
                        <div class="location"><label class="partTime">Part Time</label> - <span>New York</span></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="listbtn"><a href="#.">Apply Now</a></div>
                    </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis arcu est. Phasellus vel
                    dignissim tellus. Aenean fermentum fermentum convallis.</p>
                </li>
                <!-- Job end -->

                <!-- Job start -->
                <li>
                  <div class="row">
                    <div class="col-md-8 col-sm-8">
                      <div class="jobimg"><img src="images/jobs/jobimg.jpg" alt="Job Name"></div>
                      <div class="jobinfo">
                        <h3><a href="#.">Technical Database Engineer</a></h3>
                        <div class="companyName"><a href="#.">Datebase Management Company</a></div>
                        <div class="location"><label class="freelance">Freelance</label> - <span>New York</span></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="listbtn"><a href="#.">Apply Now</a></div>
                    </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce venenatis arcu est. Phasellus vel
                    dignissim tellus. Aenean fermentum fermentum convallis.</p>
                </li>
                <!-- Job end -->
              </ul>
            </div>
          </div>
          <!-- related jobs end -->

          <div class="col-md-4">
            <!-- Job Detail start -->
            <div class="job-header">
              <div class="jobdetail">
                <h3>Job Detail</h3>
                <ul class="jbdetail">
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Job Id</div>
                    <div class="col-md-6 col-xs-6"><span>Jb132456</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Location</div>
                    <div class="col-md-6 col-xs-6"><span>New York</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Company</div>
                    <div class="col-md-6 col-xs-6"><a href="#.">Themeforest</a></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Type</div>
                    <div class="col-md-6 col-xs-6"><span>Private</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Employment Status</div>
                    <div class="col-md-6 col-xs-6"> <span class="permanent">Permanent</span> <span
                        class="contract">Contract</span> <span class="freelance">Freelance</span> </div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Employment Type</div>
                    <div class="col-md-6 col-xs-6"><span>Manager</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Positions</div>
                    <div class="col-md-6 col-xs-6"><span>5</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Career Level</div>
                    <div class="col-md-6 col-xs-6"><span>Experience</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Experience</div>
                    <div class="col-md-6 col-xs-6"><span>2 Years</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Gender</div>
                    <div class="col-md-6 col-xs-6"><span>Male</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Nationality</div>
                    <div class="col-md-6 col-xs-6"><span>United States</span></div>
                  </li>
                  <li class="row">
                    <div class="col-md-6 col-xs-6">Degree</div>
                    <div class="col-md-6 col-xs-6"><span>Masters</span></div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Contact Company start -->
            <div class="job-header">
              <div class="jobdetail">
                <h3>Contact Themeforest</h3>
                <div class="formpanel">
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="Your Name">
                  </div>
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="Your Email">
                  </div>
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="Phone">
                  </div>
                  <div class="formrow">
                    <input type="text" class="form-control" placeholder="Subject">
                  </div>
                  <div class="formrow">
                    <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                  <input type="submit" class="btn" value="Submit">
                </div>
              </div>
            </div>

            <!-- Google Map start -->
            <div class="job-header">
              <div class="jobdetail">
                <h3>Google Map</h3>
                <div class="gmap">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d13276.272465119835!2d72.97962462269287!3d33.70718629417979!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1480401216309"
                    allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
     
    <script>
      function multipleFunc() {
        document.getElementById("mySelect").multiple = true;
      }
    </script>
</body>

</html>