<!DOCTYPE html>
<html lang="en">

    <head>
      <% include ../partials/head %>
    </head>
    
    <body>
    
      <header>
        <% include ../partials/header %>
      </header>
      <div class="pageTitle">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h1 class="page-heading" lang="en">Our Success Stories</h1>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;">Home</span></a> / <span lang="en">Our Success Stories</span></div>
            </div>
          </div>
        </div>
      </div>
       <div class="inner-page">
        <div class="container">
          <div class="contact-wrap">
            <div class="row">
              
           
          <div class="userccount">
      
         
          <div class="col-md-12 column">
            <div class="title">
              <h2 style="font-size:32px" lang="en">Our Success Stories</h2>
    
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 column"></div>
              <ul class="col-md-10 column" id="AllDistrictOffice">
                <div class="col-md-3 column">
                    <li>
                        <div class="contact-now">
                            <div class="contact" >
                                <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                    <source src="video/video_12.mp4" type="video/mp4">
        
                                </video>
                            </div>   
                        </div></li></div>
                        <div class="col-md-3 column">
                            <li>
                                <div class="contact-now">
                                    <div class="contact" >
                                        <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                            <source src="video/video_13.mp4" type="video/mp4">
                
                                        </video>
                                    </div>   
                                </div></li></div>

                                  <div class="col-md-3 column">
                    <li>
                        <div class="contact-now">
                            <div class="contact" >
                                <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                    <source src="video/video_14.mp4" type="video/mp4">
        
                                </video>
                            </div>   
                        </div></li></div>
                        <div class="col-md-3 column">
                            <li>
                                <div class="contact-now">
                                    <div class="contact" >
                                        <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                            <source src="video/video_15.mp4" type="video/mp4">
                
                                        </video>
                                    </div>   
                                </div></li></div>
                                <div class="col-md-3 column">
                                    <li>
                                        <div class="contact-now">
                                            <div class="contact" >
                                                <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                    <source src="video/video_16.mp4" type="video/mp4">
                        
                                                </video>
                                            </div>   
                                        </div></li></div>
                                        <div class="col-md-3 column">
                                            <li>
                                                <div class="contact-now">
                                                    <div class="contact" >
                                                        <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                            <source src="video/video_17.mp4" type="video/mp4">
                                
                                                        </video>
                                                    </div>   
                                                </div></li></div>
                
                                                  <div class="col-md-3 column">
                                    <li>
                                        <div class="contact-now">
                                            <div class="contact" >
                                                <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                    <source src="video/video_18.mp4" type="video/mp4">
                        
                                                </video>
                                            </div>   
                                        </div></li></div>
                                        <div class="col-md-3 column">
                                            <li>
                                                <div class="contact-now">
                                                    <div class="contact" >
                                                        <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                            <source src="video/video_19.mp4" type="video/mp4">
                                
                                                        </video>
                                                    </div>   
                                                </div></li></div>
                                                <div class="col-md-3 column">
                                                    <li>
                                                        <div class="contact-now">
                                                            <div class="contact" >
                                                                <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                                    <source src="video/video_20.mp4" type="video/mp4">
                                        
                                                                </video>
                                                            </div>   
                                                        </div></li></div>
                                                        <div class="col-md-3 column">
                                                            <li>
                                                                <div class="contact-now">
                                                                    <div class="contact" >
                                                                        <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                                            <source src="video/video_21.mp4" type="video/mp4">
                                                
                                                                        </video>
                                                                    </div>   
                                                                </div></li></div>
                                
                                                                  <div class="col-md-3 column">
                                                    <li>
                                                        <div class="contact-now">
                                                            <div class="contact" >
                                                                <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                                    <source src="video/video_22.mp4" type="video/mp4">
                                        
                                                                </video>
                                                            </div>   
                                                        </div></li></div>
                                                        <div class="col-md-3 column">
                                                            <li>
                                                                <div class="contact-now">
                                                                    <div class="contact" >
                                                                        <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                                            <source src="video/video_23.mp4" type="video/mp4">
                                                
                                                                        </video>
                                                                    </div>   
                                                                </div></li></div>
                                                                
                                                                <div class="col-md-3 column">
                                                                    <li>
                                                                        <div class="contact-now">
                                                                            <div class="contact" >
                                                                                <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                                                    <source src="video/video_24.mp4" type="video/mp4">
                                                        
                                                                                </video>
                                                                            </div>   
                                                                        </div></li></div>
                                                                        <div class="col-md-3 column">
                                                                            <li>
                                                                                <div class="contact-now">
                                                                                    <div class="contact" >
                                                                                        <video controls="" style="width: 100%;height: 187px;" controls disablepictureinpicture controlslist="nodownload" muted >
                                                                                            <source src="video/video_25.mp4" type="video/mp4">
                                                                
                                                                                        </video>
                                                                                    </div>   
                                                                                </div></li></div>

              </ul>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <footer>
        <% include ../partials/footer %>
      </footer>
       
    
    
      <script src="/customjs/Contactus.js"></script>
      <script>
    
        $(document).ready(function () {
    
        
    
        });
      </script>
    </body>
    
    </html>
           