<div class="userccount" style="padding: 5px 20px !important">
  <div class="formpanel">

    <!-- Personal Information -->
    <button type="button" class="close" data-dismiss="modal" id="Close"
      style="margin-top: -10px;font-size: xx-large;">×</button>
    <h5><span lang="en">Personal Details</span></h5>
    <div class="row">

      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Date of Birth</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <input type="text" style="height:49px"  class="form-control rojdatepicker" id="DOBtextbox"
            placeholder="Enter Date of birth" readonly>
          <span id="validDOBtextbox" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>

      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Domicile</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" id="resident" onfocus="DOBCheck()"
            onfocusout="getvalidated('resident','select','Domicile')">
          </select>
          <span id="validresident" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Permanent Address</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <textarea class="form-control" maxlength="150" onkeypress="if(this.value.length>=200) { return false;}"
            style="height: 85px;" onkeydown="getvalidated('permanentaddress','text','Permanent Address')"
            id="permanentaddress" name="permanentaddress" placeholder="Permanent Address"
            onfocusout="getvalidated('permanentaddress','text','Permanent Address')"></textarea>
          <span id="validpermanentaddress" style="font-size: 11px; color: #cc0033; "></span> </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Is Permanent Address and Present Address is same?</span>
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="formrow">
          <input type="radio" id="yesAdd" value="1" name="mobile">  <span lang="en">Yes</span> 
          <input type="radio" id="noAdd" value="2" name="mobile"> <span lang="en">No</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Present Address</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <textarea class="form-control" maxlength="150" onkeypress="if(this.value.length>=200) { return false;}"
            style="height: 85px;" id="presentaddress" name="presentaddress" placeholder="Present Address"
            onfocusout="getvalidated('presentaddress','text','Present Address')"
            onkeydown="getvalidated('presentaddress','text','Present Address')"></textarea>
          <span id="validpresentaddress" style="font-size: 11px; color: #cc0033; "></span> </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Pin</span>&nbsp<span style="color: darkgrey;" lang="en">(<span lang="en">Present Address Pin Code</span>)</span><span
              class="asterisk_input label-icon"></span>
          </label>
          <input type="number" style="height:49px" id="Pin" class="form-control" placeholder="Pin"
            onkeydown="if(event.keyCode==110||event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;};getvalidated('Pin','text','Pin')"
            onkeypress="if (this.value.length >= 6) { return false; };getvalidated('Pin','text','Pin')">
          <span id="validPin" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Blood Group</span>
          </label>
          <select class="form-control" id="BloodGroup">
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Marital Status</span>
          </label>
          <select class="form-control" id="Marital">
          </select>
        </div>
      </div>

      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Category</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" id="Category" onfocusout="getvalidated('Category','select','Category')"
            onchange="getvalidated('Category','select','Category')">
          </select>
          <span id="validCategory" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Religion</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" id="Religion" onfocusout="getvalidated('Religion','select','Religion')"
            onchange="getvalidated('Religion','select','Religion')">
          </select>
          <span id="validReligion" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>

      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Sub-Caste</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <input class="form-control" type="text" id="SubCaste" autocomplete="off" placeholder="Sub-Caste"
            onfocusout=" getvalidated('SubCaste','text','Sub-Caste')" onkeypress="getvalidated('SubCaste','text','Sub-Caste');if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
                        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }"
            onpaste="return (event.charCode > 64 && 
                     event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)">
          <span id="validSubCaste" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Nationality</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" id="nationality" onfocusout="getvalidated('nationality','select','Nationality')"
            onchange="getvalidated('nationality','select','Nationality')">
          </select>
          <span id="validnationality" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Area Of Interest</span> </label>
          <select class="form-control" id="AreaOfInterest">
          </select>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Employment Status</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" id="Proficiency"
            onfocusout="getvalidated('Proficiency','select','Employment Status')"
            onchange="getvalidated('Proficiency','select','Employment Status')">
          </select>
          <span id="validProficiency" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Differently abled</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" id="differentlyabled"
            onfocusout="getvalidated('differentlyabled','select','Physical Handicapped')"
            onchange="getvalidated('differentlyabled','select','Physical Handicapped')">
            <option value="0">Select Differently abled</option>
            <option value="Handicap"> Yes </option>
            <option value="Non Handicap">No</option>
          </select>
          <span id="validdifferentlyabled" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
    </div>
    <div class="row" id="DisabilityType">
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Handicapped Category</span>
          </label>
          <select style="height:49px" id="DisabilityDetail" class="form-control">
          </select>
        </div>

      </div>
      <div class="col-md-6 forvalidation" id="HndcppdSubCtgry">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Handicapped Sub Category</span>
          </label>
          <select style="height:49px" id="HandicappedSubCategory" class="form-control">
          </select>

        </div>

      </div>
    </div>
    <div class="row" id="DisablityPrio">
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Disablity Priority</span>
          </label>
          <select style="height:49px" id="DisablityPriority" class="form-control">
          </select>
          <span id="validDisablityPriority" style="font-size: 11px; color: #cc0033; "></span>
        </div>

      </div>


    </div>

    <div class="row">
      <div class="col-md-6 forvalidation" id="AreaArea">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Area </span> </label>
          <select style="height:49px" id="Area" class="form-control">
          </select>
        </div>

      </div>

      <div class="col-md-6 forvalidation" id="BlockArea">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Block</span></label>
          <select style="height:49px" id="Block" class="form-control">

          </select>
        </div>

      </div>
    </div>
    <div class="row">

      <div class="col-md-6 forvalidation" id="PanchayatArea">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Panchayat</span> </label>
          <select style="height:49px" id="Panchayat" class="form-control">

          </select>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-md-4" >
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Green Card</span>
          </label>
          <input id="chkgreencardStatus" type="checkbox" name="checkbox" style="margin-left: 20%;">

        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="formrow">
          <input type="submit" class="btn" onclick="CheckPersonalDetail()" value="Submit">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

