<div class="userccount" style="padding: 5px 20px !important">
  <div class="formpanel">

    <!-- Personal Information -->
    <button type="button" class="close" data-dismiss="modal" id="Close"
      style="margin-top: -10px;font-size: xx-large;">×</button>
    <h5><span lang="en">Physical Details</span></h5>

    <div class="row">
      <div class="col-md-6">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Chest</span></label>
          <input type="text" name="name" id="txtchest" onkeypress="return isNumberKey(event,this.id);" maxlength="4" class="form-control" placeholder="Chest(In Centimeter)">
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">Height</span>  </label>
          <input type="text" name="name" id="txtHeight" onkeypress="return isNumberKey(event,this.id);" maxlength="4" class="form-control" placeholder="Height(In Centimeter)">
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Weight</span>  </label>
          <input type="text" name="name" id="txtWeight" onkeypress="return isNumberKey(event,this.id);" maxlength="4" class="form-control" placeholder="Weight (In Kg.)">
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
            <label for="example-email-input" class="col-2 col-form-label">
              <span lang="en">Eye Sight</span>  </label>
          <select class="form-control" id="Eyesight" name="Eye Sight">
                  </select>
        </div>
      </div>

      <h5 style="margin-left: 3%;"><span lang="en">Other Activites</span></h5>
      <div class="row"style=" margin-left: 0%;margin-right: 0%;">

        
        <div class="col-md-6">

          <div class="formrow">
              <label for="example-email-input" class="col-2 col-form-label">
                <span lang="en">Sports Name</span>  </label>
            <select class="form-control" id="sportname" name="Duration">
                      </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="formrow">
                  <label for="example-email-input" class="col-2 col-form-label">
                    <span lang="en">Sports Certificate</span> </label>
            <select class="form-control" id="sportcertificate" name="Skill">
                      </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="formrow">
              <label for="example-email-input" class="col-2 col-form-label">
                <span lang="en">NCC Certificate</span> </label>
            <select class="form-control" id="NCCcertificate" name="Prefrences">
                    </select>
          </div>
        </div>
        
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="formrow">
            <input type="submit" onclick="Check()" class="btn" value="Submit" >
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>