<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>


</head>

<body onload="createCaptchaGrievence()">
  <header>
    <% include ../partials/header %>
  </header>
  <!-- Page Title start -->
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Popular Search</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">Popular Search</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5 style="text-align:center" lang="en" id="popularsearchtype"></h5>
              <div class="section">
                <div class="container">
                    <!-- title start -->
                
                    <!-- title end -->
        
                    <div class="topsearchwrap row" style="width: 60%;">
                      
                            <ul class="row catelist" id="BrowseJobs">
                            </ul>
                           
                
                            <!--Categories end-->
                        
        
        
                      
        
                    </div>
                </div>
            </div>



              <!--Captcha End-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
    
  <script type="text/javascript" src="../customjs/Index.js"></script>
  <script type="text/javascript">
  
    $(document).ready(function () {
    $('#popularsearchtype').text('Browse By ' + sessionStorage.Popularsearchtype)
      if(sessionStorage.Popularsearchtype=='Location'){
        FillBROWSEBYStates();
      }
      else{
        FillBROWSEBYCATEGORIES();
      }
    });
    function FillBROWSEBYCATEGORIES() {
            jQuery.ajax({
                url: serverpath + "JobByIndustry/0",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++)
                        appenddata += " <li class='col-md-6 col-sm-6'><a href='#'  onclick=SetJobByDesignation('" + encodeURI(data[0][i].Industry) + "') ><span class='CCcontainer' style='overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 150px;display:inline-block;color: black;'>" + data[0][i].Industry + " </span><span style='padding: 2px;'>(" + data[0][i].Vacancies + ")</span></a></li>"

                    $('#BrowseJobs').html(appenddata);

                },
                error: function (result) {
                }
            });
        }

        function FillBROWSEBYStates() {
            jQuery.ajax({
                url: serverpath + "JobByLocation/0",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        if (data[0][i].Location != null) {
                            appenddata += " <li class='col-md-4 col-sm-4'><a  onclick=SetJobByLocation('" + encodeURI(data[0][i].Location) + "') href='#'><span style='overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 150px;display:inline-block;color: black;'>" + data[0][i].Location + "</span><span style='padding: 2px;'>(" + data[0][i].Vacancies + ")</span></a></li>"

                        }
                    }
                    $('#BrowseJobs').html(appenddata);

                },
                error: function (result) {
                }
            });
        }

    
  
  </script>
</body>

</html>