<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
<style>
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
	.col-sm-4 {    width: 33.33333333%;}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
	.col-md-3 {    width: 25%;}
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
	.col-sm-4 {    width: 33.33333333%;}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
	.col-md-3 {    width: 25%;}
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {    float: left;}
	.col-sm-4 {    width: 33.33333333%;}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {    float: left;}
	
    .col-md-3 {    width: 25%;}
    @media print {
        #printReg {
            width: 100%;
        }
    }
</style>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="col-md-1"></div>
            <div class="col-md-10" id="printReg">
                    <div class="job-header" style="background: #fff;
                    border: 1px solid #e4e4e4;
                    margin-bottom: 30px;">
                            <div class="jobinfo" style="padding: 25px;
                            border-radius: 4px;
                            box-shadow: 0px 0px 20px #888888;">
                              <div class="row" style="    margin-right: -15px;
                              margin-left: -15px;">
                    <div class="col-md-10 col-sm-10"> 
                            <!-- Candidate Info -->
                            <div class="candidateinfo" style="margin: 0;
                            padding: 0;
                            border: 0;
                            font-size: 100%;
                            font: inherit;
                            vertical-align: baseline;
                        ">
                              <div class="userPic" style="width:95px ;height:165px; background: none;float: left;margin-right: 20px;"><img style="max-width:91%" src="images/05032016070225indus_logo.png" alt=""></div>
                              <div class="title" style="    padding-bottom: 10px; font-size: 16px;text-align: -webkit-center;    color: #333;
                              font-weight: 600;">Department of Technical Education, Skill Development and Employment, Government of Madhya Pradesh</div>
                              <div class="title" style="    padding-bottom: 10px; font-size: 16px;text-align: -webkit-center;    color: #333;
                              font-weight: 600;">Directorate of Employment, Madhya Pradesh</div>
                              <div class="title" style="    padding-bottom: 10px;text-align: -webkit-center;    color: #333;
                              font-weight: 600;" id='Ex_name'></div>
                              <div class="title" style="    padding-bottom: 10px;font-size: 18px;text-align: -webkit-center;    color: #333;
                              font-weight: 600;">IDENTITY CARD</div>
                              <div class="desi" style="    padding-bottom: 10px;text-align: -webkit-center;    font-size: 14px;
                              color: #666;
                              margin-top: 10px;">(It is not an Identity Card for Interview with Employers)</div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2"> 
                                <div class="candidateinfo" style='margin: 0;
                                padding: 0;
                                border: 0;
                                font-size: 100%;
                                font: inherit;
                                vertical-align: baseline;'>
                                        <div class="userPic" style="width:95px ; background: none; float: right;margin-right: 20px">
                                            <img style="max-width:100%;     height: 80px" src="/images/favicon.ico" alt=""></div>
                                      </div>
            </div>
            </div>
            <div class="clearfix" style="padding-top: 30px"></div>
            <div class="row" style="border:solid 1px;margin-right: -15px;margin-left: -15px;">
              
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                    <div class="col-md-2 col-sm-2"><img  style="width:100px;height:90px" id="profilepic"/>  </div>
                  
                    <div class="col-md-2 col-sm-2">Name:</div>
                    <div class="col-md-3 col-sm-4" id="cadName"> </div>
                    <div class="col-md-2 col-sm-2">Date-of Birth:</div>
                    <div class="col-md-3 col-sm-4" id="dateofbirth"></div>
                  <div style="    margin-top: 44px;">
                    <div class="col-md-2 col-sm-2">Registration No:</div>
                    <div class="col-md-3 col-sm-4" id="RegistrationId"></div>
                    <div class="col-md-2 col-sm-2">Registration Date:</div>
                    <div class="col-md-3 col-sm-4" id="regdate"></div>
                </div>
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-2 col-sm-2">Qualification/Skills:</div>
                    <div class='col-md-3 col-sm-4' id="EducationName"></div>
                  
                    <div class="col-md-2 col-sm-2">NCO Code:</div>
                    <div class="col-md-3 col-sm-4" style="padding-bottom: 10px;">
                        <table style="padding: 2px;">
                      <thead> <tr> <th style="border: 1px solid black;padding: 1px;">
                            NCO Code
                        </th>
                        <th style="border: 1px solid black;padding: 1px;">
                               Senioritiy Date
                            </th></tr>
                        </thead>
                        <tbody id="NCOCode" style="border: 1px solid black;padding: 1px;">
                            </tbody>
                          
                        </table></div>
                   
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-2 col-sm-2">Category:</div>
                    <div class="col-md-3 col-sm-3" id="txtCategory"></div>
                    <div class="col-md-2 col-sm-2">Domicile:</div>
                    <div class="col-md-3 col-sm-3" id="domicile"></div>
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-2 col-sm-2">Handicapped:</div>
                    <div class="col-md-2 col-sm-3" id="handicapp"></div>
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
            </div>
            <div class="row" style="border:solid 1px;margin-right: -15px; margin-left: -15px;">
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                    <div class="col-md-12 col-sm-12">Next Renewal Month and Year: <span id="renewal"></span> </div>
                    
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-12 col-sm-12">User Name: <span id="username"></span> </div>
                   <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
                    <div class="col-md-12 col-sm-12">* For further information Login into our Website at www.mprojgar.gov.in</div>
                    <div class="clearfix" style="padding: 25px 0px 0px 0px;"></div>
            </div>
            <div class="row" style="border:solid 1px;margin-right: -15px; margin-left: -15px;">
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                    <div class="col-md-12 col-sm-12">
                        <p>
                        DISCLAIMER (अस्वीकरण) : पहचान पत्र (Identity Card) आवेदक द्वारा www.mprojgar.gov.in  पर दर्ज की गयी स्वघोषित जानकारी के अनुसार स्वतः मुद्रित हुआ है , अतः पहचान पत्र को रोजगार कार्यालय से सत्यापित / प्रमाणित / हस्ताक्षरित कराने की आवश्यकता नहीं है। आवेदक द्वारा दी गयी स्वघोषित जानकारी / डेटा की सत्यता के लिए विभाग जिम्मेदार नहीं है, नियुक्ति के समय आवेदक के मूल प्रमाण पत्रों की सत्यता की जांच का दायित्व नियोजक का होगा। 
                    </p>
                    </div>
                    <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                </div>
                <div class="row" style="margin-right: -15px; margin-left: -15px;">
                        <div class="clearfix" style="padding: 4px 0px 4px 0px;"></div>
                        <div class="col-md-6 col-sm-12">
                            <p>
                                 Print Date:<span id="printdate"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        
        
    </div>
    <div class="row" style="margin-right: -15px; margin-left: -15px;">
        <div class="col-md-2"></div>
        <div class="col-md-3">
    <button type="button" id="Print" >
        Print 
     </button></div>
     <div class="col-md-3">
            <button type="button" onclick="window.history.back();">
                Back
             </button></div>
             <div class="col-md-3">
                <button type="button" id="create_pdf" onclick="makePDF()">
                    Download
                 </button>
             </div>
    </div>
    </div>

    </div>
     
    <script src="../customjs/PrintRegcard.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        if(sessionStorage.getItem('PicFileName')){
            $("#profilepic").attr('src',"Pics/"+sessionStorage.getItem('PicFileName'));
        }
        else{
            $('#profilepic').attr('src',"images/candidates/01.jpg");

        }

         FillPrint('parsedatasecuredFillPrint','');
        $(document).ajaxStart($.blockUI({ message: '<img src="images/loading.gif" style="width:50px;height:50px" />' })).ajaxStop($.unblockUI);

      });
      $("#Print").click(function(){
        //window.print();
$('#printReg').printThis({
        debug: false,               // show the iframe for debugging
        importCSS: true,            // import parent page css
        importStyle: true,         // import style tags
        printContainer: true,       // print outer container/$.selector
        loadCSS: "",                // path to additional css file - use an array [] for multiple
        pageTitle: "",              // add title to print page
        removeInline: false,        // remove inline styles from print elements
        removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
        printDelay: 333,            // variable print delay
        header: "",               // prefix to html
        footer: null,               // postfix to html
        base: false,                // preserve the BASE tag or accept a string for the URL
        formValues: true,           // preserve input/form values
        canvas: false,              // copy canvas content
        doctypeString: '<!DOCTYPE html>', // enter a different doctype for older markup
        removeScripts: false,       // remove script tags from print content
        copyTagClasses: true,      // copy classes from the html & body tag
        beforePrintEvent: null,     // callback function for printEvent in iframe
        beforePrint: null,          // function called before iframe is filled
        afterPrint: null            // function called before iframe is removed);
});
});



      </script>
   