
<!-- Candidate Info -->
<div class="userccount" style="padding: 5px 20px !important">
   <div class="formpanel">
   
      <button type="button" class="close" data-dismiss="modal" id="Close"
      style="margin-top: -10px;font-size: xx-large;" onclick="callcloseme()">×</button>
   <h4>Profile Photo Upload</h4>
   
  

      <div class="row">
         <div class="col-md-3 ">
         </div>
         <div class="col-md-6">
               
               <form id="profileimageaction" enctype="multipart/form-data" method="post">
                  <input type="file" name="myFile" id="myPic"  style="color: #8d8d9d">
                  <input type="submit" class="btn" value="Upload Your Pic" onclick="callme('Image')" style="margin-top: 25%;">
                  <p class="profilesubheading">(Only accept .png/.jpg file and of 1MB)</p>
                </form>
                
         </div>
      </div>
      </div>
   </div>