<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/Homeheader %>
    </header>
    <div class="listpgWraper">
        <div class="container">
            <div class="job-header">
                <div class="jobinfo" style="background-color:#4A90E2; height: 185px;">
                    <div class="row">
                        <div class="col-md-10 col-sm-10">
                            <!-- Candidate Info -->
                            <div class="candidateinfo">
                                <div class="userPic" style="background:#4A90E2"><img src="images/candidates/01.jpg"
                                        style="border-radius: 50%;" alt=""></div>
                                <div class="title" style="Color:white;">Harshali Choudhary <span
                                        style="margin-left:10px;"><a onclick="modal('basicdetails')" href="#."><i
                                                style="Color:white;" class="fa fa-pencil"></i></a></span></div>
                                <div class="desi" style="Color:white;">Software Developer</div>
                                <div class=" col-md-5 loctext" style="Color:white;padding-left: 0px !important;"><i
                                        style="Color:white;" class="fa fa-map-marker" aria-hidden="true"></i>
                                    Bhopal,India</div>
                                <div class=" col-md-4 loctext" style="Color:white;padding-left: 0px !important;"><i
                                        style="Color:white;" class="fa fa-phone" aria-hidden="true"></i> 9958795375
                                </div>
                                <div class=" col-md-1 loctext" style="Color:white;padding-left: 0px !important;"><i
                                        style="Color:white;" class="fa fa-check-circle" aria-hidden="true"></i></div>
                                <div class=" col-md-5 loctext" style="Color:white;padding-left: 0px !important;"><i
                                        style="Color:white;" class="fa fa-suitcase" aria-hidden="true"></i> 12 Years 4
                                    Months</div>
                                <div class=" col-md-4 loctext" style="Color:white;padding-left: 0px !important;"><i
                                        style="Color:white;" class="fa fa-envelope-o" aria-hidden="true"></i>
                                    abc@gmail.com</div>
                                <div class=" col-md-1 loctext" style="Color:white;padding-left: 0px !important;"><i
                                        style="Color:white;" class="fa fa-check-circle" aria-hidden="true"></i></div>
                                <div class=" col-md-5 loctext" style="Color:white;padding-left: 0px !important;"><i
                                        style="Color:white;" class="fa fa-money" aria-hidden="true"></i> 20 Lakhs</div>
                                <div class=" col-md-5 loctext cadsocial"
                                    style="Color:white;padding-left: 0px !important;"><a href="http://www.twitter.com/"
                                        target="_blank"><i style="Color:white;" class="fa fa-twitter-square"
                                            aria-hidden="true"></i></a> <a href="http://www.plus.google.com/"
                                        target="_blank"><i style="Color:white;" class="fa fa-google-plus-square"
                                            aria-hidden="true"></i></a> <a href="http://www.facebook.com/"
                                        target="_blank"> <i style="Color:white;" class="fa fa-facebook-square"
                                            aria-hidden="true"></i></a> <a href="https://www.pinterest.com/"
                                        target="_blank"><i style="Color:white;" class="fa fa-pinterest-square"
                                            aria-hidden="true"></i></a> <a href="https://www.linkedin.com/"
                                        target="_blank"><i style="Color:white;" class="fa fa-linkedin-square"
                                            aria-hidden="true"></i></a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Search Result and sidebar start -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- Side Bar start -->
                    <div class="sidebar fixedsidebar">
                        <!-- Jobs By Title -->
                        <div class="widget">
                            <h4 class="widget-title">Quick Links</h4>
                            <ul class="optionlist" style="margin-left: -29px;">
                                <li>
                                    Attach Resume<span><a href="/AttachResume">Update</a></span>
                                </li>
                                <li>
                                    Resume Headline
                                </li>
                                <li>
                                    Key Skills
                                </li>
                                <li>
                                    Employment<span><a href="/Employment">Add</a></span>
                                </li>
                                <li>
                                    Education<span><a href="/Education">Add</a></span>
                                </li>
                                <li>
                                    IT Skills
                                </li>
                                <li>
                                    Projects<span><a href="/Project">Add</a></span>
                                </li>
                                <li>
                                    Profile Summary
                                </li>
                                <li>
                                    Accomplishments
                                </li>
                                <li>
                                    Desired Career Profile
                                </li>
                                <li>
                                    Personal Details
                                </li>
                            </ul>
                            <!-- title end -->
                        </div> <!-- button end-->
                    </div>
                    <!-- Side Bar end -->
                </div>
                <div class="col-md-3 col-sm-6 pull-right">
                    <!-- Sponsord By -->
                    <div class="sidebar">
                        <h4 class="widget-title">Sponsord By</h4>
                        <div class="gad"><img src="images/employers/datamatics.gif" alt="Datamatic is hiring" /></div>
                        <div class="gad"><img src="images/employers/ion.gif" alt="ION is hiring" /></div>
                        <div class="gad"><img src="images/employers/netcracker-ns.gif" alt="Netcracker is hiring" />
                        </div>
                        <div class="gad"><img src="images/employers/epam-ns.gif" alt="EPAM is hiring" /></div>
                        <div class="gad"><img src="images/employers/tm-ns.gif" alt="TM is hiring" /></div>
                        <div class="gad"><img src="images/employers/virtusa.gif" alt="Virtusa is hiring" /></div>
                        <div class="gad"><img src="images/employers/datamatics.gif" alt="Datamatic is hiring" /></div>
                        \
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <!-- Search List -->
                    <ul class="searchList">
                        <!-- job start -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><span class="profileheading"> Attach Resume</span><span
                                            style="margin-left:10px;"><a onclick="modal('attachresume')" href="#"><i
                                                    class="fa fa-pencil"></i></a></span>
                                    </h4>
                                    <p class="profilesubheading">Resume is the most important document recruiters look
                                        for. Recruiters generally do not look at profiles without resumes.</p>
                                    <p class="profiledetail">Resume.docx-<span class="profilesubheading">Uploaded on 22
                                            april</span><i class="fa fa-download" aria-hidden="true"
                                            style="margin-left:270px;"></i></p>
                                    <div class="col-md-4">
                                        <div class="listbtn"><a href="#">Update&nbspResume</a></div>
                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="listbtn"><a href="#">Delete Resume</a></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </li>
                        <!-- job end -->
                        <!-- job start -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><span class="profileheading"> Resume Headline</span><span
                                            style="margin-left:10px;"><a onclick="modal('resumeheadline')" href="#"><i
                                                    class="fa fa-pencil"></i></a></span>
                                    </h4>
                                    <p class="profilesubheading">Job seeker with B.Tech/B.E. currently living in Bhopal
                                    </p>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </li>
                        <!-- job end -->
                        <!-- job start -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><span class="profileheading">Key Skill</span><span style="margin-left:10px;"><a
                                                onclick="modal('keyskill')" href="#."><i
                                                    class="fa fa-pencil"></i></a></span>
                                    </h4>
                                    <div>
                                        <div class="chip"> sql</div>
                                        <div class="chip"> html</div>
                                        <div class="chip"> css</div>
                                        <div class="chip"> javascript</div>
                                        <div class="chip"> asp.net</div>
                                        <div class="chip"> sql</div>
                                        <div class="chip"> html</div>
                                        <div class="chip"> css</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- job end -->
                        <!-- job start -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><span class="profileheading">Employment</span><span style="margin-left:10px;"><a
                                                onclick="modal('employement')" id="Employment" href="#"><i
                                                    class="fa fa-pencil"></i></a></span>
                                    </h4>
                                    <div class="col-md-12">
                                        <p class="profiledetail">Software Developer<span style="margin-left:10px;"><i
                                                    class="fa fa-pencil"></i></span></p>
                                        <p class="profilesubheading">upween india</p>
                                        <p class="profilesubheading">Sep 2018 to Present (7 months)</p>
                                        <p class="profilesubheading">Available to join in 2 Months</p>
                                        <p class="profilesubheading">experience of back-end data source through mid
                                            level services to front end user interfaces and Team management.</p>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="profiledetail">Software Developer<span style="margin-left:10px;"><i
                                                    class="fa fa-pencil"></i></span></p>
                                        <p class="profilesubheading">upween india</p>
                                        <p class="profilesubheading">Sep 2018 to Present (7 months)</p>
                                        <p class="profilesubheading">Available to join in 2 Months</p>
                                        <p class="profilesubheading">experience of back-end data source through mid
                                            level services to front end user interfaces and Team management.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </li>
                        <!-- job end -->
                        <!-- job start -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Education<span style="margin-left:10px;"><a onclick="modal('education')"
                                                href="#"><i class="fa fa-pencil"></i></a></span>
                                    </h4>
                                    <div class="col-md-12">
                                        <p class="profiledetail">B.Tech/B.E.-Electronics/Telecommunication<span
                                                style="margin-left:10px;"><i class="fa fa-pencil"></i></span></p>
                                        <p class="profilesubheading">rgpv-2017</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12">
                                        <p class="profiledetail">Madhya Pradesh-Hindi<span style="margin-left:10px;"><i
                                                    class="fa fa-pencil"></i></span></p>
                                        <p class="profilesubheading"> 12th -2014</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12">
                                        <p class="profiledetail">Madhya Pradesh-Hindi<span style="margin-left:10px;"><i
                                                    class="fa fa-pencil"></i></span></p>
                                        <p class="profilesubheading"> 12th -2014</p>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- job end -->
                        <!-- job start -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><span class="profiledetails">It Skills</span><span style="margin-left:10px;"><a
                                                onclick="modal('itskills')" href="#"><i
                                                    class="fa fa-pencil"></i></a></span>
                                    </h4>
                                    <div class="col-md-12">
                                        <table class="table">
                                            <tr class="profilesubheading">
                                                <th>Skills</th>
                                                <th>Version</th>
                                                <th>Last Used</th>
                                                <th>Experience</th>
                                            </tr>
                                            <div class="clearfix"></div>
                                            <tr>
                                                <td>MS SQL SERVER</td>
                                                <td>2008</td>
                                                <td>2019</td>
                                                <td>1 year</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </li>
                        <!-- job end -->
                        <!-- job start -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><span class="profileheading">Project</span><span style="margin-left:10px;"><a
                                                onclick="modal('Project')" href="#"><i
                                                    class="fa fa-pencil"></i></a></span> </h4>
                                    <div class="col-md-12">
                                        <p class="profiledetail">Add details about projects you have done in college,
                                            internship or at work.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </li>
                        <!-- job end -->
                        <!-- job start -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><span class="profileheading">Profile Summary</span><span
                                            style="margin-left:10px;"><a onclick="modal('profilesummary')" href="#"><i
                                                    class="fa fa-pencil"></i></a></span> </h4>
                                    <div class="col-md-12">
                                        <p class="profiledetail">An accomplished software engineer specializing in
                                            object-oriented design & analysis near about 1 years experience in the full
                                            life cycle of the software design process including requirement definition,
                                            design, interface implementation, reporting, testing & maintenance.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </li>
                        <!-- job end -->
                        <!-- job start -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><span class="profileheading">Driving License Details</span><span
                                            style="margin-left:10px;"><a onclick="modal('dld')" href="#"><i
                                                    class="fa fa-pencil"></i></a></span> </h4>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">License Number</p>
                                        <p class="profiledetail">8965888</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">License Type</p>
                                        <p class="profiledetail">HMV</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Date</p>
                                        <p class="profiledetail">03 sep 1996</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Valid Upto </p>
                                        <p class="profiledetail">03 sep 2015</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Authority</p>
                                        <p class="profiledetail">xyz</p>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- job end -->
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><span class="profileheading">Electric License Details</span><span
                                            style="margin-left:10px;"><a onclick="modal('eld')" href="#"><i
                                                    class="fa fa-pencil"></i></a></span> </h4>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">License Number</p>
                                        <p class="profiledetail">8965888</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">License Type</p>
                                        <p class="profiledetail">HMV</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Date</p>
                                        <p class="profiledetail">03 sep 1996</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Issuing Authority </p>
                                        <p class="profiledetail">abc</p>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <!-- job end -->

                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4> <span class="profileheading">Personal Details</span><span
                                            style="margin-left:10px;"><a onclick="modal('personaldetails')" href="#"><i
                                                    class="fa fa-pencil"></i></a></span></h4>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Date of Birth</p>
                                        <p class="profiledetail">03&nbspsep&nbsp1996 </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Permanent&nbspAddress</p>
                                        <p class="profiledetail">Bhopal</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Gender</p>
                                        <p class="profiledetail">Female </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Area&nbspPin&nbspCode</p>
                                        <p class="profiledetail">462021</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Marital Status</p>
                                        <p class="profiledetail">Unmarried </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Hometown</p>
                                        <p class="profiledetail">Chhindwara</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Passport&nbspNumber</p>
                                        <p class="profiledetail">0123456 </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Category</p>
                                        <p class="profiledetail">General</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Differently Abled</p>
                                        <p class="profiledetail">None</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="profilesubheading">Religion</p>
                                        <p class="profiledetail">None</p>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <table class="table">
                                        <tr class="profilesubheading">
                                            <th>Languages</th>
                                            <th>Proficiency</th>
                                            <th>Read</th>
                                            <th>Write</th>
                                            <th>Speak</th>
                                        </tr>
                                        <div class="clearfix"></div>
                                        <tr>
                                            <td>English</td>
                                            <td>Expert</td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </li>
                        <!-- job end -->

                    </ul>

                </div>
            </div>
        </div>


    </div>

    </div>

    <footer>
        <% include ../partials/Homefooter %>
    </footer>
    <div class="modal fade" id="myModal1" style="overflow: auto !important;" role="dialog" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" id="modalbody">
                    <div id="basicdetails" style="display:none"><% include basicdetails %></div>
                    <div id="attachresume" style="display:none"><% include AttachResume %></div>
                    <div id="resumeheadline" style="display:none"><% include ResumeHeadline %></div>
                    <div id="keyskill" style="display:none"><% include Skills %></div>
                    <div id="employement" style="display:none"><% include Employment %></div>
                    <div id="education" style="display:none"><% include Education %></div>
                    <div id="itskills" style="display:none"><% include ItSkills %></div>
                    <div id="Project" style="display:none"><% include Project %></div>
                    <div id="profilesummary" style="display:none"><% include ProfileSummry %></div>
                    <div id="dld" style="display:none"><% include DrivingLicenseDetails %></div>
                    <div id="eld" style="display:none"><% include ElectricLicenseDetails %></div>
                    <div id="personaldetails" style="display:none"><% include PersonalDetails %></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

     
    <script type="text/javascript">
        var fixmeTop = $('.fixedsidebar').offset().top;
        var fixmefooter = $('.footerWrap').offset().top; // get initial position of the element
        $(window).scroll(function () { // assign scroll event listener
            var currentScroll = $(window).scrollTop(); // get current position
            if (currentScroll >= fixmeTop && currentScroll <= fixmefooter - 580) { // apply position: fixed if you
                $('.fixedsidebar').css({ // scroll to that element or below it
                    position: 'fixed',
                    top: '5px',
                    width: '263px'
                });
            } else { // apply position: static
                $('.fixedsidebar').css({ // if you scroll above it
                    position: 'static'
                });
            }
        });
        function modal(Type) {
            $("#basicdetails").css('display', 'none');
            $("#attachresume").css('display', 'none');
            $("#resumeheadline").css('display', 'none');
            $("#keyskill").css('display', 'none');
            $("#employement").css('display', 'none');
            $("#education").css('display', 'none');
            $("#itskills").css('display', 'none');
            $("#profilesummary").css('display', 'none');
            $("#Project").css('display', 'none');
            $("#dld").css('display', 'none');
            $("#eld").css('display', 'none');
            $("#personaldetails").css('display', 'none');
            $("#" + Type).css('display', 'block');
            $('#myModal1').modal({ show: 'false' });
        }
    </script>
</body>

</html>