<div class="userccount">
  <div class="formpanel">

    <!-- Personal Information -->
    <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>
    <h5 style="font-size: 18px;"><span lang="en">Profile Summary</span></h5>
    <p style="text-align:left;"><span lang="en">Your Profile Summary should mention the highlights of your career and education, what your professional interests are, and what kind of a career you are looking for. Write a meaningful</span> </p>
    <div class="row">
      <div class="col-md-12">
        <div class="formrow">
          <textarea class="form-control" style="margin-top:12px;" rows="8" id="profilesummarytext"
            placeholder="Profile Summary" onkeypress="if(this.value.length>=1000) { return false;}"
            onfocusout="getvalidated('profilesummarytext','text','Profile Summary');"></textarea>
          <span id="validprofilesummarytext" style="font-size: 11px; color: #cc0033; "></span>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="formrow">
          <input type="submit" id="btnProfileSummary" class="btn" value="Submit">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>


  </div>
</div>