<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
<style>
    .listpgWraper{
             padding:30px;
    }
</style>
</head>
<header>
    <% include ../partials/Headerprofile %>
</header>

<body>


    <div class="listpgWraper">
        <div class="container" style="width: 100%;">
            <div class="row">
                <div class="col-md-3">
                    <ul class="searchList">
                        <!-- job start -->
                        <li name="exchange">
                            <div class="row">
                                <div class="col-md-12">
                                    <span style="font-size: smaller" lang="en"><span id="Exchange"></span>
                                    <!--    <div style="float: right;"><span style="font-weight: 700;">Registration No</span> :- <span id="RegId"></span></div>    -->
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="sidebar fixedsidebar" style="text-align:center;background-color:#263B68;">

                        <div class="candidateinfo" style="font-family: initial;">
                            <div class="userPic"><img src="" id="ProfilePic" style="border-radius: 50%; width: 70px;
                                height: 70px;" alt="">
                                <span style="position: absolute;">
                                    <a onclick="modal('image')" href="#">
                                        <i style="color:white;" class="fa fa-camera"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="title" style="color:white; font-size: 21px; font-weight: 600;margin-top: 15%;"
                                id="CandidateName"></div>
                            <div class="desi" style="color:white; font-size: 15px; margin-top: 10px;"
                                id="EmpDesignation"> </div>
                            <div class="row featchoose" style="text-align: left;margin-left: 12%;">
                                <div id="Location" class="loctext"
                                    style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 80%;color:white;line-height: 24px; margin-top: 8px;">
                                </div>
                                <div id="EmpExperience" class="loctext"
                                    style="color:white;line-height: 24px; margin-top: 8px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 80%;">
                                </div>
                               
                                <div id="MobileNo" class="loctext"
                                    style="color:white;line-height: 24px; margin-top: 8px;">
                                </div>
                                <div id="EmailId" class="loctext"
                                    style="color:white;line-height: 24px; margin-top: 5px;">
                                </div>
                            </div>
                            <div class="row featchoose" style="text-align: right;margin-right: 2%;">
                                <div class="title" id="EditProfile"><span><a style="color:white;"
                                            onclick="modal('basicdetails')" href="#"><span lang="en">Edit Profile</span></a></span></div>



                                <div class="title" style="margin-top: 4px;    font-size: 11px;"><span
                                        style="color:white;margin-top: 5%;" id="UpdateOn"></span></div>
                            </div>
                        </div>
                        <!-- title end -->
                   </div>
                   
                   <div class="sidebar fixedsidebar">
                    <div class="row">
                         <h6 style="margin-left: 21%;"><span lang="en">Completion Status</span></h6>
                       <div class="progress" style="margin-left: 25px;width: 85%;margin-top: 8%;">
                       <div id="progressbar"></div>
                      </div>
                 </div>
                  </div>
                  
                   
                </div>



                <!-- <div class="col-md-3 col-sm-6 pull-left">
                    <div class="sidebar fixedsidebar">
                      <div class="row">
                        <div class="progress" style="margin-left: 25px;width: 85%;margin-top: 8%;">
                         <div id="progressbar"></div>
                        </div>
                   </div>
                    </div>
                </div> -->

                    
                <div class="col-md-9">

                  

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="background-color: #f0efef;">
                        <li class="nav-item" style="margin-bottom: 1%;">
                            <a class="nav-link active" onclick="FillPersonalDetailSecured('parsedatasecuredpersonaldetails', 'personaldetail')" style="border: groove;" id="pills-Personal-tab" data-toggle="pill" href="#pills-Personal" role="tab" aria-controls="pills-Personal" aria-selected="true"><span lang="en">Personal Details 30%</span></a>
                          </li>
                        <li class="nav-item" style="margin-bottom: 1%;">
                          <a class="nav-link" onclick="educationAPI()" style="border: groove;" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false"><span lang="en">Education 20%</span></a>
                        </li>
                        <li class="nav-item" style="margin-bottom: 1%;">
                          <a class="nav-link" onclick="employementAPI()" style="border: groove;" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="false"><span lang="en">Experience Details </span></a>
                        </li>
                        <li class="nav-item" style="margin-bottom: 1%;">
                          <a class="nav-link" onclick="physicaldetailAPI()" style="border: groove;" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false"><span lang="en">Applying for Defence services 5%</span></a>
                        </li>

                        <li class="nav-item" style="margin-bottom: 1%;">
                          <a class="nav-link" onclick="languageAPI()" style="border: groove;" id="pills-7-tab" data-toggle="pill" href="#pills-7" role="tab" aria-controls="pills-7" aria-selected="false"><span lang="en">Language Details 5%</span></a>
                        </li>
                        <li class="nav-item" style="margin-bottom: 1%;">
                            <a class="nav-link" onclick="FillResumeHeadlineSecured('parsedatasecuredresumeheadline', 'detail');" style="border: groove;" id="pills-9-tab" data-toggle="pill" href="#pills-9" role="tab" aria-controls="pills-9" aria-selected="false"><span lang="en">Resume Headline 10%</span></a>
                          </li>

                          <li class="nav-item" style="margin-bottom: 1%;">
                            <a class="nav-link" onclick="certification()" style="border: groove;" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false"><span lang="en">Certification Under Government Scheme</span></a>
                          </li>
                        
                          
                          <li class="nav-item" style="margin-bottom: 1%;">
                            <a class="nav-link" onclick="FillResume('parsedatasecuredFillResume');" style="border: groove;" id="pills-12-tab" data-toggle="pill" href="#pills-12" role="tab" aria-controls="pills-12" aria-selected="false"><span lang="en">Attach Resume 5%</span></a>
                          </li>
                            <li class="nav-item" style="margin-bottom: 1%;">
                                <a class="nav-link" onclick="FillKeySkillSecured('parsedatasecuredkeyskill', 'keyskilldetail');FillSecuredSkills();" style="border: groove;" id="pills-4-tab" data-toggle="pill" href="#pills-4" role="tab" aria-controls="pills-4" aria-selected="false"><span lang="en">Key Skills 10%</span></a>
                              </li>

                    <!-- </ul>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-bottom: 30px;"> -->
                          <li class="nav-item" style="margin-bottom: 1%;">
                            <a class="nav-link" onclick="TypingStenoAPI()" style="border: groove;" id="pills-5-tab" data-toggle="pill" href="#pills-5" role="tab" aria-controls="pills-5" aria-selected="false"><span lang="en">Typing/Steno Details </span></a>
                          </li>
                          <li class="nav-item" style="margin-bottom: 1%;">
                            <a class="nav-link" onclick="FillIdentificationDetailSecured('parsedatasecuredidentificationdetails', 'identificationtable');" style="border: groove;" id="pills-6-tab" data-toggle="pill" href="#pills-6" role="tab" aria-controls="pills-6" aria-selected="false"><span lang="en">License Details</span></a>
                          </li>
                         
                         
                          
                          <li class="nav-item" style="margin-bottom: 1%;">
                            <a class="nav-link" onclick="itskillAPI()" style="border: groove;" id="pills-10-tab" data-toggle="pill" href="#pills-10" role="tab" aria-controls="pills-10" aria-selected="false"><span lang="en">Additional Skills</span></a>
                          </li>
                    <!-- </ul>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-bottom: 30px;">
                           -->
                          <li class="nav-item" style="margin-bottom: 1%;">
                            <a class="nav-link" onclick="FetchProfileSummary('parsedatasecuredFetchProfileSummary', 'Summarydetail');" style="border: groove;" id="pills-11-tab" data-toggle="pill" href="#pills-11" role="tab" aria-controls="pills-11" aria-selected="false"><span lang="en">Profile Summary</span></a>
                          </li>
                          <li class="nav-item" style="margin-bottom: 1%;">
                            <a class="nav-link" onclick="projectAPI()" style="border: groove;" id="pills-8-tab" data-toggle="pill" href="#pills-8" role="tab" aria-controls="pills-8" aria-selected="false"><span lang="en">Projects 5%</span></a>
                          </li>
                         
                      </ul>
                      <!-- <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                      </div> -->
                   
                    <ul class="searchList">

                     
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade" id="pills-Personal" role="tabpanel" aria-labelledby="pills-Personal-tab">
                                <li name="personaldetails">
                                    <div class="row" style="margin-left: -51px;">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <h4 style="font-size: 18px;margin-left: 19px"> <span  lang="en">Personal Details</span><a href="#personaldetails"
                                                        onclick="modal('personaldetails');personaldetailAPI();setTimeout(function(){ FillPersonalDetailSecured('parsedatasecuredpersonaldetails','personaldetail'); }, 1000);"><i class="fa fa-pencil"
                                                            style="padding-left: 12px;padding-right: 12px"></i></a><span
                                                        class="profilesubheading" id="personaldetailupdateon"></span></h4>
                                            </div>
                                        </div>
                                        <div id="personaldetail" style=" margin-left: 4%;">
        
        
                                        </div>
                                    </div>
                                </li>
                           
                           

                                
                        <li name="UploadTab" style="display:none; margin-top: -2%;" id="UploadTab">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 style="font-size: 18px;"><span lang="en">Uploads</span></h4>
                                    <div class="col-md-4" style="display:none" id="uploaddomiciledoc">
                                          <div class="listbtn" onclick="modal('domiciledocs')"><a  href="#UploadTab"><span lang="en">DOMICILE DOC</span></a></div>
                                      
                                       
                                          <% if (typeof file != 'undefined'){%>
                                            <% if(file.length > 0){ %>
                                            <% if(type == "domiciledocs"){ %>
                                            <a href="Domicile/<%=file%>" style="display: none;"><span class="profilesubheading" 
                                                    id="DomicileFileName"><%=file%></span>
    
                                            </a>
                                            <% }else { %>
                                                <a  download><span class="profilesubheading" id="DomicileFileName" style="display: none;"></span>
        
                                                </a>
                                                <% } %>
                                            <% } %>
                                            <% } else { %>
                                            <a  download><span class="profilesubheading" id="DomicileFileName" style="color: #263B68;display: none;" ></span>
    
                                            </a>
                                            <% } %>
                                       
                                
                                </div>
                                   
                                    <div class="col-md-4" style="display:none" id="uploadhandicapdoc" >
                                        <div class="listbtn" onclick="modal('Handicappeddoc')"><a  href="#UploadTab"><span lang="en">Differently Abled Doc</span></a></div>
                                              
                                        <% if (typeof file != 'undefined'){%>
                                            <% if(file.length > 0){ %>
                                            <% if(type == "Handicappeddoc"){ %>
                                            <a href="Handicappeddoc/<%=file%>" style="display: none;"><span class="profilesubheading" 
                                                    id="HandicappedFileName"><%=file%></span>
    
                                            </a>
                                            <% }else { %>
                                                <a  download><span class="profilesubheading" id="HandicappedFileName" style="display: none;"></span>
        
                                                </a>
                                                <% } %>
                                            <% } %>
                                            <% } else { %>
                                            <a  download><span class="profilesubheading" id="HandicappedFileName" style="color: #263B68;display: none;" ></span>
    
                                            </a>
                                            <% } %>
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </li>

                           
                            </div>


                            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                <li name="educationtab">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <h4 style="font-size: 18px;"><span lang="en">Education</span><span style="margin-left:10px;"><a id="addeducation"
                                                        href="#educationtab"><i class="fa fa-plus-circle"></i></a></span><span
                                                    class="profilesubheading" id="UpdateOn1" style="padding-left: 12px;"></span>
                                            </h4>
                                            <div class="table-responsive">
                              <table class="table">
                                                <tr class="profilesubheading">
                                                    <th><span lang="en">Qualification</span></th>
                                                    <th><span lang="en">Subject Group</span></th>
                                                    <th><span lang="en">University / Board</span></th>
                                                    <th><span lang="en">Division</span></th>
                                                    <th><span lang="en">Percentage</span></th>
                                                    <th><span lang="en">Passing Out Year</span></th>
                                                    <th><span lang="en">Modify</span></th>
                                                    <th><span lang="en">Delete</span></th>
                                                </tr>
                                                <div class="clearfix"></div>
                                                <tbody id="Education">
        
                                                </tbody>
                                            </table>
                                        </div>
        
                                            <!-- <div class="col-md-12" id="Education">
        
                                            </div> -->
                                            <div class="clearfix"></div>
        
                                        </div>
        
                                    </div>
                                </li>

                            </div>
                           
                            <div class="tab-pane fade" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                                <li name="employementtab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="font-size: 18px;"><span lang="en">Experience Details</span><a onclick="modal('employement')" id="Employment"
                                                    href="#employementtab"><i class="fa fa-plus-circle"
                                                        style="padding-left: 12px;padding-right: 12px"></i></a><span
                                                    class="profilesubheading" id="emphd"></span>
                                            </h4>
                                            <div class="col-md-12" id="employementdetail">
        
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
        
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                                <li name="physicalDetails">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="font-size: 18px;"> <span lang="en">Applying for Defence services</span>
                                                <a href="#physicalDetails"onclick="modal('physicalDetails')">
                                               <i class="fa fa-pencil"style="padding-left: 12px;padding-right: 12px"></i></a>
        
        
                                                <div class='col-md-12'
                                                    style='margin-left: 2%;margin-top: 1%;font-size: medium;'>
                                                    <a href="#physicalDetails" onclick="modal('physicalDetails')"><input
                                                            id="yes" type="radio" name="checkbox" value="Yes"></a> <span lang="en">Yes</span>
                                                    <input id="radiono" type="radio" name="checkbox" value="No"
                                                        style=" margin-left: 5%;" checked> <span lang="en">No</span>
        
                                                </div>
        
                                                
                                                <span class="profilesubheading" id="physicaldetailupdateon"></span>
                                            </h4>
                                        </div>
                                        <div id="physicaldetail" style="margin-left: 2%;">
        
        
                                        </div>
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                                <li name="certificationtab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="font-size: 18px;"><span lang="en">Certification Under Government Scheme</span><span style="margin-left:10px;"><a
                                                        onclick="modal('certification')" href="#certificationtab"><i
                                                            class="fa fa-plus-circle"></i></a></span><span
                                                    class="profilesubheading" id="upd" style="padding-left: 12px;"></span>
                                            </h4>
                                            <div class="table-responsive">
                                            <table class="table">
                                                <tr class="profilesubheading">
        
                                                    <th><span lang="en">Training Program</span></th>
                                                    <th><span lang="en">Centre</span></th>
                                                    <th><span lang="en">Scheme</span></th>
                                                    <th><span lang="en">Duration</span></th>
                                                    <th><span lang="en">Skill</span></th>
                                                    <th><span lang="en">Job Preference</span></th>
                                                    <th><span lang="en">Year</span></th>
                                                    <th><span lang="en">Modify</span></th>
                                                    <th><span lang="en">Delete</span></th>
                                                </tr>
                                                <div class="clearfix"></div>
                                                <tbody id="certificationtable">
        
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">
                                <li name="keyskillsname">
                                    <div class="row">
                                        <div class="col-md-12">
                                           
                                                <h4 style="font-size: 18px;"><span lang="en">Key Skills</span><a onclick="modal('keyskill')"><i class="fa fa-pencil"
                                                    style="padding-left: 12px;    padding-right: 12px"></i></a><span
                                                class="profilesubheading" id="keyskillupdateon"></span>
                                      </h4>
        
                                             <div class="col-md-12"id="keyskilldetail" style="margin-left: 2%;">
        
        
                                            </div> 
        
        
                                            
        
                                        </div>
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab">
                                <li name="Typingadd">
                                    <div class="row">
                                        <div class="col-md-12">
                                           
                                                <h4 style="font-size: 18px;"><span lang="en">Typing/Steno Details</span><a onclick="modal('Typing')" href="#Typingadd"><i
                                                    class="fa fa-plus-circle"
                                                    style="padding-left: 12px; padding-right: 12px"></i></a>
                                                        <span class="profilesubheading" id="Typingupdateon"></span></h4>
                                                        <div class="table-responsive">
                                                 <table class="table">
                                                <tr class="profilesubheading">
                                                    <th><span lang="en">Language</span></th>
                                                    <th><span lang="en">Type</span></th>
                                                    <th><span lang="en">Institute</span></th>
                                                    <th><span lang="en">Passed Year</span></th>
                                                    <th><span lang="en">Speed</span></th>
                                                    <th><span lang="en">Modify</span></th>
                                                    <th><span lang="en">Delete</span></th>
                                                </tr>
                                                <div class="clearfix"></div>
                                                <tbody id="Typingdetail">
        
                                                </tbody>
                                            </table>
                                                        </div>
        
                                        </div>
                                    </div>
        
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-6-tab">
                                <li name="identificationtab">
                                    <div class="row">
                                        <div class="col-md-12">
                                           
                                                <h4 style="font-size: 18px;"><span lang="en">License Details</span><a onclick="modal('dld')" href="#identificationtab"><i
                                                    class="fa fa-plus-circle"
                                                    style="padding-left: 12px;padding-right: 12px"></i></a>
        
        
                                                        <span class="profilesubheading" id="idhd"></span> </h4>
                                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr class="profilesubheading">
                                                    <th><span lang="en">Card Type</span></th>
                                                    <th><span lang="en">Card Number</span></th>
                                                    <th><span lang="en">License type</span></th>
                                                    <th><span lang="en">Issuing Date</span></th>
                                                    <th><span lang="en">Valid Upto</span></th>
                                                    <th><span lang="en">Issuing Authority</span></th>
                                                    <th><span lang="en">Modify</span></th>
                                                    <th><span lang="en">Delete</span></th>
                                                </tr>
                                                <div class="clearfix"></div>
                                                <tbody id="identificationtable">
        
                                                </tbody>
                                            </table>
                                                        </div>
                                        </div>
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-7" role="tabpanel" aria-labelledby="pills-7-tab">
                                <li name="languagetab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            
                                                <h4 style="font-size: 18px;"><span lang="en">Language Details</span><a onclick="modal('languagedetails')" href="#languagetab"><i
                                                    class="fa fa-plus-circle"
                                                    style="padding-left: 12px;padding-right: 12px"></i></a>
        
                                                <span  class="profilesubheading" id="languageUpDate"></span> </h4>
                                                <div class="table-responsive">
                                                <table class="table">
                                                <tr class="profilesubheading">
                                                    <th><span lang="en">Language</span></th>
                                                    <th><span lang="en"style="margin-left: 3px">Read</span></th>
                                                    <th><span lang="en">Write</span></th>
                                                    <th><span lang="en">Speak</span></th>
                                                    <th><span lang="en">Modify</span></th>
                                                    <th><span lang="en">Delete</span></th>
                                                </tr>
                                                <div class="clearfix"></div>
                                                <tbody id="languagetable">
        
                                                </tbody>
                                            </table>
                                                </div>
                                        </div>
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-8" role="tabpanel" aria-labelledby="pills-8-tab">
                                <li name="Projecttab">
                                    <div class="row">
                                        <div class="col-md-12">
                                           
                                                <h4 style="font-size: 18px;"><span lang="en">Projects</span>
                                                    <a onclick="modal('Project')" href="#Projecttab">
                                                        <i class="fa fa-plus-circle"
                                                            style="padding-left:12px;padding-right: 12px;"></i></a>
                                                    
                                                <span class="profilesubheading" id="ProjectUpdateON">
                                                </span>
                                            </h4>
                                            <div class="col-md-12" id="Projectdetail">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-9" role="tabpanel" aria-labelledby="pills-9-tab">
                                <li name="resumeheadlinetab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="font-size: 18px;"><span lang='en'> Resume Headline</span><a onclick="modal('resumeheadline')" id='resumeheadlineid'
                                                    href="#resumeheadlinetab"><i class='fa fa-pencil'
                                                        style="padding-left: 12px;padding-right: 12px"></i></a><span
                                                    class="profilesubheading" id="rsmhd"></span>
                                            </h4>
                                            
                                            <p class="profiledetail" style="word-break: break-word;padding-left: 15px;"
                                                id="detail"></p>
                                            <div class="clearfix"></div>
                                        </div>
        
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-10" role="tabpanel" aria-labelledby="pills-10-tab">
                                <li name="ProfileSkillstab">
                                    <div class="row">
                                        <div class="col-md-12">
                                
                                                <h4 style="font-size: 18px;"><span lang="en">Additional Skills</span>
                                                    <a onclick="modal('itskills')" href="#ProfileSkillstab">
                                                        <i class="fa fa-plus-circle"
                                                            style="padding-left:12px;padding-right: 12px;"></i></a>
                                                    <span class="profilesubheading" id="UpdateOnItskill">
                                                    </span>
                                                </h4>
        
                                               
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                <table class="table">
                                                    <tr class="profilesubheading">
                                                        <th><span lang="en">Skills</span></th>
                                                        <th><span lang="en">Version</span></th>
                                                        <th><span lang="en">Last Used</span></th>
                                                        <th><span lang="en">Experience</span></th>
                                                        <th><span lang="en">Modify</span></th>
                                                        <th><span lang="en">Delete</span></th>
                                                    </tr>
                                                    <div class="clearfix"></div>
                                                    <tbody id="ItSkillTable"> </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-11" role="tabpanel" aria-labelledby="pills-11-tab">
                                <li name="ProfileSummarytab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="font-size: 18px;"><span lang="en">Profile Summary</span>
                                                <a onclick="modal('profilesummary')" href="#ProfileSummarytab">
                                                    <i class="fa fa-pencil"
                                                        style="padding-left:12px;padding-right: 12px;"></i></a>
                                                <span class="profilesubheading" id="ProfileummaryUpdateON1">
                                                </span>
                                            </h4>
                                            <div class="col-md-12" id="Summarydetail" style="word-break: break-word">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                            </div>

                            <div class="tab-pane fade" id="pills-12" role="tabpanel" aria-labelledby="pills-12-tab">
                                <li name="attacheresumes">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="font-size: 18px;"> <span lang="en">Attach Resume</span>
                                               
                                                <!-- <button type="button" class="btn btn-info"  id="add" onclick="modal('attachresume')" href="#attacheresumes"  style="margin-left:756px;margin-top:-30px">ADD</button>
                                                     -->
        
        
                                                
                                                    <a onclick="modal('attachresume')" href="#attacheresumes">
                                                        <i class="fa fa-plus-circle"
                                                            style="padding-left:12px;padding-right: 12px;"></i></a>
                                                    <!-- <span class="profilesubheading" id="AttechResumeUpdate">
                                                    </span> -->
                                                </h4>
        
        
                                                <% if (typeof file != 'undefined'){%>
                                                <% if(file.length > 0){ %>
                                                <% if(type == "attachresume"){ %>
                                                <a href="CV/<%=file%>"><span class="profilesubheading"
                                                        id="AttechResumeUpdate"><%=file%></span>
        
                                                </a>
                                                <% }else { %>
                                                    <a id="filehref" download><span class="profilesubheading" id="AttechResumeUpdate"></span>
            
                                                    </a>
                                                    <% } %>
                                                <% } %>
                                                <% } else { %>
                                                <a id="filehref" download><span class="profilesubheading" id="AttechResumeUpdate" style="color: #263B68;"></span>
        
                                                </a>
                                                <% } %>
                                            </h4>
                                            
                                            <p class="profilesubheading"><span lang="en">Resume is the most important document recruiters look for. Recruiters generally do not look at profiles without resumes.</span></p>
                                            <a href="" +data1[0].Resume+"" target="blank">
                                                <p class="profiledetail" id="Resumefetch"> </p>
                                            </a>
                                            
        
                                            <!-- <div class="col-md-4">
                                                <div class="listbtn"><a href="#"
                                                        onclick="DeleteResume('parsedatasecuredDeleteResume');">Delete
                                                        Resume</a></div>
                                            </div> -->
                                            <div class="clearfix"></div>
                                        </div>
        
                                    </div>
                                </li>
                            </div>

                           
                          </div>

                      
                   
                          
                    </ul>
   

             
    
                </div>

                    </ul>


                </div>

            </div>
        </div>


    </div>
    <div id="facilities"><% include facilities %></div>
    <div class="modal fade" id="myModal1" style="overflow: auto !important;" role="dialog" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" id="modalbody">
                        <div id="languagedetails" style="display:none"><% include language %></div>
                    <div id="basicdetails" style="display:none"><% include basicdetails %></div>
                    <div id="attachresume" style="display:none"><% include AttachResume %></div>
                    <div id="resumeheadline" style="display:none"><% include ResumeHeadline %></div>
                    <div id="keyskill" style="display:none"><% include Skills %></div>
                    <div id="employement" style="display:none"><% include Employment %></div>
                    <div id="education" style="display:none"><% include Education %></div>
                    <div id="certification" style="display:none"><% include Certification %></div>
                    <div id="itskills" style="display:none"><% include ItSkills %></div>
                    <div id="Project" style="display:none"><% include Project %></div>
                    <div id="profilesummary" style="display:none"><% include ProfileSummry %></div>
                    <div id="dld" style="display:none"><% include IdentificationDetail %></div>
                    <div id="eld" style="display:none"><% include ElectricLicenseDetails %></div>
                    <div id="personaldetails" style="display:none"><% include PersonalDetails %></div>
                    <div id="physicalDetails" style="display:none"><% include PhysicalDetails %></div>
                    <div id="Typing" style="display:none"><% include TypingOrSteno %></div>
                    <div id="domiciledocs" style="display:none"><% include domiciledocsmodal %></div>
                    <div id="image" style="display:none"><% include ProfileImage %></div>  
                    <div id="Handicappeddoc" style="display:none"><% include HandicappeddocModal %></div> 
                  
                    
                </div>

            </div>
        </div>
    </div>




     
    <script src="../customjs/Keyskill.js"></script>
    <script src="../customjs/Profile_new.js"></script>
    <script src="../customjs/Education.js"></script>
    <script src="../customjs/PersonalDetails.js"></script>
    <script src="../customjs/ResumeHeadline.js"></script>
    <script src="../customjs/ProfileSummary.js"></script>
    <script src="../customjs/IdentificationDetail.js"></script>
    <script src="../customjs/Employement.js"></script>
    <script src="../customjs/ItSkills.js"></script>

    <script src="../customjs/Project.js"></script>
    <script src="../customjs/PhysicalDetail.js"></script>
    <script src="../customjs/Certification.js"></script>
    <script src="../customjs/Language.js"></script>
    <script src="../customjs/TypingOrSteno.js"></script>
    


    <script type="text/javascript">
                $('#profileimageaction').submit(function() {
            $(this).ajaxSubmit({
                error: function(xhr) {
                    toastr.warning(xhr.status, "", "info")
                },
                success: function(response) {
                    if (response == "Error No File Selected"){
                        toastr.warning(response, "", "info")
                    }
                    else if (response == "File Size Limit Exceeded"){
                        toastr.warning(response, "", "info")
                    }
                    else if (response == "Error: Image Only!"){
                        toastr.warning(response, "", "info")
                    }
                    else{
                        var str = response;
                        var res = str.split("!");
                        sessionStorage.setItem("PicFileName", res[1])
                        toastr.success(res[0], "", "success")
                        InsProfileImage();
                        callcloseme();
                        $('#myModal1').modal('toggle');
                        $('#ProfilePic').attr('src', "Pics/" + res[1]);
                        $('#homeimage').attr('src', "Pics/" + res[1]);
                    }
                }
            });
            return false;
         });
         $('#attachresumeaction').submit(function() {
            $(this).ajaxSubmit({
                error: function(xhr) {
                    toastr.warning(xhr.status, "", "info")
                },
                success: function(response) {
                    if (response == "Error No File Selected"){
                        toastr.warning(response, "", "info")
                    }
                    else if (response == "File Size Limit Exceeded"){
                        toastr.warning(response, "", "info")
                    }
                    else if (response == "Error: Document Only!"){
                        toastr.warning(response, "", "info")
                    }
                    else{
                        var str = response;
                        var res = str.split("!");
                        sessionStorage.setItem("CVFileName", res[1])
                        toastr.success(res[0], "", "success")
                        InsProfileResume();
                        callcloseme();
                        $('#myModal1').modal('toggle');
                    }
                }
            });
            return false;
         });
         $('#domiciledocsaction').submit(function() {
            $(this).ajaxSubmit({
                error: function(xhr) {
                    toastr.warning(xhr.status, "", "info")
                },
                success: function(response) {
                    if (response == "Error No File Selected"){
                        toastr.warning(response, "", "info")
                    }
                    else if (response == "File Size Limit Exceeded"){
                        toastr.warning(response, "", "info")
                    }
                    else if (response == "Error: Document Only!"){
                        toastr.warning(response, "", "info")
                    }
                    else{
                        var str = response;
                        var res = str.split("!");
                        sessionStorage.setItem("DomicileFileName", res[1])
                        toastr.success(res[0], "", "success")
                        InsDelDomicileDocs();
                        callcloseme();
                        $('#myModal1').modal('toggle');
                        
                    }
                }
            });
            return false;
         });
         $('#handicappeddocsaction').submit(function() {
            $(this).ajaxSubmit({
                error: function(xhr) {
                    toastr.warning(xhr.status, "", "info")
                },
                success: function(response) {
                    if (response == "Error No File Selected"){
                        toastr.warning(response, "", "info")
                    }
                    else if (response == "File Size Limit Exceeded"){
                        toastr.warning(response, "", "info")
                    }
                    else if (response == "Error: Document Only!"){
                        toastr.warning(response, "", "info")
                    }
                    else{
                        var str = response;
                        var res = str.split("!");
                        sessionStorage.setItem("HandicappedFileName", res[1])
                        toastr.success(res[0], "", "success")
                        UpdHandicappedDoc();
                        callcloseme();
                        $('#myModal1').modal('toggle');
                    }
                }
            });
            return false;
         });

        function modal(Type) {

            Cookies.set('modaltype', Type, { expires: 1, path: '/' });
            if (Type == "education") {
                sessionStorage.GraduationId = "0";
                resetModeEducation();
            }
            if(Type=='basicdetails'){
                FillProfileDetailForm('parsedatasecuredFillProfileDetailForm');
            }
            if(Type=="personaldetails"){
               
               FillPersonalDetailSecured('parsedatasecuredpersonaldetails','personaldetail');
           } 
           if (Type == "certification") {
                resetCertification();
                localStorage.CertificationId = "0";
                jQuery("#Prefrences").append(jQuery("<option ></option>").val("0").html("Select Job Prefrences"));
            jQuery("#Prefrences").val('0')
            }
            if (Type == "dld") {
                resetmodeIdedntification();
            }
            if (Type == "Project") {
                localStorage.ProjectId = "0";
                resetModeProject();
            }
            if (Type == "languagedetails") {
                localStorage.LanguageId = "0";
                resetLanguage();
            }
            if (Type == "Typing") {
                localStorage.TypingStenoId = "0";
                resetTyping();
            }
            if (Type == "employement") {
                localStorage.setItem("EmploymentId", '0')
                resetmodeEmployment();

                jQuery('#iscurrentcompany').on('change', function () {
                    if ($("#iscurrentcompany").val() == "1") {
                        $("#workingyr").hide();
                        $("#present").show();

                        $("#ntcperd").show();
                    }
                    else if ($("#iscurrentcompany").val() == "2") {
                        $("#workingyr").show();
                        $("#present").hide();

                        $("#ntcperd").hide();

                    }
                });
            }
            if (Type == "keyskill") {

                FillSecuredSkills();
                FillKeySkillSecured('parsedatasecuredkeyskill', 'keyskilldetail');
              

            }
            if (Type == "itskills") {
                localStorage.setItem("ITSkillId", "0")
                resetModeItSkill();
            }
            if(Type == "profilesummary"){
                FetchProfileSummary('parsedatasecuredFetchProfileSummary','Summarydetail');
            }
            if(Type=="resumeheadline"){
                FillResumeHeadlineSecured('parsedatasecuredresumeheadline','detail');
            }

            $("#basicdetails").css('display', 'none');
            $("#attachresume").css('display', 'none');
            $("#resumeheadline").css('display', 'none');
            $("#keyskill").css('display', 'none');
            $("#employement").css('display', 'none');
            $("#education").css('display', 'none');
            $("#certification").css('display', 'none');
            $("#itskills").css('display', 'none');
            $("#profilesummary").css('display', 'none');
            $("#Project").css('display', 'none');
            $("#dld").css('display', 'none');
            $("#eld").css('display', 'none');
            $("#personaldetails").css('display', 'none');
            $("#domiciledocs").css('display', 'none');
            $("#image").css('display', 'none');
            $("#physicalDetails").css('display', 'none');
            $("#languagedetails").css('display', 'none');
            $("#Typing").css('display', 'none');
            $("#Handicappeddoc").css('display', 'none');
            $("#" + Type).css('display', 'block');
            $('#myModal1').modal({ show: 'false' });
        }

        $(document).ready(function () {
           
            document.getElementById("attachresumeaction").action = "/Profilereg";
            document.getElementById("profileimageaction").action = "/Profilereg";
            document.getElementById("domiciledocsaction").action = "/Profilereg";
            document.getElementById("handicappeddocsaction").action = "/Profilereg";
            $('#ProfilePic').attr('src', "Pics/" + sessionStorage.getItem("PicFileName"));
            $('#homeimage').attr('src', "Pics/" + sessionStorage.getItem("PicFileName"));
            
            $('#pills-tab a[href="#pills-Personal"]').tab('show') ;

            if(sessionStorage.getItem("Facilities")!='Y'){
                $('#myModalfacilities').modal({ show: 'true' })
            }
            sessionStorage.setItem("Page","Reg");

           

         //   personaldetailAPI();
         //   employementAPI();
         FillPersonalDetailSecured('parsedatasecuredpersonaldetails','personaldetail');
         FillEmployementSecured('parsedatasecuredemployement', 'employementdetail');

        //FillJobPrefrences('parsedatasecuredFillJobPrefrences','Prefrences');
   //   jQuery("#Prefrences").val(jQuery("<option></option>").val("0").html(data1[i].FunctionalArea));
   ProfileStatus('parsedataProfileStatus','progressbar');   
    //  FillBlock('parsedatasecuredFillBlock','Block');
    //    FillExpInMonth('parsedatasecuredFillExpInMonth');
    //    Filllastused('parsedatasecuredFilllastused');
     //   FillSalaryinlacs('parsedatasecuredFillSalaryinlacs');
    //    FillStartedworkinginmonth('parsedatasecuredFillStartedworkinginmonth');
    //        Fillstartedworkinginyear('parsedatasecuredFillstartedworkinginyear');
    //        Fillworkinyear('parsedatasecuredworkinyear','20');
     //       FillProjectTillYear('parsedatasecuredFillProjectTillYear','20');
    //        FillIscurrentcompany('parsedatasecuredFillIscurrentcompany','iscurrentcompany');
    //        FillNCCcertificate('parsedatasecuredFillNCCcertificate','NCCcertificate');
    //        FillSportcertificate('parsedatasecuredFillSportcertificate','sportcertificate');
    //       FillSportname('parsedatasecuredFillSportname','sportname');
    //        FillEyesight('parsedatasecuredFillEyesight','Eyesight');
     //       FillTSInstitute('parsedatasecuredFillTSInstitute','Institute');
     //       FillTSType('parsedatasecuredFillTSType','type');
    //        FillTSLanguage('parsedatasecuredFillTSLanguage','language');
    //        FillLanguage('parsedatasecuredFillLanguage','Language');
    //        FillArea('parsedatasecuredFillArea','Area');
    //        FillDisablityPriority('parsedatasecuredFillDisablityPriority','DisablityPriority');
    //        FillHCsubCategory('parsedatasecuredFillHCsubCategory','HandicappedSubCategory');
     //       FillHCCategory('parsedatasecuredFillHCCategory','DisabilityDetail');
    //        FillResident('parsedatasecuredFillResident','resident');
    //        FillEmploymentstatus('parsedatasecuredFillEmploymentstatus','Proficiency');
    //        FillAreaOfInterest('parsedatasecuredFillAreaOfInterest','AreaOfInterest');
    //        FillNationality('parsedatasecuredFillNationality','nationality');
    //        FillReligion('parsedatasecuredFillReligion','Religion');
    //        FillCategory('parsedatasecuredFillCategory','Category');
    //        FillBloodGroup('parsedatasecuredFillBloodGroup','BloodGroup');
    //        FillMaritalstatus('parsedatasecuredFillMaritalstatus','Marital');
    //        FillSkillSet('parsedatasecuredFillSkillSet','Skill');
         //   jQuery("#Skill").append(jQuery("<option></option>").val(data[0][0].ESID).html(data[0][0].Description));
            
    //        FillDuration('parsedatasecuredFillDuration','duration');
    //        FillDivision('parsedatasecuredFillDivision','Division');
    //        FillYear('parsedatasecuredFillYear', 'certificationyear');
            FillImage('parsedatasecuredFillImage');
            // FillResumeSecured('parsedatasecuredresume','Resumefetch');               
     //       FillPassingYear('parsedatasecuredFillPassingYear', 'passYear');
         //   FillYear('parsedatasecuredFillYear', 'certificationyear');
           // FetchTyping('parsedatasecuredFetchTyping', 'Typingdetail');
           // FetchLanguage('parsedatasecuredFetchLanguage', 'languagetable');
           // FetchPhysicalDetail('parsedatasecuredFetchPhysicalDetail', 'physicaldetail');
     //       FillProjectYear('parsedatasecuredFillProjectYear', 'workingfromyear');
    //        FillProjectMonth('parsedatasecuredFillProjectMonth', 'workingfrommonth');
          //  FillProjectDetail('parsedatasecuredFillProjectDetail', 'Projectdetail');
            //FillEducationCV('parsedatasecuredFillEducationCV');
            //FillWorkExperience('parsedatasecuredFillWorkExperience');
            // FillCVTemplate('parsedatasecuredFillCVTemplate');
     //       FillEducation('parsedatasecuredFillEducation', 'ExamPassed');
     //       Filluniversity('parsedatasecuredFilluniversity', 'university');
     //       FillPassingOutYear('parsedatasecuredFillPassingOutYear', 'PassingOutYear');
    //        FillCourseType('parsedatasecuredFillCourseType', 'CourseType');
            //  FillGradingsystem();
            // FillGradingsystem('parsedatasecuredFillGradingsystem', 'GradingSystem');
     //       FillAutoCompleteSkill('parsedatasecuredFillAutoCompleteSkill', 'ITSkills');
          //  fillFetchItSkill('parsedatasecuredfillFetchItSkill', 'ItSkillTable');
            FillProfileDetail('parsedatasecuredFillProfileDetail');
          //  fillFetchEducation('parsedatasecuredfillFetchEducation', 'Education');
          //  FetchProfileSummary('parsedatasecuredFetchProfileSummary', 'Summarydetail');
          //  FillIdentificationDetailSecured('parsedatasecuredidentificationdetails', 'identificationtable');
      //      FillDesignationSecured('parsedatasecureddesignation');
      //      FillEmployementSecured('parsedatasecuredemployement', 'employementdetail');
        //    FillPersonalDetailSecured('parsedatasecuredpersonaldetails', 'personaldetail');
          //  FillResumeHeadlineSecured('parsedatasecuredresumeheadline', 'detail');
         //   FillSecuredSkills();
          //  FillKeySkillSecured('parsedatasecuredkeyskill', 'keyskilldetail');
        //    FillProjectCourse('parsedatasecuredFillProjectCourse', 'EmployementOREdu');
         //   FillCertificationSecured('parsedatasecuredcertification', 'certificationtable');
         //   FillResume('parsedatasecuredFillResume');
           
            jQuery('#DistrictArea').hide();
            jQuery('#TownArea').hide();
            jQuery('#BlockArea').hide();
            jQuery('#PanchayatArea').hide();
            jQuery('#VillageArea').hide();
            //InsUpdPhysicalDetail();
            $(function () {
                $(".datepicker").datepicker();
            });
            jQuery('#prjtStatus').on('change', function () {
                if ($("#prjtStatus").val() == "1") {
                    //$("#workingfromyear").show();
                    //$("#workingfrommonth").show();
                    $("#tillpresent").show();
                    $("#tillyear").hide();
                    $("#tillmonth").hide();
                }
                else {
                    $("#tillpresent").hide();
                    // $("#workingfromyear").show();
                    // $("#workingfrommonth").show();
                    $("#tillyear").show();
                    $("#tillmonth").show();
                }
            });
            jQuery('#differentlyabled').on('change', function () {
                if ($("#differentlyabled" ).val() == "Handicap") {
                    $("#DisabilityType").show(); 
                    $("#DisablityPrio").show();
                    $("#DisabilityDetail").val("0")
                    $("#HandicappedSubCategory").val("0")
                    $("#DisablityPriority").val("0")
                    $("#UploadTab").show()
                    $("#uploadhandicapdoc").show()
                }
                else {
                    $("#DisabilityType").hide();
                    $("#DisablityPrio").hide();
                    $("#DisabilityDetail").val("0")
                    $("#HandicappedSubCategory").val("0")
                    $("#DisablityPriority").val("0")
                    
                    $("#uploadhandicapdoc").hide()
                }
            });

          


            jQuery('#Area').on('change', function () {
                if ($("#Area").val() == "1") {
                    
                    $("#BlockArea").hide();
                    $("#PanchayatArea").hide();
                    
                    
                    $("#BlockArea").val("0")
                    $("#PanchayatArea").val("0")
                   

                }
                else if ($("#Area").val() == "2") {
                    $("#BlockArea").show();
                    $("#PanchayatArea").show();
                    
                    $("#BlockArea").val("0")
                    $("#PanchayatArea").val("0")
                    
                    
                }
                else if ($("#Area").val() == "0") {
                    $("#BlockArea").hide();
                    $("#PanchayatArea").hide();
                   
                    $("#BlockArea").val("0")
                    $("#PanchayatArea").val("0")
                    
                    
                }
            });

        });

      
       
                  


        jQuery('#ExamPassed').on('change', function () {
                if ($("#ExamPassed" ).val() == "24") {
                    $("#Specialization1").show(); 
                    $("#EduSubject").show();
                    $("#EduSubject").val("0")
                  //  $("#course1").hide();
                    $("#CourseType1").hide();
                    $("#University1").hide();
                    $("#PassingOutYear1").hide();
                    $("#GradingSystem1").hide();
                    $("#Percentage1").hide();
                    $("#Division1").hide();
                }
                else if ($("#ExamPassed" ).val() == "23") {
                    $("#Specialization1").show();
                    $("#EduSubject").show();
                    $("#EduSubject").val("0")
                  //  $("#course1").hide();
                    $("#CourseType1").hide();
                    $("#University1").hide();
                    $("#PassingOutYear1").hide();
                    $("#GradingSystem1").hide();
                    $("#Percentage1").hide();
                    $("#Division1").hide();
                }
                else  {
                    $("#Specialization1").show();
                    $("#EduSubject").show();
                    $("#EduSubject").val("0")
                  //  $("#course1").hide();
                    $("#CourseType1").show();
                    $("#University1").show();
                    $("#PassingOutYear1").show();
                    $("#GradingSystem1").show();
                    $("#Percentage1").show();
                    $("#Division1").show();
                }
            });

            jQuery('#resident').on('change', function () {
            
            getvalidated('resident','select','Domicile')
      
        if ($("#resident" ).val() == "2") {
           
            $("#uploaddomiciledoc").hide()
        }
       else if ($("#resident" ).val() =="1") {
        $("#UploadTab").show()
        $("#uploaddomiciledoc").show()
        }
    });
 

            if ($(this).attr('id') == 'yes') {
                modal('physicalDetails');
        }
        else if ($(this).attr('id') == 'radiono') {
            $('#myModal1').modal('toggle');
        }

        $("#projectsubmit").click(function () {
            CheckValidationproject();
            //  information();
        });
        $("#btnProfileSummary").click(function () {
            CheckProfileSummary();
        });
        $("#btnSubmit").click(function () {
            CheckValidation();
        });
        $("#btnresumeheadline").click(function () {
            CheckResumeHeadline();
        });
        $("#Submitbasicdetails").click(function () {
            CheckValidation();
        });
        $("#subItSkill").click(function () {
            CheckSkill();
        });

        function callme(type) {
            sessionStorage.setItem("OpenModal", type);
            sessionStorage.setItem("Facilities",'Y');
            if (type == 'Image') {
                

            }
        }
        function callcloseme() {
            sessionStorage.setItem("OpenModal", "")
        }
    </script>


</body>

</html>