<div class="userccount">
  <div class="formpanel">

    <!-- Personal Information -->
    <button type="button" class="close" data-dismiss="modal" id="Close"
      style="margin-top: -10px;font-size: xx-large;">×</button>

    <h5 style="font-size:18px"><span lang="en">Add Project</span></h5>
    <div class="row">
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Project Title</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <input type="text" class="form-control" style="height:49px" name="ProjectTitle" onkeypress="if (this.value.length >= 100) { return false; };"
            onfocusout=" getvalidated('ProjectTitle','text','Project Title')" id="ProjectTitle"
            placeholder="Enter Project Title">
          <span id="validProjectTitle" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Employement/Education</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" onfocusout="getvalidated('EmployementOREdu','select','Emp/Education')"
            style="height:49px;" id="EmployementOREdu">
          </select>
          <span id="validEmployementOREdu" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Client Name</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <input type="text" class="form-control" onfocusout="getvalidated('Clientname','text','Client Name')"
            style="height:49px" id="Clientname" placeholder="Enter Client Name" onkeypress="if (this.value.length >= 30) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
              event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }"
            onpaste="return (event.charCode > 64 && 
           event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8)|| (event.keyCode ==32)"">
            <span id="validClientname" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Project Status</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select class="form-control" style="height:49px;" id="prjtStatus"
            onfocusout=" getvalidated('prjtStatus','select','Project Status')">
            <option value="0"> Select Project Status </option>
            <option value="1">In Process</option>
            <option value="2">Finished</option>
          </select>
          <span id="validprjtStatus" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Working From Year</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select type="text" style="height:49px" id="workingfromyear" onchange="CheckProjectWorkingYear()"
            onfocusout="getvalidated('workingfromyear','select','Work From in Year');" class="form-control"
            placeholder="Enter Working From Year">
          </select>
          <span id="validworkingfromyear" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow forvalidation">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Working From Month</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select type="text" style="height:49px" onfocusout="getvalidated('workingfrommonth','select','Work From in Month');" id="workingfrommonth" class="form-control "
            placeholder="Enter Working From Month">

          </select>
          <span id="validworkingfrommonth" style="font-size: 11px; color: #cc0033; "></span>

        </div>
      </div>
      <div class="col-md-6" id="tillpresent" style="display:none">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
          <span lang="en">Work Till</span>
          </label>
          <input type="text" style="background-color: white;" name="Designation" id="presentproject"
            value="Work Till-Present" class="form-control " placeholder="" readonly>

        </div>
      </div>
      <div class="col-md-6 forvalidation" id="tillyear">
        <div class="formrow forvalidation">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Work Till Year</span>&nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select type="text" style="height:49px" id="workedtillyear" onfocusout="getvalidated('workedtillyear','select','Work Till in Year');" class="form-control"
            placeholder="Enter Worked Till Year">
          </select>
          <span id="validworkedtillyear" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
      <div class="col-md-6 forvalidation" id="tillmonth">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Worked Till Month</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <select type="text" style="height:49px" id="workedtillmonth" onfocusout="getvalidated('workedtillmonth','select','Work Till in Month');" class="form-control"
            placeholder="Enter Worked Till Month">

          </select>
          <span id="validworkedtillmonth" style="font-size: 11px; color: #cc0033; "></span>



        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
          <span lang="en">Comments</span> &nbsp<span class="asterisk_input label-icon"></span>
          </label>
          <textarea rows="6" class="form-control" style=" word-wrap: break-word; " name="comments" id="comments"
            onfocusout="getvalidated('comments','text','Comment')" placeholder="Details of Project"></textarea>
          <span id="validcomments" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>
    </div>
    <br />
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="formrow">
          <input type="submit" id="projectsubmit" class="btn" value="Submit">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

  </div>
</div>