<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/Homeheader %>
  </header>
  <div class="searchwrap">
    <div class="container">
      <div class="paypackages" style="margin-top: -230px; margin-left:-42px">
        <div class="three-plan">
          <div class="container">

            <ul class="row" style="margin-top:15px; height:0px">
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;   font-size: 14px;">
                    <a href="/jobs" target="_blank" class="applybtn" style="color:black;"> All Recruiters</a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="/JobsbyCompany" class="applybtn" target="_blank" style="color:black;">Recruiters by
                      Company</a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="/Jobbycategory" class="applybtn" target="_blank" style="color:black;">Recruiters by
                      Category </a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="/jobbylocation" class="applybtn" target="_blank" style="color:black;"> Recruiters by
                      Location</a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="/jobsbydesignations" class="applybtn" target="_blank" style="color:black;"> Recruiters by
                      Designation </a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white; font-size: 14px;">
                    <a href="/Jobbyskills" class="applybtn" target="_blank" style="color:black;"> Recruiters by Skills
                    </a>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="searchbar row">
        <div class="col-md-5">
            <input type="text" class="form-control skillsearch" placeholder="Enter Skills or job title" />
        </div>
        <div class="col-md-3">
          <select class="form-control" id="ddlCategory">
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-control" id="ddlcity">
          </select>
        </div>
        <div class="col-md-2">
          <input type="submit" class="btn" value="Search Job">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="listpgWraper">
    <div class="container">
      <!-- Blog start -->
      <div class="row">
        <div class="col-md-8">
          <!-- Blog List start -->
          <div class="blogWraper">
            <ul class="blogGrid row">
              <!-- Blog Box -->
              <li class="col-md-6 col-sm-6">
                <div class="int">
                  <div class="post-header">
                    <h4><a href="#.">Duis ultricies aliquet mauris</a></h4>
                    <div class="postmeta">By : <span>Jhon Doe </span> Category : <a href="#.">Job Search </a></div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu nulla eget nisl dapibus finibus.
                    Maecenas quis sem vel neque rhoncus dignissim. Ut et eros rhoncus...</p>
                  <a href="#." class="readmore">Read More</a>
                </div>
              </li>
              <!-- Blog Box -->
              <li class="col-md-6 col-sm-6">
                <div class="int">
                  <div class="post-header">
                    <h4><a href="#.">Duis ultricies aliquet mauris</a></h4>
                    <div class="postmeta">By : <span>Jhon Doe </span> Category : <a href="#.">Job Search </a></div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu nulla eget nisl dapibus finibus.
                    Maecenas quis sem vel neque rhoncus dignissim. Ut et eros rhoncus...</p>
                  <a href="#." class="readmore">Read More</a>
                </div>
              </li>
              <!-- Blog Box -->
              <li class="col-md-6 col-sm-6">
                <div class="int">
                  <div class="post-header">
                    <h4><a href="#.">Duis ultricies aliquet mauris</a></h4>
                    <div class="postmeta">By : <span>Jhon Doe </span> Category : <a href="#.">Job Search </a></div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu nulla eget nisl dapibus finibus.
                    Maecenas quis sem vel neque rhoncus dignissim. Ut et eros rhoncus...</p>
                  <a href="#." class="readmore">Read More</a>
                </div>
              </li>
              <!-- Blog Box -->
              <li class="col-md-6 col-sm-6">
                <div class="int">
                  <div class="post-header">
                    <h4><a href="#.">Duis ultricies aliquet mauris</a></h4>
                    <div class="postmeta">By : <span>Jhon Doe </span> Category : <a href="#.">Job Search </a></div>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu nulla eget nisl dapibus finibus.
                    Maecenas quis sem vel neque rhoncus dignissim. Ut et eros rhoncus...</p>
                  <a href="#." class="readmore">Read More</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Side Bar -->
          <div class="sidebar">
            <!-- Search -->
            <div class="widget">
              <h5 class="widget-title">Most Active Recruiters</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/Homefooter %>
  </footer>
   
  <script>
      $(document).ready(function () {
       
        FillSecuredSkills();
        FillCategorySecured('parsedatasecuredcategory', 'ddlCategory');
        FillcitySecured('parsedatasecuredcity', 'ddlcity');
       
      });
      </script>