<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/newheader %>
    </header>
    <div class="container">
        <div class="row" style>
            <div class="col-md-3 col-sm-12">
            </div>

            <div class="col-md-6 col-sm-12">



                <div class="userccount"
                    style="box-shadow:5px 10px 8px 8px #888888;margin-top:12%;    margin-bottom: 12%;    background: aliceblue; ">
                    <div class="">

          
                        <div class="formpanel">

                            <h5 style="text-align:center;" id="successusername">

                            </h5>
                            <br />
                            <div class="col-md-12">
                                <div class="formrow">
                                       <p style="color: green;font-weight: 600;">
                                        Your Login ID & Password has been created successfully !!!                                       </h6>
                                </p>
                                    </div>
                             
                           </div>
                          <div class="col-md-12">
                            <div class="formrow">
                          <p style="color: green;">
                            Please complete your profile to generate your Registration Number
                          </p>
                           
                            </div>          
                      </div>

                               
                                 
                            </p>
                          
                            <br />


                         
                            <br />
                            <div style="    margin-left: 40%;">
                                   <input type="submit" onclick="Back()" style="display: none;" class="btn"  value="Back To Home" Id="Back">
                                 
                           
                                 <a href="Profilereg" onclick='localStorage.setItem("Page","reg");''><input type="submit" style="width: 34%;"  class="btn"  value="Next"></a>
                        </div>
                        

                        </div>
                        <!-- login form  end-->


                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-12">
            </div>
        </div>
    </div>
   
     
    <script src="../customjs/SuccessRegistration.js"></script>
    <script>
        $(document).ready(function () {
            $("#successusername").text('Hello' + ' ' + sessionStorage.getItem('CandidateName') + ' !');
        
        });
    </script>
</body>

</html>