<div class="userccount">
   <div class="formpanel">
      <!-- Personal Information -->
      <button type="button" class="close" id="Close" data-dismiss="modal" style="margin-top: -10px;font-size: xx-large;">×</button>
      <h5><span lang="en">Resume Headline</span></h5>
      <p style="text-align:left;"><span lang="en"> It is the first thing recruiters notice in your profile. Write concisely what makes you unique and right person for the job you are looking for.</span></p>
      <div class="row">
         <div class="col-md-12">
            <div class="formrow">
               <textarea class="form-control" onkeypress="if(this.value.length>=1000) { return false;}"
                  style="height: 110px;" id="resumehealdline" name="detail" placeholder="Detail" onfocusout="getvalidated('resumehealdline','text','Detail');"></textarea>
               
               <span id="validresumehealdline" style="font-size: 11px; color: #cc0033; "></span>
               </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
           <div class="formrow">
            <input type="submit" id="btnresumeheadline" class="btn" value="Submit">
           </div>
         </div>
         <div class="col-md-2"></div>
       </div>
   </div>
</div>