<!DOCTYPE html>
<html>

<head>



	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css"
		href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
	<link href="/css/resume.css" rel="stylesheet">
</head>


<body>

	<div id="doc2" class="yui-t7">
		<div id="inner">


			<div id="hd">
				<div class="yui-gc">

					<div class="yui-u first">
						<h1>Harshali Choudhary </h1>
						<h2>Software Developer</h2>
					</div>

					<div class="yui-u">
						<div class="contact-info">
							<h3><a id="pdf" href="#">Download PDF</a></h3>
							<h3><a href=""></a></h3>
							<h3>8717912796</h3>
						</div>
						<!--// .contact-info -->
					</div>
				</div>
				<!--// .yui-gc -->
			</div>
			<!--// hd -->

			<div id="bd">
				<div id="yui-main">
					<div class="yui-b">

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Profile</h2>
							</div>
							<div class="yui-u">
								<p class="enlarge">
									An accomplished software engineer specializing in object-oriented design & analysis
									near about 1.5 years experience in the full life cycle of the software design
									process including requirement definition, design, interface implementation,
									reporting, testing & maintenance.
								</p>
							</div>
						</div>
						<!--// .yui-gf -->

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Skills</h2>
							</div>
							<div class="yui-u">

								<div class="talent">
									<h2 style="font-size:14px;">Web Design</h2>
								</div>
								<div class="talent">
									<h2 style="font-size:14px;">Interface Design</h2>
								</div>
							</div>
						</div>
						<!--// .yui-gf -->

						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Technical</h2>
							</div>
							<div class="yui-u">
								<ul class="talent">
									<li>HTML</li>
									<li>CSS</li>
									<li class="last">Javascript</li>
								</ul>

								<ul class="talent">
									<li>Jquery</li>
									<li>Asp.net</li>
									<li class="last">sql</li>
								</ul>
							</div>
						</div>
						<!--// .yui-gf-->

						<div class="yui-gf">

							<div class="yui-u first">
								<h2>Experience</h2>
							</div>
							<!--// .yui-u -->

							<div class="yui-u">
								<h2>Upween India</h2>
								<h3>Software Developer</h3>
								<h4>2018-2019</h4>
								<p> 1.5+ years In IT Company. Strong experience of back-end data source through mid
									level services to front end user interfaces and Team management. </p>
							</div>
							<!--// .yui-u -->
						</div>
						<!--// .yui-gf -->
						<div class="yui-gf">
							<div class="yui-u first">
								<h2>Education</h2>
							</div>
							<div class="yui-u">
								<div class="job">
									<h2>RGPV,Bhopal(2017)</h2>
									<h3>B.Tech/B.E.-Electronics/Telecommunication&mdash; <strong>7.5 GPA</strong> </h3>
								</div>
							</div>
							<div class="yui-u">
								<div class="job">
									<h2>Madhya Pradesh Board(2014)</h2>
									<h3>12th&mdash; <strong>75%</strong> </h3>
								</div>
							</div>
							<div class="yui-u">
								<h2>Madhya Pradesh Board(2012)</h2>
								<h3>10th&mdash; <strong>7.5%</strong> </h3>
							</div>
						</div>
						<!--// .yui-gf -->
						<div class="yui-gf last">
							<div class="yui-u first">
								<h2> License </h2>
							</div>
							<div class="yui-u">
								<h2>Electric License Details</h2>
								</br>
								<div class="yui-u">
									<ul class="talent">
										<li>License Number</li>
										<li>License Type</li>
										<li>Valid Upto</li>
										<li class="last">Issuing Authority</li>
									</ul>

									<ul class="talent">
										<li>8965888</li>
										<li>HMV</li>
										<li>03 sep 2015</li>
										<li class="last">xyz</li>
									</ul>
								</div>
							</div>
							</br>
							</br>
							<div class="yui-u" style="margin-top:9px;">
								<h2>Electric License Details</h2>
								<br>
								<div class="yui-u">
									<ul class="talent">
										<li>License Number</li>
										<li>License Type</li>
										<li>Date</li>
										<li class="last">Issuing Authority</li>
									</ul>

									<ul class="talent">
										<li>8965888</li>
										<li>HMV</li>
										<li>03 sep 1996</li>
										<li class="last">abc</li>
									</ul>
								</div>
							</div>
						</div>
						<!--// .yui-gf -->

					</div>
					<!--// .yui-b -->
				</div>
				<!--// yui-main -->
			</div>
			<!--// bd -->

			<div id="ft">
				<p>Harshali Choudhary &mdash; <a
						href="mailto:harshalichoudhary@gmail.com">harshalichoudhary@gmail.com</a> &mdash;8717912796</p>
			</div>
			<!--// footer -->

		</div><!-- // inner -->


		<h3 style="margin-left:86%;"><a id="pdf" href="/Profile_new"><span>Back</span></a></h3>

	</div>
	<!--// doc -->

</body>

</html>