<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body >

    <header>
        <% include ../partials/Homeheader %>
    </header>


    <div class="listpgWraper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">


                    <div class="userccount"
                        style="background: #4a90e25c;margin-top: 27px; width: 95%;margin-left: 29px;">
                        <div class="">
                           
                            <div class="jobint">
                                <div class="row">
                                    <h5 style="font-size:16px; color:black; text-align:left;"><a href="https://moneyexcel.com/20738/small-business-ideas">Other Ideas</a></h5>
        
        
                                    <div class="body" >
                                        <ul class="categories" style="    font-size: 98%;" >
                                            <li class='col-md-6 col-sm-6'>Children Play/Adventure Area
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Pregnant lady Exercise class
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Tea/Coffee Café
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Custom Gift Store
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Antique Business
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Game Organizer at Event
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Hot Air Balloon/Boat Ride Services
                                            </li>
                                            <li class='col-md-6 col-sm-6'>DJ Services
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Chat bot services
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Interior Designer
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Dance Coaching
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Music Tutoring
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Unique Seasonal Ice Creams
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Hair Business
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Ethnic Food Service
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Funeral Services
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Doula Services
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Organic Farming
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Tuition Class
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Tailor
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Tiffin Services
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Cooking Class
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Yoga Class
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Spoken English Coaching Class
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Party planner
                                            </li>
                                            <li class='col-md-6 col-sm-6'>Fitness Traine
                                            </li>
                                            
                                        </ul>
        
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="col-md-6" style="margin-left:-30px">


                    <div class="userccount" style="box-shadow:5px 10px 8px 8px #888888;height: 502px">

                        <h5 style="font-size:20px;">Different Self Employemnt Schemesby MP and Central Government
                        </h5>
                        <ul class="categories" style="    font-size: 98%;" >
                        <li> <a href="https://www.profitableventure.com/best-after-school-business-ideas/">40 Best After School Business ideas & Opportunities for 2019</a>
                        </li></br>
                        <li> <a href="https://www.profitableventure.com/business-ideas-for-graduates/">50 Best Small Business ideas for Graduates in 2019</a>
                                </li></br>
                                <li><a href="https://www.news18.com/news/indiwo/work-and-career-9-schemes-for-women-entrepreneurs-in-india-1522125.html"> 9 Schemes For Women Entrepreneurs In India</a>
                                        </li></br>
                                        <li> <a href="https://www.aicte-india.org/sites/default/files/Samriddhi%20%28EC%29%20-%20revamped.pdf"> SAMRIDDHI – SCHEME FOR SC/ST STUDENTS FOR SETTING
                                                        START-UPS</a>
                                                    </li></br>
                                                    <li><a href="http://www.yogiyojana.in/mp-berojgari-bhatta-yojana-online-apply/">
                                                                http://www.yogiyojana.in/mp-berojgari-bhatta-yojana-online-apply/</a>
                                                            </li></br>
                                                            <li><a href="https://www.india.gov.in/people-groups/life-cycle/senior-citizens/self-employment-schemes">
                                                                        https://www.india.gov.in/people-groups/life-cycle/senior-citizens/self-employment-schemes</a>
                                                                    </li></br>
                                                                    <li> <a href="https://www.indiafilings.com/learn/cm-self-employment-scheme-cmegp/">
                                                                                https://www.indiafilings.com/learn/cm-self-employment-scheme-cmegp/</a>
                                                                            </li></br>
                                                                            <li><a href="http://planningcommission.nic.in/reports/sereport/ser/maker/mak_cht2a.pdf">
                                                                                        http://planningcommission.nic.in/reports/sereport/ser/maker/mak_cht2a.pdf</a>
                                                                                </li></br>
                                                                                <li><a href="https://inc42.com/startup-101/startup-scheme-indian-government-startups/">
                                                                                                https://inc42.com/startup-101/startup-scheme-indian-government-startups/</a>
                                                                                        </li></br>

</ul>

                    </div>




                </div>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <% include ../partials/Homefooter %>
    </footer>
     



    <script type="text/javascript">


        $(document).ready(function () {


         
            FillState();
            

        });
    </script>

</body>

</html>