<div class="modal fade" id="myModalPreference" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">

<div class="userccount" style="padding: 5px 20px !important">
        <div class="formpanel">
          <button type="button" class="close" data-dismiss="modal" id="Close" style="margin-top: -10px;font-size: xx-large;">×</button>
           <h5>Set Job Preference of All Area</h5>
           आप अधिकतम 3 Preference Set कर सकते हैं।
           <br />
           <br />
           <div class="row">
              <div class="col-md-12">
                    <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Area</th>
                                <th scope="col"> Competencies Acquired</th>
                                <th scope="col"> Subject Group</th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                        <tbody id="setpreferencetable"></tbody>
                          </table>
              </div>
           </div>
           <br />
           <div class="row">
                 <div class="col-md-4"></div>
                 <div class="col-md-8">
                   <div class="formrow">
                     <input type="submit" style="width: 60%;"  onclick="CheckPreference()" class="btn" value="Submit">
                   </div>
                 </div>
                 <div class="col-md-2"></div>
               </div>
        </div>
     </div>
    </div>
</div>

</div>
</div>
  <script type="text/javascript" src="/customjs/Education.js"></script>
  <script type="text/javascript">

    $(document).ready(function () {
      fillFetchEducation('parsedatasecuredfillFetchEducation','Education');
      FillSetPreference();
    });
    </script>