<div class="userccount" style="padding: 5px 20px !important">
   <div class="formpanel">
     <button type="button" class="close" data-dismiss="modal" id="Close" style="margin-top: -10px;font-size: xx-large;">×</button>
      <h5 style="font-size: 18px;"><span lang="en">Key Skills</span></h5>
      <p style="text-align: left;">
         <span lang="en">Tell recruiters what you know or what you are known for e.g. Direct Marketing, Oracle, Java etc. We will send you job recommendations based on these skills.</span>
      </p>
      <br />
      <br />
      <div class="row">
         <div class="col-md-12">
            <div class="formrow">

               <p style="text-align:left;"><span lang="en">Key Skills<span style="color: red;">*</span></span></p>
               <input type="text" class="demo-default" id="SkillName" onkeypress='onlyNumbers(event)' onfocusout="getvalidated('SkillName-selectized','text','Skill')" style="padding-left:3px;height:50px !important"  placeholder="Enter Skills or job title"  />
               <span id="validSkillName" style="padding:6px;font-size: 11px; color: #cc0033; "></span>
              
            </div>
         </div>
      </div>
      <br />
      <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="formrow">
                <input type="submit" onclick="CheckKeySkill()" class="btn" value="Submit">
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
   </div>
</div>