<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/newheader %>
    </header>
    <div class="container">
        <div class="row" style>
            <div class="col-md-3 col-sm-12">
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="userccount"  style="box-shadow:5px 10px 8px 8px #888888;margin-top:12%;height: 434px; ">
                    <div class="socialLogin">
                        <h5><span lang="en">Validate OTP (One Time Passcode)</span></h5>
                     </div>
                    <div class="formpanel">
                        <h6 style="text-align:center;" id="successusername"></h6>
                        <br />
                        <div class="col-md-12">
                            <div class="formrow">
                                <p id="otpsendmsg"></p> 
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="formrow">
                                <p>Please enter OTP below to verify your email and number</p> 
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="formrow">
                                <input type="text" class="form-control" id="checkemailotp" placeholder="Enter Email OTP"
                                    maxlength="4" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))"></input>
                                <span id="validcheckemailotp" style="font-size: 11px; color: #cc0033; "></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="formrow">
                                <input type="text" class="form-control" id="checkmobileotp"
                                    placeholder="Enter Mobile OTP" maxlength="4"
                                    onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))"></input>
                                <span id="validcheckmobileotp" style="font-size: 11px; color: #cc0033; "></span>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-4"><input type="submit" class="btn" value="Verify" Id="Next"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><input type="submit"  class="btn" onclick="  sendemailjs(sessionStorage.emailOTP, sessionStorage.emailval);sendmsg(sessionStorage.mobileOTP, sessionStorage.mobileval);" value="Resend OTP"></div>
                        </div>
                    </div>
                    <!-- login form  end-->


                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-12">
        </div>
    </div>

     
    <script src="../customjs/SuccessRegistration.js"></script>
    <script>
        $(document).ready(function () {
            $(document).off('ajaxStart').on('ajaxStart', function(){
                $.blockUI({ message: '<img src="images/loading.gif" style="width:50px;height:50px" />' });
            } );
            $(document).off('ajaxStop').on('ajaxStop', function(){
                $.unblockUI();
            });
          
            $("#successusername").text('Hello' + ' ' + sessionStorage.getItem('CandidateName') + ' !');
            $("#otpsendmsg").text("A OTP (One Time Passcode) has been sent to your email ("+sessionStorage.emailval+")  and mobile number ("+sessionStorage.mobileval+")")
             $('#checkemailotp').val(sessionStorage.emailOTP);
             $('#checkmobileotp').val(sessionStorage.mobileOTP);
        //     if(isCaptchaValidated){
        //  setTimeout(function(){
        //         sendemailjs(sessionStorage.emailOTP, sessionStorage.emailval);
        //     }, 500);
            
        //   sendmsg(sessionStorage.mobileOTP, sessionStorage.mobileval);
        //     }
         
            
           
        });
    </script>
</body>

</html>