<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>


    <style>
       
.oval {
  height: 75px;
  width: 255px;
  background-color: #669aa2;
  border-radius: 50%;
}
.heading
            {
                line-height: 85px;
                color: black;
                margin-left: 25px;
                font-size: 17px;
                font-weight: 500;
            }



        .sidepanel a:hover {
            color: #f1f1f1;
        }

        .sidepanel .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
        }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

        .openbtn:hover {
            background-color: #444;
        }
        .input-group{
  position: relative;
}
.input-group::after{
  content: '*';
  position: absolute;
  top: 3px;
  left: 46px;
  color: #f00
}



    #shiva
            {
              width: 100px;
                height: 100px;
                background: red;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                border-radius: 50px;
              float:left;
              margin:5px;
            }
            .count
            {
              line-height: 100px;
              color:white;
              margin-left:30px;
              font-size:25px;
            }
            #talkbubble {
               width: 120px;
               height: 80px;
               background: red;
               position: relative;
               -moz-border-radius:    10px;
               -webkit-border-radius: 10px;
               border-radius:         10px;
              float:left;
              margin:20px;
            }
            #talkbubble:before {
               content:"";
               position: absolute;
               right: 100%;
               top: 26px;
               width: 0;
               height: 0;
               border-top: 13px solid transparent;
               border-right: 26px solid red;
               border-bottom: 13px solid transparent;
            }
            
            .linker
            {
              font-size : 20px;
            }
            </style>

    
</head>


<body>

    <header>
        <% include ../partials/header %>
    </header>







    <div class="searchwrap">

        <div class="container">
            <div class="paypackages" style="margin-top: -230px; margin-left:-42px">
                <div class="three-plan">
                    <div class="container" style="margin-left: 2%">
                        <ul class="row" style="margin-top:15px; height:0px">
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;   font-size: 14px;">
                                        <a href="#" target="_blank" class="applybtn" style="color:black;"> Skill
                                            Development Centers</a>
                                    </div>
                                </div>
                            </li>


                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;font-size: 14px;">
                                        <a href="#" class="applybtn" target="_blank" style="color:black;"> Recruiters
                                        </a>
                                    </div>

                                </div>
                            </li>

                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;font-size: 14px;">
                                        <a href="#" class="applybtn" target="_blank" style="color:black;"> Key Account
                                            Manager </a>
                                    </div>

                                </div>
                            </li>

                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;font-size: 14px;">
                                        <a href="#" class="applybtn" target="_blank" style="color:black;"> Companies
                                        </a>
                                    </div>

                                </div>
                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white; font-size: 14px;">
                                        <a href="#" class="applybtn" target="_blank" style="color:black;"> Reporting &
                                            Dashboard </a>
                                    </div>

                                </div>
                            </li>
                            <li class="col-md-2 col-sm-6 col-xs-12">
                                <div class="boxes">
                                    <div class="pricing-table1" style="background: white;font-size: 14px;">
                                        <a href="https://rojgar-employer.herokuapp.com/" class="applybtn" target="_blank"
                                            style="color:black;"> Employer Zone</a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-left: 18%;">

                <div class="col-md-3 col-sm-6">

                    <div class="sidebar" style="border: aliceblue;">
                        <div class="formpanel">
                            <h7 style="color: black; margin-left: 30%;font-size: large;">Job Seeker</h7>
                            <a class="btn" href="/JobSeekerRegistration" value="RegisterNow">Register Now</a>
                            </br>
                            </br>
                            <h7 style="color: peru; margin-left: 35%;">-----Or-----</h7>
                            <a value="RegisterNow" style=" margin-left: 22%; font-size: large; color: cadetblue;">Upload
                                Resume</a>
                        </div>

                    </div>


                </div>
                <div class="col-md-3 col-sm-6" style=" margin-left: 7%;">

                    <div class="sidebar" style="border: aliceblue;">
                        <div class="formpanel">
                            <h7 style="color: black; margin-left: 24%;">
                                <p class="cjaText">Get best matched Jobs on your Email.<span>No Registration
                                        needed</span></p>
                            </h7>
                            </br>
                            </br>
                            <h7 style="color: peru; margin-left: 35%;">-----Or-----</h7>
                            <a value="RegisterNow" style=" margin-left: 10%; font-size: large; color: cadetblue;"
                                href=""> CREATE JOB ALERT</a>
                        </div>

                    </div>
                </div>



            </div>

        </div>



        <div class="searchbar row" style="margin-left: 3%;">

            <div class="col-md-5">

                <select class="form-control js-example-placeholder-multiple" name="skills[]" id="skills"
                    multiple="multiple">

                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="ddlCategory">

                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" id="ddlcity">

                </select>
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn" value="Search Job">
            </div>
        </div>
        <!-- button start -->
        <!-- button end -->

   </div>
   







    <div class="searchwrap" style="margin-top: 10%;">

        
        
        <div class="container">
           
                

            <div class="col-md-12">
                   
                    <div class="col-md-3 ">
                            <div class="sidebar" style="height: 168px;height: 190px;">

                                <img src="paris.jpg" alt="Paris" style="width:190px">



                             </div>
                        </div>

                <div class="col-md-3 col-sm-6">

                    <div class="sidebar" style="border: aliceblue;">
                        <div class="formpanel" style="margin-top: 5%;">
                            <a href="http://182.70.254.93:400/">
                                <h7 style="color: black; margin-left: 80%;font-size: large;">Employer</h7>
                            </a>
                            <a class="btn" href="/JobSeekerRegistration" value="RegisterNow">Register / Login</a>
                            </br>
                            </br>
                            <h7 style="color: peru; margin-left: 35%;">-----Or-----</h7>
                            <a value="RegisterNow" style=" margin-left: 30%; font-size: large; color: cadetblue;">Post a
                                Job</a>
                        </div>

                    </div>


                </div>

               
                <div class="col-md-3 col-sm-6">

                    <div class="sidebar" style="border: aliceblue;">
                        <div class="formpanel">
                            <h7 style="color: black; margin-left: 30%;font-size: large;">Job Seeker</h7>
                            <a class="btn" href="/JobSeekerRegistration" value="RegisterNow">Register Now</a>
                            </br>
                            </br>
                            <h7 style="color: peru; margin-left: 35%;">-----Or-----</h7>
                            <a value="RegisterNow" style=" margin-left: 22%; font-size: large; color: cadetblue;">Upload
                                Resume</a>
                        </div>

                    </div>


                </div>

                <div class="col-md-3 ">
                        <div class="sidebar" style="height: 168px;height: 190px;">
                            <h6 style="color:#00b1f1;">  <span lang="en">For Employer</span></h6>
                            <br>
                            <ul class="categories">
                                <li><a target="_blank" href="https://www.ncs.gov.in/employer/Pages/default.aspx"><span lang="en">Employer Login Here</span></a></li>
                                <li><a a="" target="_blank" href="/pdf/Employer.pdf"><span lang="en">National Career Service For Employer</span></a></li>
                             
    
                            </ul>
    
                        </div>
                    </div>

            </div>



            <div class="searchbar row" style="margin-left: 3%;">

                <div class="col-md-5">

                    <select class="form-control js-example-placeholder-multiple" name="skills[]" id="skills"
                        multiple="multiple">

                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="ddlCategory">

                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="ddlcity">

                    </select>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn" value="Search Job">
                </div>
            </div>
            <!-- button start -->
            <!-- button end -->

        </div>
    </div>
    <div class="row">
            <div class="col-md-2 col-sm-12">
                </div>
        <div class="col-md-8 col-sm-12">
            <div class="userbtns custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" onclick=FillJobsByLocation() href="#Location">Job by Location</a></li>
                    <li><a data-toggle="tab" onclick=FillJobsByDesignation() href="#Designation">Job by Designation </a></li>
                    <li><a data-toggle="tab" onclick=FillJobByDepartment() href="#Department">Job by Department</a></li>

                </ul>
            </div>
            <div class="tab-content">
                <div id="Location" class="formpanel tab-pane fade in active">

                    <div class="jobint">
                        <div class="row">



                            <div class="body" style="margin-left:8%">
                                <ul class="row catelist" style="margin-left:8%" id="JobsByLocation">

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
                <div id="Designation" class="formpanel tab-pane fade in active">

                        <div class="jobint">
                            <div class="row">
    
    
    
                                <div class="body" style="margin-left:8%">
                                    <ul class="row catelist" style="margin-left:8%" id="JobsByDesignation">
    
                                    </ul>
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div id="Department" class="formpanel tab-pane fade in active">

                            <div class="jobint">
                                <div class="row">
        
        
        
                                    <div class="body" style="margin-left:8%">
                                        <ul class="row catelist" style="margin-left:8%" id="JobByDepartment">
        
                                        </ul>
        
                                    </div>
                                </div>
                            </div>
        
                        </div>
            </div>
            
            <form class="m-form m-form--fit m-form--label-align-right">
      
                    <div class="form-group m-form__group row">
                       <div class="col-md-6">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Email<span class="asterisk_input label-icon"></span>
                        </label>
                        <div class="col-10">
                            <input type="email"  class="form-mcontrol m-input" onfocusout="mailcheck()" type="email" placeholder="Email"   id="example-email-input">

                            


 </div>
                    </div>
                    </div>
                             
        <div class="col-md-10 col-sm-12">

                <div class="form-group m-form__group row">
                        <div class="col-md-6">
                         <label for="example-email-input" class="col-2 col-form-label">
                             state Name<span class="asterisk_input label-icon"></span>
                         </label>
                         <div class="col-10">
                             <select class="form-mcontrol m-input" type="text" placeholder=" Name" id="state">
                             </select>
                         </div>
                     </div>
                     </div>


                     <div class="form-group m-form__group row">
                            <div class="col-md-6">
                             <label for="example-email-input" class="col-2 col-form-label">
                                 City<span class="asterisk_input label-icon"></span>
                             </label>
                             <div class="col-10">
                                 <select class="form-mcontrol m-input" type="email" placeholder="Password" id="City">
                                     </select>
                             </div>
                         </div>
                         </div>



                         <div class="form-group m-form__group row">
                                <div class="col-md-6">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                        industry Name<span class="asterisk_input label-icon"></span>
                                 </label>
                                 <div class="col-10">
                                     <select class="form-mcontrol m-input" type="email" placeholder="Password" id="industry">
                                         </select>
                                 </div>
                             </div>
                             </div>

                             
                         <div class="form-group m-form__group row">
                            <div class="col-md-6">
                             <label for="example-email-input" class="col-2 col-form-label">
                                    First Name
                             </label>
                             <div class="col-6">
                                 <input class="form-mcontrol m-input" type="email" placeholder="Name" id="FirstName">
                                
                                  
                             </div>

                             
                         </div>
                         <div class="col-md-6">
                            <label for="example-email-input" class="col-2 col-form-label">
                                   Last Name
                            </label>
                            <div class="col-6">
                                <input class="form-mcontrol m-input" type="email" placeholder="Name" id="LastName">
                               
                                 
                            </div>

                        </div>  
                        </div>
                        <div class="form-group m-form__group row">
                        <div class="col-md-6">
                            <label for="example-email-input" class="col-2 col-form-label">
                                  Address
                            </label>
                            <div class="col-6">
                                <input class="form-mcontrol m-input" type="email" placeholder="Address" id="Address">
                               
                                 
                            </div>

                            
                        </div>
                        <div class="col-md-6">
                            <label for="example-email-input" class="col-2 col-form-label">
                                   Mob.no
                            </label>
                            <div class="col-6">
                                <input type = "number"maxlength="10"onkeypress="if (this.value.length >=10){return false;};" class="form-mcontrol m-input" type="email" placeholder="Mob.no" id="Mobno">
                        


                                 
                            </div>

                        </div>

                       
                        </div>
                        
                        <div class="form-group m-form__group row">
                            <div class="col-lg-5"></div>
                        <div class="col-lg-5">
                            <button type="button" id="btnSubmit"onclick ="CheckMail();   class="btn btn-success" onclick="InsUpdUserInfo()" style="background-color:#716aca;border-color:#716aca;">
                               Submit 
                            </button>
                            
                           
                        </div>
                    </div>

                    <div class="form-group m-form__group row" style="    overflow: auto; ">
                        <div class="col-lg-12">
                            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                <thead>
                                    <tr id="">
                                <td>S.No</td>
                              <td>NAME</td>
                              <td>ADDRESS</td>
                              <td>MOB.No</td>
                              
                              
                                    </tr>
                                </thead>
                                <tbody id="tbodyvalue">
                                    
                                </tbody>
                            </table>
                              </div>
                    </div>

                    <div class="form-group m-form__group row" style="    overflow: auto; ">
                            <div class="col-lg-12">
                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" id="tableglobal">
                                    <thead>
                                        <tr id="">
                                    <td>S.No</td>
                                  <td>NAME</td>
                                  <td>ADDRESS</td>
                                  <td>MOB.No</td>
                                  

                                  <td>DESIGNATION</td>
                                  <td>AGE</td>
                                  <td>DELETE</td>
                                  
                                        </tr>





                                        
                                    </thead>

                                    <tbody id="tbodyvalue2">
                                        




                                        
                                    </tbody>
                                </table>
                                  </div>
                        </div>





            </div>
            

    </div>
    <div id="shiva"><span class="count">200</span></div>
    <div id="shiva"><span class="count">1000</span></div>
    <div id="shiva"><span class="count">853</span></div>
    <div id="shiva"><span class="count">154</span></div>


   









     

     
    <script src="/js/smtp.js"></script>
    
  <script src="../customjs/Test2.js"></script>

    <script>

function mailcheck(){

    var Mail;
Mail = jQuery('#E-Mail').val();

var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

if (reg.test(Mail) == false) {
$(window).scrollTop(0);
toastr.warning("Please Enter Correct E-MailId", "", "info");
jQuery('#E-Mail').css('border-color', 'red');
return true;
}
else {
jQuery('#E-Mail').css('border-color', '');
}
}



        $(document).ready(function () {
            sentSmsGlobal('9755377626','Hello Testing sonali');
            
        });
        function sendmsg(Msg,Mobile){
  var body ="Use  "+Msg+" as OTP. OTP valid for 10 mins. Don't share with anyone...MY MP Rojgar"
    
  var settings = {
  "async": true,
  "crossDomain": true,
  "url":serverpath +'sendsms?'+Mobile+'&'+body+'',
  "method": "GET",
  "headers": {
  "content-type": "application",
  "Access-Control-Allow-Origin": "*"
  },
 // "data": "<MESSAGE> <AUTHKEY>264840AT4bfsGwDs5c74e909</AUTHKEY> <SENDER>Rojgar</SENDER><CAMPAIGN>MPRojgar</CAMPAIGN> <COUNTRY>+91</COUNTRY> <SMS TEXT=\""+body+"\" > <ADDRESS TO=\""+Mobile+"\"></ADDRESS></SMS> </MESSAGE>"
  }
  $.ajax(settings).done(function (response) {
 
  });
  }
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
        function FillJobsByLocation() {
            jQuery.ajax({
                url: serverpath + "city8/0/0",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += "<li class='col-md-6 col-sm-6'><a style='color: #999'>" + data[0][i].CityName + "</a></li>"
                    }
                    $('#JobsByLocation').html(appenddata);

                },
                error: function (result) {
                }
            });
        }
        function FillJobsByDesignation() {
            jQuery.ajax({
                url: serverpath + "designationJob/0/0",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += "<li class='col-md-6 col-sm-6'><a style='color: #999'>" + data[0][i].DesignationName + "</a></li>"
                    }

                    $('#JobsByDesignation').html(appenddata);

                },
                error: function (result) {
                    
                }
            });
        }
        function FillJobByDepartment() {
            jQuery.ajax({
                url: serverpath + "departmentJob/0/0",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                success: function (data) {
                    var appenddata = "";
                    for (var i = 0; i < data[0].length; i++) {
                        appenddata += "<li class='col-md-6 col-sm-6'><a style='color: #999'>" + data[0][i].DepartmentName + "</a></li>"
                    }

                    $('#JobByDepartment').html(appenddata);

                },
                error: function (result) {
                }
            });
        }
   


    </script>
