<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>


</head>

<body onload="createCaptchaKnow()">
  <header>
    <% include ../partials/Homeheader %>
  </header>
  <!-- Page Title start -->
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading">Transfer</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span>Transfer</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->
  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel">

              <!-- Personal Information -->
              <h5 style="text-align:center">Job Seeker Registration Transfer System</h5>
         
              <div class="row">
                  <div id="checkboxList">
                      <div class="col-md-6">
                            <ul class="row featchoose" style="text-align: left">
                                <li>Registration Number</li>
                                
                                <li> Father's/Husband Name </li>
                                <li>Date of Birth</li>
                                <li> Renewal Date </li>
                                <li> Gender</li>
                                <li> Category</li>
                                <li> Transfer To</li>
                                 
                              </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="row featchoose" style="text-align: left" id="candidatedetail">
                           
                          </ul>
                          <ul class="row featchoose" style="text-align: left">
                            <li>  <select class="form-control" id="district" name="Salary In Thousand" onfocusout="getvalidated('district','select','Exchange District');" >
                                       

                              </select><span id="validdistrict" style="font-size: 11px; color: #cc0033; "></span></li>
                              
                          </ul>
                        </div>
                        
                      </div>    
              </div>
              <div id="tranfrm">
              <!--Captcha Start-->
              <div class="row">
                  <div class="col-md-6">
                      <div class="formrow">
                            <label for="example-email-input" class="col-2 col-form-label">
                                   Area
                            </label>
                            <div class="formrow">
                                  <select class="form-control" id="Area" name="Area" >
                                    
                                      <option value="0">Select Area</option>
                                    <option value="1">Urban</option>
                                    <option value="2">Rural</option>
                                  </select>
                                  <span id="validArea" style="font-size: 11px; color: #cc0033; "></span>
                      </div>
                      </div>
                
                </div>
                <div class="col-md-6">
                    <div class="formrow">
                          <label for="example-email-input" class="col-2 col-form-label">
                                 Division
                          </label>
                          <div class="formrow">
                                <select class="form-control" id="Division" name="District" style="height:46px;" onfocusout="getvalidated('Division','select','Division');">
                                   </select>
                                   <span id="validDivision" style="font-size: 11px; color: #cc0033; "></span>
                    </div>
                    </div>
              
              </div>
                  <div class="col-md-6">
                        <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                     District
                              </label>
                              <div class="formrow">
                                    <select class="form-control" id="district1" name="District" style="height:46px;" onfocusout="getvalidated('district1','select','district');">
                                       </select>
                                       <span id="validdistrict1" style="font-size: 11px; color: #cc0033; "></span>
                        </div>
                        </div>
                  
                  </div>
                  <div class="col-md-6">
                      <div class="formrow"  id="city">
                            <label for="example-email-input" class="col-2 col-form-label">
                                   City
                            </label>
                            <div class="formrow">
                                  <select class="form-control" id="citynam" name="City" style="height:46px;"  onfocusout="getvalidated('citynam','select','City Name');">
                                     </select>
                                     <span id="validcitynam" style="font-size: 11px; color: #cc0033; "></span>
                      </div>
                      </div>
                </div>

                <div class="col-md-6">
                  <div class="formrow"  id="city">
                        <label for="example-email-input" class="col-2 col-form-label">
                          Village
                        </label>
                        <div class="formrow">
                              <select class="form-control" id="Village" name="City" style="height:46px;"  onfocusout="getvalidated('Village','select','Village Name');" >
                                 </select>
                                 <span id="validVillage" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                  </div>
            </div>

               
              <div class="col-md-6">
                  <div class="formrow">
                        <label for="example-email-input" class="col-2 col-form-label">
                               Pin Code
                        </label>
                        <div class="formrow">
                            <input type="text" id="Pincode" class="form-control" placeholder=" Pin Code" onfocusout="getvalidated('Pincode','text','Pincode');">
                            <span id="validPincode" style="font-size: 11px; color: #cc0033; "></span>
                   
                  </div>
                  </div>
            </div>

            <div class="col-md-12">
              <div class="formrow">
                    <label for="example-email-input" class="col-2 col-form-label">
                           Address&nbsp<span class="asterisk_input label-icon"></span>
                    </label>
                    <div class="formrow">
                        <textarea type="text" id="Address" class="form-control" placeholder=" Address"  onfocusout="getvalidated('Address','text','Address');"></textarea>
                        <span id="validAddress" style="font-size: 11px; color: #cc0033; "></span>
              </div>
              </div>
        </div>

              </div>
                <tr>
                  <td style="text-align:left;">
                    <strong><span style="font-size: 15px; color: #cc0033;margin-left: 28%;">Please enter the Text Below
                        in
                        Text Box</span></strong></td>
                </tr>
           
            
              <div class="row" style="margin-left: 31%">
                <div class="col-md-4">
                  <div class="formrow">
                    <div id="captchaknow">
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="formrow">
                    <a onclick="createCaptchaKnow()" href="#">
                      <i class="fa fa-refresh" style="font-size:24px;margin-top:9px"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="formrow" style="display:block;">
                  <input type="text" style="margin-left:32%" onkeypress="Check('cpatchatextknow')" placeholder="Captcha" id="cpatchatextknow"  onfocusout="getvalidated('cpatchatextknow','text','Captcha');"/>
                  <span id="validcpatchatextknow" style="font-size: 11px; color: #cc0033; "></span>
                </div>
              </div>
              <button type="submit" onclick="CheckValidationTransfer()" class="btn" id="subreg">Submit</button>

          
              <!--Captcha End-->

            </div>
            
           
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 
  <footer>
    <% include ../partials/Homefooter %>
  </footer>
   
  <script src="../customjs/Transfer.js"></script>

  <script type="text/javascript">
   FillCandidateDetail();
    var code;
    function createCaptchaKnow() {
      //clear the contents of captcha div first 
      document.getElementById('captchaknow').innerHTML = "";
      var charsArray =
        "0123456789";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        //below code will not allow Repetition of Characters
        var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captchaknow";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captcha.join(""), 0, 30);
      //storing captcha so that can validate you can save it somewhere else according to your specific requirements
      code = captcha.join("");
      document.getElementById("captchaknow").appendChild(canv); // adds the canvas to the body element
    }
    function validateCaptchaKnow() {
      event.preventDefault();

      if (document.getElementById("cpatchatextknow").value == code) {
        KnowRegistration();
      } else {
        createCaptchaKnow();
        jQuery("#cpatchatextknow").val("");
        toastr.warning("Invalid Captcha", "", "info")
        jQuery('#cpatchatextknow').css('border-color', 'red');
        return true;
        createCaptchaKnow();
      }
    }
  
    $("#contact").keyup(function () {
      Check('contact')
     
    });

    $(document).ready(function () { 
      FillDivision();
    $("#tranfrm").hide();

      FillDistrict();
      
      $('#district').on('change', function() {
      if ( this.value == '1');
     {
    $("#tranfrm").show();
     }
  
});
$('#Area').on('change', function() {
    
  if (this.value == '2') {
    $("#city").hide();
  } else {
    $("#city").show();
  }  
  
});
// FillDistrictdrop();
});

 
  </script>
</body>

</html>


