<div class="userccount" style="padding: 5px 20px !important">
  <div class="formpanel">
    <button type="button" class="close" id="Close" data-dismiss="modal"
      style="margin-top: -10px;font-size: xx-large;">×</button>
    <!-- Personal Information -->
    <h5><span lang="en">Typing/Steno Details</span></h5>
    <div class="row">
      <div class="col-md-12">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Language</span> &nbsp<span class="asterisk_input label-icon"></span></label>
          <select class="form-control" id="language" name="Language"
            onfocusout="getvalidated('language','select','Language')">
          </select>
          <span id="validlanguage" style="font-size: 11px; color: #cc0033; "></span>
        </div>
      </div>

      <div class="col-md-6" style="height: 40px;">
        <div class="formrow" >
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Type</span> &nbsp<span class="asterisk_input label-icon"></span></label>
          <select type="text" name="" id="type" class="form-control" onfocusout="getvalidated('type','select','Type')">
          </select>
          <span id="validtype" style="font-size: 11px; color: #cc0033; "></span>

        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Institute</span> </label>
          <select type="text" name="" id="Institute" onkeypress="if(this.value.length>=100) { return false;}"
            class="form-control" placeholder="Institute">
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Passed Year</span> </label>
          <select type="text" name="" id="passYear" class="form-control">

          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="formrow">
          <label for="example-email-input" class="col-2 col-form-label">
            <span lang="en">Speed</span> </label>
          <input type="number" name="" id="Speed" onkeydown="onlyNumbers(event)" onpaste="onlyNumbers(event)"
            onkeypress="if(this.value.length>=3) { return false;}" class="form-control" placeholder="Speed">
        </div>
      </div>
    </div>
    <br />
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="formrow">
          <input type="submit" onclick="CheckTyping()" class="btn" value="Submit">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>