<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/Homeheader %>
    </header>


    <div class="pageTitle">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h1 class="page-heading" lang="en">Candidate detail </h1>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en"> Candidate detail </span></div>
            </div>
          </div>
        </div>
      </div>



   
<div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="userccount">
            <div class="formpanel"> 
              
              <!-- Personal Information -->
              <h5>Candidate Information</h5>
              <h6 style="font-size: small;font-weight: 300;">Note: Verify your email and mobile no</h6>
              <div id="textdiv">
              <div class="row">
                <div class="col-md-6">
                  <div class="formrow">
                    <input type="text" name="email" id="Email" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <input type="text" name="phone" id="Phone" class="form-control" placeholder="Phone">
                  </div>
                </div>
              </div>
             
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="formrow">
              <input type="submit" id="sendotp" class="btn" value=" Send OTP ">
            </div>
          </div>
          <div class="col-md-3"></div>
              </div>
              </div>
          
              <div style="display: none;" id="otpdiv">
              <div class="row">
                  <div class="col-md-6">
                    <div class="formrow">
                      <input type="text" class="form-control" id="checkemailotp" placeholder="Enter Email OTP"
                          maxlength="4" onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))"></input>
                      <span id="validcheckemailotp" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="formrow">
                      <input type="text" class="form-control" id="checkmobileotp"
                          placeholder="Enter Mobile OTP" maxlength="4"
                          onKeyUp="$(this).val($(this).val().replace(/[^\d]/ig, ''))"></input>
                      <span id="validcheckmobileotp" style="font-size: 11px; color: #cc0033; "></span>
                  </div>
                  </div>
                </div>

             

              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="formrow">
              <input type="submit" id="Verify" class="btn" value=" Verify ">
            </div>
          </div>
          <div class="col-md-3"></div>
            </div>
            </div>


        <div  style="display: none;" id="detaildiv">
              <div class="row">
                <div class="col-md-6">
                  <div class="formrow">
                    <input type="text" name="email" id="Email1" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <input type="text" name="phone" id="Phone1" class="form-control" placeholder="Phone">
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="formrow">
                    <input type="text" name="" id="Aadharcard" class="form-control" placeholder="Aadharcard no">
                  </div>
                </div>
                
             
              </div>
             
              
             
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="formrow">
              <input type="submit" id="Submit" onclick="checkval()" class="btn" value=" Submit ">
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <footer>
        <% include ../partials/Homefooter %>
    </footer>


       
    <script src="../customjs/userDetail.js"></script>
    <script>
        $(document).ready(function () {
            // $(document).off('ajaxStart').on('ajaxStart', function(){
            //     $.blockUI({ message: '<img src="images/loading.gif" style="width:50px;height:50px" />' });
            // } );
            // $(document).off('ajaxStop').on('ajaxStop', function(){
            //     $.unblockUI();
            // });
          
             localStorage.setItem('action','')
      
            if(isCaptchaValidated){
         setTimeout(function(){
                sendemailjs(sessionStorage.emailOTP, sessionStorage.emailval);
            }, 500);
            
          sendmsg(sessionStorage.mobileOTP, sessionStorage.mobileval);
            }
         
            
           
        });
    </script>

</body>
</html>