<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
    <style>
      .center1 {
        text-align: center;
      }
      
      .pagination {
        display: table-cell !important;
      }
      
      .pagination a {
        color: black;
        float: none;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 4px 4px 4px 4px;
      }
      
      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;}
      </style>


  </header>

  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Walk-In List</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/">Home</a> / <span lang="en">Walk-In List</span></div>
        </div>
      </div>
    </div>
  </div>
           
    <div class="listpgWraper">
    <div class="container">
       <div class="row">
         <div class="col-md-4"> 
        
      </div>
          <div class="col-md-10" style="margin-left: 9%;">
             <div class="userccount">
                  <h5 style="text-align: center; "> Walk-In List </h5>
                
                <div class="row">
                         
                  <table class="table">
                      <tr class="profilesubheading" style="background-color: #cecdcd;">

                          <th>Sr No</th>
                          <th>Company Name</th>
                          <th>Venue</th>
                          <th>Description</th>
                          <th>Date</th>
                    
                     
                        
                       </tr>

                      <div class="clearfix"></div>
                      <tbody id="walkinlisttable">
                    
                     </tbody>
                  </table>
                </div>
             </div>
            
          </div>
       </div>
    </div>
    <div class="modal fade" id="myModalcareer" style="overflow: auto !important;" role="dialog" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog" style="width:34%;" role="document">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="userccount" style="padding: 5px 20px !important">
                <div class="formpanel">
                    <button type="button" class="close" data-dismiss="modal"
                        style="margin-top: -10px;font-size: xx-large;">×</button>

                    <h5>Job Fair Details</h5>
                    <div class="modal-body" id="modalbody">

                        <div class="job-header">
                            <div class="jobdetail">

                                <ul class="jbdetail">
                                    <li class='row'>
                                        <div class='col-md-4 col-xs-6'>
                                            Title:</div>
                                        <div class='col-md-6 col-xs-6'><span style='  color: darkgrey;  width: 102%' id="title"></span></div>
                                    </li>
                                    <li class='row'>
                                        <div class='col-md-4 col-xs-6'>Details</div>
                                        <div class='col-md-6 col-xs-6'><span style='  color: darkgrey;  width: 102%' id="details"></span></div>
                                    </li>
                                    <li class='row'>
                                        <div class='col-md-4 col-xs-6'>Venue</div>
                                        <div class='col-md-6 col-xs-6'><span style='  color: darkgrey;  width: 102%' id="venue"></span></div>
                                    </li>
                                    <li class='row'>
                                        <div class='col-md-4 col-xs-6'>Exchange Name</div>
                                        <div class='col-md-6 col-xs-6'><span style='color: darkgrey;    width: 102%' id="exchangename"></span></div>
                                    </li>
                                    <li class='row'>
                                        <div class='col-md-4 col-xs-6'>Date</div>
                                        <div class='col-md-6 col-xs-6'><span style=' color: darkgrey;   width: 102%'id="date"></span></div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <span style="color:red"> If Job Seeker's wants to Register for this Job Fair,
                            click on Job Seeker's Register ::</span>

                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="window.location='/JobSeekerRegister'" class="btn btn-default" >Jobseeker's Register</button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
 </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
   
  
   <script type="text/javascript"src="/customjs/WalkIn.js"></script> 
   <script>
      $(document).ready(function () {
        $(document).ajaxStart($.blockUI({ message: '<img src="images/loading.gif" style="width:50px;height:50px" />' })).ajaxStop($.unblockUI);
        FillWalkIn()
      });
      </script> 
  
</body>

</html>