<div class="modal fade" id="Modalworkarea" data-keyboard="false" data-backdrop="static" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="userccount">
            <div>
              <h5 style="font-size:16px;"><span lang="en">  Help Line Number : 0755-2767927 </span></h5>
              <!-- login form -->
              <div class="formpanel">
              
                <div class="formrow" >
                 <input type="radio" id="admin" value="1" name="OLEX"> Admin
                 </div>
                
                <div class="formrow">
                 <input type="radio" id="olex" value="2" checked name="OLEX"> OLEX
                  </div>
               
                
           
                  <div class="formrow">
                      <div class="col-md-8">
                      </div>
                      <div class="col-md-4">
                <div class="formrow" style="display:block;width: 30%;position: absolute;">
                  <a target="_blank" onclick="adminurl()"><button type="button"   id="okhome" class="btn" value="GO"  style="width: 147%;margin-top: -43% ">GO hh</button></a>
                </div>
              </div>
              </div>
                
              </div>
            </div>
              <br><br>
  
             
          </div>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
