<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <header>
        <% include ../../partials/header %>
    </header>


    <div class="pageTitle">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h1 class="page-heading" lang="en">Gallery </h1>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="breadCrumb"><a href="/"lang="en" >Home</a> / <span lang="en">Gallery</span></div>
            </div>
          </div>
        </div>
      </div>



    <div class="listpgWraper">
        <div class="container">
        <div class="row">

            <div class="col-md-6" >
                    <div class="sidebar" style="    height: 56% ;">
                            <p style="color: black;     text-align: center;font-size: larger;    font-weight: 600;"><span lang="en"> M.P Rojgar</span></p>
                            <div id="carousel" style="height: 400px;" class="carousel slide" data-ride="carousel" data-interval="2000">
                                    <div class="carousel-inner"  id="carouselmppage">
                                      
                                       
                                    </div></div>
                        </div>
    
            </div>
           
            <div class="col-md-6 " >
                    <div class="sidebar" style="    height: 56%;">
                            <p style="color: black;     text-align: center;font-size: larger;    font-weight: 600;"><span lang="en"> YASHASWI</span></p>
                            <div id="carousel" style="height: 400px;" class="carousel slide" data-ride="carousel" data-interval="2000">
                                    <div class="carousel-inner"  id="carouselyaspage">
                                       
                                        
                                    </div></div>
                        </div>
                  
            </div>
    
        </div>
    </div>
    
</div>
     

      
    <!-- Latest Jobs ends -->
    <!-- Testimonials start -->
  
    <!-- Testimonials End -->
    <!-- App Start -->

    <footer>
        <% include ../../partials/footer %>
    </footer>

      
   
    
    <script src="/customjs/Gallery.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            FillPhotoUpload()
          
          
            FillState();
            
           
        });




    </script>
    
 </body>

</html>