<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body onload="createCaptcha()">

  <header>
    <% include ../../partials/header %>
  </header>


  <div class="listpgWraper">
    <div class="container">
      <div class="row">
        <div class="col-md-6">


          <div class="userccount" style="background: #4a90e25c;margin-top: 27px; width: 95%;margin-left: 29px;">
            <div class="">

              <div class="formpanel">
                <p style="color:black;text-align:left;">
                  <a href="#" style="color:black">Recuiter Details page </a>
                </p>
                <br />
                <p style="color:black;text-align:left;">
                  <a href="#" style="color:black">Accounts Handled
                  </a>
                </p>
                <br />
                <p style="color:black;text-align:left;">
                  <a href="#" style="color:black">Accounts Status
                  </a>
                </p>
                <br />
                <p style="color:black;text-align:left;">
                  <a href="#" style="color:black">Type Of positions Handled
                  </a>
                </p>
                <br />

                <p style="color:black;text-align:left;">
                  <a href="#" style="color:black">Notifications on call back messages
                  </a>
                </p>
                <br />

                <br />
                <br />
                <br />
                <a style="margin-bottom:25px;" id="btnsubmit" class="btn" href="/RecruiterRegistration"
                  value="Register Now">
                  Register Now</a><br />
              </div>
              <!-- login form  end-->


            </div>

          </div>
        </div>
        <div class="col-md-6" style="margin-left:-30px">


          <div class="userccount" style="box-shadow:5px 10px 8px 8px #888888; height: 476px">
            <div class="formpanel">
              <h5 style="font-size:20px;">Recruiter Login</h5>
              <!-- login form -->
           
              <div class="formrow">
                <input type="text" id="txtloglogin" class="form-control" placeholder="User Name">
               
              </div>
              
              <div class="formrow">
                <input type="password" id="txtlogpassword" class="form-control" placeholder="Password"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

              </div>
              <!-- START CAPTCHA -->
              <div class="formrow">
                <tr>
                  <td style="text-align:left;">
                    <strong><span style="font-size: 15px;margin-left: 25%; color: #cc0033">Please enter the Text Below
                        in
                        Text Box</span></strong></td>
                </tr>
              </div>
              <div class="row" style="margin-left:36%">
                <div class="col-md-4">
                  <div class="formrow">
                    <div id="captcha">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="formrow">
                    <a onclick="createCaptcha()" >
                      <i class="fa fa-refresh" style="font-size:24px;margin-top: 9px;"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="formrow" style="display:block">
                <input type="text" style="margin-left:32%" placeholder="Captcha" id="cpatchaTextBox" />
              </div>

              <div class="formrow" style="display:block">
                <input type="button" onclick="CheckValidation()" id="login" class="btn" value="LOGIN">
              </div>
              <!-- END CAPTCHA -->
              <!-- login form  end-->



            </div>
            <!-- sign up form -->
            <div class="newuser" style="margin-top:0 !important">
              <div style="float:left"><span><a href="/forgot" style="font-size:13px;"lang="en">Forgot Password?</a></span></div>
              <div style="float:right"><i class="fa fa-user" aria-hidden="true"></i> <span style="font-size:14px; ">New
                  User?</span> <a href="/RecruiterRegistration" style="font-size:13px;color:black;">RegisterHere</a>
              </div>
            </div>

            <!-- sign up form end-->

          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <% include ../../partials/footer %>
  </footer>
    
  <script src="../../customjs/Login.js"></script>


  <script type="text/javascript">
    var code;
    function createCaptcha() {
      //clear the contents of captcha div first 
      document.getElementById('captcha').innerHTML = "";
      var charsArray =
        "0123456789";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        //below code will not allow Repetition of Characters
        var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captcha";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captcha.join(""), 0, 30);
      //storing captcha so that can validate you can save it somewhere else according to your specific requirements
      code = captcha.join("");
      document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
    }
    function validateCaptcha() {
      event.preventDefault();

      if (document.getElementById("cpatchaTextBox").value == code) {
        ValidateLogin();

      } else {
        createCaptcha();
        jQuery('#cpatchaTextBox').val("");
        toastr.warning("Invalid cpatcha", "", "info")

        jQuery('#cpatchaTextBox').css('border-color', 'red');
        return true;

      }
    }
    $(document).ready(function () {
      // $("#passwordvalidate").hide();
      $('#account').prop("disabled", true);
      createCaptcha();

      FillState();
      
    });
  </script>

</body>

</html>