<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>

  <div class="searchwrap">

    <div class="container">
      <div class="paypackages" style="margin-top: -230px; margin-left:80px">
        <div class="three-plan">
          <div class="container">

            <ul class="row" style="margin-top:15px; height:0px">
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;   font-size: 14px;">
                    <a href="/jobs" target="_blank" class="applybtn" style="color:black;">All Companies </a>

                  </div>


                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="" class="applybtn" target="_blank" style="color:black;">Companies by Location </a>
                  </div>

                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="" class="applybtn" target="_blank" style="color:black;">Companies by Sector </a>
                  </div>

                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="" class="applybtn" target="_blank" style="color:black;"> Companies by Name </a>
                  </div>

                </div>
              </li>

              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="" class="applybtn" target="_blank" style="color:black;"> View about Company </a>
                  </div>

                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-12">

        <div class="col-md-3 col-sm-6" style="margin-left: 25%">

          <div class="sidebar">

            <br>
            <ul class="categories">
              <li><a href="">Browse about Companies </a></li>
              <li><a href=""> Companies Information </a></li>
              <li><a href=""> Companies Impannelled </a></li>
            </ul>
          </div>


        </div>
        <div class="col-md-3 col-sm-6" style=" margin-left: 3%;">

          <div class="sidebar">
            <br>
            <ul class="categories" style=" width: max-content;">
              <li><a href="">Write a Review about Company </a></li>
              <li><a href=""> Prepare for Company Interview </a></li>
              <li><a href="">View Company Reviews </a></li>
            </ul>
          </div>
        </div>

      </div>
      <!-- button start -->
      <!-- button end -->

    </div>
  </div>

  </div>
  </div>
  <!-- Search End -->
  <div class="listpgWraper">
    <div class="container">

      <!-- Job Header start -->
      <div class="job-header">
        <div class="jobinfo">
          <div class="row">
            <div class="col-md-8">
              <h2>Browse Jobs by Companies</h2>
            </div>
            <div class="col-md-4">
              <div class="searchform">
                <div class="row">
                  <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Search for a Company" />
                  </div>
                  <div class="col-md-1 col-sm-2">
                    <button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pagination Start -->
      <div class="pagiWrap" style="margin-top:-30px">
        <div class="row">
          <div class="col-md-12 col-sm-8 text-left">
            <ul class="pagination" style="width:100%;margin-left:0px;">
              <li class="active" style="text-align:center;"><a style="width:18%" href="#.">Top 1000</a></li>
              <li><a href="#.">A</a></li>
              <li><a href="#.">B</a></li>
              <li><a href="#.">C</a></li>
              <li><a href="#.">D</a></li>
              <li><a href="#.">E</a></li>
              <li><a href="#.">F</a></li>
              <li><a href="#.">G</a></li>
              <li><a href="#.">H</a></li>
              <li><a href="#.">I</a></li>
              <li><a href="#.">J</a></li>
              <li><a href="#.">K</a></li>
              <li><a href="#.">L</a></li>
              <li><a href="#.">M</a></li>
              <li><a href="#.">N</a></li>
              <li><a href="#.">O</a></li>
              <li><a href="#.">P</a></li>
              <li><a href="#.">Q</a></li>
              <li><a href="#.">R</a></li>
              <li><a href="#.">S</a></li>
              <li><a href="#.">T</a></li>
              <li><a href="#.">U</a></li>
              <li><a href="#.">V</a></li>
              <li><a href="#.">W</a></li>
              <li><a href="#.">X</a></li>
              <li><a href="#.">Y</a></li>
              <li><a href="#.">Z</a></li>
              <li><a href="#.">0-9</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Pagination end -->
      <!-- Job Detail start -->
      <div class="row">
        <div class="col-md-12">
          <!-- Job Description start -->
          <div class="job-header">
            <div class="contentbox">
              <h3 style=" margin-left: 2%;">Company Names</h3>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer>
    <% include ../../partials/footer %>
  </footer>
    
  <script type="text/javascript" src="/customjs/Index.js"></script>
  <script>
    $(document).ready(function () {

      FillCategory();
      FillCity();
      FillSkills();
      FillState();
      
    });
  </script>