<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body>

    <header>
        <% include ../../partials/header %>
    </header>
    <div class="container">
        <div class="row" style>
            <div class="col-md-3 col-sm-12">
            </div>

            <div class="col-md-6 col-sm-12">



                <div class="userccount"
                    style="box-shadow:5px 10px 8px 8px #888888;margin-top:12%;    margin-bottom: 12%; ">
                    <div class="">

                        <!--<h5 style="font-size:16px;  ;color:black; text-align:center;">Registration Status
                        </h5>-->

                        <!-- login form -->
                        <div class="formpanel">

                            
                            <br />
                          
                            <i class="fa fa-check-circle" style="color: #3fb13d; font-size: 403%; margin-left: 46%"></i>
                            <br />

                            <!--<p>
                                <label style="color:black;text-align:center;">Your Registration Id:</label>
                                <div style="color:red;text-align:center;" id="successregistrationid"></div>
                            </p>

                            <br />-->
                            <br />
                            <h3 style="text-align:center;">
                                    Congratulations!
                            </h3>
                            <p  style="color:black;">
                                    You have successfully verified the email address.
                            </p>
                            <br />
                        

                        </div>
                        <!-- login form  end-->


                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-12">
            </div>
        </div>
    </div>
    <footer>
        <% include ../../partials/footer %>
    </footer>
      
    <script src="../customjs/SuccessRegistration.js"></script>
    <script>
        $(document).ready(function () {
           FillState();
            
       
        });
        function next() {
      window.location = "/Profilereg";
    }
  
  
    </script>
</body>

</html>