<!DOCTYPE html>
<html lang="en">


<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>
<style>
.postimg:before {
	border: 0px solid #fff;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	content: '';
	position: absolute;
	z-index: 10;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
}

</style>


  
  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">About the Portal</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;">Home</span></a> / <span lang="en">About the Portal</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title End -->

  <div class="about-wraper">
    <!-- About -->
    <div class="container">
      <div class="row" >
        <div class="col-md-7">
          <h3><span lang="en">About the MP Rojgar Portal</span></h3>
        <p><span lang="en">The MP Rojgar portal has been prepared with the objective of bringing job seekers and employers on a common platform. </span> </p><br>
       <p><span lang="en">The portal allows Job Seekers to register themselves, develop their profile, generate a resume, select employment opportunities, and apply for them on a click of a button.</span> </p><br>
       <p><span lang="en">The employers registered on the portal can post vacancies, invite applicants, and identify suitable profiles registered on the portal. Further, the portal will also build a mechanism to schedule interview telephonically or in person.</span></p> <br>
       <P><span lang="en">The portal also offers an in-built mechanism of matching a job seeker’s profile with active job opportunities. The system suggests relevant job opportunities to a job seeker registered on the portal.  In addition to this, a job seeker can search for active job opportunities posted on the system using one or more of the following education background, experience and qualification.</span> </P> <br>
<p><span lang="en">Through this portal, information is also provided about the courses in career counseling  and skill development. Also with the  Toll-free number provided on the portal, the applicant will get the resolution of the problems faced by them.</span></p>
          
        
          </br>
        

        </div>
        <div class="col-md-5" style="margin-top: 5%;">
          <div class="postimg"><img src="images/about-us-img1.jpg" alt="your alt text" style="width: 120%;max-width: 200%;"></div> </div>
      </div>
 

    </div>

    </div>
    <!-- How it Works start -->

    <!-- How it Works Ends -->

  </div>



  <footer>
    <% include ../../partials/footer %>
  </footer>
<script>
$(document).ready(function () {
       
        FillState();
        
});
</script>
</body>

</html>