<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>


  <div class="listpgWraper">
    <div class="container">
     
        <div class="col-md-12" style="background-color: #dcdbd5;">
            <div class="container" style="margin-top: 25px;margin-bottom: 15px;width: 100%;">
                <div class="newsSection">
                   <div><h5> CNV Act</h5></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-12" style="background-color: #f1eded;">
            <div class="container" style="margin-top: 25px;margin-bottom: 15px;width: 100%;">
                <div class="newsSection">
                <p>
                  <h6 style="color: blue">
                        The Employment Exchanges (Compulsory Notification of Vacancies) Act, 1959 
                     </h6>
                 <p> The purpose of this Act is to collect data on emerging employment trends and opportunities in different sectors of the economy, to help the Government to adopt suitable policies, to provide guidance and information to unemployed youth.<br> 
                        The Act makes it compulsory for all establishments, industries, trades in the public sector and offices in the private sector (except agriculture) which normally employ 25 or more employees to inform the Government (the local employment exchanges) regarding the vacancies occurring in their establishment from time to time. At present only 10,97,517 establishments are registered with various employment exchanges. Obviously this leads to incomplete coverage and inadequacy of data to provide any useful information to the Government for formulation of employment policies. All concerned establishments, businesses, companies, production units and organizations employing 25 or more persons should register themselves with their local employment exchange for this purpose. </p><br>
                       <ul class="categories">
                      <li> <a href=""> Vacancy Notification Form</a></li>
                      <li> <a href=""> ER-I Form</a></li>
                      <li> <a href=""> ER-II Form</a></li>
                    </ul>
      </p>
                </div>
            </div>
        </div>

    </div>

  </div>
  <footer>
    <% include ../../partials/footer %>
  </footer>
    

  <script>
        $(document).ready(function () {
               
                FillState();
        });
        </script>
  
</body>

</html>