<!DOCTYPE html>
<html lang="en">

<head>
   <% include ../../partials/head %>


</head>

<body>
   <header>
      <% include ../../partials/header %>
   </header>
   <div class="pageTitle" >
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-sm-6">
               <h1 class="page-heading"><span lang="en">ER 1</span></h1>
            </div>
            <div class="col-md-6 col-sm-6">
               <div class="breadCrumb"><a href="/"><span lang="en" style="color: white;">Home</span></a> / <span lang="en">ER 1</span></div>
            </div>
         </div>
      </div>
   </div>
   <div class="listpgWraper">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="userccount">
                  <div class="socialLogin">
                     <h6 style="text-decoration: underline;"><strong lang="en">Quarterly return to be submitted to the local Employment Exchange for the Quarter ended 
                     </strong></h6>
                     <p style="text-decoration: underline;"><strong lang="en"> The following information is required under the
                        Employment Exchanges (Compulsory
                        Notification of Vacancies) Act, 1959.
                        Quarter Ended  
                     </strong></p>
                   
                  </div>
                  <div class="tab-content formpanel">
                     <div class="row">
                       
                        
                        <div class="col-md-6 forvalidation">

                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Name of the Employer </span><span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="companyname"  autocomplete="off"
                                  
                                    class="form-control"  >
                                 <span id="validcompanyname" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>

                        </div>
                        
                        <div class="col-md-6 forvalidation">

                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Address of the Employer </span><span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" maxlength="60" name="name" id="address"  autocomplete="off"
                                  
                                    class="form-control"   >
                                 <span id="validaddress" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>

                        </div>
                     </div>
                        <div class="row">
                        <div class="col-md-6 forvalidation">

                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Whether Head Office/Branch Office </span><span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <select name="" id="officetype" class="form-control">
                                    <option>Head Office</option>
                                    <option>Branch Office</option>
                                 </select>
                                 <span id="validofficetype" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>

                        </div>
                        <div class="col-md-6 forvalidation">

                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Nature of Business/Principal activity </span><span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="BuisnessNature"  autocomplete="off"
                                  
                                    class="form-control"   >
                                 <span id="validBuisnessNature" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>

                        </div>
                     </div>
                        <div class="row">
                       
                        <div class="col-md-6">

                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">HR Name</span><span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="HR_name" class="form-control" autocomplete="off" >
                                 <span id="validHR_name" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Contact Number</span><span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="number" name="name" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" onkeypress="if (this.value.length >= 10) { return false; };" id="Contactnumber" autocomplete="off" class="form-control"   >
                                    <span id="validContactnumber" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                    
                    
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Email Id</span><span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="EmailId" onfocusout="getvalidated('EmailId','email','Email Id');" autocomplete="off"
                                 
                                    class="form-control"  >
                                    <span id="validEmailId" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 forvalidation">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Month</span><span class="asterisk_input label-icon"></span>
                              </label>
                              <div class="formrow">
                                 <select type="text" name="name" id="Month"
                                class="form-control">
                              
                              </select>
                                 <span id="validMonth" style="font-size: 11px; color: #cc0033; " ></span>
                              
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                          <div class="formrow">
                             <h6>1(a) Employment </h6>
                             <p style="text-align: left;color:black">Total number of persons including working proprietors/partners/commission agents/contingent paid and
                              contractual workers on the pay rolls of the establishment excluding part-time workers and apprentices. (The figure
                              should include every person whose wage or salary is paid by the establishment) 
                              </p>
                              <br>
                            <table class="table">
                              <tr class="profilesubheading">
        
                                <th>Man
                                 power </th>
                                <th style="width: 42%;">On the last working day of the previous
                                 quarter 
                                 </th>
                                <th>On the lastworking day of the quarter under
                                 report </th>
                          
        
        
                              </tr>
                              <div class="clearfix"></div>
                              <tbody >
        <tr >
          <td>
    Men
          </td>
          <td style='    width: 18%;'>
            <input type="number" maxlength="4" id="prequartermen" onfocusout="getTotalemployement('pre')" class="form-control" placeholder="" />
        
          </td>
          <td>
            <input type="number" maxlength="4" id="UndQuaterMen" onfocusout="getTotalemployement('und')"  class="form-control" placeholder="" />
          </td>
         
        </tr>
        <tr >
         <td>
          Women
         </td>
         <td style='    width: 18%;'>
           <input type="number" maxlength="4" id="PreQuaterWomen" onfocusout="getTotalemployement('pre')" class="form-control" placeholder="" />
       
         </td>
         <td>
           <input type="number" maxlength="4" id="UndQuaterWomen" onfocusout="getTotalemployement('und')" class="form-control" placeholder="" />
         </td>
        
       </tr>
       <tr>
       <td>Total
         </td>
         <td style='    width: 18%;'>
           <input type="text" id="PreQuaterTotal" class="form-control" placeholder="" />
       
         </td>
         <td>
           <input type="text" id="UndQuaterTotal" class="form-control" placeholder="" />
         </td>
        
       </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
        
                      </div>
                      <div class="row">
                    
                    
                        <div class="col-md-12">
                           <div class="formrow">
                              <label for="example-email-input" class="col-form-label">
                                 <span lang="en">(b) Please indicate the main reasons for any increase or decrease in employment if the increase or decrease is more
                                    than 5% during the quarter. </span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="IncDecQuater" autocomplete="off"
                                 
                                    class="form-control"  >
                                    <span id="validIncDecQuater" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>
                        </div>
                        <div class="row">
                    
                    
                           <div class="col-md-12">
                              <div class="formrow">
                                 <label for="example-email-input" class="col-form-label">
                                    <span lang="en"><span style='color:red'>Note:</span> Establishments are reminded of their obligation under the Employment Exchanges  </span>
                                 </label>
                                 <label for="example-email-input" class="col-form-label">
                                    (Compulsory Notification of Vacancies) Rules, 1960 for notifying the Employment Exchanges details of vacancies
specified under the Act, before they are filled. 
</label>
<br>
<label for="example-email-input" class="col-form-label">
   2. Vacancies<br>
Vacancies carrying total emoluments of Rs.60 or over per month, and of over 3 months duration. 

</label>
<br>
<label for="example-email-input" class="col-form-label">
   2. (a) Number of vacancies occurred and notified during the quarter and the number filled during the quarter
   No. of vacancies which come within the purview of the Act 
</label>
                                 <div class="formrow">
                                    <table class="table">
                                       <tr class="profilesubheading">
                 
                                         <th>Occurred</th>
                                         <th colspan="2">Notified to </th>
                                         <th>Filled </th>
                                         <th>Source (Describe the source
                                          from which filled)
                                          </th>
                                          <th>Add
                                          </th>
                 
                 
                                       </tr>
                                       <tr class="profilesubheading">
                 
                                          <th></th>
                                          <th>Local Employment
                                             Exchange  </th>
                                          <th>Central Employment
                                             Exchange </th>
                                          <th>
                                           </th>
                                           <th>
                                          </th>
                                          <th>
                                          </th>
                  
                                        </tr>
                                       <div class="clearfix"></div>
                                       <tbody class="vacancydetailfilled">
                 <tr class="addrowvacancydetail">
                   <td>
                     <input type="text" id="occured0" class="form-control" placeholder="" />
                   </td>
                   <td style='    width: 18%;'>
                     <input type="text" id="localemp0" class="form-control" placeholder="" />
                 
                   </td>
                   <td>
                     <input type="text" id="centralemp0" class="form-control" placeholder="" />
                   </td>
                   <td>
                     <input type="text" id="filled0" class="form-control" placeholder="" />
                   </td>
                   <td>
                     <input type="text" id="source0" class="form-control" placeholder="" />
                   </td>
                 
                   <td>
                     <input type="submit"  class="btn" value="Add" onclick="addNewfilledvacancyRow()" />
                   </td>
                 </tr>
                                       </tbody>
                                     </table>  
                                     <br>

                                     </div>
                              </div>
                           </div>
                           </div>
                           <div class="row">
                    
                    
                              <div class="col-md-12">
                                 <div class="formrow">
                                    <label for="example-email-input" class="col-form-label">
                                       <span lang="en">2. (b) Reasons for not notifying all vacancies occurred during the quarter under report view (a) above. </span>
                                    </label>
                                    <div class="formrow">
                                       <input type="text" name="name" id="Reason" autocomplete="off"
                                       
                                          class="form-control"  >
                                          <span id="validemailid" style="font-size: 11px; color: #cc0033; " ></span>
                                    </div>
                                 </div>
                              </div>
                              </div>
                              <div class="row">
                    
                    
                                 <div class="col-md-12">
                                    <div class="formrow">
                                       
                                       <label for="example-email-input" class="col-form-label">
                                          3. Manpower Shortages 

      </label>
      <br>
      <label for="example-email-input" class="col-form-label">
         Vacancies/Posts unfilled because of shortage of suitable applicants: 
      
      </label>
      <br>
    
                                       <div class="formrow">
                                          <table class="table">
                                             <tr class="profilesubheading">
                       
                                               <th colspan="5">Number of unfilled vacancies/posts 
                                             </th>
                                            
                       
                       
                                             </tr>
                                             <tr class="profilesubheading">
                       
                                                <th>Name of the Occupation or designation of the post </th>
                                                <th>Essential qualifications prescribed   </th>
                                                <th>Essential experience </th>
                                                   <th>Experience not necessary  </th>
                                                 <th>Add</th>
                                              </tr>
                                             <div class="clearfix"></div>
                                             <tbody class="vacancydetailunfilled">
                       <tr class="addrowunfilled">
                         <td>
                           <input type="text" id="occupation0" class="form-control" placeholder="" />
                         </td>
                         <td style='    width: 18%;'>
                           <input type="text" id="qualification0" class="form-control" placeholder="" />
                       
                         </td>
                         
                         <td>
                           <input type="text" id="experience0" class="form-control" placeholder="" />
                         </td>
                         <td>
                           <input type="text" id="experiencenot0" class="form-control" placeholder="" />
                         </td>
                         <td>
                           <input type="submit"  class="btn" value="Add" onclick="addNewunfilled()" />
                         </td>
                       </tr>
                                             </tbody>
                                           </table>  
                                           <br> 
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                     <div class="row">
                        <div class="col-md-12">
                          <div class="formrow">
                            <table class="table" id="vacancytable">
                              <tr class="profilesubheading">
        
                                
                                <th>Requirement /Position </th>
                                <th>Job Description</th>
                                <th>Salary /CTC</th>
                                <th>No of Requirements </th>
                                <th>Job Location</th>
                                <th>Add</th>
        
        
                              </tr>
                              <div class="clearfix"></div>
                              <tbody class="vacancydetail">
        <tr class="addproductrow">
          
          <td style='    width: 18%;'>
            <input type="text" id="position0" class="form-control" placeholder="" />
        
          </td>
          <td>
            <input type="text" id="jobdescription0" class="form-control" placeholder="" />
          </td>
          <td>
            <input type="text" id="salary0" class="form-control" placeholder="" />
          </td>
          <td>
            <input type="text" id="noofrequirement0" class="form-control" placeholder="" />
          </td>
          <td>
            <input type="text" id="joblocation0" class="form-control" placeholder="" />
          </td>
          <td>
            <input type="submit"  class="btn" value="Add" onclick="addNewProductRow()" />
          </td>
        </tr>
                              </tbody>
                            </table>
                        </div>
                        </div>
                        </div>
                      <div class="row">
                    
                    
                        <div class="col-md-6">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Date:</span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="Date" autocomplete="off"
                                 
                                    class="form-control datepicker"  >
                                    <span id="validDate" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="formrow">
                              <label for="example-email-input" class="col-2 col-form-label">
                                 <span lang="en">Signature/Name of Employer :  </span>
                              </label>
                              <div class="formrow">
                                 <input type="text" name="name" id="Signature" autocomplete="off"
                                 
                                    class="form-control"  >
                                    <span id="validSignature" style="font-size: 11px; color: #cc0033; " ></span>
                              </div>
                           </div>
                        </div>
                        </div>
                        <div class="row">
                    
                    
                           <div class="col-md-6">
                              <div class="formrow">
                                 <label for="example-email-input" class="col-2 col-form-label">
                                    <span lang="en">Place:  </span>
                                 </label>
                                 <div class="formrow">
                                    <input type="text" name="name" id="Place" autocomplete="off"
                                    
                                       class="form-control"  >
                                       <span id="validPlace" style="font-size: 11px; color: #cc0033; " ></span>
                                 </div>
                              </div>
                           </div>
                          
                           </div>
                           <div class="row">
                    
                    
                              <div class="col-md-12">
                                 <div class="formrow">
                                    <label for="example-email-input" class="col-form-label">
                                       <span lang="en">To,  </span>
                                    </label><br>
                                    <label for="example-email-input" class="col-form-label">
                                       <span lang="en">The Employment Exchange  </span>
                                    </label><br>
                                    <label for="example-email-input" class="col-form-label">
                                       <span lang="en">(Write address of Local Employment Exchange) 
                                       </span>
                                    </label>
                                    <br>
                                    <br>

                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <label for="example-email-input" class="col-form-label">
                                       <span lang="en"><span style="color: red;">Note:-</span> This return shall relate to quarters ending 31st March / 30th June / 30th September and 31st December and
                                          shall be rendered to the local Employment Exchange within 30 days after the end of the quarter concerned.  
                                       </span>
                                    </label>
                                 </div>
                              </div>
                             
                              </div>
                              </br>
                              <div class="row">
                    
                    
                                 <div class="col-md-12">
                                    <div class="formrow">
                                       <label for="example-email-input" class="col-form-label">
                                          <span lang="en">Dear Sir/Madam,<br><br>
                                             We have re-created the website for Directorate of Employment, Madhya Pradesh<br><br>
                                              The link for the website is mprojgar.gov.in.<br><br>
                                              Kindly visit and do register your organization on the above mentioned URL, to endorse about your company & also<br> <br>do share the open vacancies with in your organization. 
                                              <br>  <br>The services on the My MP ROJGAR portal is free of cost and it covers a huge database of jobseekers from<br><br> Madhya Pradesh and Pan India. 
                                              <br> <br>This platform is equipped with the match making of the candidate with the open position on the portal.
                                              <br> <br>The same will help you to have list of recommended candidates on the current open positions. </span>
                                       </label>
                                    </div>
                                 </div>
                                
                                 </div>
                        <div class="formrow">
                           <input type="button" onclick="CheckER1()" class="btn"  lang="en"  value="Submit">
                        </div>
                    
                    



                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>

   <footer>
      <% include ../../partials/footer %>
    
   </footer>

   <script src="../customjs/ER1Form.js" type="text/javascript"></script>
   <script> 
      /* Add "https://api.ipify.org?format=json" statement 
         this will communicate with the ipify servers in 
         order to retrieve the IP address $.getJSON will 
         load JSON-encoded data from the server using a 
         GET HTTP request */ 
   
      $.getJSON("https://api.ipify.org?format=json", 
                                function(data) { 
   
      sessionStorage.ipAddress= data.ip; 
      }) 
   </script>
   <script type="text/javascript">

      $(document).ready(function () {
         FillMonthER1('parsedatasecuredFillMonthER1','Month');
         $(function () {
                $(".datepicker").datepicker({
                   format:'dd/mm/yyyy'
                });
            });

      });


   </script>
</body>

</html>