<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>

  <div class="pageTitle">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h1 class="page-heading" lang="en">Download Forms/Fonts </h1>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">Download Forms/Fonts </span></div>
          </div>
        </div>
      </div>
    </div>
            
    <div class="listpgWraper">
    <div class="container">
       <div class="row">
          <div class="col-md-4"> 
              <!-- Side Bar -->
              <div class="sidebar">
                <!-- Photos -->
                <div class="widget">
                  <h5 class="widget-title">Useful Web Links</h5>
                  <ul class="papu-post">
                    <li>
                        <div class="media-left"> <a href="http://peb.mp.gov.in/" target="blank"><img src="images/PEB1.jpg" alt="Blog Title" style="max-width: 100%;"/></a> </div>
                        <div class="media-body"> <a class="media-heading" href="http://peb.mp.gov.in/">Professional Examination Board</a></div>  
                      </li>
                      <br>
                      <li>
                        <div class="media-left"> <a href="https://www.mpinfo.org/" target="blank"><img src="images/ran.gif" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                        <div class="media-body"> <a class="media-heading" href="https://www.mpinfo.org/">Department Of Public Relations</a> <span> Government Of Madhya Pradesh </span> </div>
                     
                    </li>  
                    
                     <li>
                        <div class="media-left"> <a href="https://ssc.nic.in/" target="blank"><img src="images/SSC.png" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                        <div class="media-body"> <a class="media-heading" href="https://ssc.nic.in/">Staff Selection Commission</a> <span>(Government of India)</span> </div>
                      </li> 
                      <li>
                        <div class="media-left"> <a href="http://www.joinindianarmy.nic.in/Authentication.aspx" target="blank"><img src="images/JIA.png" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                        <div class="media-body"> <a class="media-heading" href="http://www.joinindianarmy.nic.in/Authentication.aspx">Join Indian Army</a> <span>Government of India</span> </div>
                      </li> 
               
                      <li>
                        <div class="media-left"> <a href="https://www.ibps.in/" target="blank"><img src="images/IBPSS.jpg" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                        <div class="media-body"> <a class="media-heading" href="https://www.ibps.in/">Institute Of Banking Personnel Selection</a> <span></span> </div>
                      </li>
                      <li>
                        <div class="media-left"> <a href="https://upsc.gov.in/"target="blank"><img src="images/UPSC-80-54.jpg" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                        <div class="media-body"> <a class="media-heading" href="https://upsc.gov.in/">Union Public Service Commission</a> <span>संघ लोक सेवा आयोग</span> </div>
                      </li> 
                  </ul>
                  
                </div>
              </div>
            </div>

          <div class="col-md-8">
             <div class="userccount">
                <div class="socialLogin">
                   <h5>  Download Forms </h5>
                </div>
                <div class="tab-content formpanel">
                  <div class="row">
                      <div class="col-md-12">
                        <p style="    text-align: left; color: black; font-weight: 500;">Download Latest Forms</p>
                         <br>
                         <p style="    text-align: left;    ">
                          <li>  <a  target="blank" href="/pdf/VacancyNotification (1).pdf">  
                            Vacancy Notification Form (X-6)
                          </a>  </li> 
                            </p>
                         <br>
                         <p style="    text-align: left;   ">
                                <li>   <a  target="blank" href="/pdf/ER-IForm(1).pdf">     ER-I Form
                                  </a></li>   </p>
                         <br>
                      
                                  <br>
                                  <br>
                                  <p style="    text-align: left; color: black; font-weight: 500;"> Download Fonts</p>
                       
                                  <br>
                                  <br>
                                  <p style="    text-align: left;">
                                        <li>   <a  target="blank" href="/pdf/krutifonts (1).zip" >         Krutidev
                                          </a></li>   </p>
                   
                        </div>
                        </div>
                  </div>
                 
               </div>
             </div>
           
             </div>
          </div>
       </div>
    </div>
 </div>
  <footer>
    <% include ../../partials/footer %>
  </footer>
    

  <script>
      $(document).ready(function () {
             
              FillState();
      });
      </script>
  
</body>

</html>