<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>

  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Lok sewa Guarantee</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">Lok sewa Guarantee</span></div>
        </div>
      </div>
    </div>
  </div>
           
    <div class="listpgWraper">
    <div class="container">
       <div class="row">
         <div class="col-md-4"> 
        <!-- Side Bar -->
        <div class="sidebar">
          <!-- Photos -->
          <div class="widget">
            <h5 class="widget-title">Useful Web Links</h5>
            <ul class="papu-post">
              <li>
                  <div class="media-left"> <a href="http://peb.mp.gov.in/" target="blank"><img src="images/PEB1.jpg" alt="Blog Title" style="max-width: 100%;"/></a> </div>
                  <div class="media-body"> <a class="media-heading" href="http://peb.mp.gov.in/">PROFESSIONAL EXAMINATION BOARD</a></div>  
                </li>
                <li>
                  <div class="media-left"> <a href="https://www.mpinfo.org/" target="blank"><img src="images/ran.gif" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                  <div class="media-body"> <a class="media-heading" href="https://www.mpinfo.org/">Department Of Public Relations</a> <span> Government Of Madhya Pradesh </span> </div>
                </li> <li>
                  <div class="media-left"> <a href="https://ssc.nic.in/" target="blank"><img src="images/SSC.png" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                  <div class="media-body"> <a class="media-heading" href="https://ssc.nic.in/">STAFF SELECTION COMMISSION</a> <span>(Government of India)</span> </div>
                </li> 
                <li>
                  <div class="media-left"> <a href="http://www.joinindianarmy.nic.in/Authentication.aspx" target="blank"><img src="images/JIA.png" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                  <div class="media-body"> <a class="media-heading" href="http://www.joinindianarmy.nic.in/Authentication.aspx">Join Indian Army</a> <span>Government of India</span> </div>
                </li>
                <li>
                  <div class="media-left"> <a href="https://www.ibps.in/" target="blank"><img src="images/IBPSS.jpg" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                  <div class="media-body"> <a class="media-heading" href="https://www.ibps.in/">Institute Of Banking Personnel Selection</a> <span></span> </div>
                </li>
                <li>
                  <div class="media-left"> <a href="https://upsc.gov.in/"target="blank"><img src="images/UPSC-80-54.jpg" alt="Blog Title"  style="max-width: 100%;"/></a> </div>
                  <div class="media-body"> <a class="media-heading" href="https://upsc.gov.in/">UNION PUBLIC SERVICE COMMISSION</a> <span>संघ लोक सेवा आयोग</span> </div>
                </li>
            </ul>
            
          </div>
        </div>
      </div>
          <div class="col-md-8">
             <div class="userccount" style="display: none;">
                <div class="socialLogin">
                   <h5>Lok sewa Guarantee</h5>
                </div>
                <div class="tab-content formpanel">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="formrow">
                            <ul class="row featchoose">
                                
                                  <li class="col-md-4"><input type="radio" name="ShowLatest"> Show Latest</li>
                                  <li class="col-md-4"><input type="radio" name="ShowLatest"> Archived Data</li>
                              </ul>
                          </div>
                        </div>
                  </div>
                    <div class="row">
                        <div class="col-md-3" style="margin-top: 14px;">
                            <input type="radio" name="Show">     
                          Month & Year
                        </div>
                        <div class="col-md-4">
                          <select type="text" style="height:49px" name="date" id="Month" class="form-control">
                            
                          </select>
                      
                       </div>
                       <div class="col-md-4">
                                      
                          <select type="text" style="height:49px" name="date" id="Year" class="form-control">
                           <option>Select Year</option>
                           <option>2019</option>
                           <option>2018</option>
                           <option>2017</option>
                           <select>
                     </div>
                      </div>
                    </br>
                      <div class="row">
                          <div class="col-md-3" style="margin-top: 14px;">
                              <input type="radio" name="Show">     
                            Description wise 
                          </div>
                          <div class="col-md-4">
                              <input class="form-control" type="text" style="height:49px" placeholder="Description wise">
                        
                         </div>
                        
                         <div class="col-md-2">
                            <input type="submit" id="btnSearch" class="btn" value="Search">
                       </div>
                        </div>
                        <div class="row">
                          </div> 
               </div>
             </div>
             <div class="userccount">
               
                <div class="tab-content formpanel">
                
                      <div class="row">
                         
                          <table class="table">
                              <tr class="profilesubheading" style="background-color: #cecdcd;">
  
                                  <th>Sr No</th>
                                  <th>Description</th>
                                  
                              </tr>
                              <div class="clearfix"></div>
                              <tbody id="certificationtable">
  <tr>
  <td>1</td>
  <td><a href='/pdf/Lok Seva Prabhandhan 2013200516122355.pdf' target='/blank'>Lok Seva Prabhandhan 2013 </a></td>
  <tr>
    <tr>
      <td>2</td>
      <td><a href='/pdf/Registration in Employment Exchange 2013200516122442.pdf' target='/blank'>Registration in Employment Exchange</a></td>
      <tr> 
            <tr>
                    <td>3</td>
                    <td><a href='/pdf/Renewal of Registration in Employment Exchange 2013200516122505.pdf' target='/blank'>Renewal of Registration in Employment Exchange</a></td>
                    <tr> 
  </tbody>
                          </table>
                        </div>
                        <div class="row"></div>
                        
                          </div> 
               </div>
          </div>
       </div>
    </div>
 </div>
  <footer>
    <% include ../../partials/footer %>
  </footer>
    

  <script>
      $(document).ready(function () {
             
            FillState();
           
              FillMonth('Month') 
      });
      </script>

</body>

</html>