<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>


  <div class="listpgWraper">
    <div class="container">
     
        <div class="col-md-12" style="background-color: #dcdbd5;width: 98%;margin-left: 1%;">
            <div class="container" style="margin-top: 25px;margin-bottom: 15px;width: 100%;">
                <div class="newsSection">
                   <div><h5 lang="en">Organizational Setup</h5></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="userccount">
               <div class="tab-content formpanel">
                  <div class="row">
                
                      <% include ../../partials/flowchart_hindi %>
               
                    
                      <% include ../../partials/flowchart %>
               
                 
                      <!-- <img src="images/Organizational_Setup.jpg" style="max-width: 100%;  "/> -->
                    </div>
            </div>
         </div>
    </div>
  </div>
</div>
  <footer>
    <% include ../../partials/footer %>
  </footer>
    

  <script>
      $(document).ready(function () {
      
    setTimeout(function(){
      if (Cookies.get("langCookie") == "th") {
      $("#hindiContent").show();
      $("#engContent").hide();
       }
    else {
      $("#engContent").show();
      $("#hindiContent").hide();
    } 
      }, 300);
              FillState();
              $(document).click(function(event) {
    if(event.target.id=='lblh'){
      setTimeout(function(){
      if (Cookies.get("langCookie") == "th") {
      $("#hindiContent").show();
      $("#engContent").hide();
       }
    else {
      $("#engContent").show();
      $("#hindiContent").hide();
    } 
      }, 300);
    }
});
      });
      </script>
  
</body>

</html>