<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>

  <style>
    .postimg:before {
      border: 0px solid #fff;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px;
      content: '';
      position: absolute;
      z-index: 10;
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
    }
    /* ol{
    list-style: decimal;
    padding-left: 40px;

  } */
  /* ul{
    list-style: disc;
    padding-left: 40px;


  } */
    </style>

  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Public Private Partnership (PPP)</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/"lang="en" >Home</a> / <span lang="en">Public Private Partnership (PPP)</span><span></span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-wraper">
    <!-- About -->
    <!-- <div class="container">
      <div class="row" style="display: none;">
        <div class="col-md-7">
          <h2>Public Private Partnership (PPP)</h2>
          <p>
            Yashaswi Academy for Talent Management, a Company incorporated under Section 8 of the Companies Act 1956 and
            having its registered office at 7, Amit Court, CTS 95 A, Shivajinagar, Pune 411005 herein after referred to
            as “YASHASWI”. Since inception we are providing the most reliable, prompt, and accountable and simplified
            services to our clients. We have acquired experience in understanding the dynamics of attracting quality
            executives and identifying the key leadership characteristics.
          </p>
          </br>
          <p>
            Yashaswi Academy for Talent Management is not for Profit Company & a Group Company of Yashaswi Group which
            is engaged in the Human Resource, Skill Development & in Apprenticeship domain. Its Flagship Company
            Yashaswi Institute of Technology have conceived, developed & implemented India’s first ‘Learn and Earn’
            scheme and has been awarded as the Best Skill Initiative by Ministry of Skill Development &
            Entrepreneurship, Govt. of India
          </p>
          </br>
          <p>
            <ul class="orderlist">
              <h3> We are majorly focusing into –</h3>
              </br>
              <li> Recruitment Services </li>
              <li>BPO Services</li>
              <li>Contractual Staffing </li>
              <li> Data Management/ Processing</li>
              <li>Skill Development </li>
              <li> Technical Education Services</li>
            </ul>
          </p>

        </div>
        <div class="col-md-5" style="margin-top: 5%;">
          <div class="postimg"><img src="images/about-us-img1.jpg" alt="your alt text" /></div>
        </div>
      </div>

    </div> -->

    <!-- Text -->
    <!-- <div> -->
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="postimg"><img src="images/Picture1.jpg" alt="your alt text" style="width: 186%;max-width: 200%;height: 407px;margin-left:-1px;">



            
            </div>
            
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
        <div class="" style="padding-top:10px;margin-left:-2px;">
         
        <p>
        <span lang="en" style="font-size: 13px;">MoU signing ceremony at Vallabh Bhavan between Directorate of Employment & Yashaswi Academy for Talent Management (PPP Partner) Upgradation & Modernisation of Employment Exchanges into Placement Centres in Madhya Pradesh.</span>
        </p>
        
      </div>
            
    </div>
    
  </div>

<br>
<br>


          <div class="row">
          <div class="col-md-12">



            <h3>
              <span lang="en">About Public Private Partnership (PPP) Project.</span>
            </h3>
            
                <p>
               <span lang="en">Yashaswi Academy for Talent Management, a Company incorporated under Section 8 of the Companies Act 1956 and having its registered office at 7, Amit Court, CTS 95 A, Shivaji Nagar, Pune 411005 herein after referred to as “YASHASWI”. Since inception we are providing the most reliable, prompt and accountable and simplified services to our clients.</span></p>
    
            <br>


            <p>
              <span lang="en">Yashaswi Academy for Talent Management is a Group Company of Yashaswi Group which is engaged in the Human Resource, Skill Development & in Apprenticeship domain.</span>
                                </p>
                                <br>

            

</div>
</div>
<div class="col-md-12" style="margin-left:-16px;">
<!-- <div class="mt-wrapper"> -->




    


<!-- </div> -->

             
<p>
  <span lang="en">We are majorly focusing into –</span>
</p>
<br>
<p>
  
  <li><span lang="en" style="font-size: 16px;">Recruitment Services</span></li><br> 
  <li><span lang="en" style="font-size: 16px;">Bulk Hiring</span>	</li><br>
 <li><span lang="en" style="font-size: 16px;">BPO Services</span></li><br>
   <li><span lang="en" style="font-size: 16px;">Contractual Staffing</span></li><br>
   <li><span lang="en" style="font-size: 16px;">Data Management/ Processing</span> </li><br>
   <li><span lang="en" style="font-size: 16px;">Skill Development</span></li><br>
   <li><span lang="en" style="font-size: 16px;">Technical Education Services</span> </li><br>
 
  

  </p>
                    <br>
                    <p>
                      <span lang="en">Having vast experience of Contractual Staffing, sourcing and placement into various sectors, we offer a full range of services at all levels in different Industries.</span>
                           </p>
                              <br>
                        
                  
          

<p>
  <span lang="en">Recently, on 9th May 2018, the Government of Madhya Pradesh through Commissioner of Employment, Madhya Pradesh Directorate of Employment has awarded Yashaswi the Contract of Upgradation and Modernization of Employment Exchanges into Placement Centers in the State of Madhya Pradesh on Public Private Partnership (PPP) Basis for a period of 10 years.  The Commissioner of Employment, Directorate of Employment, 6th Floor, Vindhyachal Bhavan, Bhopal, Madhya Pradesh has signed with M/s. Yashaswi Academy for Talent Management Pvt Ltd, Pune a project which may be first project of its kind in the Country wherein the District Employment Centers in 15 Districts ( Bhopal, Hoshangabad, Rewa, Satna, Singrauli, Gwalior, Jabalpur, Indore, Dewas, Dhar, Ujjain, Khargone, Sagar, Katni, Shahdol ) shall be run as placement centers.</span>
     </p>
  
                 <br>
             
                

</div>
        </div>

      </div>
    </div>
</div>
<footer>
  <% include ../../partials/footer %>
</footer>

  <script>
      $(document).ready(function () {
             
              FillState();
              
      });
      </script>
  
</body>

</html>