<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head %>
</head>

<body>

  <header>
    <% include ../../partials/header %>
  </header>


  <div class="pageTitle">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="page-heading" lang="en">Role of the Department</h1>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="breadCrumb"><a href="/" lang="en">Home</a> / <span lang="en">Role of the Department</span></div>
        </div>
      </div>
    </div>
  </div>

   <div class="listpgWraper">
    <div class="container">
     
        <div class="col-md-12" >
            <div class="container" style="width: 100%;">
                <div class="newsSection">
                   <div><h2><span lang="en">Role of the Department</span> </h2></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-12" style="background-color: white;">
            <div class="container" style="margin-top: 25px;margin-bottom: 15px;width: 100%;">
                <div class="newsSection">
                <p>
                  <h6 style="color: #FC9928">
                     <span lang="en">Department of Technical Education, Skill Development and Employment, Government of Madhya Pradesh </span>
                  </h6>
                 <p><span lang="en" style=" font-size: 16px;">Over the years direct employment opportunities in the organized public, as well as the private sector, have reduced considerably. In recent years direct recruitment in Government jobs has almost came to standstill. The government is now laying increasing emphasis on self-employment and vocational training. With increasing population and decreasing job prospects in the organized sector, the performance of Employment Exchanges (Offices) in terms of the submission made and placements achieved has also been steadily declining over the years. Employers demand fewer and fewer candidates. While the number of educated job seekers increases, very few candidates actually get absorbed in permanent jobs. The employment opportunities through Employment Exchanges (Offices) for the last 5 years have declined in the State shown below:</span> </p><br>
                <h6 style="color: #FC9928">
                 <span lang="en">Comparative Performance of Employment Exchanges in Past Five Years</span></h6><br>
                  <div class="row">
                      <div class="col-md-12">
                          
                              <table class="table">
                                  <tr  style="    font-weight: 700; color: black;">
                                      <th><span lang="en">DETAIL</span></th>
                                      
                                      <th><span lang="en">YEAR 2015</span></th>
                                      <th><span lang="en">YEAR 2016</span></th>
                                      <th><span lang="en">YEAR 2017</span></th>
                                      <th><span lang="en">YEAR 2018</span></th>
                                      <th><span lang="en">YEAR 2019</span></th>
                                  </tr>
                                  <div class="clearfix"></div>
                                  <tbody id=""> 
                                    <td><span lang="en" style="font-size: 16px;">Registration</span></td>
                                    
                                    <td>421651</td>
                                    <td>345377</td>
                                    <td>1704568</td>
                                    <td>746818</td>
                                    <td>846709</td>
                                    </tbody>
                                    <tbody id=""> 
                                        <td><span lang="en" style="font-size: 16px;">Placement</span></td>
                                       
                                        <td>732</td>
                                        <td>129</td>
                                        <td>109</td>
                                        <td>54</td>
                                        <td>360</td>
                                        </tbody>
                                        <tbody id=""> 
                                            <td><span lang="en" style="font-size: 16px;">Submission</span></td>
                                           
                                            <td>3669</td>
                                            <td>4184 </td>
                                            <td>5934 </td>
                                            <td>1204</td>
                                            <td>1507</td>
                                            </tbody>
                                            <tbody id=""> 
                                                <td><span lang="en" style="font-size: 16px;">Vacancies</span></td>
                                               
                                                <td>386</td>
                                                <td>964</td>
                                                <td>529</td>
                                                <td>318</td>
                                                <td>9399</td>
                                                </tbody>
                                                <tbody id=""> 
                                                    <td><span lang="en" style="font-size:16px;">Register:</span></td>
                                                    
                                                    <td>1560493</td>
                                                    <td>1411313</td>
                                                    <td>2384668</td>
                                                    <td>2681868</td>
                                                    <td>3154710</td>
                                                    </tbody>
                              </table>
                        
                      </div>

                  </div>
       <p><span lang="en" style="font-size:16px;">Since 1st January 2009, an Employment Portal is developed so as to assist the Job Seekers and Employers to access each other through common platform under the desired criteria or as per their demand. To improve Career counseling and to provide better help for job seekers the employment portal has been upgraded recently.</span></p><br>
       <p><span lang="en" style="font-size:16px;">Job Fairs are also being organized for Private Sector Employer so that more and more Job Seekers can be employed. The response and results are amazing.</span></p><br>    
      </p>
                </div>
            </div>
        </div>

    </div>

  </div>
  <footer>
    <% include ../../partials/footer %>
  </footer>
    

  <script>
      $(document).ready(function () {
             
              FillState();
              
      });
      </script>
  
</body>

</html>